Repository graycoreio/daffodil, pull requests merged in 2019-10, with the labels that each got.

#475 docs(all): added additional prereqs for setup
  CONTRIBUTING.md
  docs/DEVELOPER.md
Labels: docs

#484 build(docs): makes build work on windows
  tools/dgeni/package.json
Labels: docs

#483 feat(newsletter): added request canceling to newsletter
  libs/newsletter/src/actions/newsletter.actions.ts
  libs/newsletter/src/effects/newsletter.effects.spec.ts
  libs/newsletter/src/effects/newsletter.effects.ts
  libs/newsletter/src/facades/newsletter.facade.ts
  libs/newsletter/src/index.ts
  libs/newsletter/src/newsletter.module.ts
  libs/newsletter/testing/src/drivers/testing/newsletter.service.ts
  libs/newsletter/testing/src/index.ts
Labels: @daffodil/newsletter

#427 feat(design): remove sidebar-item component (breaking change)
  libs/design/src/molecules/sidebar/public_api.ts
  libs/design/src/molecules/sidebar/sidebar-item/sidebar-item.component.spec.ts
  libs/design/src/molecules/sidebar/sidebar-item/sidebar-item.component.ts
  libs/design/src/molecules/sidebar/sidebar.module.ts
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Labels: @daffodil/design

#488 fix(category): make magento driver provide the transformer and the qu…
  libs/category/src/drivers/magento/category-driver.module.ts
Labels: @daffodil/category

#489 fix(category, product): fix category driver and product model
  libs/category/src/drivers/injection-tokens/category-transformer.token.ts
  libs/category/src/drivers/magento/category-driver.module.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/outputs/complete-category-response.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/product/src/drivers/magento/models/get-sort-fields-and-filters-product-response.ts
  libs/product/src/drivers/magento/models/sort-fields-and-filters-node.ts
  libs/product/src/drivers/magento/models/sort-fields-and-filters-product-node.ts
  libs/product/src/index.ts
Labels: @daffodil/category, @daffodil/product

#493 fix(category): fix a selector where a null pointer exception was poss…
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#496 fix(category): fix category response transformer injection token
  libs/category/src/drivers/magento/category-driver.module.ts
Labels: @daffodil/category

#497 fix(category): provide the DaffCategoryTransformer
  libs/category/src/drivers/magento/category-driver.module.ts
Labels: @daffodil/category

#498 fix(category): fix the category in memory backend service
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
Labels: @daffodil/category

#499 fix(navigation): use injection token to provide NavigationTransformer…
  libs/navigation/src/drivers/magento/navigation.service.spec.ts
  libs/navigation/src/drivers/magento/navigation.service.ts
  libs/navigation/src/drivers/magento/transformers/navigation-transformer.ts
Labels: @daffodil/navigation
