Repository graycoreio/daffodil, pull requests merged in 2019-03, with the labels that each got.

#299 feat(branding): add new branding library for easier maintenance
  .github/CODEOWNERS
  angular.json
  apps/daffio/package.json
  apps/daffio/src/app/core/footer/footer.module.ts
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.html
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.spec.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.html
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/header/containers/header.component.html
  apps/daffio/src/app/core/header/header.module.ts
  apps/daffio/src/app/core/logo/logo.component.html
  apps/daffio/src/app/core/logo/logo.component.scss
  apps/daffio/src/app/core/logo/logo.component.spec.ts
  apps/daffio/src/app/core/logo/logo.component.ts
  apps/daffio/src/app/core/logo/logo.module.ts
  apps/daffio/src/scss/styles.scss
  apps/daffio/tsconfig.dev.json
  libs/branding/README.md
  libs/branding/karma.conf.js
  libs/branding/ng-package.json
  libs/branding/ng-package.prod.json
  libs/branding/package.json
  libs/branding/src/assets/daff-flower.svg
  libs/branding/src/index.ts
  libs/branding/src/lib/copyright/copyright.component.html
  libs/branding/src/lib/copyright/copyright.component.spec.ts
  libs/branding/src/lib/copyright/copyright.component.ts
  libs/branding/src/lib/copyright/copyright.module.ts
  libs/branding/src/lib/license/license.component.html
  libs/branding/src/lib/license/license.component.scss
  libs/branding/src/lib/license/license.component.spec.ts
  libs/branding/src/lib/license/license.component.ts
  libs/branding/src/lib/license/license.module.ts
  libs/branding/src/lib/logo/logo-theme.scss
  libs/branding/src/lib/logo/logo.component.html
  libs/branding/src/lib/logo/logo.component.scss
  libs/branding/src/lib/logo/logo.component.spec.ts
  libs/branding/src/lib/logo/logo.component.ts
  libs/branding/src/lib/logo/logo.md
  libs/branding/src/lib/logo/logo.module.ts
  libs/branding/src/lib/logo/public_api.ts
  libs/branding/src/public_api.ts
  libs/branding/src/scss/daff-branding-theme.scss
  libs/branding/src/test.ts
  libs/branding/tsconfig.lib.json
  libs/branding/tsconfig.spec.json
  libs/branding/tslint.json
  package-lock.json
  package.json
  tsconfig.json
Labels: @daffodil/daff.io

#300 docs(design): remove @angular/material2 comments and licenses from significantl…
  libs/design/src/molecules/backdrop/animation/backdrop-animation.ts
  libs/design/src/molecules/modal/animations/modal-animation.ts
  libs/design/src/molecules/sidebar/animation/sidebar-animation.ts
Labels: @daffodil/design

#304 feat(design): implement colorable on loading-icon
  apps/design-land/src/app/loading-icon/loading-icon.component.html
  libs/design/src/atoms/loading-icon/loading-icon-theme.scss
  libs/design/src/atoms/loading-icon/loading-icon.component.scss
  libs/design/src/atoms/loading-icon/loading-icon.component.spec.ts
  libs/design/src/atoms/loading-icon/loading-icon.component.ts
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/daff.io, @daffodil/demo, @daffodil/design

#297 refactor(product): copy driver/product services to product module
  libs/product/src/drivers/interfaces/product-service.interface.ts
  libs/product/src/drivers/shopify/product.service.spec.ts
  libs/product/src/drivers/shopify/product.service.ts
  libs/product/src/index.ts
  libs/product/testing/src/drivers/in-memory/product.service.spec.ts
  libs/product/testing/src/drivers/in-memory/product.service.ts
  libs/product/testing/src/drivers/testing/product.service.spec.ts
  libs/product/testing/src/drivers/testing/product.service.ts
  libs/product/testing/src/index.ts
  libs/product/testing/src/inmemory-backend/product.service.spec.ts
  libs/product/testing/src/inmemory-backend/product.service.ts
Labels: @daffodil/product, Needs Reviewed

#302 refactor(checkout): copy driver checkout services to checkout module
  libs/checkout/src/drivers/interfaces/checkout-service.interface.ts
  libs/checkout/src/drivers/shopify/checkout.service.spec.ts
  libs/checkout/src/drivers/shopify/checkout.service.ts
  libs/checkout/src/index.ts
  libs/checkout/testing/src/drivers/in-memory/checkout.service.spec.ts
  libs/checkout/testing/src/drivers/in-memory/checkout.service.ts
  libs/checkout/testing/src/drivers/testing/checkout.service.spec.ts
  libs/checkout/testing/src/drivers/testing/checkout.service.ts
  libs/checkout/testing/src/index.ts
  libs/checkout/testing/src/inmemory-backend/checkout.service.spec.ts
  libs/checkout/testing/src/inmemory-backend/checkout.service.ts
Labels: Checkout Module, Needs Reviewed

#307 docs(all): update initial user docs.
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/DEVELOPER.md
  docs/INSTALLATION.md
Labels: docs

#313 feat(all): fixup versions for lerna
  apps/daffio/package.json
  apps/demo/package.json
  libs/branding/package.json
  libs/cart/package.json
  libs/checkout/package.json
  libs/core/package.json
  libs/design/package.json
  libs/driver/package.json
  libs/product/package.json
  package.json
Labels: feat

#315 docs(all): update build notice to azure pipelines in readme
  README.md
Labels: docs

#309 feat(daffio): add angular universal support to daffio
  .gitignore
  angular.json
  apps/daffio/package.json
  apps/daffio/server/server.ts
  apps/daffio/server/webpack.server.config.js
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/app.server.module.ts
  apps/daffio/src/main.server.ts
  apps/daffio/src/main.ts
  apps/daffio/tsconfig.app.json
  apps/daffio/tsconfig.server.json
  package-lock.json
  package.json
Labels: feat

#317 refactor(product): remove dependency on driver
  libs/product/package.json
  libs/product/src/drivers/injection-tokens/product-driver.token.ts
  libs/product/src/drivers/shopify/product-driver.module.ts
  libs/product/src/effects/best-seller.effects.spec.ts
  libs/product/src/effects/best-seller.effects.ts
  libs/product/src/effects/product-grid.effects.spec.ts
  libs/product/src/effects/product-grid.effects.ts
  libs/product/src/effects/product.effects.spec.ts
  libs/product/src/effects/product.effects.ts
  libs/product/testing/src/drivers/in-memory/product-driver.module.ts
  libs/product/testing/src/drivers/testing/product-driver.module.ts
Labels: @daffodil/product

#323 docs(all): add lgtm rule to contributing docs
  CONTRIBUTING.md
Labels: docs

#318 refactor(cart): remove dependency on driver module
  libs/cart/package.json
  libs/cart/src/drivers/injection-tokens/cart-driver.token.ts
  libs/cart/src/drivers/shopify/cart.service.spec.ts
  libs/cart/src/drivers/shopify/cart.service.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/index.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/testing/cart-driver.module.ts
Labels: @daffodil/cart

#319 Update checkout driver
  libs/checkout/package.json
  libs/checkout/src/drivers/injection-tokens/driver-checkout.token.ts
  libs/checkout/src/drivers/shopify/checkout.service.spec.ts
  libs/checkout/src/drivers/shopify/checkout.service.ts
  libs/checkout/src/index.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/effects/order.effects.ts
  libs/checkout/testing/src/drivers/in-memory/checkout-driver.module.ts
  libs/checkout/testing/src/drivers/testing/checkout-driver.module.ts
  libs/checkout/testing/src/inmemory-backend/checkout.service.spec.ts
Labels: @daffodil/checkout

#316 feat(daffio): add now.sh builds to daffio
  apps/daffio/package.json
  apps/daffio/server/server.ts
  apps/daffio/server/webpack.server.config.js
  apps/daffio/serverless/now.json
  apps/daffio/serverless/serverless.js
  azure-pipelines.yml
Labels: @daffodil/daff.io

#322 refactor(demo): move add-to-cart-notification to cart directory
  apps/demo/src/app/cart/components/add-to-cart-notification/actions/add-to-cart-notification.actions.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/add-to-cart-notification-state.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/add-to-cart-notification.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.html
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.html
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/effects/add-to-cart-notification.effects.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/effects/add-to-cart-notification.effects.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/add-to-cart-notification.reducer.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/add-to-cart-notification.reducer.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/index.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/index.ts
  apps/demo/src/app/product/pages/product-view/product-view.module.ts
Labels: @daffodil/demo
