Repository graycoreio/daffodil, pull requests merged in 2019-12, with the labels that each got.

#491 Newsletter guide
  docs/INSTALLATION.md
  libs/newsletter/guides/advanced/customizing-submission-data.md
  libs/newsletter/guides/in-memory-driver.md
  libs/newsletter/guides/installation.md
  libs/newsletter/guides/overview.md
Labels: @daffodil/newsletter, docs

#514 build(all): bump dependencies for http-proxy-agent and handlebars
  package-lock.json
Labels: security

#513 Category page configuration actions
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/index.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/src/reducers/category/category.reducer.ts
Labels: @daffodil/category

#515 feat(backdrop): add fullscreen flag to backdrop
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.html
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.scss
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.spec.ts
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.ts
  libs/design/src/molecules/navbar/navbar.component.spec.ts
Labels: @daffodil/design

#516 feat(design): add themablility to daff-modal
  libs/design/src/molecules/modal/modal-theme.scss
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#512 Updated the Newsletter's InMemoryDriver to use angular's InMemor…
  libs/newsletter/testing/src/drivers/in-memory/newsletter.service.spec.ts
  libs/newsletter/testing/src/drivers/in-memory/newsletter.service.ts
  libs/newsletter/testing/src/in-memory-backend/newsletter.service.spec.ts
  libs/newsletter/testing/src/in-memory-backend/newsletter.service.ts
Labels: @daffodil/newsletter

#527 feat(design): add prefix/suffix directives to @daffodil/design
  libs/design/src/core/prefix-suffix/prefix-suffix.module.ts
  libs/design/src/core/prefix-suffix/prefix.directive.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable-interface.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable.spec.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable.ts
  libs/design/src/core/prefix-suffix/public_api.ts
  libs/design/src/core/prefix-suffix/suffix.directive.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable-interface.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable.spec.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable.ts
Labels: @daffodil/design

#529 feat(design): add form label directive
  libs/design/src/atoms/form/form-label/form-label.directive.spec.ts
  libs/design/src/atoms/form/form-label/form-label.directive.ts
  libs/design/src/atoms/form/form-label/form-label.module.ts
Labels: @daffodil/design

#502 Automated release process for @daffodil packages
  apps/daffio/package.json
  apps/demo/package.json
  docs/RELEASE.MD
  libs/branding/package.json
  libs/cart/package.json
  libs/category/package.json
  libs/checkout/package.json
  libs/core/package.json
  libs/design/package.json
  libs/driver/package.json
  libs/navigation/package.json
  libs/newsletter/package.json
  libs/product/package.json
  package-lock.json
  package.json
  tools/release/build/build.ts
  tools/release/cleanup/cleanup.ts
  tools/release/commit/commitChangelogAndTag.ts
  tools/release/config.ts
  tools/release/gulpfile.ts
  tools/release/prepare/clean.ts
  tools/release/prepare/prepare.ts
  tools/release/publish/publish.ts
  tools/release/tsconfig.json
  tools/release/version/leaf-version.ts
  tools/release/version/root-version.ts
  tools/release/version/version.ts
Labels: dependencies
