Repository graycoreio/daffodil, pull requests merged in 2019-11, with the labels that each got.

#505 feat(demo): lazy load the cart module
  apps/demo/src/app/app-routing.module.ts
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/cart/cart-routing.module.ts
  apps/demo/src/app/cart/cart.module.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.spec.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.ts
Labels: @daffodil/demo

#508 feat(category): add selectors for page configuration fields; fix cate…
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#509 fix(category): make category get call take current page and page size…
  libs/category/src/drivers/interfaces/category-query-manager.interface.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/queries/category-query-manager.service.ts
Labels: @daffodil/category

#510 fix(category): make category in-memory api work with a sensible curre…
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
Labels: @daffodil/category

#511 fix(category): fix bug where categoryPageConfigurationState was reset…
  libs/category/src/reducers/category/category.reducer.ts
Labels: @daffodil/category

#504 feat(demo): make demo AOT compatible by removing `getDriverVariant`
  apps/demo/package.json
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/helper/driver-variant.enum.ts
  apps/demo/src/app/helper/driver-variant.ts
Labels: @daffodil/demo

#477 Newsletter demo
  apps/demo/src/app/core/template/template/template.component.spec.ts
  apps/demo/src/app/in-memory.module.ts
  apps/demo/src/app/magento.module.ts
  apps/demo/src/app/newsletter/newsletter-state.module.ts
  apps/demo/src/app/newsletter/newsletter.component.html
  apps/demo/src/app/newsletter/newsletter.component.spec.ts
  apps/demo/src/app/newsletter/newsletter.component.ts
  apps/demo/src/app/newsletter/newsletter.module.ts
  apps/demo/src/app/shopify.module.ts
  apps/demo/tsconfig.dev.json
  libs/newsletter/testing/src/index.ts
Labels: @daffodil/newsletter
