Repository graycoreio/daffodil, pull requests merged in 2019-02, with the labels that each got.

#196 feat(design): add design-land app to e2e test components
  angular.json
  apps/design-land-e2e/protractor.conf.js
  apps/design-land-e2e/src/app.e2e-spec.ts
  apps/design-land-e2e/src/app.po.ts
  apps/design-land-e2e/tsconfig.e2e.json
  apps/design-land/browserslist
  apps/design-land/karma.conf.js
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.component.scss
  apps/design-land/src/app/app.component.spec.ts
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/loading-icon/loading-icon-routing.module.ts
  apps/design-land/src/app/loading-icon/loading-icon.component.html
  apps/design-land/src/app/loading-icon/loading-icon.component.scss
  apps/design-land/src/app/loading-icon/loading-icon.component.spec.ts
  apps/design-land/src/app/loading-icon/loading-icon.component.ts
  apps/design-land/src/app/loading-icon/loading-icon.module.ts
  apps/design-land/src/assets/.gitkeep
  apps/design-land/src/environments/environment.prod.ts
  apps/design-land/src/environments/environment.ts
  apps/design-land/src/favicon.ico
  apps/design-land/src/index.html
  apps/design-land/src/main.ts
  apps/design-land/src/polyfills.ts
  apps/design-land/src/styles.scss
  apps/design-land/src/test.ts
  apps/design-land/tsconfig.app.json
  apps/design-land/tsconfig.spec.json
  apps/design-land/tslint.json
Labels: @daffodil/design

#200 Refactor routing guards and test them
  apps/demo/src/app/app-routing.module.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.ts
  apps/demo/src/app/cart/routing-resolvers/actions/cart-resolver.actions.ts
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.spec.ts
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/cart-resolver.service.spec.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/cart-resolver.service.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/empty-cart-resolver.service.spec.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/empty-cart-resolver.service.ts
  apps/demo/src/app/checkout/checkout-state.module.ts
  apps/demo/src/app/helper/routing-guards/cart-load.guard.spec.ts
  apps/demo/src/app/helper/routing-guards/cart-load.guard.ts
  apps/demo/src/app/helper/routing-guards/checkout.guard.spec.ts
  apps/demo/src/app/helper/routing-guards/checkout.guard.ts
Labels: @daffodil/demo

#232 feat(design): Card Component
  apps/daffio/src/assets/pwa-screens.png
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/card/card-routing.module.ts
  apps/design-land/src/app/card/card.component.html
  apps/design-land/src/app/card/card.component.scss
  apps/design-land/src/app/card/card.component.spec.ts
  apps/design-land/src/app/card/card.component.ts
  apps/design-land/src/app/card/card.module.ts
  apps/design-land/src/assets/card/uber-logo.svg
  libs/design/src/molecules/card/card-image/card-image.directive.spec.ts
  libs/design/src/molecules/card/card-image/card-image.directive.ts
  libs/design/src/molecules/card/card-title/card-title.directive.spec.ts
  libs/design/src/molecules/card/card-title/card-title.directive.ts
  libs/design/src/molecules/card/card.md
  libs/design/src/molecules/card/card.module.ts
  libs/design/src/molecules/card/card/card.component.html
  libs/design/src/molecules/card/card/card.component.scss
  libs/design/src/molecules/card/card/card.component.spec.ts
  libs/design/src/molecules/card/card/card.component.ts
  libs/design/src/molecules/card/public_api.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design, Needs Reviewed, feat

#237 refactor(design): refactor accordion components to directives
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.html
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/product/components/product/product.component.html
  apps/demo/src/app/thank-you/pages/thank-you-view.component.html
  apps/demo/src/app/thank-you/pages/thank-you-view.component.spec.ts
  libs/design/src/molecules/accordion/accordion-item-content/accordion-item-content.component.ts
  libs/design/src/molecules/accordion/accordion-item-content/accordion-item-content.directive.spec.ts
  libs/design/src/molecules/accordion/accordion-item-content/accordion-item-content.directive.ts
  libs/design/src/molecules/accordion/accordion-item-title/accordion-item-title.component.ts
  libs/design/src/molecules/accordion/accordion-item-title/accordion-item-title.directive.spec.ts
  libs/design/src/molecules/accordion/accordion-item-title/accordion-item-title.directive.ts
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.html
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.spec.ts
  libs/design/src/molecules/accordion/accordion.md
  libs/design/src/molecules/accordion/accordion.module.ts
  libs/design/src/molecules/accordion/public_api.ts
Labels: @daffodil/design, refactor

#239 feat(design): update callout types to enums
  libs/design/src/molecules/callout/callout.md
  libs/design/src/molecules/callout/callout.module.ts
  libs/design/src/molecules/callout/callout/callout.component.html
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/callout/callout/callout.component.spec.ts
  libs/design/src/molecules/callout/callout/callout.component.ts
  libs/design/src/molecules/callout/public_api.ts
Labels: @daffodil/design, Needs Reviewed, feat

#243 fix(daffio): fix display type on host element in footer
  apps/daffio/src/app/core/footer/footer.component.scss
Labels: @daffodil/daff.io

#245 feat(daffio): daffio support page
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/content/support/component/support.component.html
  apps/daffio/src/app/content/support/component/support.component.scss
  apps/daffio/src/app/content/support/component/support.component.spec.ts
  apps/daffio/src/app/content/support/component/support.component.ts
  apps/daffio/src/app/content/support/support-routing.module.ts
  apps/daffio/src/app/content/support/support.module.ts
Labels: @daffodil/daff.io, Needs Reviewed, feat

#246 Daffio homepage update
  apps/daffio/src/app/content/homepage/component/homepage.component.html
  apps/daffio/src/app/content/homepage/component/homepage.component.scss
  libs/design/src/molecules/callout/callout/callout.component.scss
Labels: @daffodil/daff.io

#250 CI(driver): add linting to driver and fix linting errors
  libs/driver/in-memory/src/cart/in-mem/cart.testing.service.ts
  libs/driver/in-memory/src/cart/services/cart.service.spec.ts
  libs/driver/in-memory/src/in-memory.service.spec.ts
  libs/driver/in-memory/src/product/services/product.service.spec.ts
  libs/driver/package.json
  libs/driver/shopify/src/cart/services/cart.service.spec.ts
  libs/driver/shopify/src/product/services/product.service.spec.ts
  libs/driver/shopify/src/product/services/product.service.ts
  libs/driver/src/config/factories/driver-config.factory.ts
  libs/driver/testing/src/product/services/product.service.spec.ts
  libs/driver/tslint.json
Labels: @daffodil/driver

#255 feat(all): update ngrx to v7 and bump dependencies
  package-lock.json
  package.json
Labels: feat

#249 CI(state): add linting to state and fix linting errors
  libs/state/package.json
  libs/state/src/cart/effects/cart.effects.spec.ts
  libs/state/src/cart/reducers/cart.reducer.spec.ts
  libs/state/src/cart/reducers/index.spec.ts
  libs/state/src/checkout/billing/reducers/billing.reducer.spec.ts
  libs/state/src/checkout/billing/reducers/index.spec.ts
  libs/state/src/checkout/payment/containers/payment.component.spec.ts
  libs/state/src/checkout/payment/reducers/index.spec.ts
  libs/state/src/checkout/payment/reducers/payment.reducer.spec.ts
  libs/state/src/checkout/shipping/reducers/index.spec.ts
  libs/state/src/checkout/shipping/reducers/shipping.reducer.spec.ts
  libs/state/src/product/containers/best-sellers/best-sellers.component.spec.ts
  libs/state/src/product/containers/product-grid/product-grid.component.spec.ts
  libs/state/src/product/containers/product/product.component.spec.ts
  libs/state/src/product/effects/best-seller.effects.spec.ts
  libs/state/src/product/effects/product-grid.effects.spec.ts
  libs/state/src/product/effects/product.effects.spec.ts
  libs/state/src/product/reducers/best-sellers.reducer.spec.ts
  libs/state/src/product/reducers/index.spec.ts
  libs/state/src/product/reducers/product-entities.reducer.spec.ts
  libs/state/src/product/reducers/product-grid.reducer.spec.ts
  libs/state/src/product/reducers/product.reducer.spec.ts
  libs/state/tslint.json
Labels: @daffodil/state

#253 feat(demo): remove delayed close of add-to-cart-notification
  apps/demo/src/app/modals/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.scss
  apps/demo/src/app/modals/add-to-cart-notification/effects/add-to-cart-notification.effects.spec.ts
  apps/demo/src/app/modals/add-to-cart-notification/effects/add-to-cart-notification.effects.ts
Labels: @daffodil/demo, Needs Reviewed

#242 feat(daffio): daffio footer update
  apps/daffio/src/app/core/footer/footer.module.ts
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.html
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.scss
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.spec.ts
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.html
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.ts
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.html
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.spec.ts
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.ts
  apps/daffio/src/app/core/template/template.component.html
  libs/design/src/molecules/callout/callout/callout.component.scss
Labels: @daffodil/daff.io, feat

#261 style(daffio): fix class names on simple footer
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.scss
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.spec.ts
  apps/daffio/src/app/core/footer/full-footer/full-footer.component.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.ts
Labels: @daffodil/daff.io, Needs Reviewed

#262 style(daffio): update button alignment on daff.io homepage
  apps/daffio/src/app/content/homepage/component/homepage.component.html
  apps/daffio/src/app/content/homepage/component/homepage.component.scss
Labels: @daffodil/daff.io, Needs Reviewed

#269 refactor(product): move core/product into the product module
  angular.json
  libs/product/README.md
  libs/product/karma.conf.js
  libs/product/ng-package.json
  libs/product/ng-package.prod.json
  libs/product/package.json
  libs/product/src/index.ts
  libs/product/src/models/product-image.ts
  libs/product/src/models/product.ts
  libs/product/test.ts
  libs/product/tsconfig.lib.json
  libs/product/tsconfig.spec.json
  libs/product/tslint.json
Labels: @daffodil/product

#271 refactor(cart): move cart core models to cart module
  angular.json
  libs/cart/README.md
  libs/cart/karma.conf.js
  libs/cart/ng-package.json
  libs/cart/ng-package.prod.json
  libs/cart/package.json
  libs/cart/src/index.ts
  libs/cart/src/models/cart-address.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/models/cart-payment.ts
  libs/cart/src/models/cart-shipping-rate.ts
  libs/cart/src/models/cart.ts
  libs/cart/test.ts
  libs/cart/tsconfig.lib.json
  libs/cart/tsconfig.spec.json
  libs/cart/tslint.json
  tsconfig.json
Labels: Cart Module

#274 feat(daffio): add scrolling restoration
  apps/daffio/src/app/app-routing.module.ts
Labels: @daffodil/daff.io, feat

#273 refactor(product): add state product components to product module
  libs/product/src/actions/best-sellers.actions.ts
  libs/product/src/actions/product-grid.actions.ts
  libs/product/src/actions/product.actions.ts
  libs/product/src/containers/best-sellers/best-sellers.component.spec.ts
  libs/product/src/containers/best-sellers/best-sellers.component.ts
  libs/product/src/containers/product-grid/product-grid.component.spec.ts
  libs/product/src/containers/product-grid/product-grid.component.ts
  libs/product/src/containers/product/product.component.spec.ts
  libs/product/src/containers/product/product.component.ts
  libs/product/src/effects/best-seller.effects.spec.ts
  libs/product/src/effects/best-seller.effects.ts
  libs/product/src/effects/product-grid.effects.spec.ts
  libs/product/src/effects/product-grid.effects.ts
  libs/product/src/effects/product.effects.spec.ts
  libs/product/src/effects/product.effects.ts
  libs/product/src/index.ts
  libs/product/src/product-state.module.ts
  libs/product/src/product.module.ts
  libs/product/src/reducers/best-sellers.reducer.spec.ts
  libs/product/src/reducers/best-sellers.reducer.ts
  libs/product/src/reducers/index.spec.ts
  libs/product/src/reducers/index.ts
  libs/product/src/reducers/product-entities.reducer.spec.ts
  libs/product/src/reducers/product-entities.reducer.ts
  libs/product/src/reducers/product-grid.reducer.spec.ts
  libs/product/src/reducers/product-grid.reducer.ts
  libs/product/src/reducers/product.reducer.spec.ts
  libs/product/src/reducers/product.reducer.ts
  libs/product/tslint.json
Labels: @daffodil/product

#272 Cart core testing module
  libs/cart/package.json
  libs/cart/testing/ng-package.json
  libs/cart/testing/package.json
  libs/cart/testing/src/factories/cart-address.factory.spec.ts
  libs/cart/testing/src/factories/cart-address.factory.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-payment.factory.spec.ts
  libs/cart/testing/src/factories/cart-payment.factory.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.spec.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.ts
  libs/cart/testing/src/factories/cart.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/index.ts
  libs/core/testing/src/index.ts
  tsconfig.json
Labels: Cart Module, Needs Reviewed

#247 feat(design): Button update
  apps/daffio/src/app/newsletter/newsletter.component.scss
  apps/demo/src/app/newsletter/newsletter.component.scss
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/button/button-routing.module.ts
  apps/design-land/src/app/button/button.component.html
  apps/design-land/src/app/button/button.component.scss
  apps/design-land/src/app/button/button.component.spec.ts
  apps/design-land/src/app/button/button.component.ts
  apps/design-land/src/app/button/button.module.ts
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/button/button.component.spec.ts
  libs/design/src/atoms/button/button.component.ts
  libs/design/src/atoms/button/button.md
Labels: @daffodil/design, Needs Reviewed, feat

#281 refactor(cart): move state cart components to cart module
  libs/cart/src/actions/cart.actions.ts
  libs/cart/src/cart-state.module.ts
  libs/cart/src/cart.module.ts
  libs/cart/src/containers/cart/cart.component.spec.ts
  libs/cart/src/containers/cart/cart.component.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/index.ts
  libs/cart/src/reducers/cart.reducer.spec.ts
  libs/cart/src/reducers/cart.reducer.ts
  libs/cart/src/reducers/index.spec.ts
  libs/cart/src/reducers/index.ts
  libs/cart/tslint.json
Labels: Cart Module

#279 refactor(checkout): move core checkout models into checkout module
  angular.json
  libs/checkout/README.md
  libs/checkout/karma.conf.js
  libs/checkout/ng-package.json
  libs/checkout/ng-package.prod.json
  libs/checkout/package.json
  libs/checkout/src/index.ts
  libs/checkout/src/models/order/order-address.ts
  libs/checkout/src/models/order/order-item.ts
  libs/checkout/src/models/order/order-payment.ts
  libs/checkout/src/models/order/order-shipping-rate.ts
  libs/checkout/src/models/order/order.ts
  libs/checkout/src/models/payment/payment-info.ts
  libs/checkout/src/models/shipping/shipping-option.ts
  libs/checkout/src/models/shipping/shipping-rate.ts
  libs/checkout/test.ts
  libs/checkout/tsconfig.lib.json
  libs/checkout/tsconfig.spec.json
  libs/checkout/tslint.json
  tsconfig.json
Labels: Checkout Module

#280 Checkout testing module
  libs/checkout/package.json
  libs/checkout/testing/ng-package.json
  libs/checkout/testing/package.json
  libs/checkout/testing/src/index.ts
  libs/checkout/testing/src/order/factories/order-address.factory.spec.ts
  libs/checkout/testing/src/order/factories/order-address.factory.ts
  libs/checkout/testing/src/order/factories/order-item.factory.spec.ts
  libs/checkout/testing/src/order/factories/order-item.factory.ts
  libs/checkout/testing/src/order/factories/order-payment.factory.spec.ts
  libs/checkout/testing/src/order/factories/order-payment.factory.ts
  libs/checkout/testing/src/order/factories/order-shipping-rate.factory.spec.ts
  libs/checkout/testing/src/order/factories/order-shipping-rate.factory.ts
  libs/checkout/testing/src/order/factories/order.factory.spec.ts
  libs/checkout/testing/src/order/factories/order.factory.ts
  libs/checkout/testing/src/payment/factories/payment.factory.spec.ts
  libs/checkout/testing/src/payment/factories/payment.factory.ts
  libs/checkout/testing/src/shipping/factories/shipping-option.factory.spec.ts
  libs/checkout/testing/src/shipping/factories/shipping-option.factory.ts
  libs/checkout/testing/src/shipping/factories/shipping-rate.factory.spec.ts
  libs/checkout/testing/src/shipping/factories/shipping-rate.factory.ts
  tsconfig.json
Labels: Checkout Module

#263 fix(design): fix bug where daff-backdrop had the wrong z-index on IE
  libs/design/src/molecules/backdrop/animation/backdrop-animation-state.spec.ts
  libs/design/src/molecules/backdrop/animation/backdrop-animation-state.ts
  libs/design/src/molecules/backdrop/animation/backdrop-animation.ts
  libs/design/src/molecules/backdrop/backdrop.md
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.html
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.scss
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.spec.ts
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.ts
  libs/design/src/molecules/modal/modal/modal.component.html
  libs/design/src/molecules/modal/modal/modal.component.spec.ts
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.html
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.spec.ts
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.ts
Labels: @daffodil/design

#284 refactor(checkout): move state checkout to checkout module
  libs/checkout/package.json
  libs/checkout/src/billing/actions/billing.actions.ts
  libs/checkout/src/billing/billing-state.module.ts
  libs/checkout/src/billing/billing.module.ts
  libs/checkout/src/billing/containers/billing.component.spec.ts
  libs/checkout/src/billing/containers/billing.component.ts
  libs/checkout/src/billing/reducers/billing.reducer.spec.ts
  libs/checkout/src/billing/reducers/billing.reducer.ts
  libs/checkout/src/billing/reducers/index.spec.ts
  libs/checkout/src/billing/reducers/index.ts
  libs/checkout/src/checkout.module.ts
  libs/checkout/src/index.ts
  libs/checkout/src/order/actions/order.actions.ts
  libs/checkout/src/order/containers/order.component.spec.ts
  libs/checkout/src/order/containers/order.component.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/effects/order.effects.ts
  libs/checkout/src/order/order-state.module.ts
  libs/checkout/src/order/order.module.ts
  libs/checkout/src/order/reducers/index.spec.ts
  libs/checkout/src/order/reducers/index.ts
  libs/checkout/src/order/reducers/order.reducer.spec.ts
  libs/checkout/src/order/reducers/order.reducer.ts
  libs/checkout/src/payment/actions/payment.actions.ts
  libs/checkout/src/payment/containers/payment.component.spec.ts
  libs/checkout/src/payment/containers/payment.component.ts
  libs/checkout/src/payment/payment-state.module.ts
  libs/checkout/src/payment/payment.module.ts
  libs/checkout/src/payment/reducers/index.spec.ts
  libs/checkout/src/payment/reducers/index.ts
  libs/checkout/src/payment/reducers/payment.reducer.spec.ts
  libs/checkout/src/payment/reducers/payment.reducer.ts
  libs/checkout/src/shipping/actions/shipping.actions.ts
  libs/checkout/src/shipping/containers/shipping.component.spec.ts
  libs/checkout/src/shipping/containers/shipping.component.ts
  libs/checkout/src/shipping/reducers/index.spec.ts
  libs/checkout/src/shipping/reducers/index.ts
  libs/checkout/src/shipping/reducers/shipping.reducer.spec.ts
  libs/checkout/src/shipping/reducers/shipping.reducer.ts
  libs/checkout/src/shipping/shipping-state.module.ts
  libs/checkout/src/shipping/shipping.module.ts
  libs/checkout/tslint.json
Labels: Checkout Module, Needs Reviewed

#216 Demo Routing indicator
  apps/demo/src/app/app.component.html
  apps/demo/src/app/app.component.scss
  apps/demo/src/app/app.component.spec.ts
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/routing/indicator/indicator.component.html
  apps/demo/src/app/routing/indicator/indicator.component.scss
  apps/demo/src/app/routing/indicator/indicator.component.spec.ts
  apps/demo/src/app/routing/indicator/indicator.component.ts
  apps/demo/src/app/routing/router-percent-enum.ts
  apps/demo/src/app/routing/routing-component.module.ts
Labels: @daffodil/demo

#289 feat(all): add codeowners
  .github/CODEOWNERS
Labels: Needs Reviewed, feat

#290 fix(design): fix invisible backdrop caused by backdrop API change
  libs/design/src/molecules/modal/modal/modal.component.html
  libs/design/src/molecules/modal/modal/modal.component.spec.ts
Labels: Needs Reviewed

#292 fix(cart, product): add driver as a dependency
  libs/cart/package.json
  libs/product/package.json
Labels: @daffodil/product, Cart Module, Needs Reviewed

#288 feat(design): create chevron mixin to remove fontawesome dependency in design library
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.html
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.scss
  libs/design/src/scss/daff-util.scss
  libs/design/src/scss/mixins/_chevron.scss
Labels: @daffodil/design, feat
