Repository graycoreio/daffodil, pull requests merged in 2019-09, with the labels that each got.

#420 feat(design): make navbar a fixed height
  libs/design/src/molecules/navbar/navbar-theme.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#405 feat(newsletter): created newsletter library in daffodil
  angular.json
  libs/newsletter/README.md
  libs/newsletter/karma.conf.js
  libs/newsletter/ng-package.json
  libs/newsletter/ng-package.prod.json
  libs/newsletter/package.json
  libs/newsletter/src/index.ts
  libs/newsletter/src/test.ts
  libs/newsletter/tsconfig.lib.json
  libs/newsletter/tsconfig.spec.json
  libs/newsletter/tslint.json
  package-lock.json
  package.json
  tsconfig.json
Labels: @daffodil/newsletter

#413 Category products
  libs/category/package.json
  libs/category/src/drivers/interfaces/category-query-manager.interface.ts
  libs/category/src/drivers/interfaces/category-service.interface.ts
  libs/category/src/drivers/interfaces/category-transform.interface.ts
  libs/category/src/drivers/magento/category.service.spec.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/category-node.ts
  libs/category/src/drivers/magento/models/category-product-node.ts
  libs/category/src/drivers/magento/queries/category-query-manager.service.spec.ts
  libs/category/src/drivers/magento/queries/category-query-manager.service.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/index.ts
  libs/category/src/models/category.ts
  libs/category/src/models/get-category-response.ts
  libs/category/testing/src/drivers/in-memory/category.service.spec.ts
  libs/category/testing/src/drivers/in-memory/category.service.ts
  libs/category/testing/src/drivers/testing/category.service.spec.ts
  libs/category/testing/src/drivers/testing/category.service.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
  libs/product/src/drivers/magento/models/product-image-node.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/models/product-price-node.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/facades/product-grid/product-grid.facade.spec.ts
  libs/product/src/facades/product-grid/product-grid.facade.ts
  libs/product/src/index.ts
  libs/product/src/reducers/index.spec.ts
  libs/product/src/reducers/index.ts
Labels: @daffodil/category, @daffodil/product

#418 feat(design): add supported design size breakpoints as typescript enum
  libs/design/src/core/breakpoints/breakpoints.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#417 chore(all): add internal development tool for debugging in chrome w/ vscode
  .vscode/launch.json
Labels: docs

#419 chore(daffio): enable store-devtools in daffio
  apps/daffio/src/app/app.module.ts
Labels: @daffodil/daff.io

#421 feat(design): update backdrop animation and durations
  libs/design/src/molecules/backdrop/animation/backdrop-animation.ts
Labels: @daffodil/design

#430 fix(design): change modern-normalize import path to properly import normalize
  libs/design/src/scss/daff-typography.scss
Labels: @daffodil/design

#428 fix(docs): update docs cleaning command to not delete root folder
  tools/dgeni/build.ts
Labels: @daffodil/daff.io, docs

#426 feat(design): update sidebar animation and positioning
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/sidebar/sidebar-routing.module.ts
  apps/design-land/src/app/sidebar/sidebar.component.html
  apps/design-land/src/app/sidebar/sidebar.component.scss
  apps/design-land/src/app/sidebar/sidebar.component.spec.ts
  apps/design-land/src/app/sidebar/sidebar.component.ts
  apps/design-land/src/app/sidebar/sidebar.module.ts
  libs/design/src/molecules/sidebar/animation/sidebar-animation-state.spec.ts
  libs/design/src/molecules/sidebar/animation/sidebar-animation-state.ts
  libs/design/src/molecules/sidebar/animation/sidebar-animation.ts
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar-theme.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.ts
Labels: @daffodil/design

#360 docs(product): add docs for using the InMemory driver
  libs/product/guides/in-memory-driver.md
Labels: @daffodil/daff.io, @daffodil/product

#437 feat(docs): add guide generation from READMEs and guides in packages
  libs/cart/guides/install.md
  libs/cart/guides/testing.md
  tools/dgeni/build.ts
  tools/dgeni/package.json
  tools/dgeni/src/templates/guides/guide-list.template.json
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/capitalize.spec.ts
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/capitalize.ts
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/navigation-trie.spec.ts
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/navigation-trie.ts
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/sorted-array-insert.spec.ts
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/sorted-array-insert.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.spec.ts
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.ts
  tools/dgeni/src/transforms/daffodil-guides-package/reader/guide-file.reader.ts
Labels: docs

#339 Upgrade to Angular 8
  .azure/azure-pipelines.yml
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.spec.ts
  apps/daffio/src/polyfills.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.html
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/add-to-cart-notification.reducer.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/index.ts
  apps/demo/src/app/cart/components/cart-wrapper/cart-wrapper.component.spec.ts
  apps/demo/src/app/cart/components/cart-wrapper/cart-wrapper.component.ts
  apps/demo/src/app/checkout/components/payment/payment/payment.component.spec.ts
  apps/demo/src/app/checkout/components/place-order/place-order.component.spec.ts
  apps/demo/src/app/checkout/components/place-order/place-order.component.ts
  apps/demo/src/app/checkout/components/shipping/shipping/shipping.component.spec.ts
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/core/image-gallery/components/image-gallery.component.spec.ts
  apps/demo/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.spec.ts
  apps/demo/src/app/core/template/portals/modal-portal.component.ts
  apps/demo/src/polyfills.ts
  apps/demo/tsconfig.app.json
  apps/demo/tsconfig.spec.json
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/polyfills.ts
  libs/cart/src/containers/cart/cart.component.spec.ts
  libs/checkout/src/billing/containers/billing.component.spec.ts
  libs/checkout/src/order/containers/order.component.spec.ts
  libs/checkout/src/payment/containers/payment.component.spec.ts
  libs/checkout/src/shipping/containers/shipping.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/product/src/containers/best-sellers/best-sellers.component.spec.ts
  libs/product/src/containers/product-grid/product-grid.component.spec.ts
  libs/product/src/containers/product/product.component.spec.ts
  libs/product/src/facades/best-sellers/best-sellers.facade.spec.ts
  package-lock.json
  package.json
  tsconfig.json
  tslint.json
Labels: dependencies

#448 feat(design): extend daff-link-set margin onto nodes not directly nes…
  libs/design/src/molecules/link-set/link-set/link-set.component.scss
Labels: @daffodil/design

#449 feat(design): make sidebar viewport recalculate animation state on mode
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.spec.ts
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.ts
Labels: @daffodil/design

#425 docs(design): add docs for theming `@daffodil/design`.
  libs/design/guides/theming/installation.md
Labels: @daffodil/design, docs

#454 feat(navigation): improve navigation
  libs/navigation/src/drivers/magento/interfaces/category-node.ts
  libs/navigation/src/drivers/magento/navigation.service.spec.ts
  libs/navigation/src/drivers/magento/queries/get-category-tree.ts
  libs/navigation/src/drivers/magento/transformers/navigation-transformer.spec.ts
  libs/navigation/src/drivers/magento/transformers/navigation-transformer.ts
  libs/navigation/testing/src/factories/navigation-tree.factory.ts
  libs/navigation/testing/src/helpers/navigation-helper.ts
  libs/navigation/tsconfig.spec.json
Labels: @daffodil/navigation

#441 feat(newsletter): add initial ngrx features for @daffodil/newsletter
  libs/newsletter/src/actions/newsletter.actions.ts
  libs/newsletter/src/facades/newsletter.facade.spec.ts
  libs/newsletter/src/facades/newsletter.facade.ts
  libs/newsletter/src/models/newsletter.model.ts
  libs/newsletter/src/newsletter.module.ts
  libs/newsletter/src/reducers/newsletter.reducer.spec.ts
  libs/newsletter/src/reducers/newsletter.reducer.ts
  libs/newsletter/src/selectors/newsletter.selector.spec.ts
  libs/newsletter/src/selectors/newsletter.selector.ts
  libs/newsletter/src/test.ts
Labels: @daffodil/newsletter

#458 feat(branding): make logo pull text color from environment
  libs/branding/src/lib/logo/logo-theme.scss
  libs/branding/src/lib/logo/logo.component.scss
Labels: @daffodil/design

#462 feat(daffio): fix missed loadChildren breaking change in daffio docs
  apps/daffio/src/app/docs/docs-routing.module.ts
Labels: @daffodil/daff.io, docs

#463 build(deps): switch dependency from sass-lint to stylelint
  .sasslintrc
  .stylelintrc
  .vscode/extensions.json
  libs/design/package.json
  libs/design/src/atoms/button/button-theme.scss
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/loading-icon/loading-icon.component.scss
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.scss
  libs/design/src/molecules/button-set/button-set.component.scss
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/feature/feature/feature.component.scss
  libs/design/src/molecules/hero/hero/hero.component.scss
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.scss
  libs/design/src/molecules/image-list/image-list.component.scss
  libs/design/src/molecules/link-set/link-set/link-set.component.scss
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/paginator/paginator-theme.scss
  libs/design/src/molecules/paginator/paginator.component.scss
  libs/design/src/molecules/sidebar/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/src/scss/core/map/map-deep-check/map-deep-check.scss
  libs/design/src/scss/core/map/map-deep-get/map-deep-get.scss
  libs/design/src/scss/daff-theme.scss
  libs/design/src/scss/daff-typography.scss
  libs/design/src/scss/daff-util.scss
  libs/design/src/scss/icons/_chevron.scss
  libs/design/src/scss/interaction/mouse/_clickable.scss
  libs/design/src/scss/responsive/_breakpoint.scss
  libs/design/src/scss/responsive/_variables.scss
  libs/design/src/scss/theming/_color.scss
  libs/design/src/scss/theming/_configure-theme.scss
  libs/design/src/scss/theming/_theme.scss
  libs/design/src/scss/theming/_variables.scss
  libs/design/src/scss/theming/contrast/luminance/_variables.scss
  libs/design/src/scss/theming/contrast/text-contrast/text-contrast.scss
  libs/design/src/scss/theming/illuminate/illuminate.scss
  libs/design/src/scss/theming/illuminate/illuminate.spec.scss
  libs/design/src/scss/typography/_mixins.scss
  package-lock.json
  package.json
Labels: @daffodil/design

#460 feat(design): make navbar colorable
  apps/design-land/src/app/navbar/navbar.component.html
  apps/design-land/src/app/navbar/navbar.component.scss
  libs/design/src/molecules/navbar/navbar-theme.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/molecules/navbar/navbar.component.spec.ts
  libs/design/src/molecules/navbar/navbar.component.ts
  libs/design/src/molecules/navbar/navbar.md
Labels: @daffodil/design

#465 feat(design): update dark-theme base color
  libs/design/src/scss/theming/_configure-theme.scss
Labels: @daffodil/design

#466 feat(design): removed unused properties in underline button
  libs/design/src/atoms/button/button.component.scss
Labels: @daffodil/design

#468 feat(daffio): remove transition all properties
  apps/daffio/src/app/content/pwa/pages/pwa/pwa-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
Labels: @daffodil/design

#471 fix(newsletter): add proper depdendencies of newsletter
  libs/newsletter/package.json
  libs/newsletter/src/selectors/newsletter.selector.ts
Labels: @daffodil/newsletter, bug
