Repository graycoreio/daffodil, pull requests merged in 2019-01, with the labels that each got.

#206 feat(all): upgrade angular package version to 7.2.1
  package-lock.json
  package.json
Labels: feat, fix, security

#171 feat(daffio): update daffio homepage
  apps/daffio/src/app/content/homepage/component/homepage.component.html
  apps/daffio/src/app/content/homepage/component/homepage.component.scss
  apps/daffio/src/app/content/homepage/component/homepage.component.spec.ts
  apps/daffio/src/app/content/homepage/homepage.module.ts
  apps/daffio/src/app/design/device/iphone/README.md
  apps/daffio/src/app/design/device/iphone/iphone.component.html
  apps/daffio/src/app/design/device/iphone/iphone.component.scss
  apps/daffio/src/app/design/device/iphone/iphone.component.spec.ts
  apps/daffio/src/app/design/device/iphone/iphone.component.ts
  apps/daffio/src/app/design/device/iphone/iphone.module.ts
  apps/daffio/src/assets/magento-logo.svg
  apps/daffio/src/assets/pwa-install-add.svg
  apps/daffio/src/assets/pwa-install-home.svg
  apps/daffio/src/assets/pwa-install-info.svg
  apps/daffio/src/assets/pwa-screens.png
  apps/daffio/src/assets/shopify-logo.svg
  libs/design/src/molecules/callout/callout.component.html
  libs/design/src/molecules/callout/callout.component.scss
  libs/design/src/molecules/list/list/list.component.scss
Labels: @daffodil/daff.io, feat

#211 feat(demo): add scrolling restoration
  apps/demo/src/app/app-routing.module.ts
Labels: @daffodil/demo

#208 Change directives out for components to set changeDetection
  apps/demo/src/app/cart/components/cart-wrapper/cart-wrapper.component.html
  apps/demo/src/app/cart/components/cart-wrapper/cart-wrapper.component.spec.ts
  apps/demo/src/app/cart/components/continue-shopping/continue-shopping.component.spec.ts
  apps/demo/src/app/cart/components/continue-shopping/continue-shopping.component.ts
  apps/demo/src/app/cart/components/continue-shopping/continue-shopping.directive.ts
  apps/demo/src/app/cart/components/continue-shopping/continue-shopping.module.ts
  apps/demo/src/app/cart/components/proceed-to-checkout/proceed-to-checkout.component.spec.ts
  apps/demo/src/app/cart/components/proceed-to-checkout/proceed-to-checkout.component.ts
  apps/demo/src/app/cart/components/proceed-to-checkout/proceed-to-checkout.directive.ts
  apps/demo/src/app/cart/components/proceed-to-checkout/proceed-to-checkout.module.ts
  apps/demo/src/app/cart/components/view-cart/view-cart.component.spec.ts
  apps/demo/src/app/cart/components/view-cart/view-cart.component.ts
  apps/demo/src/app/cart/components/view-cart/view-cart.directive.ts
  apps/demo/src/app/cart/components/view-cart/view-cart.module.ts
  apps/demo/src/app/modals/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.html
  apps/demo/src/app/modals/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
Labels: @daffodil/demo

#218 feat(design): update callout title and subtitle components to directives
  apps/daffio/src/app/content/homepage/component/homepage.component.html
  libs/design/src/molecules/callout/callout-body/callout-body.component.ts
  libs/design/src/molecules/callout/callout-subtitle/callout-subtitle.directive.spec.ts
  libs/design/src/molecules/callout/callout-subtitle/callout-subtitle.directive.ts
  libs/design/src/molecules/callout/callout-title/callout-title.component.ts
  libs/design/src/molecules/callout/callout-title/callout-title.directive.spec.ts
  libs/design/src/molecules/callout/callout-title/callout-title.directive.ts
  libs/design/src/molecules/callout/callout.component.html
  libs/design/src/molecules/callout/callout.md
  libs/design/src/molecules/callout/callout.module.ts
  libs/design/src/molecules/callout/public_api.ts
Labels: @daffodil/design, Needs Reviewed, feat

#221 feat(demo,daffio): move favicons to root directory
  apps/daffio/src/favicon.ico
  apps/daffio/src/index.html
  apps/demo/src/favicon.ico
Labels: @daffodil/daff.io, @daffodil/demo, bug

#225 feat(design): update callout body to subtitle in sass file
  libs/design/src/molecules/callout/callout.component.scss
Labels: @daffodil/design, Needs Reviewed

#224 feat(design): replace max-width with width
  libs/design/src/atoms/container/container.component.scss
Labels: @daffodil/design, Needs Reviewed
