Repository graycoreio/daffodil, pull requests merged in 2020-12, with the labels that each got.

#1173 docs(authorizenet): fix a mistake on the readme doc
  libs/authorizenet/README.md
Labels: @daffodil/authorizenet, docs

#1174 feat(product): add a selector for getting all variants of a configura…
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
Labels: @daffodil/product

#1172 feat(authorizenet): add error matcher injection token
  libs/authorizenet/src/injection-tokens/error-matcher.token.ts
  libs/authorizenet/src/injection-tokens/public_api.ts
  libs/authorizenet/src/public_api.ts
Labels: @daffodil/authorizenet

#1176 feat(cart): improve CartResolution action hygiene, change resolved state to enum
  libs/cart/state/src/actions/cart.actions.ts
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
  libs/cart/state/src/effects/cart.effects.spec.ts
  libs/cart/state/src/effects/cart.effects.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/state/src/guards/billing-address/billing-address.guard.ts
  libs/cart/state/src/guards/cart-items/cart-items.guard.spec.ts
  libs/cart/state/src/guards/cart-items/cart-items.guard.ts
  libs/cart/state/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/state/src/guards/payment-method/payment-method.guard.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.spec.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.ts
  libs/cart/state/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/state/src/guards/shipping-address/shipping-address.guard.ts
  libs/cart/state/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/state/src/guards/shipping-method/shipping-method.guard.ts
  libs/cart/state/src/reducers/cart-initial-state.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve-state.enum.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.ts
  libs/cart/state/src/reducers/cart-state.interface.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.ts
  libs/cart/state/src/reducers/public_api.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart

#1177 feat(product): add selectors for product prices and discounted prices
  libs/product/src/facades/product/product-facade.interface.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/facades/product/product.facade.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/helpers/mock-product-facade.ts
Labels: @daffodil/product

#1178 feat(cart): add selector for total cart items
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart

#1171 feat(authorizenet): add driver errors
  libs/authorizenet/driver/src/errors/acceptjs_invalid.ts
  libs/authorizenet/driver/src/errors/acceptjs_missing.ts
  libs/authorizenet/driver/src/errors/auth-failed.ts
  libs/authorizenet/driver/src/errors/input-missing.ts
  libs/authorizenet/driver/src/errors/insecure-connection.ts
  libs/authorizenet/driver/src/errors/invalid-api-response.ts
  libs/authorizenet/driver/src/errors/invalid-cc-cvv.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-month.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-year.ts
  libs/authorizenet/driver/src/errors/invalid-cc-name.ts
  libs/authorizenet/driver/src/errors/invalid-cc-number.ts
  libs/authorizenet/driver/src/errors/invalid-client-key.ts
  libs/authorizenet/driver/src/errors/invalid-login-id.ts
  libs/authorizenet/driver/src/errors/invalid-postal-code.ts
  libs/authorizenet/driver/src/errors/past-cc-expiration.ts
  libs/authorizenet/driver/src/errors/public_api.ts
  libs/authorizenet/driver/src/public_api.ts
Labels: @daffodil/authorizenet

#1180 feat(core): add error server storage service
  libs/core/src/storage/error/public_api.ts
  libs/core/src/storage/public_api.ts
  libs/core/src/storage/server-error/public_api.ts
  libs/core/src/storage/server-error/server-error.service.spec.ts
  libs/core/src/storage/server-error/server-error.service.ts
  libs/core/src/storage/server-error/server-error.ts
Labels: @daffodil/core

#1182 feat(authorizenet): transform errors to state with error matcher
  libs/authorizenet/state/src/actions/authorizenet.actions.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
  libs/authorizenet/state/src/facades/authorize-net-facade.interface.ts
  libs/authorizenet/state/src/facades/authorize-net.facade.spec.ts
  libs/authorizenet/state/src/facades/authorize-net.facade.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net-reducer.interface.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/state/src/selectors/authorize-net.selector.spec.ts
  libs/authorizenet/state/src/selectors/authorize-net.selector.ts
  libs/authorizenet/state/testing/src/mock-authorize-net-facade.ts
Labels: @daffodil/authorizenet

#1184 fix(cart): some cart fields disappear during mutations that do not re…
  libs/cart/driver/magento/src/queries/apply-coupon.ts
  libs/cart/driver/magento/src/queries/fragments/cart-totals.ts
  libs/cart/driver/magento/src/queries/public_api.ts
  libs/cart/driver/magento/src/queries/remove-all-coupons.ts
  libs/cart/driver/magento/src/queries/responses/apply-coupon.ts
  libs/cart/driver/magento/src/queries/responses/remove-all-coupons.ts
  libs/cart/driver/magento/src/queries/set-guest-email.ts
Labels: @daffodil/cart, bug

#1183 feat(authorizenet): map errors in magento driver
  libs/authorizenet/driver/magento/src/authorize-net.service.spec.ts
  libs/authorizenet/driver/magento/src/authorize-net.service.ts
  libs/authorizenet/driver/magento/src/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/driver/src/errors/error-code-map.ts
  libs/authorizenet/driver/src/errors/public_api.ts
  libs/authorizenet/src/services/accept-js-loading.service.spec.ts
Labels: @daffodil/authorizenet

#1188 fix(category): category breadcrumbs return from magento in alphabetic…
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
Labels: @daffodil/category, bug

#1189 fix(product): configurable product selectable attributes include out …
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
Labels: @daffodil/product, bug

#1187 feat(core): add queued apollo service
  libs/core/graphql/src/apollo/public_api.ts
  libs/core/graphql/src/apollo/queued-apollo.service.spec.ts
  libs/core/graphql/src/apollo/queued-apollo.service.ts
  libs/core/graphql/src/index.ts
  libs/core/graphql/src/public_api.ts
Labels: @daffodil/core

#1191 feat(cart): queue mutations in magento driver
  libs/cart/driver/magento/src/cart-address.service.ts
  libs/cart/driver/magento/src/cart-billing-address.service.ts
  libs/cart/driver/magento/src/cart-coupon.service.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/cart-order.service.ts
  libs/cart/driver/magento/src/cart-payment.service.ts
  libs/cart/driver/magento/src/cart-shipping-address.service.ts
  libs/cart/driver/magento/src/cart-shipping-information.service.ts
  libs/cart/driver/magento/src/cart.service.ts
  libs/cart/driver/magento/src/injection-tokens/cart-mutation-queue.token.ts
Labels: @daffodil/cart

#1147 feat(cart): transform cart errors with injectable error matcher
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
  libs/cart/state/src/actions/cart-address.actions.ts
  libs/cart/state/src/actions/cart-billing-address.actions.ts
  libs/cart/state/src/actions/cart-coupon.actions.ts
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/actions/cart-order.actions.ts
  libs/cart/state/src/actions/cart-payment-methods.actions.ts
  libs/cart/state/src/actions/cart-payment.actions.ts
  libs/cart/state/src/actions/cart-shipping-address.actions.ts
  libs/cart/state/src/actions/cart-shipping-information.actions.ts
  libs/cart/state/src/actions/cart-shipping-methods.actions.ts
  libs/cart/state/src/actions/cart.actions.ts
  libs/cart/state/src/effects/cart-address.effects.spec.ts
  libs/cart/state/src/effects/cart-address.effects.ts
  libs/cart/state/src/effects/cart-billing-address.effects.spec.ts
  libs/cart/state/src/effects/cart-billing-address.effects.ts
  libs/cart/state/src/effects/cart-coupon.effects.spec.ts
  libs/cart/state/src/effects/cart-coupon.effects.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/effects/cart-order.effects.spec.ts
  libs/cart/state/src/effects/cart-order.effects.ts
  libs/cart/state/src/effects/cart-payment-methods.effects.spec.ts
  libs/cart/state/src/effects/cart-payment-methods.effects.ts
  libs/cart/state/src/effects/cart-payment.effects.spec.ts
  libs/cart/state/src/effects/cart-payment.effects.ts
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
  libs/cart/state/src/effects/cart-shipping-address.effects.spec.ts
  libs/cart/state/src/effects/cart-shipping-address.effects.ts
  libs/cart/state/src/effects/cart-shipping-information.effects.spec.ts
  libs/cart/state/src/effects/cart-shipping-information.effects.ts
  libs/cart/state/src/effects/cart-shipping-methods.effects.spec.ts
  libs/cart/state/src/effects/cart-shipping-methods.effects.ts
  libs/cart/state/src/effects/cart.effects.spec.ts
  libs/cart/state/src/effects/cart.effects.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/injection-tokens/public_api.ts
  libs/cart/state/src/public_api.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-order/cart-order-state.interface.ts
  libs/cart/state/src/reducers/cart-order/cart-order.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/reducers/errors/cart-errors.type.ts
  libs/cart/state/src/reducers/errors/error-state-helpers.ts
  libs/cart/state/src/resolvers/cart-resolver.service.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart

#1195 feat(product): make DaffProduct.images a required field
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/shopify/product.service.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.spec.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#1197 test(cart,order): allow discount to be equal to price in item factories
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/order/testing/src/factories/order-item.factory.spec.ts
Labels: @daffodil/cart, @daffodil/order, test

#1198 feat(cart): add more driver errors
  libs/cart/driver/src/errors/cart-not-found.ts
  libs/cart/driver/src/errors/codes.enum.ts
  libs/cart/driver/src/errors/expired-payment-token.ts
  libs/cart/driver/src/errors/invalid-api-response.ts
  libs/cart/driver/src/errors/invalid-country.ts
  libs/cart/driver/src/errors/invalid-coupon-code.ts
  libs/cart/driver/src/errors/invalid-region.ts
  libs/cart/driver/src/errors/map.ts
  libs/cart/driver/src/errors/product-not-found.ts
  libs/cart/driver/src/errors/product-out-of-stock.ts
  libs/cart/driver/src/errors/public_api.ts
Labels: @daffodil/cart

#1196 fix(core): queued apollo mutation errors prevent subsequent requests
  libs/core/graphql/src/apollo/queued-apollo.service.spec.ts
  libs/core/graphql/src/apollo/queued-apollo.service.ts
Labels: @daffodil/core, fix
