Repository graycoreio/daffodil, pull requests merged in 2020-03, with the labels that each got.

#658 refactor(category): remove query manager, unneeded injection tokens, …
  libs/category/src/drivers/injection-tokens/category-query-manager.token.ts
  libs/category/src/drivers/injection-tokens/category-response-transformer.token.ts
  libs/category/src/drivers/injection-tokens/category-transformer.token.ts
  libs/category/src/drivers/interfaces/category-page-configuration-transformer.interface.ts
  libs/category/src/drivers/interfaces/category-query-manager.interface.ts
  libs/category/src/drivers/interfaces/category-response-transformer.interface.ts
  libs/category/src/drivers/interfaces/category-transformer.interface.ts
  libs/category/src/drivers/magento/category-driver.module.ts
  libs/category/src/drivers/magento/category.service.spec.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/queries/category-query-manager.service.spec.ts
  libs/category/src/drivers/magento/queries/category-query-manager.service.ts
  libs/category/src/drivers/magento/queries/get-a-category.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
Labels: @daffodil/category

#657 feat(cart): add Magento GraphQL shipping methods driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/models/responses/index.ts
  libs/cart/src/drivers/magento/models/responses/list-payment-methods.ts
  libs/cart/src/drivers/magento/models/responses/list-shipping-methods.ts
  libs/cart/src/drivers/magento/queries/fragments/cart-shipping-method.ts
  libs/cart/src/drivers/magento/queries/fragments/index.ts
  libs/cart/src/drivers/magento/queries/fragments/money.ts
  libs/cart/src/drivers/magento/queries/index.ts
  libs/cart/src/drivers/magento/queries/list-shipping-methods.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-rate.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-rate.service.ts
  libs/cart/testing/src/factories/magento/cart-payment-method.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-shipping-method.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-shipping-method.factory.ts
  libs/cart/testing/src/factories/magento/index.ts
  libs/cart/testing/src/factories/magento/money.factory.spec.ts
  libs/cart/testing/src/factories/magento/money.factory.ts
Labels: @daffodil/cart

#660 feat(category): add models for upcoming category queries
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/interfaces/category-service.interface.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/aggregation.ts
  libs/category/src/drivers/magento/models/category.ts
  libs/category/src/drivers/magento/models/complete-category-response.ts
  libs/category/src/drivers/magento/models/get-category-response.ts
  libs/category/src/drivers/magento/models/get-products-response.ts
  libs/category/src/drivers/magento/models/page-info.ts
  libs/category/src/drivers/magento/models/requests/filters.ts
  libs/category/src/drivers/magento/models/requests/get-products-by-categories-request.ts
  libs/category/src/drivers/magento/models/requests/sort.ts
  libs/category/src/drivers/magento/models/sort-fields.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/index.ts
  libs/category/src/models/category-filter-option.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category

#662 feat(category): add transformers for a magento category request's sor…
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
Labels: @daffodil/category

#665 feat(product): add MagentoProduct testing factory
  libs/product/src/index.ts
  libs/product/testing/src/factories/magento/index.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
  libs/product/testing/src/index.ts
Labels: @daffodil/product

#666 Magento Bundled Product Query and models
  libs/product/src/drivers/magento/models/bundled-product.ts
  libs/product/src/drivers/magento/models/simple-product.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/bundled-product.ts
  libs/product/src/drivers/magento/queries/get-product.ts
  libs/product/src/index.ts
  libs/product/src/models/bundled-product-item.ts
  libs/product/src/models/bundled-product.ts
  libs/product/src/models/product.ts
Labels: @daffodil/product

#661 feat(cart): add magento driver model factories
  libs/cart/src/drivers/magento/models/outputs/cart-item.ts
  libs/cart/src/drivers/magento/models/outputs/index.ts
  libs/cart/src/drivers/magento/models/outputs/product.ts
  libs/cart/testing/src/factories/cart-coupon.factory.spec.ts
  libs/cart/testing/src/factories/cart-coupon.factory.ts
  libs/cart/testing/src/factories/index.ts
  libs/cart/testing/src/factories/magento/cart-address-input.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-address-input.factory.ts
  libs/cart/testing/src/factories/magento/cart-address.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-address.factory.ts
  libs/cart/testing/src/factories/magento/cart-coupon.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-coupon.factory.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.ts
  libs/cart/testing/src/factories/magento/cart-payment-method.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-shipping-method.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart.factory.ts
  libs/cart/testing/src/factories/magento/index.ts
  libs/cart/testing/src/factories/magento/money.factory.spec.ts
  libs/cart/testing/src/factories/magento/shipping-address.factory.spec.ts
  libs/cart/testing/src/factories/magento/shipping-address.factory.ts
Labels: @daffodil/cart

#667 feat(product): remove product transformer interface and injection token
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.ts
  libs/product/src/drivers/injection-tokens/product-transformer.token.ts
  libs/product/src/drivers/interfaces/product-transformer.interface.ts
  libs/product/src/drivers/magento/product-driver.module.ts
  libs/product/src/drivers/magento/product.service.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/index.ts
Labels: @daffodil/category, @daffodil/product

#669 feat(cart): add shipping and payment methods fields on cart
  libs/cart/src/models/cart.ts
  libs/cart/testing/src/factories/cart.factory.ts
Labels: @daffodil/cart

#670 feat(cart): add Magento GraphQL shipping address driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-payment.service.spec.ts
Labels: @daffodil/cart

#672 feat(cart): add Magento GraphQL payment driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/models/inputs/payment-method.ts
  libs/cart/src/drivers/magento/models/responses/get-selected-payment-method.ts
  libs/cart/src/drivers/magento/models/responses/index.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/index.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method.ts
  libs/cart/src/drivers/magento/transforms/inputs/payment-method.service.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/payment-method.service.ts
Labels: @daffodil/cart

#663 feat(category): replace deprecated magento category call; update mage…
  libs/category/src/drivers/magento/category-driver.module.ts
  libs/category/src/drivers/magento/category.service.spec.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/complete-category-response.ts
  libs/category/src/drivers/magento/models/get-category-response.ts
  libs/category/src/drivers/magento/public_api.ts
  libs/category/src/drivers/magento/queries/get-a-category.ts
  libs/category/src/drivers/magento/queries/get-category.ts
  libs/category/src/drivers/magento/queries/get-products.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
  libs/category/src/index.ts
Labels: @daffodil/category

#673 feat(cart): add Magento GraphQL shipping information driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/models/inputs/shipping-method.ts
  libs/cart/src/drivers/magento/models/responses/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/models/responses/index.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/index.ts
  libs/cart/src/drivers/magento/queries/set-selected-shipping-method.ts
  libs/cart/src/drivers/magento/transforms/inputs/shipping-method.service.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/shipping-method.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-rate.service.ts
  libs/cart/src/models/cart-shipping-rate.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.ts
Labels: @daffodil/cart

#676 feat(cart): add Magento GraphQL cart item driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/cart-item.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/models/inputs/cart-item-update.ts
  libs/cart/src/drivers/magento/models/inputs/cart-item.ts
  libs/cart/src/drivers/magento/models/responses/add-cart-item.ts
  libs/cart/src/drivers/magento/models/responses/index.ts
  libs/cart/src/drivers/magento/models/responses/list-cart-items.ts
  libs/cart/src/drivers/magento/models/responses/remove-cart-item.ts
  libs/cart/src/drivers/magento/models/responses/update-cart-item.ts
  libs/cart/src/drivers/magento/queries/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/fragments/product.ts
  libs/cart/src/drivers/magento/queries/index.ts
  libs/cart/src/drivers/magento/queries/list-cart-items.ts
  libs/cart/src/drivers/magento/queries/remove-cart-item.ts
  libs/cart/src/drivers/magento/queries/update-cart-item.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-update.service.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-update.service.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item.service.ts
Labels: @daffodil/cart

#677 feat(cart): add cart driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
  libs/cart/src/drivers/magento/index.ts
  libs/cart/src/drivers/magento/models/responses/create-cart.ts
  libs/cart/src/drivers/magento/models/responses/index.ts
  libs/cart/src/drivers/magento/queries/create-cart.ts
  libs/cart/src/drivers/magento/queries/get-cart.ts
  libs/cart/src/drivers/magento/queries/index.ts
Labels: @daffodil/cart

#675 bug(category): fix some bugs with the get category query
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/get-category-response.ts
  libs/category/src/drivers/magento/models/get-products-response.ts
  libs/category/src/drivers/magento/models/requests/get-products-by-categories-request.ts
  libs/category/src/drivers/magento/models/requests/sort.ts
  libs/category/src/drivers/magento/queries/get-category.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-sort-option-transformer.service.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
Labels: @daffodil/category, bug

#683 feat(category): add selectors for applied filters, sort option, and s…
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category

#684 feat(category): add category actions for applying filters and a sorti…
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
Labels: @daffodil/category

#685 feat(category): add action for toggling a category filter
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/index.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category

#686 feat(category): make accessory actions dispatch DaffCategoryLoad
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
Labels: @daffodil/category

#687 bug(category): fix category bugs
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/models/requests/filter-action.ts
Labels: @daffodil/category

#682 feat(product, cart, category): clean up magento models/factories/queries
  libs/cart/src/drivers/magento/queries/fragments/cart-item.ts
  libs/cart/src/drivers/magento/queries/fragments/product.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/product/src/drivers/magento/models/product-image-node.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/models/product-price-node.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/bundled-product.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/queries/get-product.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/testing/src/factories/magento/product.factory.ts
Labels: @daffodil/cart, @daffodil/product

#688 feat(category): make magento aggregation and sorting requests based o…
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/get-category-aggregations-response.ts
  libs/category/src/drivers/magento/models/get-products-response.ts
  libs/category/src/drivers/magento/queries/get-category-aggregations.ts
  libs/category/src/drivers/magento/queries/get-products.ts
Labels: @daffodil/category

#689 feat(category): add enums for CategoryFilterActions
  libs/category/src/drivers/magento/models/requests/filters.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/filter-action.ts
Labels: @daffodil/category

#690 feat(category): add ability to process range type filters
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/index.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category

#691 fix(cart): importing magento driver module breaks app builds
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/magento.module.ts
  libs/cart/src/drivers/public_api.ts
Labels: @daffodil/cart

#692 feat(category): export all selectors and actions
  libs/category/src/index.ts
Labels: @daffodil/category

#693 bug(category): set the product ids on the categoryPageConfigState ins…
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
Labels: @daffodil/category

#695 fix(cart): Magento GraphQL requests use wrong fragment types
  libs/cart/src/drivers/magento/cart-payment-methods.service.spec.ts
  libs/cart/src/drivers/magento/models/outputs/cart-item.ts
  libs/cart/src/drivers/magento/queries/fragments/available-payment-method.ts
  libs/cart/src/drivers/magento/queries/fragments/available-shipping-method.ts
  libs/cart/src/drivers/magento/queries/fragments/cart-coupon.ts
  libs/cart/src/drivers/magento/queries/fragments/cart-item.ts
  libs/cart/src/drivers/magento/queries/fragments/cart-payment-method.ts
  libs/cart/src/drivers/magento/queries/fragments/cart.ts
  libs/cart/src/drivers/magento/queries/fragments/index.ts
  libs/cart/src/drivers/magento/queries/fragments/money.ts
  libs/cart/src/drivers/magento/queries/fragments/selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/fragments/selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/list-payment-methods.ts
  libs/cart/src/drivers/magento/queries/list-shipping-methods.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.ts
Labels: @daffodil/cart

#696 feat(cart): handle empty and null responses in Magento driver
  libs/cart/src/drivers/magento/cart-billing-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-billing-address.service.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/models/responses/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/remove-cart-item.ts
  libs/cart/src/drivers/magento/queries/set-guest-email.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/set-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/update-billing-address.ts
  libs/cart/src/drivers/magento/queries/update-cart-item.ts
  libs/cart/src/drivers/magento/queries/update-shipping-address.ts
  libs/cart/src/drivers/magento/transforms/outputs/billing-address.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/billing-address.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-address.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-address.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-payment.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-rate.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-shipping-rate.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/shipping-address.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/shipping-address.service.ts
Labels: @daffodil/cart

#697 bug(category): fix bug where effects layer canceled category calls wi…
  libs/category/src/effects/category.effects.ts
Labels: bug

#698 feat(category): add product_ids and total_products to the category state
  libs/category/src/drivers/magento/models/category.ts
  libs/category/src/drivers/magento/queries/get-category.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/models/category.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
Labels: @daffodil/category

#699 feat(cart): add effects to state module and fix cart transformer
  libs/cart/package.json
  libs/cart/src/cart-state.module.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
Labels: @daffodil/cart

#702 feat(category): add a productsLoading state to category for when a fu…
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/reducers/category/category-reducer-state.interface.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#705 feat(category): add description field to the category
  libs/category/src/drivers/magento/models/category.ts
  libs/category/src/drivers/magento/queries/get-category.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.ts
  libs/category/src/models/category.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
Labels: @daffodil/category

#704 feat(category): add magento custom attributes metadata call to get category
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/models/aggregation.ts
  libs/category/src/drivers/magento/models/custom-attribute-metadata-response.ts
  libs/category/src/drivers/magento/models/requests/custom-metadata-attribute.ts
  libs/category/src/drivers/magento/queries/custom-attribute-metadata.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.ts
Labels: @daffodil/category

#703 bug(category): fix bug where multiple values of a particular filter were not being set properly
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/models/requests/filters.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-action.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/reducers/category/toggle-filter/util.ts
Labels: @daffodil/category

#706 feat(cart): add image and abridged_description to the cart item
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Labels: @daffodil/cart

#707 bug(cart): fix bug where clearing an empty cart failed
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
Labels: @daffodil/cart

#708 bug(category): fix bug where the category price filter values would b…
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
Labels: @daffodil/category, bug

#711 feat(category): differentiate applied filters and filter requests
  libs/category/src/actions/category.actions.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/custom-metadata-attributes-methods.spec.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/models/category-applied-filter.ts
  libs/category/src/models/category-filter-base.ts
  libs/category/src/models/category-filter.ts
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/models/requests/category-request.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/reducers/category/toggle-filter/core.ts
  libs/category/src/reducers/category/toggle-filter/equal.ts
  libs/category/src/reducers/category/toggle-filter/match.ts
  libs/category/src/reducers/category/toggle-filter/range.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.spec.ts
  libs/category/src/selectors/applied-filter/applied-filter-methods.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category

#713 feat(product, category): add product type to DaffProduct
  libs/category/src/drivers/magento/queries/get-products.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/src/index.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/category, @daffodil/product

#645 feat(cart): add cart in-memory driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart

#714 feat(cart): add a selector for whether the cart is empty
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart.selector.spec.ts
  libs/cart/src/selectors/cart.selector.ts
Labels: @daffodil/cart

#715 feat(core): add error types to enable error mapping in downstream libraries
  libs/core/src/constructable/constructable.ts
  libs/core/src/errors/error-map.ts
  libs/core/src/errors/public_api.ts
  libs/core/src/index.ts
Labels: @daffodil/core

#716 feat(geography): outline basic driver model and types
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/index.ts
  libs/geography/src/models/country.ts
  libs/geography/src/models/subdivision.ts
Labels: @daffodil/geography

#718 feat(cart): add cart item in-memory driver and backend
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-item/cart-item.service.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart

#724 feat(cart): add in-memory drivers
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart

#728 feat(geography): generic interface returns observable and clean up for testing
  angular.json
  libs/geography/src/drivers/interfaces/geography-service.interface.ts
  libs/geography/src/drivers/public_api.ts
  libs/geography/src/index.ts
  libs/geography/src/models/address.ts
  libs/geography/src/models/personal-address.ts
  libs/geography/src/models/public_api.ts
  libs/geography/test.ts
  libs/geography/tsconfig.lib.json
  libs/geography/tsconfig.spec.json
Labels: @daffodil/geography

#720 feat(cart): add total_discount to DaffCartItem
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
Labels: @daffodil/cart, feat

#717 feat(cart): add error handling and specific error for cart not found
  libs/cart/src/drivers/magento/cart.service.ts
  libs/cart/src/drivers/magento/errors/codes.ts
  libs/cart/src/drivers/magento/errors/map.ts
  libs/cart/src/drivers/magento/errors/transform.spec.ts
  libs/cart/src/drivers/magento/errors/transform.ts
  libs/cart/src/errors/not-found.ts
  libs/cart/src/index.ts
Labels: @daffodil/cart

#726 bug(category): fix category bug where magento price filters with an *…
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/applied-filter-transformer.service.ts
Labels: @daffodil/category

#730 bug(category): fix bug where applied filters were being set to null i…
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#729 feat(geography): add factories
  libs/geography/testing/src/factories/address.factory.spec.ts
  libs/geography/testing/src/factories/address.factory.ts
  libs/geography/testing/src/factories/country.factory.spec.ts
  libs/geography/testing/src/factories/country.factory.ts
  libs/geography/testing/src/factories/public_api.ts
  libs/geography/testing/src/factories/subdivision.factory.spec.ts
  libs/geography/testing/src/factories/subdivision.factory.ts
  libs/geography/testing/src/index.ts
Labels: @daffodil/geography

#733 fix(cart): fix cart in-memory service
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
Labels: @daffodil/cart

#731 feat(geography): add Magento GraphQL driver
  libs/geography/src/drivers/magento/geography-driver.module.ts
  libs/geography/src/drivers/magento/geography.service.spec.ts
  libs/geography/src/drivers/magento/geography.service.ts
  libs/geography/src/drivers/magento/models/responses/country.ts
  libs/geography/src/drivers/magento/models/responses/public_api.ts
  libs/geography/src/drivers/magento/models/responses/region.ts
  libs/geography/src/drivers/magento/public_api.ts
  libs/geography/src/drivers/magento/queries/fragments/country.ts
  libs/geography/src/drivers/magento/queries/fragments/public_api.ts
  libs/geography/src/drivers/magento/queries/fragments/region.ts
  libs/geography/src/drivers/magento/queries/get-countries.ts
  libs/geography/src/drivers/magento/queries/get-country.ts
  libs/geography/src/drivers/magento/queries/public_api.ts
  libs/geography/src/drivers/magento/queries/responses/get-countries.ts
  libs/geography/src/drivers/magento/queries/responses/get-country.ts
  libs/geography/src/drivers/magento/queries/responses/public_api.ts
  libs/geography/src/drivers/magento/transforms/responses/country.service.spec.ts
  libs/geography/src/drivers/magento/transforms/responses/country.service.ts
  libs/geography/src/drivers/magento/transforms/responses/subdivision.service.spec.ts
  libs/geography/src/drivers/magento/transforms/responses/subdivision.service.ts
Labels: @daffodil/geography

#734 bug(cart): fix in memory api bug for adding the same product twice
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
Labels: @daffodil/cart

#738 bug(cart): fix bug where cart mutation was not detected because the o…
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
Labels: @daffodil/cart

#737 fix(cart): throw error when in memory cart does not exist
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
Labels: @daffodil/cart

#736 feat(geography): export magento driver
  libs/geography/src/drivers/public_api.ts
Labels: @daffodil/geography

#739 feat(core, cart): add interface for in memory angular web api services
  apps/demo/src/app/drivers/in-memory-services/in-memory.service.spec.ts
  apps/demo/src/app/drivers/in-memory-services/in-memory.service.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart/cart.service.ts
  libs/core/testing/src/angular/interfaces/in-memory-data-service.interface.ts
  libs/core/testing/src/index.ts
Labels: @daffodil/cart, @daffodil/core

#741 feat(category): add the isCategoryEmpty selector
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#742 feat(product): add price to magento product responses
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/queries/get-all-products.ts
  libs/product/src/drivers/magento/transforms/product-transformer.service.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
Labels: @daffodil/product

#743 fix(category): fix category product query
  libs/category/src/drivers/magento/queries/get-products.ts
Labels: @daffodil/category

#744 fix(cart, product): magento cart item has bad image URL
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/category/src/drivers/magento/transformers/category-page-config-transformer.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-response-transform.service.spec.ts
  libs/category/src/drivers/magento/transformers/category-transformer.service.spec.ts
  libs/product/src/drivers/magento/models/product-node.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/testing/src/factories/magento/product.factory.spec.ts
  libs/product/testing/src/factories/magento/product.factory.ts
Labels: @daffodil/cart, @daffodil/product

#745 fix(cart): fix bug where clearing a cart with more than one item failed
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
Labels: @daffodil/cart

#564 docs(contact): added guides to the contact library
  libs/contact/guides/drivers/hubspot-forms-driver.md
  libs/contact/guides/drivers/in-memory-driver.md
  libs/contact/guides/installation.md
  libs/contact/guides/overview.md
Labels: @daffodil/contact

#746 refactor(product): move reducer state interfaces into their own files
  libs/product/src/reducers/best-sellers/best-sellers-reducer-state.interface.ts
  libs/product/src/reducers/best-sellers/best-sellers.reducer.spec.ts
  libs/product/src/reducers/best-sellers/best-sellers.reducer.ts
  libs/product/src/reducers/index.ts
  libs/product/src/reducers/product-entities/product-entities-reducer-adapter.ts
  libs/product/src/reducers/product-entities/product-entities.reducer.spec.ts
  libs/product/src/reducers/product-entities/product-entities.reducer.ts
  libs/product/src/reducers/product-grid/product-grid-reducer-state.interface.ts
  libs/product/src/reducers/product-grid/product-grid.reducer.spec.ts
  libs/product/src/reducers/product-grid/product-grid.reducer.ts
  libs/product/src/reducers/product/product-reducer-state.interface.ts
  libs/product/src/reducers/product/product.reducer.spec.ts
  libs/product/src/reducers/product/product.reducer.ts
Labels: @daffodil/product, refactor
