Repository graycoreio/daffodil, pull requests merged in 2020-11, with the labels that each got.

#1123 feat(cart): add option_id to the DaffCompositeCartItemOption
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.ts
  libs/cart/src/models/composite-cart-item.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.ts
Labels: @daffodil/cart

#1124 fix(cart): composite cart item option id points to the wrong field in…
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.ts
  libs/cart/src/models/composite-cart-item.ts
Labels: @daffodil/cart, bug

#1120 feat(product): change the api for composite product facade and selectors
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/facades/helpers.spec.ts
  libs/product/src/facades/helpers.ts
  libs/product/src/index.ts
  libs/product/src/models/composite-configuration-item.ts
  libs/product/src/models/prices.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entity.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product

#1125 feat(core): add error models and transform
  libs/core/src/errors/error.interface.ts
  libs/core/src/errors/public_api.ts
  libs/core/state/src/errors/public_api.ts
  libs/core/state/src/errors/state-error.interface.ts
  libs/core/state/src/errors/transform-error-to-state-error.spec.ts
  libs/core/state/src/errors/transform-error-to-state-error.ts
  libs/core/state/src/index.ts
  libs/core/tsconfig.json
  libs/core/tsconfig.spec.json
Labels: @daffodil/core

#1128 fix(core): null or undefined values cause an infinite loop in arithme…
  libs/core/src/utils/long-arithmetic.spec.ts
  libs/core/src/utils/long-arithmetic.ts
Labels: @daffodil/core

#1127 feat(all): swap error names to compile-safe static codes
  libs/auth/src/drivers/magento/auth.service.spec.ts
  libs/auth/src/drivers/magento/errors/map.ts
  libs/auth/src/drivers/magento/login.service.spec.ts
  libs/auth/src/drivers/magento/register.service.spec.ts
  libs/auth/src/drivers/magento/validators/check-token.spec.ts
  libs/auth/src/drivers/magento/validators/check-token.ts
  libs/auth/src/drivers/magento/validators/generate-token.spec.ts
  libs/auth/src/drivers/magento/validators/generate-token.ts
  libs/auth/src/drivers/magento/validators/revoke-token.spec.ts
  libs/auth/src/drivers/magento/validators/revoke-token.ts
  libs/auth/src/effects/auth.effects.spec.ts
  libs/auth/src/errors/authentication-failed.ts
  libs/auth/src/errors/bad-input.ts
  libs/auth/src/errors/invalid-api-response.ts
  libs/auth/src/errors/public_api.ts
  libs/auth/src/errors/unauthorized.ts
  libs/cart/src/effects/cart-address.effects.spec.ts
  libs/cart/src/effects/cart-address.effects.ts
  libs/cart/src/effects/cart-coupon.effects.spec.ts
  libs/cart/src/effects/cart-coupon.effects.ts
  libs/cart/src/effects/cart-order.effects.spec.ts
  libs/cart/src/effects/cart-order.effects.ts
  libs/cart/src/effects/cart-resolver.effects.spec.ts
  libs/cart/src/effects/cart-resolver.effects.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/errors/cart-not-found.ts
  libs/cart/src/errors/not-found.ts
  libs/cart/src/errors/public_api.ts
  libs/core/src/errors/inheritable-error.spec.ts
  libs/core/src/errors/inheritable-error.ts
  libs/core/src/errors/public_api.ts
  libs/core/src/storage/error/error.ts
  libs/driver/magento/src/errors/transform.spec.ts
  libs/driver/src/errors/bad-input.ts
  libs/geography/src/drivers/magento/geography.service.spec.ts
  libs/geography/src/drivers/magento/validators/get-countries.spec.ts
  libs/geography/src/drivers/magento/validators/get-countries.ts
  libs/geography/src/errors/country-not-found.ts
  libs/geography/src/errors/invalid-api-response.ts
  libs/geography/src/errors/not-found.ts
  libs/geography/src/errors/public_api.ts
  libs/order/driver/magento/2.4.0/src/order.service.spec.ts
  libs/order/driver/magento/2.4.0/src/validators/get-orders.spec.ts
  libs/order/driver/magento/2.4.0/src/validators/get-orders.ts
  libs/order/driver/magento/2.4.1/src/order.service.spec.ts
  libs/order/driver/magento/2.4.1/src/validators/get-orders.spec.ts
  libs/order/driver/magento/2.4.1/src/validators/get-orders.ts
  libs/order/driver/src/errors/invalid-api-response.ts
  libs/order/driver/src/errors/order-not-found.ts
  libs/order/driver/src/errors/public_api.ts
Labels: @daffodil/auth, @daffodil/cart, @daffodil/core, @daffodil/driver, @daffodil/geography, @daffodil/order

#1119 fix(order): bad bundle item fragments and query field
  libs/order/driver/magento/2.4.1/src/order.service.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-address.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-credit-item.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-credit-total.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-credit.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-invoice-item.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-invoice-total.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-invoice.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-item.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-payment.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-shipment-item.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-shipment-tracking.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-shipment.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order-total.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order.ts
  libs/order/driver/magento/2.4.1/src/queries/get-guest-orders.ts
  libs/order/driver/magento/2.4.1/src/transforms/responses/order.ts
Labels: @daffodil/order

#1134 fix(product): fix some return types in the MockDaffCompositeProductFa…
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product, bug

#1130 testing(cart): reference source files in specs
  libs/cart/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/tsconfig.json
  libs/cart/tsconfig.spec.json
Labels: @daffodil/cart

#1133 feat(cart): add invalid API response error
  libs/cart/src/errors/invalid-api-response.ts
  libs/cart/src/errors/public_api.ts
Labels: @daffodil/cart

#1092 docs(cart): add cart guides
  libs/cart/README.md
  libs/cart/guides/drivers.md
  libs/cart/guides/drivers/in-memory.md
  libs/cart/guides/drivers/magento.md
  libs/cart/guides/extension.md
  libs/cart/guides/getting-started.md
  libs/cart/guides/install.md
  libs/cart/guides/installation.md
  libs/cart/guides/state.md
  libs/cart/guides/testing.md
  libs/cart/guides/usage.md
  libs/core/guides/advanced/storage.md
  tools/builders/guides/fragment-introspection.md
Labels: @daffodil/cart, docs

#1142 Category page server side resolver
  libs/category/src/category-state.module.ts
  libs/category/src/index.ts
  libs/category/src/resolvers/category-page-server-side/category-page-server-side.resolver.spec.ts
  libs/category/src/resolvers/category-page-server-side/category-page-server-side.resolver.ts
  libs/category/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/src/resolvers/category-page/category-page.resolver.ts
  libs/category/src/resolvers/category-page/default-category-page-size.token.ts
  libs/category/src/resolvers/public_api.ts
Labels: @daffodil/category

#1143 feat(product): add a resolver for product page server-side rendering
  libs/product/src/index.ts
  libs/product/src/resolvers/product-page-server-side/product-page-server-side.resolver.spec.ts
  libs/product/src/resolvers/product-page-server-side/product-page-server-side.resolver.ts
  libs/product/src/resolvers/product-page/product-page.resolver.spec.ts
  libs/product/src/resolvers/product-page/product-page.resolver.ts
  libs/product/src/resolvers/public_api.ts
Labels: @daffodil/product

#1144 fix(order): using wrong item quantity field
  libs/order/driver/magento/2.4.1/src/helpers/test-data.service.ts
  libs/order/driver/magento/2.4.1/src/transforms/responses/order.ts
Labels: @daffodil/order

#1146 feat(geography): remove useless DaffGeographyModule
  libs/geography/src/geography.module.ts
  libs/geography/src/index.ts
Labels: @daffodil/geography

#1140 feat(cart): cart items now have an Adding state
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.ts
  libs/cart/state/src/reducers/cart-initial-state.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.ts
  libs/cart/state/src/reducers/cart/cart.reducer.ts
  libs/cart/state/src/reducers/loading/cart-loading.type.ts
  libs/cart/state/src/reducers/loading/loading-state-helpers.ts
  libs/cart/state/src/reducers/public_api.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
  libs/core/state/src/loading/loading-state.enum.ts
Labels: @daffodil/cart

#1132 feat(cart): add error matcher injection token
  libs/cart/src/injection-tokens/error-matcher.token.ts
  libs/cart/src/injection-tokens/payment-method-map.ts
  libs/cart/src/injection-tokens/public_api.ts
Labels: @daffodil/cart

#1152 build(navigation): wildcard dist imports in tsconfig
  libs/navigation/tsconfig.json
  libs/navigation/tsconfig.spec.json
Labels: @daffodil/navigation

#1148 fix(category): category page resolver should dispatch a category load…
  libs/category/src/resolvers/category-page-server-side/category-page-server-side.resolver.spec.ts
  libs/category/src/resolvers/category-page-server-side/category-page-server-side.resolver.ts
  libs/category/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/src/resolvers/category-page/category-page.resolver.ts
  libs/category/src/resolvers/public_api.ts
Labels: @daffodil/category, bug

#1149 fix(product): product page resolver should dispatch a product load re…
  libs/product/src/resolvers/product-page-server-side/product-page-server-side.resolver.spec.ts
  libs/product/src/resolvers/product-page-server-side/product-page-server-side.resolver.ts
  libs/product/src/resolvers/product-page/product-page.resolver.spec.ts
  libs/product/src/resolvers/product-page/product-page.resolver.ts
  libs/product/src/resolvers/public_api.ts
Labels: @daffodil/product, bug

#1155 docs(all): add troubleshooting to release docs for when publishing fails
  docs/RELEASE.MD
Labels: docs

#1151 feat(category): add page load action
  libs/category/src/actions/category.actions.ts
  libs/category/src/effects/category-page.effects.spec.ts
  libs/category/src/effects/category-page.effects.ts
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/helpers/public_api.ts
  libs/category/src/helpers/validate-filters.spec.ts
  libs/category/src/helpers/validate-filters.ts
  libs/category/src/index.ts
  libs/category/src/models/requests/filter-request.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.spec.ts
  libs/category/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/selectors/category-entities/category-entities.selector.spec.ts
  libs/category/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/src/selectors/category.selector.spec.ts
Labels: @daffodil/category

#1153 fix(product): allow selectCompositeProductPricesForConfiguration tak…
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/models/composite-configuration-item.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product, bug

#1156 fix(category): stop category load on DaffCategoryLoadSuccess
  libs/category/src/reducers/category/category.reducer.spec.ts
  libs/category/src/reducers/category/category.reducer.ts
  libs/category/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/src/resolvers/category-page/category-page.resolver.ts
Labels: @daffodil/category, bug

#1157 fix(category): add category page effects to DaffCategoryStateModule
  libs/category/src/category-state.module.ts
Labels: @daffodil/category, bug

#1150 feat(navigation): injectable category tree query depth in magento driver
  libs/navigation/src/drivers/interfaces/navigation-config.interface.ts
  libs/navigation/src/drivers/magento/interfaces/category-node.ts
  libs/navigation/src/drivers/magento/interfaces/category-product-node.ts
  libs/navigation/src/drivers/magento/navigation-driver.module.ts
  libs/navigation/src/drivers/magento/navigation.service.spec.ts
  libs/navigation/src/drivers/magento/navigation.service.ts
  libs/navigation/src/drivers/magento/queries/fragments/category-node.spec.ts
  libs/navigation/src/drivers/magento/queries/fragments/category-node.ts
  libs/navigation/src/drivers/magento/queries/fragments/public_api.ts
  libs/navigation/src/drivers/magento/queries/get-category-tree.ts
  libs/navigation/src/drivers/magento/transformers/navigation-transformer.ts
Labels: @daffodil/navigation

#1158 fix(product): out of stock item options result in a price bug for non…
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
Labels: @daffodil/product, bug

#1126 feat(cart): add state to each cart item to indicate if it is new, mutating, etc
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/injection-tokens/cart-item-state-debounce-time.ts
  libs/cart/state/src/models/public_api.ts
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/models/stateful-composite-cart-item.ts
  libs/cart/state/src/models/stateful-configurable-cart-item.ts
  libs/cart/state/src/public_api.ts
  libs/cart/state/src/reducers/action-types.type.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities-reducer-adapter.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-reducers-state.interface.ts
  libs/cart/state/src/selectors/cart-feature.selector.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/state/src/selectors/cart.selector.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.spec.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.spec.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.spec.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
  libs/cart/state/testing/src/public_api.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.ts
  libs/cart/testing/src/factories/public_api.ts
Labels: @daffodil/cart

#1163 testing(product): fix a test that fails sometimes
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
Labels: @daffodil/product, test

#1165 fix(cart): cart item state is set incorrectly in cart item reducers
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
Labels: @daffodil/cart, bug

#1164 feat(cart): add non empty cart guard
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/state/src/guards/cart-items/cart-items-guard-redirect.token.ts
  libs/cart/state/src/guards/cart-items/cart-items.guard.spec.ts
  libs/cart/state/src/guards/cart-items/cart-items.guard.ts
  libs/cart/state/src/guards/order-result/order-result.guard.spec.ts
  libs/cart/state/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/state/src/guards/public_api.ts
  libs/cart/state/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/state/src/guards/shipping-method/shipping-method.guard.spec.ts
Labels: @daffodil/cart

#1170 feat(cart): add resolved cart guard
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/guards/public_api.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart-guard-redirect.token.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.spec.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.ts
Labels: @daffodil/cart

#1169 feat(order): add a selector for whether an order has a discount
  libs/order/state/src/facades/order/order-facade.interface.ts
  libs/order/state/src/facades/order/order.facade.spec.ts
  libs/order/state/src/facades/order/order.facade.ts
  libs/order/state/src/selectors/order-entities.selector.spec.ts
  libs/order/state/src/selectors/order-entities.selector.ts
  libs/order/state/testing/src/mock-order-facade.ts
Labels: @daffodil/order

#1168 fix(navigation): the getCategoryNodeFragment magento query does not work
  libs/navigation/src/drivers/magento/queries/fragments/category-node.spec.ts
  libs/navigation/src/drivers/magento/queries/fragments/category-node.ts
Labels: @daffodil/navigation, bug
