Repository graycoreio/daffodil, pull requests merged in 2020-07, with the labels that each got.

#958 fix(cart): hasPaymentMethod returns false for empty string method
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
Labels: @daffodil/cart, bug

#960 feat(core): add substream operator
  libs/core/src/index.ts
  libs/core/src/operators/public_api.ts
  libs/core/src/operators/substream.pipe.spec.ts
  libs/core/src/operators/substream.pipe.ts
Labels: @daffodil/core, feat

#969 feat(cart): update the cart payment with the payment package-specific…
  libs/cart/src/drivers/magento/transforms/inputs/payment-method.service.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/payment-method.service.ts
Labels: @daffodil/cart

#966 feat(geography): add optional fields to address factories
  libs/geography/testing/src/factories/address.factory.ts
  libs/geography/testing/src/factories/personal-address.factory.ts
Labels: @daffodil/geography, feat

#967 feat(order): add optional cartId parameters to support guest orders
  libs/order/package.json
  libs/order/src/drivers/interfaces/order-service.interface.ts
  libs/order/src/errors/invalid-api-response.ts
  libs/order/src/errors/public_api.ts
  libs/order/src/index.ts
  libs/order/src/models/order-item.ts
  libs/order/testing/src/factories/order-item.factory.ts
  libs/order/testing/src/factories/order-payment.factory.ts
  libs/order/testing/src/factories/order-shipping-rate.factory.ts
  libs/order/testing/src/factories/order.factory.ts
  libs/order/testing/src/factories/public_api.ts
Labels: @daffodil/order, feat

#970 fix(cart): fix bug where an invalid cart id would result in unresolva…
  libs/cart/src/effects/cart-resolver.effects.ts
Labels: @daffodil/cart, bug

#968 feat(order): add magento queries
  libs/order/src/drivers/src/index.ts
  libs/order/src/drivers/src/magento/models/responses/order-address.ts
  libs/order/src/drivers/src/magento/models/responses/order-invoice.ts
  libs/order/src/drivers/src/magento/models/responses/order-item.ts
  libs/order/src/drivers/src/magento/models/responses/order-payment.ts
  libs/order/src/drivers/src/magento/models/responses/order-shipment-item.ts
  libs/order/src/drivers/src/magento/models/responses/order-shipment-tracking.ts
  libs/order/src/drivers/src/magento/models/responses/order-shipment.ts
  libs/order/src/drivers/src/magento/models/responses/order.ts
  libs/order/src/drivers/src/magento/models/responses/public_api.ts
  libs/order/src/drivers/src/magento/public_api.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-address.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-invoice.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-item.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-payment.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-shipment-item.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-shipment-tracking.ts
  libs/order/src/drivers/src/magento/queries/fragments/order-shipment.ts
  libs/order/src/drivers/src/magento/queries/fragments/order.ts
  libs/order/src/drivers/src/magento/queries/fragments/public_api.ts
  libs/order/src/drivers/src/magento/queries/get-guest-orders.ts
  libs/order/src/drivers/src/magento/queries/public_api.ts
  libs/order/src/drivers/src/magento/queries/responses/get-guest-orders.ts
  libs/order/src/drivers/src/magento/queries/responses/public_api.ts
Labels: @daffodil/order, feat

#971 feat(order): add order not found error
  libs/order/src/errors/order-not-found.ts
  libs/order/src/errors/public_api.ts
Labels: @daffodil/order, feat

#977 feat(cart): add cart address driver
  libs/cart/src/drivers/interfaces/cart-address-service.interface.ts
  libs/cart/src/drivers/magento/cart-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-address.service.ts
  libs/cart/src/drivers/magento/models/responses/public_api.ts
  libs/cart/src/drivers/magento/models/responses/update-address.ts
  libs/cart/src/drivers/magento/queries/public_api.ts
  libs/cart/src/drivers/magento/queries/update-address.ts
Labels: @daffodil/cart, feat

#903 feat(design): add size options to the button component
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/button/button.component.spec.ts
  libs/design/src/atoms/button/button.component.ts
Labels: @daffodil/design

#975 feat(order): support guest orders in effects layer
  libs/order/src/effects/order.effects.spec.ts
  libs/order/src/effects/order.effects.ts
Labels: @daffodil/order, feat

#891 feat(design): add `daff-nav-list` variant of a list
  apps/design-land/src/app/list/list.component.html
  libs/design/src/molecules/list/list-theme.scss
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/list/list/list.component.spec.ts
  libs/design/src/molecules/list/list/list.component.ts
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#972 feat(order): add Magento guest orders driver
  libs/order/src/drivers/src/magento/errors/codes.ts
  libs/order/src/drivers/src/magento/errors/map.ts
  libs/order/src/drivers/src/magento/errors/public_api.ts
  libs/order/src/drivers/src/magento/errors/transform.ts
  libs/order/src/drivers/src/magento/order-driver.module.ts
  libs/order/src/drivers/src/magento/order.service.spec.ts
  libs/order/src/drivers/src/magento/order.service.ts
  libs/order/src/drivers/src/magento/public_api.ts
  libs/order/src/drivers/src/magento/transforms/responses/order.spec.ts
  libs/order/src/drivers/src/magento/transforms/responses/order.ts
  libs/order/src/drivers/src/magento/validators/get-orders.spec.ts
  libs/order/src/drivers/src/magento/validators/get-orders.ts
  libs/order/src/drivers/src/magento/validators/public_api.ts
Labels: @daffodil/order, feat

#978 fix(product): fix bug where the wrong magento field was assign to a D…
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-bundled-product.json
Labels: @daffodil/product, bug

#981 feat(cart): add updateWithBilling method to payment driver
  libs/cart/src/drivers/interfaces/cart-payment-service.interface.ts
  libs/cart/src/drivers/magento/cart-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.ts
  libs/cart/src/drivers/magento/models/outputs/cart-payment-method.ts
  libs/cart/src/drivers/magento/models/responses/public_api.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-payment-method-with-billing.ts
  libs/cart/src/drivers/magento/queries/public_api.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/drivers/testing/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/in-memory-backend/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
Labels: @daffodil/cart, feat

#979 fix(all): helper function return false on ID of 0
  libs/cart/testing/src/factories/cart-address.factory.ts
  libs/cart/testing/src/factories/cart-coupon.factory.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.ts
  libs/cart/testing/src/factories/magento/cart.factory.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
  libs/category/testing/src/factories/category.factory.ts
  libs/checkout/testing/src/order/factories/order-address.factory.ts
  libs/checkout/testing/src/order/factories/order-item.factory.ts
  libs/checkout/testing/src/order/factories/order-payment.factory.ts
  libs/checkout/testing/src/order/factories/order-shipping-rate.factory.ts
  libs/checkout/testing/src/order/factories/order.factory.ts
  libs/checkout/testing/src/shipping/factories/shipping-rate.factory.ts
  libs/driver/magento/testing/src/factories/money.factory.ts
  libs/geography/testing/src/factories/country.factory.ts
  libs/geography/testing/src/factories/subdivision.factory.ts
  libs/navigation/testing/src/factories/navigation-tree.factory.ts
  libs/order/testing/src/factories/order-address.factory.ts
  libs/order/testing/src/factories/order-item.factory.ts
  libs/order/testing/src/factories/order-payment.factory.ts
  libs/order/testing/src/factories/order-shipment-item.factory.ts
  libs/order/testing/src/factories/order-shipping-rate.factory.ts
  libs/order/testing/src/factories/order-total.factory.ts
  libs/order/testing/src/factories/order.factory.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.ts
  libs/product/testing/src/factories/magento/core/product.factory.ts
  libs/product/testing/src/factories/product-image.factory.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: bug

#983 feat(cart): add cart address testing drivers
  libs/cart/src/drivers/public_api.ts
  libs/cart/testing/src/drivers/in-memory/cart-address/cart-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-address/cart-address.service.ts
  libs/cart/testing/src/drivers/testing/cart-address/cart-address.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-address/cart-address.service.ts
  libs/cart/testing/src/drivers/testing/cart-driver.module.ts
  libs/cart/testing/src/drivers/testing/public_api.ts
  libs/cart/testing/src/in-memory-backend/cart-address/cart-address.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-address/cart-address.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
Labels: @daffodil/cart, feat

#980 feat(product): add is_default to the composite product model
  libs/product/src/drivers/magento/models/bundled-product.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-bundled-product.json
  libs/product/src/models/composite-product-item.ts
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
Labels: @daffodil/product

#984 feat(cart): add payment updateWithBilling state
  libs/cart/src/actions/cart-payment.actions.ts
  libs/cart/src/effects/cart-payment.effects.spec.ts
  libs/cart/src/effects/cart-payment.effects.ts
  libs/cart/src/reducers/action-types.type.ts
  libs/cart/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/src/reducers/cart-payment/cart-payment.reducer.ts
Labels: @daffodil/cart, feat

#961 style(design): add deprecation notices for the mode property in DaffListComponent
  apps/design-land/src/app/list/list.component.html
  libs/design/src/molecules/list/list-subheader/list-subheader.directive.ts
  libs/design/src/molecules/list/list.md
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/list/list/list.component.ts
Labels: @daffodil/design

#982 feat(design): add statusable as a core interface
  libs/design/src/core/public_api.ts
  libs/design/src/core/statusable/statusable-mixin.ts
  libs/design/src/core/statusable/statusable.spec.ts
  libs/design/src/core/statusable/statusable.ts
Labels: @daffodil/design, feat

#962 refactor(design-land): add design-land prefix to list component and module naming
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/list/list-routing.module.ts
  apps/design-land/src/app/list/list.component.ts
  apps/design-land/src/app/list/list.module.ts
Labels: docs

#973 feat(design): add focus styles to button and update general styles
  libs/design/src/atoms/button/button-theme-variants/button.scss
  libs/design/src/atoms/button/button-theme-variants/focus.scss
  libs/design/src/atoms/button/button-theme-variants/stroked.scss
  libs/design/src/atoms/button/button-theme.scss
  libs/design/src/atoms/button/button.component.scss
Labels: @daffodil/design

#988 feat(authorizenet): use the @daffodil/cart CartPaymentUpdateWithBilli…
  libs/authorizenet/src/actions/authorizenet.actions.ts
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.ts
  libs/authorizenet/src/facades/authorize-net.facade.spec.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.ts
  libs/authorizenet/src/selectors/authorize-net.selector.spec.ts
Labels: @daffodil/authorizenet

#963 docs(design-land): update DaffListComponent documentation
  apps/design-land/src/app/list/list.component.html
  apps/design-land/src/app/list/list.component.ts
  apps/design-land/src/app/list/list.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/list/examples/ng-package.json
  libs/design/list/examples/package.json
  libs/design/list/examples/src/basic-list/basic-list.component.html
  libs/design/list/examples/src/basic-list/basic-list.component.ts
  libs/design/list/examples/src/basic-list/basic-list.module.ts
  libs/design/list/examples/src/examples.ts
  libs/design/list/examples/src/icon-list/icon-list.component.html
  libs/design/list/examples/src/icon-list/icon-list.component.ts
  libs/design/list/examples/src/icon-list/icon-list.module.ts
  libs/design/list/examples/src/index.ts
  libs/design/list/examples/src/list-examples.module.ts
  libs/design/list/examples/src/multiline-list/multiline-list.component.html
  libs/design/list/examples/src/multiline-list/multiline-list.component.ts
  libs/design/list/examples/src/multiline-list/multiline-list.module.ts
  libs/design/list/examples/src/nav-list/nav-list.component.html
  libs/design/list/examples/src/nav-list/nav-list.component.ts
  libs/design/list/examples/src/nav-list/nav-list.module.ts
  libs/design/list/examples/src/public_api.ts
  libs/design/src/molecules/list/list/list.component.spec.ts
  tsconfig.json
Labels: docs

#994 refactor(order): move @daffodil/order/driver out of src
  libs/order/driver/ng-package.json
  libs/order/driver/package.json
  libs/order/driver/src/index.ts
  libs/order/driver/src/magento/errors/codes.ts
  libs/order/driver/src/magento/errors/map.ts
  libs/order/driver/src/magento/errors/public_api.ts
  libs/order/driver/src/magento/errors/transform.ts
  libs/order/driver/src/magento/models/responses/order-address.ts
  libs/order/driver/src/magento/models/responses/order-invoice.ts
  libs/order/driver/src/magento/models/responses/order-item.ts
  libs/order/driver/src/magento/models/responses/order-payment.ts
  libs/order/driver/src/magento/models/responses/order-shipment-item.ts
  libs/order/driver/src/magento/models/responses/order-shipment-tracking.ts
  libs/order/driver/src/magento/models/responses/order-shipment.ts
  libs/order/driver/src/magento/models/responses/order.ts
  libs/order/driver/src/magento/models/responses/public_api.ts
  libs/order/driver/src/magento/order-driver.module.ts
  libs/order/driver/src/magento/order.service.spec.ts
  libs/order/driver/src/magento/order.service.ts
  libs/order/driver/src/magento/public_api.ts
  libs/order/driver/src/magento/queries/fragments/order-address.ts
  libs/order/driver/src/magento/queries/fragments/order-invoice.ts
  libs/order/driver/src/magento/queries/fragments/order-item.ts
  libs/order/driver/src/magento/queries/fragments/order-payment.ts
  libs/order/driver/src/magento/queries/fragments/order-shipment-item.ts
  libs/order/driver/src/magento/queries/fragments/order-shipment-tracking.ts
  libs/order/driver/src/magento/queries/fragments/order-shipment.ts
  libs/order/driver/src/magento/queries/fragments/order.ts
  libs/order/driver/src/magento/queries/fragments/public_api.ts
  libs/order/driver/src/magento/queries/get-guest-orders.ts
  libs/order/driver/src/magento/queries/public_api.ts
  libs/order/driver/src/magento/queries/responses/get-guest-orders.ts
  libs/order/driver/src/magento/queries/responses/public_api.ts
  libs/order/driver/src/magento/transforms/responses/order.spec.ts
  libs/order/driver/src/magento/transforms/responses/order.ts
  libs/order/driver/src/magento/validators/get-orders.spec.ts
  libs/order/driver/src/magento/validators/get-orders.ts
  libs/order/driver/src/magento/validators/public_api.ts
  libs/order/src/drivers/ng-package.json
Labels: @daffodil/order

#997 feat(core): add long arithmetic functions
  libs/core/src/index.ts
  libs/core/src/utils/long-arithmetic.spec.ts
  libs/core/src/utils/long-arithmetic.ts
Labels: @daffodil/core

#964 feat(design): add accesibility role to DaffListItemComponent
  libs/design/src/molecules/list/list-item/list-item.component.spec.ts
  libs/design/src/molecules/list/list-item/list-item.component.ts
Labels: @daffodil/design

#995 feat(cart): store cartId in order result
  libs/cart/src/drivers/magento/cart-order.service.spec.ts
  libs/cart/src/drivers/magento/cart-order.service.ts
  libs/cart/src/effects/cart-order.effects.spec.ts
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/models/cart-order-result.ts
  libs/cart/src/reducers/cart-order/cart-order-initial-state.ts
  libs/cart/src/reducers/cart-order/cart-order.reducer.spec.ts
  libs/cart/src/selectors/cart-order/cart-order.selector.spec.ts
  libs/cart/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-order/cart-order.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-order/cart-order.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-order/cart-order.service.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
  libs/cart/testing/src/in-memory-backend/cart-order/cart-order.service.ts
Labels: @daffodil/cart

#999 feat(cart): add order result guard
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/guards/order-result/order-result-guard-redirect.token.ts
  libs/cart/src/guards/order-result/order-result.guard.spec.ts
  libs/cart/src/guards/order-result/order-result.guard.ts
  libs/cart/src/selectors/cart-order/cart-order.selector.spec.ts
  libs/cart/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#954 feat(cart): add cart address update state
  libs/cart/src/actions/cart-address.actions.ts
  libs/cart/src/actions/public_api.ts
  libs/cart/src/cart-state.module.ts
  libs/cart/src/effects/cart-address.effects.spec.ts
  libs/cart/src/effects/cart-address.effects.ts
  libs/cart/src/reducers/action-types.type.ts
  libs/cart/src/reducers/cart-billing-address/cart-billing-address.reducer.spec.ts
  libs/cart/src/reducers/cart-billing-address/cart-billing-address.reducer.ts
  libs/cart/src/reducers/cart-shipping-address/cart-shipping-address.reducer.spec.ts
  libs/cart/src/reducers/cart-shipping-address/cart-shipping-address.reducer.ts
Labels: @daffodil/cart, feat

#1001 fix(cart): fix bug where DaffCartStorageFailure was passed the wrong …
  libs/cart/src/effects/cart-address.effects.spec.ts
  libs/cart/src/effects/cart-address.effects.ts
Labels: @daffodil/cart, bug

#1002 feat(cart): provide for cart address service in magento driver
  libs/cart/src/drivers/magento/cart-driver.module.ts
Labels: @daffodil/cart

#998 doc(design): added docs for radio
  libs/design/src/atoms/form/radio/radio.md
Labels: docs

#1003 Refactor daffodil long arithmetic
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
Labels: @daffodil/cart, @daffodil/product

#993 feat(cart): create new cart after successful order
  libs/cart/src/effects/cart-order.effects.spec.ts
  libs/cart/src/effects/cart-order.effects.ts
Labels: @daffodil/cart

#1004 feat(cart): provide in-memory cart address driver
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
Labels: @daffodil/cart

#986 feat(product): add state for composite products
  libs/product/src/actions/composite-product.actions.ts
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/index.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entity.ts
  libs/product/src/reducers/product-reducers-state.interface.ts
  libs/product/src/reducers/product-reducers.ts
  libs/product/src/selectors/all-selectors.selectors.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
  libs/product/testing/src/helpers/product-testing.module.ts
  libs/product/testing/src/index.ts
Labels: @daffodil/product

#996 feat(order): pass cart ID into state layer
  libs/order/src/actions/order.actions.ts
  libs/order/src/effects/order.effects.spec.ts
  libs/order/src/effects/order.effects.ts
Labels: @daffodil/order

#974 docs(design-land): add documentation for sizeable buttons
  apps/design-land/src/app/button/button.component.html
  apps/design-land/src/app/button/button.component.ts
  apps/design-land/src/app/button/button.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/button/examples/ng-package.json
  libs/design/button/examples/package.json
  libs/design/button/examples/src/basic-button/basic-button.component.html
  libs/design/button/examples/src/basic-button/basic-button.component.ts
  libs/design/button/examples/src/basic-button/basic-button.module.ts
  libs/design/button/examples/src/button-examples.module.ts
  libs/design/button/examples/src/examples.ts
  libs/design/button/examples/src/icon-button/icon-button.component.html
  libs/design/button/examples/src/icon-button/icon-button.component.ts
  libs/design/button/examples/src/icon-button/icon-button.module.ts
  libs/design/button/examples/src/index.ts
  libs/design/button/examples/src/public_api.ts
  libs/design/button/examples/src/raised-button/raised-button.component.html
  libs/design/button/examples/src/raised-button/raised-button.component.ts
  libs/design/button/examples/src/raised-button/raised-button.module.ts
  libs/design/button/examples/src/sizeable-button/sizeable-button.component.html
  libs/design/button/examples/src/sizeable-button/sizeable-button.component.ts
  libs/design/button/examples/src/sizeable-button/sizeable-button.module.ts
  libs/design/button/examples/src/stroked-button/stroked-button.component.html
  libs/design/button/examples/src/stroked-button/stroked-button.component.ts
  libs/design/button/examples/src/stroked-button/stroked-button.module.ts
  libs/design/button/examples/src/underline-button/underline-button.component.html
  libs/design/button/examples/src/underline-button/underline-button.component.ts
  libs/design/button/examples/src/underline-button/underline-button.module.ts
  package-lock.json
  tsconfig.json
Labels: docs

#1006 feat(cart): change DaffCartItemAdd payload for composite products
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-input-transformers.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-input-transformers.ts
  libs/cart/src/models/cart-item-input.ts
Labels: @daffodil/cart

#921 feat(design): add optional components to modal for consistent modal UI
  apps/design-land/src/app/modal/modal-content/modal-content.component.html
  apps/design-land/src/app/modal/modal.component.html
  apps/design-land/src/app/modal/modal.module.ts
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.scss
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.spec.ts
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.ts
  libs/design/src/molecules/modal/modal-content/modal-content.component.scss
  libs/design/src/molecules/modal/modal-content/modal-content.component.spec.ts
  libs/design/src/molecules/modal/modal-content/modal-content.component.ts
  libs/design/src/molecules/modal/modal-header/modal-header.component.scss
  libs/design/src/molecules/modal/modal-header/modal-header.component.spec.ts
  libs/design/src/molecules/modal/modal-header/modal-header.component.ts
  libs/design/src/molecules/modal/modal-title/modal-title.directive.spec.ts
  libs/design/src/molecules/modal/modal-title/modal-title.directive.ts
  libs/design/src/molecules/modal/modal.module.ts
  libs/design/src/molecules/modal/modal/modal.component.scss
  libs/design/src/molecules/modal/service/modal.service.ts
Labels: @daffodil/design

#1005 feat(product): add qty to composite product option state
  libs/product/src/actions/composite-product.actions.ts
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entity.ts
  libs/product/src/reducers/public_api.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product

#1007 fix(cart): Magento cart address query fails from parameter type and complexity
  libs/cart/src/drivers/magento/cart-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-address.service.ts
  libs/cart/src/drivers/magento/models/responses/update-address-with-email.ts
  libs/cart/src/drivers/magento/models/responses/update-address.ts
  libs/cart/src/drivers/magento/queries/update-address-with-email.ts
  libs/cart/src/drivers/magento/queries/update-address.ts
Labels: @daffodil/cart, bug

#1008 refactor(product): add more specific typing to composite product option a…
  libs/product/src/actions/composite-product.actions.ts
Labels: @daffodil/product

#1009 feat(order): add placed order selectors and guard
  libs/order/src/facades/order/order-facade.interface.ts
  libs/order/src/facades/order/order.facade.spec.ts
  libs/order/src/facades/order/order.facade.ts
  libs/order/src/guards/placed-order/placed-order-guard-redirect.token.ts
  libs/order/src/guards/placed-order/placed-order.guard.spec.ts
  libs/order/src/guards/placed-order/placed-order.guard.ts
  libs/order/src/guards/public_api.ts
  libs/order/src/index.ts
  libs/order/src/order.module.ts
  libs/order/src/selectors/order-entities.selector.spec.ts
  libs/order/src/selectors/order-entities.selector.ts
  libs/order/testing/src/factories/order.factory.ts
  libs/order/testing/src/helpers/mock-order-facade.ts
Labels: @daffodil/order

#851 docs(all): add general guidelines for spec file import pathing
  docs/internal/testing/testing.md
Labels: docs

#1010 feat(geography): add personal address and address comparators
  libs/geography/src/comparators/address.spec.ts
  libs/geography/src/comparators/address.ts
  libs/geography/src/comparators/personal-address.spec.ts
  libs/geography/src/comparators/personal-address.ts
  libs/geography/src/comparators/public_api.ts
  libs/geography/src/index.ts
Labels: @daffodil/geography

#1011 feat(cart): add isBillingSameAsShipping selector
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1012 feat(product): add ranged price selectors for composite products
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product

#1014 fix(authorizenet): cannot read code of undefined on driver error
  libs/authorizenet/src/drivers/magento/authorize-net.service.ts
Labels: @daffodil/authorizenet, bug

#1013 fix(cart): driver failures cause effect obsevables to complete
  libs/cart/src/effects/cart-address.effects.spec.ts
  libs/cart/src/effects/cart-address.effects.ts
  libs/cart/src/effects/cart-coupon.effects.spec.ts
  libs/cart/src/effects/cart-coupon.effects.ts
  libs/cart/src/effects/cart-order.effects.spec.ts
  libs/cart/src/effects/cart-order.effects.ts
  libs/cart/src/effects/cart-resolver.effects.spec.ts
  libs/cart/src/effects/cart-resolver.effects.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
Labels: @daffodil/cart, bug
