Repository graycoreio/daffodil, pull requests merged in 2020-01, with the labels that each got.

#526 feat(newsletter): added hubspot driver
  libs/newsletter/src/driver/hubspot/hubspot-driver.module.ts
  libs/newsletter/src/driver/hubspot/models/config.ts
  libs/newsletter/src/driver/hubspot/models/hubspot-response.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.spec.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.ts
  libs/newsletter/src/driver/injection-tokens/newsletter-config.token.ts
  libs/newsletter/src/driver/integration-tests/hubspot.service.spec.ts
  libs/newsletter/src/index.ts
  libs/newsletter/tsconfig.lib.json
Labels: @daffodil/newsletter

#532 Checkout Payment Refactor
  libs/checkout/src/checkout.module.ts
  libs/checkout/src/index.ts
  libs/checkout/src/payment/actions/payment.actions.ts
  libs/checkout/src/payment/containers/payment.component.spec.ts
  libs/checkout/src/payment/containers/payment.component.ts
  libs/checkout/src/payment/facades/payment.facade.spec.ts
  libs/checkout/src/payment/facades/payment.facade.ts
  libs/checkout/src/payment/payment-state.module.ts
  libs/checkout/src/payment/payment.module.ts
  libs/checkout/src/payment/reducers/index.spec.ts
  libs/checkout/src/payment/reducers/index.ts
  libs/checkout/src/payment/reducers/payment-reducers.interface.ts
  libs/checkout/src/payment/reducers/payment-reducers.spec.ts
  libs/checkout/src/payment/reducers/payment-reducers.ts
  libs/checkout/src/payment/reducers/payment.reducer.spec.ts
  libs/checkout/src/payment/reducers/payment.reducer.ts
  libs/checkout/src/payment/reducers/payment/payment-reducer.interface.ts
  libs/checkout/src/payment/reducers/payment/payment.reducer.spec.ts
  libs/checkout/src/payment/reducers/payment/payment.reducer.ts
  libs/checkout/src/payment/selectors/payment.selector.spec.ts
  libs/checkout/src/payment/selectors/payment.selector.ts
Labels: @daffodil/checkout

#525 feat(contact): added effects to contact library
  libs/contact/src/effects/contact.effects.spec.ts
  libs/contact/src/effects/contact.effects.ts
  libs/contact/testing/src/drivers/testing/contact.service.ts
Labels: @daffodil/contact

#539 feat(design): add prefix/suffix to button
  apps/design-land/src/app/button/button.component.html
  apps/design-land/src/app/button/button.component.ts
  libs/design/src/atoms/button/button.component.html
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/button/button.component.ts
  libs/design/src/atoms/button/button.module.ts
Labels: @daffodil/design

#541 refactor(design): add public_api file for design/core
  libs/design/src/core/colorable/colorable.ts
  libs/design/src/core/constructor/constructor.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable.ts
  libs/design/src/core/public_api.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#533 Checkout billing refactor
  libs/checkout/src/billing/actions/billing.actions.ts
  libs/checkout/src/billing/billing-state.module.ts
  libs/checkout/src/billing/billing.module.ts
  libs/checkout/src/billing/containers/billing.component.spec.ts
  libs/checkout/src/billing/containers/billing.component.ts
  libs/checkout/src/billing/facades/billing.facade.spec.ts
  libs/checkout/src/billing/facades/billing.facade.ts
  libs/checkout/src/billing/reducers/billing-reducers.interface.ts
  libs/checkout/src/billing/reducers/billing-reducers.spec.ts
  libs/checkout/src/billing/reducers/billing-reducers.ts
  libs/checkout/src/billing/reducers/billing.reducer.spec.ts
  libs/checkout/src/billing/reducers/billing.reducer.ts
  libs/checkout/src/billing/reducers/billing/billing-reducer.interface.ts
  libs/checkout/src/billing/reducers/billing/billing.reducer.spec.ts
  libs/checkout/src/billing/reducers/billing/billing.reducer.ts
  libs/checkout/src/billing/reducers/index.spec.ts
  libs/checkout/src/billing/reducers/index.ts
  libs/checkout/src/billing/selectors/billing.selector.spec.ts
  libs/checkout/src/billing/selectors/billing.selector.ts
  libs/checkout/src/checkout.module.ts
  libs/checkout/src/index.ts
Labels: @daffodil/checkout

#543 feat(newsletter): hide unnecessarily exported tokens from api
  libs/newsletter/integration-tests/drivers/hubspot.spec.ts
  libs/newsletter/src/driver/hubspot/hubspot-driver.module.ts
  libs/newsletter/src/driver/hubspot/models/config.ts
  libs/newsletter/src/driver/hubspot/models/hubspot-response.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.spec.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.ts
  libs/newsletter/src/driver/integration-tests/hubspot.service.spec.ts
Labels: @daffodil/newsletter

#542 feat(design): remove chevron mixin and update component usage
  libs/design/src/atoms/form/form-field/form-field.module.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.html
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.html
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.scss
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.spec.ts
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.ts
  libs/design/src/molecules/accordion/accordion.module.spec.ts
  libs/design/src/molecules/accordion/accordion.module.ts
  libs/design/src/scss/daff-util.scss
  libs/design/src/scss/icons/_chevron.scss
Labels: @daffodil/design

#528 feat(design): update list icon implementation to use prefix/suffix
  apps/design-land/src/app/list/list.component.html
  libs/design/src/molecules/list/list-item-icon/list-item-icon.directive.spec.ts
  libs/design/src/molecules/list/list-item-icon/list-item-icon.directive.ts
  libs/design/src/molecules/list/list-item/list-item.component.html
  libs/design/src/molecules/list/list-item/list-item.component.ts
  libs/design/src/molecules/list/list.md
  libs/design/src/molecules/list/list.module.ts
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/list/public_api.ts
Labels: @daffodil/design

#534 Checkout shipping refactor
  libs/checkout/src/checkout.module.ts
  libs/checkout/src/index.ts
  libs/checkout/src/shipping/actions/shipping.actions.ts
  libs/checkout/src/shipping/containers/shipping.component.spec.ts
  libs/checkout/src/shipping/containers/shipping.component.ts
  libs/checkout/src/shipping/facades/shipping.facade.spec.ts
  libs/checkout/src/shipping/facades/shipping.facade.ts
  libs/checkout/src/shipping/reducers/index.spec.ts
  libs/checkout/src/shipping/reducers/index.ts
  libs/checkout/src/shipping/reducers/shipping-reducers.interface.ts
  libs/checkout/src/shipping/reducers/shipping-reducers.spec.ts
  libs/checkout/src/shipping/reducers/shipping-reducers.ts
  libs/checkout/src/shipping/reducers/shipping.reducer.spec.ts
  libs/checkout/src/shipping/reducers/shipping.reducer.ts
  libs/checkout/src/shipping/reducers/shipping/shipping-reducer.interface.ts
  libs/checkout/src/shipping/reducers/shipping/shipping.reducer.spec.ts
  libs/checkout/src/shipping/reducers/shipping/shipping.reducer.ts
  libs/checkout/src/shipping/selectors/shipping.selectors.spec.ts
  libs/checkout/src/shipping/selectors/shipping.selectors.ts
  libs/checkout/src/shipping/shipping-state.module.ts
  libs/checkout/src/shipping/shipping.module.ts
Labels: @daffodil/checkout

#544 feat(driver): added core hubspot driver for contact/newsletter libraries
  libs/driver/hubspot/ng-package.json
  libs/driver/hubspot/package.json
  libs/driver/hubspot/src/hubspot-forms.service.spec.ts
  libs/driver/hubspot/src/hubspot-forms.service.ts
  libs/driver/hubspot/src/index.ts
  libs/driver/hubspot/src/models/config.ts
  libs/driver/hubspot/src/models/hubspot-request.ts
  libs/driver/hubspot/src/transformers/hubspot-forms.transformer.spec.ts
  libs/driver/hubspot/src/transformers/hubspot-forms.transformer.ts
  libs/driver/hubspot/src/transformers/json-builder.spec.ts
  libs/driver/hubspot/src/transformers/json-builder.ts
  tsconfig.json
Labels: @daffodil/driver

#545 feat(contact): added hubspot driver
  libs/contact/integration-tests/hubspot.service.spec.ts
  libs/contact/package.json
  libs/contact/src/driver/hubspot/contact.service.ts
  libs/contact/src/driver/hubspot/hubspot-driver.module.ts
  libs/contact/src/driver/hubspot/transformers/contact.transformer.ts
  libs/contact/src/driver/injection-tokens/contact-config.token.ts
  libs/contact/src/driver/injection-tokens/contact-transfomer.token.ts
  libs/contact/src/driver/interfaces/contact-transformer.interface.ts
  libs/contact/src/index.ts
Labels: @daffodil/contact

#546 feat(newsletter): updated newsletter hubspot driver to use driver lib…
  libs/newsletter/package.json
  libs/newsletter/src/driver/hubspot/hubspot-driver.module.ts
  libs/newsletter/src/driver/hubspot/models/config.ts
  libs/newsletter/src/driver/hubspot/models/hubspot-response.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.spec.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/json-builder.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.spec.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.ts
Labels: @daffodil/newsletter

#552 fix(demo): add a missing config path to the demo-dev tsconfig
  apps/demo/tsconfig.dev.json
Labels: @daffodil/demo

#549 feat(checkout): add driver tokens, interfaces, and models for orders …
  libs/checkout/src/drivers/injection-tokens/order-driver.token.ts
  libs/checkout/src/drivers/injection-tokens/payment-driver.token.ts
  libs/checkout/src/drivers/interfaces/order-service.interface.ts
  libs/checkout/src/drivers/interfaces/payment-service.interface.ts
  libs/checkout/src/index.ts
  libs/checkout/src/models/cart-process-request.ts
  libs/checkout/src/models/payment/credit-card.ts
Labels: @daffodil/checkout

#535 Checkout order refactor
  libs/checkout/src/checkout.module.ts
  libs/checkout/src/index.ts
  libs/checkout/src/order/actions/order.actions.ts
  libs/checkout/src/order/containers/order.component.spec.ts
  libs/checkout/src/order/containers/order.component.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/effects/order.effects.ts
  libs/checkout/src/order/facades/order.facade.spec.ts
  libs/checkout/src/order/facades/order.facade.ts
  libs/checkout/src/order/order-state.module.ts
  libs/checkout/src/order/order.module.ts
  libs/checkout/src/order/reducers/index.spec.ts
  libs/checkout/src/order/reducers/index.ts
  libs/checkout/src/order/reducers/order-reducers.interface.ts
  libs/checkout/src/order/reducers/order-reducers.spec.ts
  libs/checkout/src/order/reducers/order-reducers.ts
  libs/checkout/src/order/reducers/order.reducer.spec.ts
  libs/checkout/src/order/reducers/order.reducer.ts
  libs/checkout/src/order/reducers/order/order-reducer.interface.ts
  libs/checkout/src/order/reducers/order/order.reducer.spec.ts
  libs/checkout/src/order/reducers/order/order.reducer.ts
  libs/checkout/src/order/selectors/order.selector.spec.ts
  libs/checkout/src/order/selectors/order.selector.ts
Labels: @daffodil/checkout

#555 feat(design): update container classes to use HostBinding
  libs/design/src/atoms/container/container.component.spec.ts
  libs/design/src/atoms/container/container.component.ts
Labels: @daffodil/design

#557 feat(design): update progress indicator class to use HostBinding
  libs/design/src/atoms/progress-indicator/progress-indicator.component.spec.ts
  libs/design/src/atoms/progress-indicator/progress-indicator.component.ts
Labels: @daffodil/design

#558 feat(design): update accordion class to use HostBinding
  libs/design/src/molecules/accordion/accordion-item-content/accordion-item-content.directive.spec.ts
  libs/design/src/molecules/accordion/accordion-item-content/accordion-item-content.directive.ts
  libs/design/src/molecules/accordion/accordion-item-title/accordion-item-title.directive.spec.ts
  libs/design/src/molecules/accordion/accordion-item-title/accordion-item-title.directive.ts
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.ts
Labels: @daffodil/design

#560 feat(design): update card class to use HostBinding
  libs/design/src/molecules/card/card-image/card-image.directive.spec.ts
  libs/design/src/molecules/card/card-image/card-image.directive.ts
  libs/design/src/molecules/card/card-title/card-title.directive.spec.ts
  libs/design/src/molecules/card/card-title/card-title.directive.ts
  libs/design/src/molecules/card/card/card.component.spec.ts
  libs/design/src/molecules/card/card/card.component.ts
Labels: @daffodil/design

#561 feat(design): update feature class to use HostBinding
  libs/design/src/molecules/feature/feature-icon/feature-icon.directive.spec.ts
  libs/design/src/molecules/feature/feature-icon/feature-icon.directive.ts
  libs/design/src/molecules/feature/feature-subheader/feature-subheader.directive.spec.ts
  libs/design/src/molecules/feature/feature-subheader/feature-subheader.directive.ts
  libs/design/src/molecules/feature/feature-subtitle/feature-subtitle.directive.spec.ts
  libs/design/src/molecules/feature/feature-subtitle/feature-subtitle.directive.ts
  libs/design/src/molecules/feature/feature-title/feature-title.directive.spec.ts
  libs/design/src/molecules/feature/feature-title/feature-title.directive.ts
  libs/design/src/molecules/feature/feature/feature.component.spec.ts
  libs/design/src/molecules/feature/feature/feature.component.ts
Labels: @daffodil/design

#562 feat(design): update image-list class to use HostBinding
  libs/design/src/molecules/image-list/image-list.component.spec.ts
  libs/design/src/molecules/image-list/image-list.component.ts
Labels: @daffodil/design

#553 feat(design): remove error message dependency on form-field
  libs/design/src/atoms/form/error-message/error-message-theme.scss
  libs/design/src/atoms/form/error-message/error-message.component.scss
  libs/design/src/atoms/form/error-message/error-message.component.spec.ts
  libs/design/src/atoms/form/error-message/error-message.component.ts
  libs/design/src/atoms/form/error-message/error-message.md
  libs/design/src/atoms/form/error-message/error-message.module.ts
  libs/design/src/atoms/form/error-message/public_api.ts
  libs/design/src/atoms/form/form-field/error-message/error-message.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field.module.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/public_api.ts
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#563 feat(design): update list classes to use HostBinding
  libs/design/src/molecules/list/list-item/list-item.component.spec.ts
  libs/design/src/molecules/list/list-item/list-item.component.ts
  libs/design/src/molecules/list/list-subheader/list-subheader.directive.spec.ts
  libs/design/src/molecules/list/list-subheader/list-subheader.directive.ts
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/list/list/list.component.spec.ts
  libs/design/src/molecules/list/list/list.component.ts
Labels: @daffodil/design

#570 feat(core): add daff persistence API with localstorage implementation
  libs/core/src/index.ts
  libs/core/src/storage/localstorage/localstorage.service.spec.ts
  libs/core/src/storage/localstorage/localstorage.service.ts
  libs/core/src/storage/persistence.interface.ts
  libs/core/src/storage/public_api.ts
Labels: @daffodil/core

#574 fix(demo): add proper deps for demo to build via lerna
  apps/demo/package.json
Labels: @daffodil/demo

#571 feat(cart): add cart id storage mechanism for persistent state
  libs/cart/src/storage/cart-storage.service.spec.ts
  libs/cart/src/storage/cart-storage.service.ts
Labels: @daffodil/cart

#556 feat(design): update loading icon class to use HostBinding
  libs/design/src/atoms/loading-icon/loading-icon.component.scss
  libs/design/src/atoms/loading-icon/loading-icon.component.spec.ts
  libs/design/src/atoms/loading-icon/loading-icon.component.ts
Labels: @daffodil/design

#572 feat(cart, demo, checkout): make cart semi-generic
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.spec.ts
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.ts
  libs/cart/src/drivers/injection-tokens/cart-driver.token.ts
  libs/cart/src/drivers/interfaces/cart-service.interface.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/testing/src/drivers/in-memory/cart.service.ts
  libs/cart/testing/src/drivers/testing/cart.service.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/effects/order.effects.ts
Labels: @daffodil/cart

#578 feat(category): add selectors for selecting multiple categories
  libs/category/src/facades/category.facade.spec.ts
  libs/category/src/facades/category.facade.ts
  libs/category/src/index.ts
  libs/category/src/selectors/category.selector.spec.ts
  libs/category/src/selectors/category.selector.ts
Labels: @daffodil/category

#577 feat(geography): add @daffodil/geography package
  CONTRIBUTING.md
  README.md
  angular.json
  libs/geography/README.md
  libs/geography/guides/installation.md
  libs/geography/karma.conf.js
  libs/geography/ng-package.json
  libs/geography/package.json
  libs/geography/src/index.ts
  libs/geography/src/lib/nothing.spec.ts
  libs/geography/src/test.ts
  libs/geography/tsconfig.lib.json
  libs/geography/tsconfig.spec.json
  libs/geography/tslint.json
  tsconfig.json
Labels: @daffodil/geography

#580 refactor(design): move input component outside of subfolder
  libs/design/src/atoms/form/input/input-theme.scss
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/form/input/input.component.spec.ts
  libs/design/src/atoms/form/input/input.component.ts
  libs/design/src/atoms/form/input/input.md
  libs/design/src/atoms/form/input/input.module.ts
  libs/design/src/atoms/form/input/public_api.ts
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design
