Repository graycoreio/daffodil, pull requests merged in 2020-05, with the labels that each got.

#822 feat(auth): add guest and member router guards
  libs/auth/src/actions/auth.actions.ts
  libs/auth/src/effects/auth.effects.spec.ts
  libs/auth/src/effects/auth.effects.ts
  libs/auth/src/guards/guest-only.guard.spec.ts
  libs/auth/src/guards/guest-only.guard.ts
  libs/auth/src/guards/member-only.guard.spec.ts
  libs/auth/src/guards/member-only.guard.ts
  libs/auth/src/guards/public_api.ts
  libs/auth/src/index.ts
Labels: @daffodil/auth, feat

#865 feat(auth): add auth token storage service
  libs/auth/src/actions/auth.actions.ts
  libs/auth/src/effects/auth.effects.spec.ts
  libs/auth/src/effects/auth.effects.ts
  libs/auth/src/index.ts
  libs/auth/src/storage/auth-storage.service.spec.ts
  libs/auth/src/storage/auth-storage.service.ts
Labels: @daffodil/auth, feat

#862 feat(cart): add Magento cart coupon driver
  libs/cart/src/drivers/magento/cart-coupon.service.spec.ts
  libs/cart/src/drivers/magento/cart-coupon.service.ts
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-coupon-response.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-coupon-response.service.ts
Labels: @daffodil/cart

#869 build(tools): bump library optional dependencies during release
  tools/release/gulpfile.ts
  tools/release/version/leaf-version.ts
Labels: bug, dependencies

#870 feat(order): add order package and module
  angular.json
  libs/order/README.md
  libs/order/karma.conf.js
  libs/order/ng-package.json
  libs/order/package.json
  libs/order/src/drivers/ng-package.json
  libs/order/src/drivers/package.json
  libs/order/src/drivers/src/index.ts
  libs/order/src/index.ts
  libs/order/src/order-state.module.ts
  libs/order/src/order.module.ts
  libs/order/src/stub.spec.ts
  libs/order/test.ts
  libs/order/testing/ng-package.json
  libs/order/testing/package.json
  libs/order/testing/src/index.ts
  libs/order/tsconfig.lib.json
  libs/order/tsconfig.spec.json
  libs/order/tslint.json
  tsconfig.json
Labels: @daffodil/order

#873 feat(geography): add personal address factory
  libs/geography/testing/src/factories/address.factory.spec.ts
  libs/geography/testing/src/factories/address.factory.ts
  libs/geography/testing/src/factories/personal-address.factory.spec.ts
  libs/geography/testing/src/factories/personal-address.factory.ts
  libs/geography/testing/src/factories/public_api.ts
Labels: @daffodil/geography, feat

#871 fix(cart): default available shipping methods value to an array
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
Labels: @daffodil/cart

#874 feat(product): add models for magento and daffodil configurable produ…
  libs/core/src/index.ts
  libs/core/src/sortable/sortable.ts
  libs/product/src/drivers/magento/models/configurable-product.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/index.ts
  libs/product/src/models/configurable-product.ts
Labels: @daffodil/product

#872 feat(order): add models and model factories
  libs/order/package.json
  libs/order/src/index.ts
  libs/order/src/models/order-address.ts
  libs/order/src/models/order-coupon.ts
  libs/order/src/models/order-credit.ts
  libs/order/src/models/order-invoice-item.ts
  libs/order/src/models/order-invoice.ts
  libs/order/src/models/order-item.ts
  libs/order/src/models/order-payment.ts
  libs/order/src/models/order-shipment-item.ts
  libs/order/src/models/order-shipment-tracking.ts
  libs/order/src/models/order-shipment.ts
  libs/order/src/models/order-shipping-method.ts
  libs/order/src/models/order-total.ts
  libs/order/src/models/order.ts
  libs/order/src/models/public_api.ts
  libs/order/testing/src/factories/order-address.factory.spec.ts
  libs/order/testing/src/factories/order-address.factory.ts
  libs/order/testing/src/factories/order-coupon.factory.spec.ts
  libs/order/testing/src/factories/order-coupon.factory.ts
  libs/order/testing/src/factories/order-invoice.factory.spec.ts
  libs/order/testing/src/factories/order-invoice.factory.ts
  libs/order/testing/src/factories/order-item.factory.spec.ts
  libs/order/testing/src/factories/order-item.factory.ts
  libs/order/testing/src/factories/order-payment.factory.spec.ts
  libs/order/testing/src/factories/order-payment.factory.ts
  libs/order/testing/src/factories/order-shipment-item.factory.spec.ts
  libs/order/testing/src/factories/order-shipment-item.factory.ts
  libs/order/testing/src/factories/order-shipment-tracking.factory.spec.ts
  libs/order/testing/src/factories/order-shipment-tracking.factory.ts
  libs/order/testing/src/factories/order-shipment.factory.spec.ts
  libs/order/testing/src/factories/order-shipment.factory.ts
  libs/order/testing/src/factories/order-shipping-rate.factory.spec.ts
  libs/order/testing/src/factories/order-shipping-rate.factory.ts
  libs/order/testing/src/factories/order-total.factory.spec.ts
  libs/order/testing/src/factories/order-total.factory.ts
  libs/order/testing/src/factories/order.factory.spec.ts
  libs/order/testing/src/factories/order.factory.ts
  libs/order/testing/src/factories/public_api.ts
  libs/order/testing/src/index.ts
Labels: @daffodil/order, feat

#875 feat(product): add query fragments for configurable products
  libs/product/src/drivers/magento/queries/fragments/configurable-product.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
Labels: @daffodil/product

#868 feat(checkout): deprecate checkout/order
  libs/checkout/src/drivers/interfaces/order-service.interface.ts
  libs/checkout/src/models/order/order-address.ts
  libs/checkout/src/models/order/order-item.ts
  libs/checkout/src/models/order/order-payment.ts
  libs/checkout/src/models/order/order-shipping-rate.ts
  libs/checkout/src/models/order/order.ts
  libs/checkout/src/order/actions/order.actions.ts
  libs/checkout/src/order/containers/order.component.ts
  libs/checkout/src/order/effects/order.effects.ts
  libs/checkout/src/order/facades/order.facade.ts
  libs/checkout/src/order/order-state.module.ts
  libs/checkout/src/order/order.module.ts
  libs/checkout/src/order/reducers/order-reducers.interface.ts
  libs/checkout/src/order/reducers/order-reducers.ts
  libs/checkout/src/order/reducers/order/order-reducer.interface.ts
  libs/checkout/src/order/reducers/order/order.reducer.ts
  libs/checkout/src/order/selectors/order.selector.ts
  libs/checkout/testing/src/order/factories/order-address.factory.ts
  libs/checkout/testing/src/order/factories/order-item.factory.ts
  libs/checkout/testing/src/order/factories/order-payment.factory.ts
  libs/checkout/testing/src/order/factories/order-shipping-rate.factory.ts
  libs/checkout/testing/src/order/factories/order.factory.ts
Labels: @daffodil/checkout

#878 feat(order): add basic driver interface
  libs/order/src/drivers/interfaces/order-service.interface.ts
  libs/order/src/index.ts
Labels: @daffodil/order

#879 feat(order): add order load and list actions
  libs/order/src/actions/order.actions.ts
  libs/order/src/index.ts
Labels: @daffodil/order

#880 feat(cart): add order in-memory driver
  libs/cart/src/drivers/public_api.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/drivers/in-memory/cart-order/cart-order.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-order/cart-order.service.ts
  libs/cart/testing/src/in-memory-backend/cart-order/cart-order.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-order/cart-order.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart

#866 feat(demo): add auth module
  apps/demo/package.json
  apps/demo/src/app/auth/auth-state.module.ts
  apps/demo/src/app/auth/auth.module.ts
  apps/demo/src/app/auth/effects/auth.effects.spec.ts
  apps/demo/src/app/auth/effects/auth.effects.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
  apps/demo/src/app/drivers/in-memory/in-memory.module.ts
  apps/demo/src/app/drivers/magento/magento.module.ts
Labels: @daffodil/demo, feat

#876 feat(product): add configurable product transformer and factories
  angular.json
  libs/product/src/drivers/magento/transforms/configurable-product-transformer.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/src/drivers/magento/transforms/product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-configurable-product.json
  libs/product/src/models/configurable-product.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/configurable-product.factory.spec.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.spec.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.ts
  libs/product/testing/src/factories/magento/public_api.ts
  libs/product/testing/src/index.ts
  libs/product/tsconfig.spec.json
Labels: @daffodil/product

#877 feat(cart): implement adding configurable products to cart
  libs/cart/src/drivers/magento/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/cart-item.service.ts
  libs/cart/src/drivers/magento/models/inputs/cart-item.ts
  libs/cart/src/drivers/magento/models/responses/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/public_api.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-input-transformers.spec.ts
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-input-transformers.ts
  libs/cart/src/models/cart-item-input.ts
Labels: @daffodil/cart

#884 feat(product): add configurable product actions and reducers
  libs/product/src/actions/configurable-product.actions.ts
  libs/product/src/index.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities-reducer-adapter.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
  libs/product/src/reducers/product-reducers-state.interface.ts
  libs/product/src/reducers/product-reducers.ts
Labels: @daffodil/product

#886 feat(cart): add coupon in-memory driver and backend
  libs/cart/testing/src/drivers/in-memory/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-coupon/cart-coupon.service.ts
  libs/cart/testing/src/drivers/in-memory/cart-driver.module.ts
  libs/cart/testing/src/in-memory-backend/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-coupon/cart-coupon.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart, feat

#890 test(cart): improve in-memory backend coupon spec
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
Labels: @daffodil/cart, test

#888 feat(geography): add in-memory driver and backend
  libs/geography/testing/src/drivers/in-memory/geography-driver.module.ts
  libs/geography/testing/src/drivers/in-memory/geography.service.spec.ts
  libs/geography/testing/src/drivers/in-memory/geography.service.ts
  libs/geography/testing/src/drivers/public_api.ts
  libs/geography/testing/src/index.ts
  libs/geography/testing/src/inmemory-backend/geography.service.integration.spec.ts
  libs/geography/testing/src/inmemory-backend/geography.service.spec.ts
  libs/geography/testing/src/inmemory-backend/geography.service.ts
Labels: @daffodil/geography, feat

#889 feat(product): add a field to the product facade for selecting a prod…
  libs/product/src/facades/product/product-facade.interface.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/facades/product/product.facade.ts
  libs/product/src/selectors/product/product.selectors.ts
  libs/product/testing/src/helpers/mock-product-facade.ts
Labels: @daffodil/product

#895 fix(product): fix magento configurable product query
  libs/product/src/drivers/magento/models/configurable-product.ts
  libs/product/src/drivers/magento/queries/fragments/configurable-product.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformer.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.ts
Labels: @daffodil/product, bug

#896 feat(design): add sizeable as a core interface
  libs/design/src/core/sizeable/sizeable-mixin.ts
  libs/design/src/core/sizeable/sizeable.spec.ts
  libs/design/src/core/sizeable/sizeable.ts
Labels: @daffodil/design

#899 feat(order): add effects for loading and listing orders
  libs/order/src/effects/order.effects.spec.ts
  libs/order/src/effects/order.effects.ts
  libs/order/src/order-state.module.ts
Labels: @daffodil/order, feat

#900 feat(cart): add selector for cart item discounted total
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#902 feat(geography): add country and subdivision selectors
  libs/geography/src/facades/geography/geography-facade.interface.ts
  libs/geography/src/facades/geography/geography.facade.spec.ts
  libs/geography/src/facades/geography/geography.facade.ts
  libs/geography/src/selectors/country-entities.selector.spec.ts
  libs/geography/src/selectors/country-entities.selector.ts
  libs/geography/testing/src/helpers/mock-geography-facade.ts
Labels: @daffodil/geography, feat

#904 fix(product): fix configurable product query
  libs/product/src/drivers/magento/queries/fragments/configurable-product.ts
Labels: @daffodil/product, bug

#905 feat(product): add discount field to DaffProduct
  libs/product/src/drivers/magento/models/magento-product.ts
  libs/product/src/drivers/magento/queries/fragments/configurable-product.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformer.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-bundled-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-configurable-product.json
  libs/product/src/models/configurable-product.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.spec.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.ts
  libs/product/testing/src/factories/magento/core/product.factory.spec.ts
  libs/product/testing/src/factories/magento/core/product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#887 Add configurable product selectors and facade
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/index.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
  libs/product/src/selectors/all-selectors.selectors.ts
  libs/product/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product/src/selectors/configurable-product-entities/configurable-product-entities.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.spec.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
  libs/product/testing/src/helpers/product-testing.module.ts
Labels: @daffodil/product

#912 feat(order): add testing driver
  libs/order/testing/src/drivers/public_api.ts
  libs/order/testing/src/drivers/testing/order-driver.module.ts
  libs/order/testing/src/drivers/testing/order.service.spec.ts
  libs/order/testing/src/drivers/testing/order.service.ts
  libs/order/testing/src/index.ts
Labels: @daffodil/order, feat

#911 feat(geography): add testing driver
  libs/geography/testing/src/drivers/public_api.ts
  libs/geography/testing/src/drivers/testing/geography-driver.module.ts
  libs/geography/testing/src/drivers/testing/geography.service.spec.ts
  libs/geography/testing/src/drivers/testing/geography.service.ts
Labels: @daffodil/geography, feat

#910 test(auth, geography, order): fix package names in spec messages
  libs/auth/testing/src/factories/customer-registration.factory.spec.ts
  libs/geography/testing/src/drivers/in-memory/geography.service.spec.ts
  libs/geography/testing/src/factories/address.factory.spec.ts
  libs/order/testing/src/factories/order-address.factory.spec.ts
  libs/order/testing/src/factories/order-coupon.factory.spec.ts
  libs/order/testing/src/factories/order-item.factory.spec.ts
  libs/order/testing/src/factories/order-payment.factory.spec.ts
  libs/order/testing/src/factories/order-shipping-rate.factory.spec.ts
  libs/order/testing/src/factories/order.factory.spec.ts
Labels: @daffodil/auth, @daffodil/geography, @daffodil/order, test

#908 feat(cart): add canPlaceOrder selector
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart, feat

#864 feat(design): created DaffCheckbox and DaffCheckboxSet components
  libs/design/src/atoms/form/checkbox-set/checkbox-set.component.html
  libs/design/src/atoms/form/checkbox-set/checkbox-set.component.scss
  libs/design/src/atoms/form/checkbox-set/checkbox-set.component.ts
  libs/design/src/atoms/form/checkbox/checkbox.component.html
  libs/design/src/atoms/form/checkbox/checkbox.component.scss
  libs/design/src/atoms/form/checkbox/checkbox.component.spec.ts
  libs/design/src/atoms/form/checkbox/checkbox.component.ts
  libs/design/src/atoms/form/checkbox/checkbox.module.ts
  libs/design/src/atoms/form/checkbox/cva/checkbox-cva.directive.spec.ts
  libs/design/src/atoms/form/checkbox/cva/checkbox-cva.directive.ts
  libs/design/src/atoms/form/checkbox/public_api.ts
  libs/design/src/atoms/form/checkbox/specs/checkbox-accessibility.spec.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#906 feat(cart): add billing and shipping address in-memory backends
  libs/cart/testing/src/in-memory-backend/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-billing-address/cart-billing-address.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-address/cart-shipping-address.service.ts
Labels: @daffodil/cart, feat

#815 feat(design): initialized DaffRadioComponent
  libs/design/src/atoms/form/radio-set/radio-set.component.html
  libs/design/src/atoms/form/radio-set/radio-set.component.scss
  libs/design/src/atoms/form/radio-set/radio-set.component.spec.ts
  libs/design/src/atoms/form/radio-set/radio-set.component.ts
  libs/design/src/atoms/form/radio/cva/radio-cva.directive.spec.ts
  libs/design/src/atoms/form/radio/cva/radio-cva.directive.ts
  libs/design/src/atoms/form/radio/public_api.ts
  libs/design/src/atoms/form/radio/radio.component.ts
  libs/design/src/atoms/form/radio/radio.html
  libs/design/src/atoms/form/radio/radio.module.ts
  libs/design/src/atoms/form/radio/radio.scss
  libs/design/src/atoms/form/radio/radio.spec.ts
  libs/design/src/atoms/form/radio/registry/radio-registry.spec.ts
  libs/design/src/atoms/form/radio/registry/radio-registry.ts
  libs/design/src/atoms/form/radio/specs/radio-with-set.spec.ts
  libs/design/src/atoms/form/radio/specs/radio.accessibility.spec.ts
  libs/design/src/atoms/form/radio/specs/radio.cva.spec.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#892 feat(design-land): Code Preview Component for design-land
  apps/design-land/src/app/core/code-preview/component/code-preview.component.html
  apps/design-land/src/app/core/code-preview/component/code-preview.component.scss
  apps/design-land/src/app/core/code-preview/component/code-preview.component.spec.ts
  apps/design-land/src/app/core/code-preview/component/code-preview.component.ts
  apps/design-land/src/app/core/code-preview/component/code-preview.module.ts
  apps/design-land/src/app/core/code-preview/container/example-viewer.component.html
  apps/design-land/src/app/core/code-preview/container/example-viewer.component.spec.ts
  apps/design-land/src/app/core/code-preview/container/example-viewer.component.ts
  apps/design-land/src/app/core/code-preview/container/example-viewer.module.ts
  apps/design-land/src/app/core/code-preview/model/code-example.ts
  apps/design-land/src/app/core/code-preview/service/code-example.service.spec.ts
  apps/design-land/src/app/core/code-preview/service/code-example.service.ts
Labels: docs

#909 feat(order): add in-memory driver and backend
  libs/order/testing/src/drivers/in-memory/order-driver.module.ts
  libs/order/testing/src/drivers/in-memory/order.service.spec.ts
  libs/order/testing/src/drivers/in-memory/order.service.ts
  libs/order/testing/src/drivers/public_api.ts
  libs/order/testing/src/helpers/order-helper.ts
  libs/order/testing/src/helpers/public_api.ts
  libs/order/testing/src/index.ts
  libs/order/testing/src/inmemory-backend/order.service.integration.spec.ts
  libs/order/testing/src/inmemory-backend/order.service.spec.ts
  libs/order/testing/src/inmemory-backend/order.service.ts
Labels: @daffodil/order, feat

#898 feat(product): change the type of DaffProduct.price to number
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformer.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/models/composite-product-item.ts
  libs/product/src/models/configurable-product.ts
  libs/product/src/models/product.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.spec.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#917 feat(cart): add shipping and payment methods in-memory backends
  libs/cart/testing/src/in-memory-backend/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-methods/cart-shipping-methods.service.ts
Labels: @daffodil/cart, feat

#893 feat(design): added article component examples
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/article/article.component.html
  apps/design-land/src/app/article/article.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/article/examples/ng-package.json
  libs/design/article/examples/package.json
  libs/design/article/examples/src/article-blockquote/article-blockquote.component.html
  libs/design/article/examples/src/article-blockquote/article-blockquote.component.ts
  libs/design/article/examples/src/article-code-block/article-code-block.component.html
  libs/design/article/examples/src/article-code-block/article-code-block.component.ts
  libs/design/article/examples/src/article-code-inline/article-code-inline.component.html
  libs/design/article/examples/src/article-code-inline/article-code-inline.component.ts
  libs/design/article/examples/src/article-examples.module.ts
  libs/design/article/examples/src/article-headings/article-headings.component.html
  libs/design/article/examples/src/article-headings/article-headings.component.ts
  libs/design/article/examples/src/article-hr/article-hr.component.html
  libs/design/article/examples/src/article-hr/article-hr.component.ts
  libs/design/article/examples/src/article-lead/article-lead.component.html
  libs/design/article/examples/src/article-lead/article-lead.component.ts
  libs/design/article/examples/src/article-link/article-link.component.html
  libs/design/article/examples/src/article-link/article-link.component.ts
  libs/design/article/examples/src/article-meta/article-meta.component.html
  libs/design/article/examples/src/article-meta/article-meta.component.ts
  libs/design/article/examples/src/article-ol/article-ol.component.html
  libs/design/article/examples/src/article-ol/article-ol.component.ts
  libs/design/article/examples/src/article-ul/article-ul.component.html
  libs/design/article/examples/src/article-ul/article-ul.component.ts
  libs/design/article/examples/src/examples.ts
  libs/design/article/examples/src/index.ts
  libs/design/article/examples/src/public_api.ts
  tsconfig.json
Labels: docs
