Repository graycoreio/daffodil, pull requests merged in 2020-09, with the labels that each got.

#1055 feat(authorizenet): add error for authorizenet config
  libs/authorizenet/src/drivers/magento/authorize-net.module.ts
Labels: @daffodil/authorizenet

#1057 fix(cart): not all available shipping methods returned by update
  libs/cart/src/drivers/magento/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.spec.ts
  libs/cart/src/drivers/magento/models/responses/list-shipping-methods.ts
  libs/cart/src/drivers/magento/queries/list-shipping-methods.ts
Labels: @daffodil/cart, bug

#1058 refactor(cart): revert unneeded magento cart shipping method code
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
Labels: @daffodil/cart

#1059 feat(product): default composite product item options are completely …
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
Labels: @daffodil/product

#1061 In Stock field for products and cart items
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/models/configurable-product.ts
  libs/product/src/models/product.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.spec.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/cart, @daffodil/product

#1062 feat(product): add selector for whether a composite product item is r…
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product

#1064 feat(cart): add selector for whether the cart has out of stock items
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1066 fix(cart): cart totals transformer crashes for no shipping addresses
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.ts
Labels: @daffodil/cart, bug

#1065 feat(cart): add platform agnostic payment method ID facade field
  libs/cart/src/cart.module.ts
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/src/guards/order-result/order-result.guard.spec.ts
  libs/cart/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/src/index.ts
  libs/cart/src/injection-tokens/payment-method-map.ts
  libs/cart/src/injection-tokens/public_api.ts
  libs/cart/testing/src/helpers/cart-testing.module.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1069 test(product): explicitly set up tests for discounts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
Labels: @daffodil/product, fix, test

#1067 fix(order): wrong cart ID GraphQL variable type
  libs/order/driver/src/magento/queries/get-guest-orders.ts
Labels: @daffodil/order, bug

#1070 feat(product): update the composite product option price and add disc…
  libs/product/src/drivers/magento/queries/fragments/bundled-product.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-bundled-product.json
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
Labels: @daffodil/product

#1072 fix(order): driver errors cause effect observables to complete
  libs/order/src/effects/order.effects.spec.ts
  libs/order/src/effects/order.effects.ts
Labels: @daffodil/order, fix

#1073 feat(cart): export order result guard
  libs/cart/src/cart.module.ts
  libs/cart/src/guards/public_api.ts
Labels: @daffodil/cart

#1071 fix(cart): a null shipping total should be null instead of zero
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.ts
  libs/cart/src/models/cart-total.ts
Labels: @daffodil/cart, bug

#1076 fix(authorizenet): incorrectly passing error message to failure action
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.ts
Labels: @daffodil/authorizenet, bug

#1078 feat(product): add selectors for configurable and simple product perc…
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/facades/product/product-facade.interface.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/facades/product/product.facade.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
  libs/product/testing/src/helpers/mock-product-facade.ts
Labels: @daffodil/product
