Repository graycoreio/daffodil, pull requests merged in 2020-02, with the labels that each got.

#566 feat(authorizenet): add Authorize.net (Accept.js) package
  angular.json
  libs/authorizenet/README.md
  libs/authorizenet/karma.conf.js
  libs/authorizenet/ng-package.json
  libs/authorizenet/ng-package.prod.json
  libs/authorizenet/package.json
  libs/authorizenet/src/actions/authorizenet.actions.ts
  libs/authorizenet/src/authorize-net-state.module.ts
  libs/authorizenet/src/authorize-net.module.ts
  libs/authorizenet/src/drivers/authorize-net.module.ts
  libs/authorizenet/src/drivers/authorize-net.service.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-config.token.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-driver.token.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-transformer.token.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-config.interface.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-service.interface.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-transformer.interface.ts
  libs/authorizenet/src/drivers/transformers/authorize-net-transformer.service.spec.ts
  libs/authorizenet/src/drivers/transformers/authorize-net-transformer.service.ts
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.ts
  libs/authorizenet/src/facades/authorize-net.facade.spec.ts
  libs/authorizenet/src/facades/authorize-net.facade.ts
  libs/authorizenet/src/index.ts
  libs/authorizenet/src/models/acceptJs/accept.ts
  libs/authorizenet/src/models/request/authorize-net-credit-card.ts
  libs/authorizenet/src/models/request/authorize-net-request.ts
  libs/authorizenet/src/models/request/authorize-net-token-request.ts
  libs/authorizenet/src/models/request/credit-card.ts
  libs/authorizenet/src/models/response/authorize-net-message.ts
  libs/authorizenet/src/models/response/authorize-net-messages.ts
  libs/authorizenet/src/models/response/authorize-net-opaque-data.ts
  libs/authorizenet/src/models/response/authorize-net-response.ts
  libs/authorizenet/src/models/response/authorize-net-token-response.ts
  libs/authorizenet/src/reducers/authorize-net-reducers.interface.ts
  libs/authorizenet/src/reducers/authorize-net.reducers.spec.ts
  libs/authorizenet/src/reducers/authorize-net.reducers.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net-reducer.interface.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.ts
  libs/authorizenet/src/selectors/authorize-net.selector.spec.ts
  libs/authorizenet/src/selectors/authorize-net.selector.ts
  libs/authorizenet/test.ts
  libs/authorizenet/tsconfig.lib.json
  libs/authorizenet/tsconfig.spec.json
  libs/authorizenet/tslint.json
  libs/checkout/src/drivers/injection-tokens/payment-transformer.token.ts
  libs/checkout/src/drivers/interfaces/payment-service.interface.ts
  libs/checkout/src/index.ts
  tsconfig.json
Labels: @daffodil/authorizenet

#599 feat(auth): basic package w/ interfaces
  angular.json
  libs/auth/README.md
  libs/auth/karma.conf.js
  libs/auth/ng-package.json
  libs/auth/ng-package.prod.json
  libs/auth/package.json
  libs/auth/src/auth.module.ts
  libs/auth/src/index.ts
  libs/auth/src/interfaces/auth-facade.interface.ts
  libs/auth/src/models/account-registration.ts
  libs/auth/src/models/auth-token.ts
  libs/auth/src/models/customer-registration.ts
  libs/auth/src/models/login-request.ts
  libs/auth/src/models/login-response.ts
  libs/auth/src/models/register-request.ts
  libs/auth/src/models/register-response.ts
  libs/auth/src/stub.spec.ts
  libs/auth/test.ts
  libs/auth/testing/ng-package.json
  libs/auth/testing/package.json
  libs/auth/testing/src/index.ts
  libs/auth/tsconfig.lib.json
  libs/auth/tsconfig.spec.json
  libs/auth/tslint.json
  tsconfig.json
Labels: @daffodil/auth

#588 feat(category): make category inmemory api capable of taking page_siz…
  libs/category/testing/src/drivers/in-memory/category.service.spec.ts
  libs/category/testing/src/drivers/in-memory/category.service.ts
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
  libs/product/testing/src/inmemory-backend/product.service.ts
Labels: @daffodil/category

#605 feat(auth): make package unpublishable
  libs/auth/package.json
Labels: @daffodil/auth

#606 feat(demo): replace bad tax calculation code with stub
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.html
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.spec.ts
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.ts
Labels: @daffodil/cart

#613 build(authorizenet): generate code coverage in correct folder
  libs/authorizenet/karma.conf.js
Labels: @daffodil/authorizenet

#612 build(auth): enable code coverage
  angular.json
  libs/auth/karma.conf.js
Labels: @daffodil/auth

#607 feat(design): expand id type on qty-dropdown to allow for strings
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.ts
Labels: @daffodil/design

#608 feat(checkout): replace DaffCart type with Order type
  libs/checkout/src/order/containers/order.component.spec.ts
  libs/checkout/src/order/containers/order.component.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/reducers/order/order.reducer.spec.ts
  libs/checkout/testing/src/drivers/in-memory/checkout.service.spec.ts
  libs/checkout/testing/src/drivers/in-memory/checkout.service.ts
Labels: @daffodil/checkout

#614 feat(auth): remove aliased types
  libs/auth/src/drivers/interfaces/auth-query-manager.interface.ts
  libs/auth/src/drivers/interfaces/login-service.interface.ts
  libs/auth/src/drivers/interfaces/register-service.interface.ts
  libs/auth/src/index.ts
  libs/auth/src/interfaces/auth-facade.interface.ts
  libs/auth/src/models/login-info.ts
  libs/auth/src/models/login-response.ts
  libs/auth/src/models/register-request.ts
  libs/auth/src/models/register-response.ts
Labels: @daffodil/auth

#611 fix(category): fix bug where category inmemory service would delete p…
  libs/category/testing/src/inmemory-backend/category.service.spec.ts
  libs/category/testing/src/inmemory-backend/category.service.ts
  libs/core/src/index.ts
  libs/core/src/utils/random-slice.spec.ts
  libs/core/src/utils/random-slice.ts
  libs/core/src/utils/random-subset.spec.ts
  libs/core/src/utils/random-subset.ts
  libs/core/src/utils/shuffle.spec.ts
  libs/core/src/utils/shuffle.ts
Labels: @daffodil/category

#610 feat(cart): remodel DaffCart
  libs/cart/package.json
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-address.ts
  libs/cart/src/models/cart-coupon.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/models/cart-payment.ts
  libs/cart/src/models/cart-shipping-info.ts
  libs/cart/src/models/cart-shipping-rate.ts
  libs/cart/src/models/cart-total.ts
  libs/cart/src/models/cart.ts
  libs/cart/testing/src/factories/cart-address.factory.spec.ts
  libs/cart/testing/src/factories/cart-address.factory.ts
  libs/cart/testing/src/factories/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-payment.factory.spec.ts
  libs/cart/testing/src/factories/cart-payment.factory.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.spec.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.ts
  libs/cart/testing/src/factories/cart.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
Labels: @daffodil/cart

#592 feat(auth): add testing drivers
  libs/auth/testing/src/drivers/testing/auth-driver.module.ts
  libs/auth/testing/src/drivers/testing/login/login.service.spec.ts
  libs/auth/testing/src/drivers/testing/login/login.service.ts
  libs/auth/testing/src/drivers/testing/register/register.service.spec.ts
  libs/auth/testing/src/drivers/testing/register/register.service.ts
  libs/auth/testing/src/index.ts
Labels: @daffodil/auth

#609 build(contact): updated exports for daffodil/contact
  libs/contact/integration-tests/hubspot.service.spec.ts
  libs/contact/src/driver/hubspot/contact.service.ts
  libs/contact/src/driver/hubspot/hubspot-driver.module.ts
  libs/contact/src/driver/hubspot/public_api.ts
  libs/contact/src/driver/injection-tokens/contact-driver.token.ts
  libs/contact/src/driver/injection-tokens/contact-transfomer.token.ts
  libs/contact/src/driver/interfaces/contact-service.interface.ts
  libs/contact/src/driver/interfaces/contact-transformer.interface.ts
  libs/contact/src/driver/interfaces/injection-tokens/contact-config.token.ts
  libs/contact/src/driver/public_api.ts
  libs/contact/src/effects/contact.effects.spec.ts
  libs/contact/src/effects/contact.effects.ts
  libs/contact/src/facades/contact.facade.spec.ts
  libs/contact/src/facades/contact.facade.ts
  libs/contact/src/index.ts
  libs/contact/src/reducers/contact.reducer.spec.ts
  libs/contact/src/reducers/contact.reducer.ts
  libs/contact/src/selectors/contact.selector.spec.ts
  libs/contact/src/selectors/contact.selector.ts
  libs/contact/testing/src/drivers/in-memory/contact.service.spec.ts
  libs/contact/testing/src/drivers/in-memory/contact.service.ts
  libs/contact/testing/src/drivers/in-memory/in-memory.module.ts
  libs/contact/testing/src/drivers/testing/contact.service.ts
  libs/contact/testing/src/drivers/testing/testing.module.ts
  libs/contact/testing/src/in-memory-backend/contact-in-memory-backend.service.spec.ts
  libs/contact/testing/src/index.ts
  libs/contact/testing/src/testing.module.ts
  libs/contact/tsconfig.json
  libs/contact/tsconfig.spec.json
Labels: @daffodil/contact

#617 docs(readme): update readme with links to new packages
  README.md
Labels: docs

#621 feat(design): add image component
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/image/image-routing-module.ts
  apps/design-land/src/app/image/image.component.html
  apps/design-land/src/app/image/image.component.scss
  apps/design-land/src/app/image/image.component.spec.ts
  apps/design-land/src/app/image/image.component.ts
  apps/design-land/src/app/image/image.module.ts
  libs/design/src/atoms/image/image.component.html
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/atoms/image/image.component.spec.ts
  libs/design/src/atoms/image/image.component.ts
  libs/design/src/atoms/image/image.md
  libs/design/src/atoms/image/image.module.ts
  libs/design/src/atoms/image/public_api.ts
  libs/design/src/atoms/image/specs/image-props.spec.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#633 testing(geography): move coverage output dir into root coverage dir
  libs/geography/karma.conf.js
Labels: @daffodil/geography

#632 feat(geography): publish new geography package!
  libs/geography/package.json
Labels: @daffodil/geography

#638 feat(design-land): update theme file and import daff-util into design…
  apps/design-land/src/scss/theme.scss
  apps/design-land/src/scss/utilities.scss
Labels: @daffodil/design

#635 Change Hubspot Driver from inheritance to composition
  libs/contact/integration-tests/drivers/hubspot.spec.ts
  libs/contact/src/driver/hubspot/config/contact-config.interface.ts
  libs/contact/src/driver/hubspot/contact.service.spec.ts
  libs/contact/src/driver/hubspot/contact.service.ts
  libs/contact/src/driver/hubspot/hubspot-driver.module.ts
  libs/contact/src/driver/hubspot/transformers/contact.transformer.ts
  libs/contact/src/driver/interfaces/contact-service.interface.ts
  libs/contact/src/driver/interfaces/contact-transformer.interface.ts
  libs/contact/src/driver/interfaces/injection-tokens/contact-config.token.ts
  libs/contact/src/driver/public_api.ts
  libs/driver/hubspot/src/hubspot-forms.provider.spec.ts
  libs/driver/hubspot/src/hubspot-forms.provider.ts
  libs/driver/hubspot/src/hubspot-forms.service.spec.ts
  libs/driver/hubspot/src/hubspot-forms.service.ts
  libs/driver/hubspot/src/index.ts
  libs/driver/hubspot/src/models/hubspot-request.ts
  libs/driver/hubspot/src/models/hubspot-response.ts
  libs/driver/hubspot/src/transformers/hubspot-forms.transformer.spec.ts
  libs/driver/hubspot/src/transformers/hubspot-forms.transformer.ts
  libs/newsletter/integration-tests/drivers/hubspot.spec.ts
  libs/newsletter/src/driver/hubspot/config/newsletter-config.interface.ts
  libs/newsletter/src/driver/hubspot/hubspot-driver.module.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.spec.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.ts
  libs/newsletter/src/driver/hubspot/public_api.ts
  libs/newsletter/src/driver/hubspot/transformers/newsletter.transformer.ts
  libs/newsletter/src/driver/injection-tokens/newsletter-config.token.ts
  libs/newsletter/src/driver/injection-tokens/newsletter-driver.token.ts
  libs/newsletter/src/driver/injection-tokens/newsletter-transformer.token.ts
  libs/newsletter/src/driver/interfaces/newsletter-service.interface.ts
  libs/newsletter/src/driver/interfaces/newsletter-transformer.interface.ts
  libs/newsletter/src/driver/public_api.ts
  libs/newsletter/src/effects/newsletter.effects.spec.ts
  libs/newsletter/src/effects/newsletter.effects.ts
  libs/newsletter/src/index.ts
  libs/newsletter/testing/src/in-memory-backend/newsletter.service.spec.ts
  libs/newsletter/tsconfig.json
  libs/newsletter/tsconfig.spec.json
Labels: @daffodil/contact, @daffodil/driver, @daffodil/newsletter

#641 testing(newsletter, contact): fixup failing async specs
  libs/contact/src/driver/hubspot/contact.service.spec.ts
  libs/newsletter/src/driver/hubspot/newsletter.service.spec.ts
Labels: @daffodil/contact, @daffodil/driver, @daffodil/newsletter, bug

#636 feat(auth): add auth service interface with check method
  libs/auth/src/drivers/injection-tokens/auth-driver.token.ts
  libs/auth/src/drivers/interfaces/auth-service.interface.ts
  libs/auth/src/index.ts
  libs/auth/testing/src/drivers/in-memory/auth-driver.module.ts
  libs/auth/testing/src/drivers/in-memory/auth/auth.service.spec.ts
  libs/auth/testing/src/drivers/in-memory/auth/auth.service.ts
  libs/auth/testing/src/drivers/testing/auth-driver.module.ts
  libs/auth/testing/src/drivers/testing/auth/auth.service.spec.ts
  libs/auth/testing/src/drivers/testing/auth/auth.service.ts
  libs/auth/testing/src/inmemory-backend/auth.service.integration.spec.ts
  libs/auth/testing/src/inmemory-backend/auth.service.ts
  libs/auth/testing/src/inmemory-backend/auth.service.unit.spec.ts
Labels: @daffodil/auth

#616 feat(cart): add interfaces to expand cart driver capabilities
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.ts
  libs/cart/src/drivers/injection-tokens/cart-driver.token.ts
  libs/cart/src/drivers/interfaces/cart-billing-address-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-item-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-payment-methods-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-payment-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-shipping-address-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-shipping-information-service.interface.ts
  libs/cart/src/drivers/interfaces/cart-shipping-methods-service.interface.ts
  libs/cart/src/drivers/public_api.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-item-input.ts
  libs/checkout/src/order/effects/order.effects.spec.ts
  libs/checkout/src/order/effects/order.effects.ts
Labels: @daffodil/cart

#644 fix(demo): add @daffodil/geography module to demo-dev tsconfig
  apps/demo/tsconfig.dev.json
Labels: @daffodil/demo

#573 feat(cart): make cart clear API return the new cart
  libs/cart/src/actions/cart.actions.ts
  libs/cart/src/drivers/interfaces/cart-service.interface.ts
  libs/cart/src/effects/cart.effects.spec.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/reducers/cart.reducer.spec.ts
  libs/cart/src/reducers/cart.reducer.ts
  libs/cart/testing/src/drivers/in-memory/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart.service.ts
  libs/cart/testing/src/drivers/testing/cart.service.ts
Labels: @daffodil/cart

#643 feat(cart): add create method to cart driver
  libs/cart/src/drivers/interfaces/cart-service.interface.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-item-input.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/drivers/in-memory/cart.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart.service.ts
  libs/cart/testing/src/drivers/testing/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart.service.ts
  libs/cart/testing/src/in-memory-backend/cart.service.unit.spec.ts
Labels: @daffodil/cart

#648 refactor(product, category): remove the product query manager
  libs/category/src/drivers/magento/category.service.spec.ts
  libs/category/src/drivers/magento/category.service.ts
  libs/product/src/drivers/injection-tokens/product-query-manager.token.ts
  libs/product/src/drivers/interfaces/product-query-manager.interface.ts
  libs/product/src/drivers/magento/interfaces/magento-product-query-manager.interface.ts
  libs/product/src/drivers/magento/product-driver.module.ts
  libs/product/src/drivers/magento/product.service.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/get-all-products.ts
  libs/product/src/drivers/magento/queries/get-product.ts
  libs/product/src/drivers/magento/queries/get-sort-fields-and-filters-by-category.ts
  libs/product/src/drivers/magento/queries/product-query-manager.service.spec.ts
  libs/product/src/drivers/magento/queries/product-query-manager.service.ts
  libs/product/src/drivers/magento/queries/queries.ts
  libs/product/src/index.ts
Labels: @daffodil/category, @daffodil/product

#655 feat(design): update image template to fix padding top calculation
  libs/design/src/atoms/image/image.component.html
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/atoms/image/image.component.spec.ts
  libs/design/src/atoms/image/image.component.ts
Labels: @daffodil/design
