Repository graycoreio/daffodil, pull requests merged in 2020-06, with the labels that each got.

#922 feat(cart): add payment and shipping information in-memory backends
  libs/cart/testing/src/in-memory-backend/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.integration.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.ts
  libs/cart/testing/src/in-memory-backend/cart-root.service.unit.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/testing/src/in-memory-backend/cart-shipping-information/cart-shipping-information.service.ts
Labels: @daffodil/cart, feat

#897 feat(design): update container to use size interface
  libs/design/src/atoms/container/container.component.scss
  libs/design/src/atoms/container/container.component.spec.ts
  libs/design/src/atoms/container/container.component.ts
Labels: @daffodil/design

#914 feat(product): cover edge cases for configurable product state
  libs/product/src/drivers/magento/transforms/configurable-product-transformer.spec.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/drivers/magento/transforms/spec-data/magento-configurable-product.json
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities-reducer-adapter.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
  libs/product/src/reducers/configurable-product-entities/configurable-product-entity.ts
  libs/product/src/reducers/product-reducers-state.interface.ts
  libs/product/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product/src/selectors/configurable-product-entities/configurable-product-entities.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
Labels: @daffodil/product

#923 feat(cart): add resolver action and effect for loading the cart
  libs/cart/src/actions/cart.actions.ts
  libs/cart/src/effects/cart.effects.ts
  libs/cart/src/index.ts
  libs/cart/src/resolvers/cart-resolver.effects.spec.ts
  libs/cart/src/resolvers/cart-resolver.effects.ts
Labels: @daffodil/cart

#881 feat(order): add reducers
  libs/order/src/index.ts
  libs/order/src/order-state.module.ts
  libs/order/src/reducers/order-entities/order-entities-adapter.ts
  libs/order/src/reducers/order-entities/order-entities-initial-state.ts
  libs/order/src/reducers/order-entities/order-entities-state.interface.ts
  libs/order/src/reducers/order-entities/order-entities.reducer.spec.ts
  libs/order/src/reducers/order-entities/order-entities.reducer.ts
  libs/order/src/reducers/order-entities/public_api.ts
  libs/order/src/reducers/order-reducers.interface.ts
  libs/order/src/reducers/order-reducers.spec.ts
  libs/order/src/reducers/order-reducers.ts
  libs/order/src/reducers/order-store-feature-key.ts
  libs/order/src/reducers/order/order-initial-state.ts
  libs/order/src/reducers/order/order-reducer.interface.ts
  libs/order/src/reducers/order/order.reducer.spec.ts
  libs/order/src/reducers/order/order.reducer.ts
  libs/order/src/reducers/order/public_api.ts
  libs/order/src/reducers/public_api.ts
Labels: @daffodil/order, feat

#925 feat(order): add selectors
  libs/order/src/effects/order.effects.ts
  libs/order/src/index.ts
  libs/order/src/selectors/order-all.selector.ts
  libs/order/src/selectors/order-entities.selector.spec.ts
  libs/order/src/selectors/order-entities.selector.ts
  libs/order/src/selectors/order-feature.selector.ts
  libs/order/src/selectors/order.selector.spec.ts
  libs/order/src/selectors/order.selector.ts
  libs/order/src/selectors/public_api.ts
Labels: @daffodil/order, feat

#926 feat(cart): add angular guards for usage in checkout
  libs/cart/src/guards/billing-address/billing-address-guard.spec.ts
  libs/cart/src/guards/billing-address/billing-address-guard.ts
  libs/cart/src/guards/payment-method/payment-method-guard.spec.ts
  libs/cart/src/guards/payment-method/payment-method-guard.ts
  libs/cart/src/guards/public_api.ts
  libs/cart/src/guards/shipping-address/shipping-address-guard.spec.ts
  libs/cart/src/guards/shipping-address/shipping-address-guard.ts
  libs/cart/src/guards/shipping-method/shipping-method-guard.spec.ts
  libs/cart/src/guards/shipping-method/shipping-method-guard.ts
  libs/cart/src/index.ts
Labels: @daffodil/cart

#927 feat(order): add facade
  libs/order/src/facades/order/order-facade.interface.ts
  libs/order/src/facades/order/order.facade.spec.ts
  libs/order/src/facades/order/order.facade.ts
  libs/order/src/facades/public_api.ts
  libs/order/src/index.ts
  libs/order/testing/src/helpers/mock-order-facade.ts
  libs/order/testing/src/helpers/order-testing.module.ts
  libs/order/testing/src/helpers/public_api.ts
Labels: @daffodil/order, feat

#932 feat(product): change configurable product prices to be a min and max price
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
Labels: @daffodil/product

#933 feat(cart): add empty cart guard
  libs/cart/src/guards/empty-cart/empty-cart-guard.spec.ts
  libs/cart/src/guards/empty-cart/empty-cart-guard.ts
  libs/cart/src/guards/public_api.ts
Labels: @daffodil/cart

#931 feat(geography): track the fully loaded countries in state
  libs/geography/src/facades/geography/geography-facade.interface.ts
  libs/geography/src/facades/geography/geography.facade.spec.ts
  libs/geography/src/facades/geography/geography.facade.ts
  libs/geography/src/lib/nothing.spec.ts
  libs/geography/src/models/country.ts
  libs/geography/src/reducers/country-entities/country-entities-adapter.ts
  libs/geography/src/reducers/country-entities/country-entities-state.interface.ts
  libs/geography/src/reducers/country-entities/country-entities.reducer.spec.ts
  libs/geography/src/reducers/country-entities/country-entities.reducer.ts
  libs/geography/src/reducers/geography-reducers-state.interface.ts
  libs/geography/src/reducers/geography/geography-initial-state.ts
  libs/geography/src/selectors/country-entities.selector.spec.ts
  libs/geography/src/selectors/country-entities.selector.ts
  libs/geography/src/selectors/geography-all.selector.ts
  libs/geography/src/selectors/geography-feature.selector.ts
  libs/geography/src/selectors/geography.selector.spec.ts
  libs/geography/src/selectors/geography.selector.ts
  libs/geography/testing/src/helpers/mock-geography-facade.ts
Labels: @daffodil/geography, feat

#937 Add resolvers for loading the cart and for checking if the cart is empty
  libs/cart/src/effects/cart-resolver.effects.spec.ts
  libs/cart/src/effects/cart-resolver.effects.ts
  libs/cart/src/guards/empty-cart/empty-cart-guard.spec.ts
  libs/cart/src/guards/empty-cart/empty-cart-guard.ts
  libs/cart/src/guards/public_api.ts
  libs/cart/src/index.ts
  libs/cart/src/resolvers/cart-resolver.service.spec.ts
  libs/cart/src/resolvers/cart-resolver.service.ts
  libs/cart/src/resolvers/empty-cart-resolver.service.spec.ts
  libs/cart/src/resolvers/empty-cart-resolver.service.ts
  libs/cart/src/resolvers/public_api.ts
  libs/cart/src/resolvers/tokens/cart-resolver-redirect.token.ts
  libs/cart/src/resolvers/tokens/empty-cart-resolver-redirect.token.ts
Labels: @daffodil/cart

#940 feat(product): expose the selectMatchingVariants selector to the Daff…
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
Labels: @daffodil/product

#947 feat(cart): add default urls for guard injection token urls
  libs/cart/src/cart-state.module.ts
  libs/cart/src/cart.module.ts
  libs/cart/src/guards/billing-address/billing-address-guard.ts
  libs/cart/src/guards/payment-method/payment-method-guard.ts
  libs/cart/src/guards/shipping-address/shipping-address-guard.ts
  libs/cart/src/guards/shipping-method/shipping-method-guard.ts
  libs/cart/src/resolvers/cart-resolver.service.ts
  libs/cart/src/resolvers/empty-cart-resolver.service.ts
Labels: @daffodil/cart

#946 feat(cart): add testing drivers
  libs/cart/testing/src/drivers/in-memory/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/drivers/in-memory/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-billing-address/cart-billing-address.service.ts
  libs/cart/testing/src/drivers/testing/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-coupon/cart-coupon.service.ts
  libs/cart/testing/src/drivers/testing/cart-driver.module.ts
  libs/cart/testing/src/drivers/testing/cart-item/cart-item.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-item/cart-item.service.ts
  libs/cart/testing/src/drivers/testing/cart-order/cart-order.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-order/cart-order.service.ts
  libs/cart/testing/src/drivers/testing/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/testing/src/drivers/testing/cart-payment/cart-payment.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-payment/cart-payment.service.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/testing/src/drivers/testing/cart.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart/cart.service.spec.ts
  libs/cart/testing/src/drivers/testing/cart/cart.service.ts
  libs/cart/testing/src/drivers/testing/public_api.ts
  libs/cart/testing/src/factories/public_api.ts
  libs/cart/testing/src/index.ts
Labels: @daffodil/cart, feat

#950 feat(product): add facade fields for configurable product discounts
  libs/product/src/facades/configurable-product/configurable-product-facade.interface.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.spec.ts
  libs/product/src/facades/configurable-product/configurable-product.facade.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product/testing/src/helpers/mock-configurable-product-facade.ts
Labels: @daffodil/product

#951 feat(cart): add an action that payment modules can use to add payment info
  libs/cart/src/actions/cart-payment.actions.ts
  libs/cart/src/models/cart-payment.ts
  libs/cart/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/src/reducers/cart-payment/cart-payment.reducer.ts
Labels: @daffodil/authorizenet, @daffodil/cart

#952 feat(authorizenet): overhaul the authorizenet module to be platform agnostic and useable with @daffodil/cart
  libs/authorizenet/README.md
  libs/authorizenet/package.json
  libs/authorizenet/src/actions/authorizenet.actions.ts
  libs/authorizenet/src/drivers/authorize-net.module.ts
  libs/authorizenet/src/drivers/authorize-net.service.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-config.token.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-driver.token.ts
  libs/authorizenet/src/drivers/injection-tokens/authorize-net-transformer.token.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-config.interface.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-payment-id.token.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-service.interface.ts
  libs/authorizenet/src/drivers/interfaces/authorize-net-transformer.interface.ts
  libs/authorizenet/src/drivers/magento/authorize-net-payment-id.ts
  libs/authorizenet/src/drivers/magento/authorize-net.module.ts
  libs/authorizenet/src/drivers/magento/authorize-net.service.ts
  libs/authorizenet/src/drivers/magento/models/authorize-net-payment.ts
  libs/authorizenet/src/drivers/magento/public_api.ts
  libs/authorizenet/src/drivers/magento/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/src/drivers/magento/transformers/authorize-net-transformer.ts
  libs/authorizenet/src/drivers/public_api.ts
  libs/authorizenet/src/drivers/transformers/authorize-net-transformer.service.spec.ts
  libs/authorizenet/src/drivers/transformers/authorize-net-transformer.service.ts
  libs/authorizenet/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/src/effects/authorize-net.effects.ts
  libs/authorizenet/src/facades/authorize-net-facade.interface.ts
  libs/authorizenet/src/facades/authorize-net.facade.spec.ts
  libs/authorizenet/src/facades/authorize-net.facade.ts
  libs/authorizenet/src/index.ts
  libs/authorizenet/src/models/request/authorize-net-credit-card.ts
  libs/authorizenet/src/models/request/authorize-net-request.ts
  libs/authorizenet/src/models/request/authorize-net-token-request.ts
  libs/authorizenet/src/models/request/credit-card.ts
  libs/authorizenet/src/models/response/authorize-net-message.ts
  libs/authorizenet/src/models/response/authorize-net-messages.ts
  libs/authorizenet/src/models/response/authorize-net-opaque-data.ts
  libs/authorizenet/src/models/response/authorize-net-response.ts
  libs/authorizenet/src/models/response/authorize-net-token-response.ts
  libs/authorizenet/src/reducers/authorize-net-reducers.interface.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net-reducer.interface.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/src/reducers/authorize-net/authorize-net.reducer.ts
  libs/authorizenet/src/selectors/authorize-net.selector.spec.ts
  libs/authorizenet/src/selectors/authorize-net.selector.ts
  libs/authorizenet/testing/src/helpers/mock-authorize-net-facade.ts
Labels: @daffodil/authorizenet

#956 feat(authorizenet): add inmemory and testing drivers
  libs/authorizenet/testing/src/drivers/in-memory/authorize-net-driver.module.ts
  libs/authorizenet/testing/src/drivers/in-memory/authorize-net.service.spec.ts
  libs/authorizenet/testing/src/drivers/in-memory/authorize-net.service.ts
  libs/authorizenet/testing/src/drivers/testing/authorize-net-driver.module.ts
  libs/authorizenet/testing/src/drivers/testing/authorize-net.service.spec.ts
  libs/authorizenet/testing/src/drivers/testing/authorize-net.service.ts
  libs/authorizenet/testing/src/index.ts
Labels: @daffodil/authorizenet

#915 feat(design-land): added checkbox examples to design-land
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/checkbox/checkbox-routing.module.ts
  apps/design-land/src/app/checkbox/checkbox.component.html
  apps/design-land/src/app/checkbox/checkbox.component.scss
  apps/design-land/src/app/checkbox/checkbox.component.spec.ts
  apps/design-land/src/app/checkbox/checkbox.component.ts
  apps/design-land/src/app/checkbox/checkbox.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/checkbox/examples/ng-package.json
  libs/design/checkbox/examples/package.json
  libs/design/checkbox/examples/src/basic-checkbox/basic-checkbox.component.html
  libs/design/checkbox/examples/src/basic-checkbox/basic-checkbox.component.ts
  libs/design/checkbox/examples/src/basic-checkbox/basic-checkbox.module.ts
  libs/design/checkbox/examples/src/checkbox-set/checkbox-set.component.html
  libs/design/checkbox/examples/src/checkbox-set/checkbox-set.component.ts
  libs/design/checkbox/examples/src/checkbox-set/checkbox-set.module.ts
  libs/design/checkbox/examples/src/examples.ts
  libs/design/checkbox/examples/src/index.ts
  libs/design/checkbox/examples/src/public_api.ts
  libs/design/src/atoms/form/checkbox-set/checkbox-set.component.spec.ts
  tsconfig.json
Labels: docs

#959 feat(authorizenet): export all actions from authorizenet
  libs/authorizenet/src/index.ts
Labels: @daffodil/authorizenet

#916 feat(design-land): added radio examples to design-land
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/radio/radio-routing.module.ts
  apps/design-land/src/app/radio/radio.component.html
  apps/design-land/src/app/radio/radio.component.scss
  apps/design-land/src/app/radio/radio.component.spec.ts
  apps/design-land/src/app/radio/radio.component.ts
  apps/design-land/src/app/radio/radio.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/radio/examples/ng-package.json
  libs/design/radio/examples/package.json
  libs/design/radio/examples/src/basic-radio/basic-radio.component.html
  libs/design/radio/examples/src/basic-radio/basic-radio.component.ts
  libs/design/radio/examples/src/basic-radio/basic-radio.module.ts
  libs/design/radio/examples/src/examples.ts
  libs/design/radio/examples/src/index.ts
  libs/design/radio/examples/src/public_api.ts
Labels: docs
