Repository graycoreio/daffodil, pull requests merged in 2020-08, with the labels that each got.

#1019 fix(authorizenet): export the DaffAuthorizeNetPaymentId injection token
  libs/authorizenet/src/drivers/public_api.ts
Labels: @daffodil/authorizenet, bug

#1016 fix(cart): set payment method with billing high query complexity
  libs/cart/src/drivers/magento/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/src/drivers/magento/models/responses/set-selected-payment-method-with-billing.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing.ts
Labels: @daffodil/cart, bug

#1018 feat(order): add order subfield selectors
  libs/order/src/selectors/order-entities.selector.spec.ts
  libs/order/src/selectors/order-entities.selector.ts
Labels: @daffodil/order

#1021 feat(order): add facade methods for order subfields
  libs/order/src/facades/order/order-facade.interface.ts
  libs/order/src/facades/order/order.facade.spec.ts
  libs/order/src/facades/order/order.facade.ts
  libs/order/src/selectors/order-entities.selector.ts
  libs/order/testing/src/helpers/mock-order-facade.ts
Labels: @daffodil/order

#1020 feat(cart): add cart item entities state
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/reducers/cart-item-entities/cart-item-entities-reducer-adapter.ts
  libs/cart/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/src/reducers/cart-reducers-state.interface.ts
  libs/cart/src/reducers/cart-reducers.ts
  libs/cart/src/selectors/cart-feature.selector.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/src/selectors/cart-order/cart-order.selector.ts
  libs/cart/src/selectors/cart.selector.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1023 feat(cart): wait for cart resolution in cart guards
  libs/cart/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/src/guards/billing-address/billing-address.guard.ts
  libs/cart/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/src/guards/payment-method/payment-method.guard.ts
  libs/cart/src/guards/public_api.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.ts
Labels: @daffodil/cart

#1024 Cart item types
  libs/cart/src/drivers/magento/models/outputs/cart-item.ts
  libs/cart/src/drivers/magento/models/outputs/public_api.ts
  libs/cart/src/drivers/magento/queries/fragments/cart-item.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/models/composite-cart-item.ts
  libs/cart/src/models/configurable-cart-item.ts
  libs/cart/testing/src/factories/cart-item.factory.ts
  libs/cart/testing/src/factories/magento/cart-item.factory.ts
Labels: @daffodil/cart

#1026 feat(cart): change the DaffCompositeCartItemOption model to DaffCompo…
  libs/cart/src/drivers/magento/transforms/inputs/cart-item-input-transformers.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-item-input.ts
Labels: @daffodil/cart

#1025 feat(cart): add magento cart item transformers and factories for different types
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/cart-item.service.ts
  libs/cart/src/drivers/magento/models/outputs/cart-item.ts
  libs/cart/src/drivers/magento/public_api.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-coupon-response.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-coupon-response.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/bundle-cart-item-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/cart-item-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/configurable-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/configurable-cart-item-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
  libs/cart/src/models/configurable-cart-item.ts
  libs/cart/testing/src/factories/magento/cart-item/bundle-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-item/bundle-cart-item.factory.ts
  libs/cart/testing/src/factories/magento/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/magento/cart-item/configurable-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart-item/configurable-cart-item.factory.ts
  libs/cart/testing/src/factories/magento/index.ts
Labels: @daffodil/cart

#1027 feat(cart): add state for different cart item type attributes
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/models/composite-cart-item.ts
  libs/cart/src/models/configurable-cart-item.ts
  libs/cart/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/src/resolvers/empty-cart-resolver.service.spec.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.ts
  libs/cart/testing/src/factories/public_api.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
  libs/cart/testing/src/in-memory-backend/cart-items/cart-items.service.ts
Labels: @daffodil/cart

#1029 feat(order): update Magento driver guest cart ID input key
  libs/order/driver/src/magento/queries/get-guest-orders.ts
Labels: @daffodil/order

#1031 feat(order): use order_number for order ID
  libs/order/driver/src/magento/models/responses/order.ts
  libs/order/driver/src/magento/order.service.spec.ts
  libs/order/driver/src/magento/transforms/responses/order.spec.ts
  libs/order/driver/src/magento/transforms/responses/order.ts
  libs/order/src/selectors/order-entities.selector.ts
Labels: @daffodil/order

#1028 feat(cart): listen for resolve success and failure in cart guards
  libs/cart/src/actions/cart.actions.ts
  libs/cart/src/effects/cart-resolver.effects.spec.ts
  libs/cart/src/effects/cart-resolver.effects.ts
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/src/guards/billing-address/billing-address.guard.ts
  libs/cart/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/src/guards/payment-method/payment-method.guard.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/src/guards/shipping-address/shipping-address.guard.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/src/guards/shipping-method/shipping-method.guard.ts
  libs/cart/src/reducers/cart-initial-state.ts
  libs/cart/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/src/reducers/cart-resolve/cart-resolve.reducer.ts
  libs/cart/src/reducers/cart-state.interface.ts
  libs/cart/src/reducers/cart.reducer.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1033 feat(order): separate DaffOrder billing and shipping addresses
  libs/order/driver/src/magento/order.service.spec.ts
  libs/order/driver/src/magento/transforms/responses/order.spec.ts
  libs/order/driver/src/magento/transforms/responses/order.ts
  libs/order/src/facades/order/order-facade.interface.ts
  libs/order/src/facades/order/order.facade.spec.ts
  libs/order/src/facades/order/order.facade.ts
  libs/order/src/models/order.ts
  libs/order/src/selectors/order-entities.selector.spec.ts
  libs/order/src/selectors/order-entities.selector.ts
  libs/order/testing/src/factories/order-coupon.factory.spec.ts
  libs/order/testing/src/factories/order.factory.spec.ts
  libs/order/testing/src/factories/order.factory.ts
  libs/order/testing/src/helpers/mock-order-facade.ts
Labels: @daffodil/order

#1034 feat(core): add ID type
  libs/core/src/index.ts
  libs/core/src/types/id.type.ts
  libs/core/src/types/public_api.ts
Labels: @daffodil/core

#1035 feat(cart): export all cart item input models
  libs/cart/src/index.ts
Labels: @daffodil/cart

#1032 feat(core): create noop storage service
  libs/core/src/storage/noopstorage/noopstorage.service.spec.ts
  libs/core/src/storage/noopstorage/noopstorage.service.ts
  libs/core/src/storage/public_api.ts
Labels: @daffodil/core

#1036 feat(core): create memory storage service
  libs/core/src/storage/memory/memory.service.spec.ts
  libs/core/src/storage/memory/memory.service.ts
Labels: @daffodil/core

#1037 feat(product): add facade field for hasDiscount
  libs/product/src/facades/product/product-facade.interface.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/facades/product/product.facade.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/src/selectors/product-entities/product-entities.selectors.ts
  libs/product/testing/src/helpers/mock-product-facade.ts
Labels: @daffodil/product

#1038 feat(design): add theme and theme-contrast styles to button and set t…
  apps/design-land/src/app/button/button.component.html
  libs/design/button/examples/src/basic-button/basic-button.component.html
  libs/design/button/examples/src/icon-button/icon-button.component.html
  libs/design/button/examples/src/raised-button/raised-button.component.html
  libs/design/button/examples/src/stroked-button/stroked-button.component.html
  libs/design/button/examples/src/underline-button/underline-button.component.html
  libs/design/src/atoms/button/button-theme.scss
  libs/design/src/atoms/button/button.component.spec.ts
  libs/design/src/atoms/button/button.component.ts
Labels: @daffodil/design

#1039 feat(product): add stock_status field
  libs/product/src/drivers/magento/models/magento-product.ts
  libs/product/src/drivers/magento/public_api.ts
  libs/product/src/drivers/magento/queries/fragments/configurable-product.ts
  libs/product/src/drivers/magento/queries/fragments/product.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/configurable-product-transformers.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/simple-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/drivers/magento/transforms/spec-data/daff-configurable-product.json
  libs/product/src/facades/best-sellers/best-sellers.facade.spec.ts
  libs/product/src/facades/product-grid/product-grid.facade.spec.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/index.ts
  libs/product/src/models/configurable-product.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/composite-product.factory.spec.ts
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.spec.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/magento/configurable/configurable.factory.ts
  libs/product/testing/src/factories/magento/core/product.factory.spec.ts
  libs/product/testing/src/factories/magento/core/product.factory.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#1044 feat(product): stock_status data is now available for composite produ…
  libs/product/src/drivers/magento/queries/fragments/bundled-product.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.spec.ts
  libs/product/src/drivers/magento/transforms/bundled-product-transformers.ts
  libs/product/src/drivers/magento/transforms/spec-data/daff-composite-product.json
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
Labels: @daffodil/product

#1040 style(design): clean up button styles
  libs/design/src/atoms/button/button-theme-variants/button.scss
  libs/design/src/atoms/button/button-theme-variants/raised.scss
  libs/design/src/atoms/button/button-theme-variants/stroked.scss
  libs/design/src/atoms/button/button.component.scss
Labels: @daffodil/design

#1046 feat(product): make composite product items have a default option if …
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
Labels: @daffodil/product

#1047 fix(cart): fix bug where selected shipping methods were not included …
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
Labels: @daffodil/cart, bug

#1048 feat(cart): make cart totals individually selectable
  libs/cart/src/drivers/magento/models/outputs/cart.ts
  libs/cart/src/drivers/magento/queries/fragments/prices.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-coupon-response.service.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/index.ts
  libs/cart/src/models/cart-total.ts
  libs/cart/src/models/cart.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/factories/cart.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/factories/magento/cart.factory.spec.ts
  libs/cart/testing/src/factories/magento/cart.factory.ts
Labels: @daffodil/cart

#1049 feat(cart): add a cart total for shipping cost
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/facades/cart/cart-facade.interface.ts
  libs/cart/src/facades/cart/cart.facade.spec.ts
  libs/cart/src/facades/cart/cart.facade.ts
  libs/cart/src/models/cart-total.ts
  libs/cart/src/selectors/cart/cart.selector.spec.ts
  libs/cart/src/selectors/cart/cart.selector.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/helpers/mock-cart-facade.ts
Labels: @daffodil/cart

#1045 feat(core): add GraphQL fragment utils
  libs/core/package.json
  libs/core/src/graphql/build-fragment-definition.spec.ts
  libs/core/src/graphql/build-fragment-definition.ts
  libs/core/src/graphql/build-fragment-name-spread.spec.ts
  libs/core/src/graphql/build-fragment-name-spread.ts
  libs/core/src/graphql/fragment.integration.spec.ts
  libs/core/src/graphql/public_api.ts
  libs/core/src/index.ts
  libs/core/tsconfig.lib.json
Labels: @daffodil/core

#1050 feat(cart): inject extra cart fragments
  libs/cart/src/drivers/magento/cart-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-address.service.ts
  libs/cart/src/drivers/magento/cart-billing-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-billing-address.service.ts
  libs/cart/src/drivers/magento/cart-coupon.service.spec.ts
  libs/cart/src/drivers/magento/cart-coupon.service.ts
  libs/cart/src/drivers/magento/cart-driver.module.ts
  libs/cart/src/drivers/magento/cart-item.service.spec.ts
  libs/cart/src/drivers/magento/cart-item.service.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment-methods.service.ts
  libs/cart/src/drivers/magento/cart-payment.service.spec.ts
  libs/cart/src/drivers/magento/cart-payment.service.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-address.service.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-information.service.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.spec.ts
  libs/cart/src/drivers/magento/cart-shipping-methods.service.ts
  libs/cart/src/drivers/magento/cart.service.spec.ts
  libs/cart/src/drivers/magento/cart.service.ts
  libs/cart/src/drivers/magento/injection-tokens/fragments/cart.ts
  libs/cart/src/drivers/magento/injection-tokens/public_api.ts
  libs/cart/src/drivers/magento/models/responses/list-payment-methods.ts
  libs/cart/src/drivers/magento/public_api.ts
  libs/cart/src/drivers/magento/queries/add-cart-item.ts
  libs/cart/src/drivers/magento/queries/apply-coupon.ts
  libs/cart/src/drivers/magento/queries/fragments/noop-cart.ts
  libs/cart/src/drivers/magento/queries/fragments/public_api.ts
  libs/cart/src/drivers/magento/queries/get-billing-address.ts
  libs/cart/src/drivers/magento/queries/get-cart.ts
  libs/cart/src/drivers/magento/queries/get-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/get-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/get-shipping-address.ts
  libs/cart/src/drivers/magento/queries/list-cart-coupons.ts
  libs/cart/src/drivers/magento/queries/list-cart-items.ts
  libs/cart/src/drivers/magento/queries/list-payment-methods.ts
  libs/cart/src/drivers/magento/queries/list-shipping-methods.ts
  libs/cart/src/drivers/magento/queries/remove-all-coupons.ts
  libs/cart/src/drivers/magento/queries/remove-cart-item.ts
  libs/cart/src/drivers/magento/queries/set-guest-email.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method-with-billing.ts
  libs/cart/src/drivers/magento/queries/set-selected-payment-method.ts
  libs/cart/src/drivers/magento/queries/set-selected-shipping-method.ts
  libs/cart/src/drivers/magento/queries/update-address-with-email.ts
  libs/cart/src/drivers/magento/queries/update-address.ts
  libs/cart/src/drivers/magento/queries/update-billing-address-with-email.ts
  libs/cart/src/drivers/magento/queries/update-billing-address.ts
  libs/cart/src/drivers/magento/queries/update-cart-item.ts
  libs/cart/src/drivers/magento/queries/update-shipping-address-with-email.ts
  libs/cart/src/drivers/magento/queries/update-shipping-address.ts
Labels: @daffodil/cart

#1053 fix(cart): fix bug where a null value caused a crash
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart-totals-transformer.ts
Labels: @daffodil/cart, bug

#1052 feat(cart): add extra_attributes field on cart model
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.spec.ts
  libs/cart/src/drivers/magento/transforms/outputs/cart.service.ts
  libs/cart/src/models/cart.ts
  libs/cart/testing/src/factories/cart.factory.ts
Labels: @daffodil/cart

#1051 feat(product): composite product applied options selector returns a …
  libs/product/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/src/facades/composite-product/composite-product.facade.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product/src/selectors/composite-product-entities/composite-product-entities.selectors.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/testing/src/helpers/mock-composite-product-facade.ts
Labels: @daffodil/product
