Repository graycoreio/daffodil, pull requests merged in 2021-08, with the labels that each got.

#1719 feat(product): add canonical URL to product
  libs/product/driver/magento/src/models/magento-product.ts
  libs/product/driver/magento/src/queries/fragments/product.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/src/transforms/spec-data/daff-composite-product.json
  libs/product/driver/magento/src/transforms/spec-data/daff-configurable-product.json
  libs/product/driver/magento/src/transforms/spec-data/magento-bundled-product.json
  libs/product/driver/magento/src/transforms/spec-data/magento-configurable-product.json
  libs/product/driver/magento/testing/src/factories/core/product.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.ts
  libs/product/src/models/product.ts
  libs/product/testing/src/factories/product.factory.spec.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#1718 feat(category): add canonical URL to category
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/category/driver/magento/testing/src/factories/category.factory.spec.ts
  libs/category/driver/magento/testing/src/factories/category.factory.ts
  libs/category/src/models/generic-category.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
Labels: @daffodil/category

#1722 feat(related-products): add selectors and facade
  libs/related-products/state/src/facades/public_api.ts
  libs/related-products/state/src/facades/related-product-facade.interface.ts
  libs/related-products/state/src/facades/related-product.facade.spec.ts
  libs/related-products/state/src/facades/related-product.facade.ts
  libs/related-products/state/src/public_api.ts
  libs/related-products/state/src/selectors/all-selectors.selectors.ts
  libs/related-products/state/src/selectors/feature.selector.ts
  libs/related-products/state/src/selectors/public_api.ts
  libs/related-products/state/src/selectors/related-products/selectors.spec.ts
  libs/related-products/state/src/selectors/related-products/selectors.ts
  libs/related-products/state/testing/ng-package.json
  libs/related-products/state/testing/package.json
  libs/related-products/state/testing/src/mock-related-products.facade.ts
  libs/related-products/state/testing/src/public_api.ts
  libs/related-products/state/testing/src/state-testing.module.ts
Labels: @daffodil/related-products

#1727 fix(related-products): arrow functions in provider factory
  libs/related-products/driver/magento/src/public_api.ts
  libs/related-products/driver/magento/src/related-products-driver.module.ts
Labels: @daffodil/related-products

#1728 feat(related-products): cast main product from product response in reducer
  libs/related-products/state/src/reducers/related-products/reducer.ts
Labels: @daffodil/related-products

#1729 fix(related-products): wrong mock class in factory
  libs/related-products/driver/magento/testing/src/factories/product-with-related.factory.ts
Labels: @daffodil/related-products

#1717 feat(design): adds docs example for DaffModalComponent
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/core/elements/create-element-from-example.ts
  apps/design-land/src/app/modal/modal-content/modal-content.component.ts
  apps/design-land/src/app/modal/modal.component.html
  apps/design-land/src/app/modal/modal.component.ts
  apps/design-land/src/app/modal/modal.module.ts
  apps/design-land/tsconfig.app.json
  libs/design/modal/examples/ng-package.json
  libs/design/modal/examples/package.json
  libs/design/modal/examples/src/basic-modal/basic-modal.component.html
  libs/design/modal/examples/src/basic-modal/basic-modal.component.ts
  libs/design/modal/examples/src/basic-modal/basic-modal.module.ts
  libs/design/modal/examples/src/basic-modal/modal-content.component.html
  libs/design/modal/examples/src/basic-modal/modal-content.component.ts
  libs/design/modal/examples/src/index.ts
  libs/design/modal/examples/src/public_api.ts
  libs/design/src/molecules/modal/modal.module.ts
  libs/design/src/molecules/modal/modal/modal.component.spec.ts
  libs/design/src/molecules/modal/modal/spec/animations.spec.ts
Labels: @daffodil/design

#1733 fix(product): magento product previews need to transform stock status
  libs/product/driver/magento/src/models/bundled-product.ts
  libs/product/driver/magento/src/models/magento-product.ts
  libs/product/driver/magento/src/models/product-preview.interface.ts
  libs/product/driver/magento/src/models/public_api.ts
  libs/product/driver/magento/src/transforms/bundled-product-transformers.ts
  libs/product/driver/magento/src/transforms/configurable-product-transformers.ts
  libs/product/driver/magento/src/transforms/product-preview.spec.ts
  libs/product/driver/magento/src/transforms/product-preview.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
Labels: bug, @daffodil/product

#1708 feat(seo): add seo/state and update action pair
  libs/seo/state/ng-package.json
  libs/seo/state/package.json
  libs/seo/state/src/index.ts
  libs/seo/state/src/models/public_api.ts
  libs/seo/state/src/models/update-action-pair.interface.ts
  libs/seo/state/src/public_api.ts
  libs/seo/tsconfig.json
Labels: @daffodil/seo

#1736 feat(seo): add restoreable service interface
  libs/seo/src/models/public_api.ts
  libs/seo/src/models/restoreable-service.interface.ts
  libs/seo/src/public_api.ts
Labels: @daffodil/seo

#1738 feat(product): remove extraneous configurable product fields
  libs/product/driver/magento/src/models/configurable-product.ts
  libs/product/driver/magento/src/queries/fragments/configurable-product.ts
  libs/product/driver/magento/src/transforms/configurable-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/spec-data/magento-configurable-product.json
Labels: @daffodil/product

#1748 build(seo): add deps
  libs/seo/package.json
Labels: @daffodil/seo

#1744 feat(seo): add meta definition models
  libs/seo/src/models/meta-definition.interface.ts
  libs/seo/src/models/public_api.ts
Labels: @daffodil/seo

#1741 feat(seo): add title update model
  libs/seo/state/src/models/public_api.ts
  libs/seo/state/src/models/title-update.interface.ts
Labels: @daffodil/seo

#1745 feat(seo): change canonical service to restoreable
  libs/seo/src/canonical/canonical.interface.ts
  libs/seo/src/canonical/canonical.service.ts
  libs/seo/src/canonical/public_api.ts
  libs/seo/src/canonical/restoreable.service.spec.ts
  libs/seo/src/canonical/restoreable.service.ts
Labels: @daffodil/seo

#1739 feat(seo): add meta update model
  libs/seo/state/src/models/meta-update.interface.ts
  libs/seo/state/src/models/public_api.ts
Labels: @daffodil/seo

#1752 feat(seo): add title updates multi token and provider
  libs/seo/state/src/injection-tokens/public_api.ts
  libs/seo/state/src/injection-tokens/title/updates.token.spec.ts
  libs/seo/state/src/injection-tokens/title/updates.token.ts
  libs/seo/state/src/public_api.ts
Labels: @daffodil/seo

#1747 feat(category): add extra preview fragments to category products query
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/queries/get-products.ts
Labels: @daffodil/category

#1760 docs(product): improve Magento product preview docs
  libs/product/driver/magento/src/injection-tokens/fragments/product-preview.token.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview-extra.token.ts
  libs/product/driver/magento/src/models/product-preview.interface.ts
Labels: @daffodil/product

#1753 fix(cart): cart item state prematurely resetting after update
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
Labels: @daffodil/cart

#1742 feat(seo): add canonical URL update model
  libs/seo/state/src/models/canonical-url-update.interface.ts
  libs/seo/state/src/models/public_api.ts
Labels: @daffodil/seo

#1749 feat(seo): add restoreable meta service
  libs/seo/src/meta/get-attr-selector.spec.ts
  libs/seo/src/meta/get-attr-selector.ts
  libs/seo/src/meta/meta.service.spec.ts
  libs/seo/src/meta/meta.service.ts
  libs/seo/src/meta/public_api.ts
  libs/seo/src/meta/restoreable.service.spec.ts
  libs/seo/src/meta/restoreable.service.ts
  libs/seo/src/public_api.ts
Labels: @daffodil/seo

#1757 feat(seo): add meta updates token
  libs/seo/state/src/injection-tokens/meta/updates.token.spec.ts
  libs/seo/state/src/injection-tokens/meta/updates.token.ts
  libs/seo/state/src/injection-tokens/public_api.ts
Labels: @daffodil/seo

#1759 feat(seo): add title page hook effects
  libs/seo/state/src/effects/title.effects.ts
  libs/seo/state/src/public_api.ts
  libs/seo/state/src/state.module.ts
Labels: @daffodil/seo

#1762 feat(seo): add `daffProvideCanonicalUrlUpdates` and `DAFF_SEO_CANONIC…
  libs/seo/state/src/injection-tokens/canonical/updates.token.spec.ts
  libs/seo/state/src/injection-tokens/canonical/updates.token.ts
  libs/seo/state/src/injection-tokens/public_api.ts
Labels: @daffodil/seo

#1761 feat(seo): add `DaffSeoMetaEffects`
  libs/seo/state/src/effects/meta.effects.ts
  libs/seo/state/src/state.module.ts
Labels: @daffodil/seo

#1763 feat(seo): add `DaffSeoCanonicalUrlEffects`
  libs/seo/state/src/effects/canonical.effects.ts
  libs/seo/state/src/state.module.ts
Labels: @daffodil/seo

#1765 test(seo): add canonical URL updates integration test
  libs/seo/integration-tests/state/provided-canonical-updates.spec.ts
Labels: @daffodil/seo

#1726 build(seo): publish SEO package
  README.md
  libs/seo/README.md
  libs/seo/package.json
Labels: @daffodil/seo

#1770 build(seo): add publish script
  libs/seo/package.json
Labels: @daffodil/seo

#1772 test(product): use driver testing module in effect tests
  libs/product/state/src/effects/best-seller.effects.spec.ts
  libs/product/state/src/effects/product-grid.effects.spec.ts
  libs/product/state/src/effects/product-page.effects.spec.ts
  libs/product/state/src/effects/product.effects.spec.ts
Labels: @daffodil/product

#1776 fix(checkout): improper creation of partial in testing driver
  libs/checkout/testing/src/drivers/testing/checkout.service.ts
Labels: @daffodil/checkout

#1773 test(category,product): inject product factory instead of direct inst…
  libs/category/driver/testing/src/drivers/category.service.spec.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/product/state/src/facades/best-sellers/best-sellers.facade.spec.ts
  libs/product/state/src/facades/product-grid/product-grid.facade.spec.ts
  libs/product/state/src/reducers/best-sellers/best-sellers.reducer.spec.ts
  libs/product/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product/state/src/reducers/product-entities/product-entities.reducer.spec.ts
  libs/product/state/src/reducers/product-grid/product-grid.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/selectors/best-sellers/best-sellers.selectors.spec.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/state/src/selectors/product-entities/product-entities.selectors.spec.ts
  libs/product/state/src/selectors/product-grid/product-grid.selectors.spec.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
Labels: @daffodil/product, @daffodil/category

#1781 feat(product): add product factory tokens
  libs/product/testing/src/injection-tokens/factories/extra.token.spec.ts
  libs/product/testing/src/injection-tokens/factories/extra.token.ts
  libs/product/testing/src/injection-tokens/factories/type.token.spec.ts
  libs/product/testing/src/injection-tokens/factories/type.token.ts
  libs/product/testing/src/injection-tokens/public_api.ts
  libs/product/testing/src/public_api.ts
Labels: @daffodil/product
