Repository graycoreio/daffodil, pull requests merged in 2021-05, with the labels that each got.

#1472 feat(product): add uri resolver
  libs/product/state/src/resolvers/product-page-id/product-page-id.resolver.spec.ts
  libs/product/state/src/resolvers/product-page-id/product-page-id.resolver.ts
  libs/product/state/src/resolvers/product-page-uri/product-page-uri.resolver.spec.ts
  libs/product/state/src/resolvers/product-page-uri/product-page-uri.resolver.ts
  libs/product/state/src/resolvers/product-page/product-page.resolver.ts
  libs/product/state/src/resolvers/public_api.ts
Labels: @daffodil/product

#1477 feat(category): add URI resolver
  libs/category/routing/src/resolvers/category-page-uri/category-page-uri.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-uri/category-page-uri.resolver.ts
  libs/category/routing/src/resolvers/public_api.ts
Labels: @daffodil/category

#1487 test(product): fix URI resolver test sometimes failing
  libs/product/state/src/resolvers/product-page-uri/product-page-uri.resolver.spec.ts
Labels: @daffodil/product

#1463 feat(design): remove default theme and template file on hero component
  apps/design-land/src/app/hero/hero.component.html
  libs/design/hero/examples/src/hero-theming/hero-theming.component.html
  libs/design/hero/examples/src/hero-theming/hero-theming.component.ts
  libs/design/src/molecules/hero/README.md
  libs/design/src/molecules/hero/hero/hero.component.html
  libs/design/src/molecules/hero/hero/hero.component.spec.ts
  libs/design/src/molecules/hero/hero/hero.component.ts
Labels: @daffodil/design

#1486 feat(design): remove default theme and template file on callout component
  apps/design-land/src/app/callout/callout.component.html
  libs/design/src/molecules/callout/README.md
  libs/design/src/molecules/callout/callout/callout.component.html
  libs/design/src/molecules/callout/callout/callout.component.spec.ts
  libs/design/src/molecules/callout/callout/callout.component.ts
Labels: @daffodil/design

#1488 feat(core): add URI truncation functions and normalizer service
  libs/core/package.json
  libs/core/routing/ng-package.json
  libs/core/routing/package.json
  libs/core/routing/src/index.ts
  libs/core/routing/src/public_api.ts
  libs/core/routing/src/uri/normalizer.service.spec.ts
  libs/core/routing/src/uri/normalizer.service.ts
  libs/core/routing/src/uri/public_api.ts
  libs/core/routing/src/uri/truncation/file-extension.spec.ts
  libs/core/routing/src/uri/truncation/file-extension.ts
  libs/core/routing/src/uri/truncation/leading-path-segments.spec.ts
  libs/core/routing/src/uri/truncation/leading-path-segments.ts
  libs/core/routing/src/uri/truncation/leading-slash.spec.ts
  libs/core/routing/src/uri/truncation/leading-slash.ts
  libs/core/routing/src/uri/truncation/public_api.ts
  libs/core/routing/src/uri/truncation/query-fragment.spec.ts
  libs/core/routing/src/uri/truncation/query-fragment.ts
  libs/core/tsconfig.json
  libs/core/tsconfig.lib.json
Labels: @daffodil/core

#1489 feat(category): truncate URI with function
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/config/default.ts
  libs/category/driver/magento/src/config/uri-truncation-regex.spec.ts
  libs/category/driver/magento/src/interfaces/config.interface.ts
  libs/category/driver/magento/src/public_api.ts
  libs/category/driver/magento/src/transformers/truncate-uri.spec.ts
  libs/category/driver/magento/src/transformers/truncate-uri.ts
Labels: @daffodil/category

#1490 feat(category): normalize state URL in URI resolver before dispatching
  libs/category/routing/src/resolvers/category-page-uri/category-page-uri.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-uri/category-page-uri.resolver.ts
Labels: @daffodil/category

#1491 feat(product): truncate URI with function in Magento driver
  libs/product/driver/magento/src/config/default.ts
  libs/product/driver/magento/src/config/public_api.ts
  libs/product/driver/magento/src/config/uri-truncation-regex.spec.ts
  libs/product/driver/magento/src/interfaces/config.interface.ts
  libs/product/driver/magento/src/product.service.spec.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/src/transforms/truncate-uri.spec.ts
  libs/product/driver/magento/src/transforms/truncate-uri.ts
Labels: @daffodil/product

#1492 feat(product): normalize state URL in URI resolver before dispatching
  libs/product/state/src/resolvers/product-page-uri/product-page-uri.resolver.spec.ts
  libs/product/state/src/resolvers/product-page-uri/product-page-uri.resolver.ts
Labels: @daffodil/product

#1494 docs(external-router): describe driver request URL form
  libs/external-router/driver/src/interfaces/external-router-driver.interface.ts
Labels: @daffodil/external-router

#1493 feat(core): handle missing leading slash in query fragment truncation
  libs/core/routing/src/uri/truncation/query-fragment.spec.ts
  libs/core/routing/src/uri/truncation/query-fragment.ts
Labels: @daffodil/core

#1495 feat(external-router): truncate driver request and response
  libs/external-router/driver/magento/2.4.1/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.1/src/magento.service.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/magento/2.4.2/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.2/src/magento.service.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/testing/src/testing.service.spec.ts
  libs/external-router/driver/testing/src/testing.service.ts
  libs/external-router/routing/src/guard/existence.guard.spec.ts
  libs/external-router/routing/src/guard/existence.guard.ts
Labels: @daffodil/external-router

#1501 feat(core): add locatable interface
  libs/core/src/index.ts
  libs/core/src/locateable/locateable.interface.ts
  libs/core/src/public_api.ts
Labels: @daffodil/core

#1500 fix(category): magento driver setting wrong ID filter key
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/transformers/applied-filter-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/applied-filter-transformer.service.ts
Labels: @daffodil/category

#1504 feat(product): add routing subpackage
  libs/product/routing/ng-package.json
  libs/product/routing/package.json
  libs/product/routing/src/index.ts
  libs/product/routing/src/public_api.ts
  libs/product/routing/src/resolvers/product-page-id/product-page-id.resolver.spec.ts
  libs/product/routing/src/resolvers/product-page-id/product-page-id.resolver.ts
  libs/product/routing/src/resolvers/product-page-uri/product-page-uri.resolver.spec.ts
  libs/product/routing/src/resolvers/product-page-uri/product-page-uri.resolver.ts
  libs/product/routing/src/resolvers/product-page/product-page.resolver.ts
  libs/product/routing/src/resolvers/public_api.ts
  libs/product/state/src/public_api.ts
  libs/product/tsconfig.json
Labels: @daffodil/product

#1505 build(external-router): add publish npm script
  libs/external-router/package.json
Labels: @daffodil/external-router

#1508 fix(design): media-gallery fails to render properly in aot compiled code
  libs/design/src/molecules/media-gallery/media-gallery-registration.interface.ts
  libs/design/src/molecules/media-gallery/media-gallery-token.ts
  libs/design/src/molecules/media-gallery/media-gallery.component.spec.ts
  libs/design/src/molecules/media-gallery/media-gallery.component.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.spec.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.ts
  libs/design/src/molecules/media-gallery/registry/media-gallery.registry.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail-registration.interface.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail.directive.ts
Labels: @daffodil/design, bug

#1512 feat(category): reset category state ID and reduce load by URI
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
Labels: @daffodil/category

#1510 feat(external-router): export some models
  libs/external-router/src/model/public_api.ts
  libs/external-router/src/public_api.ts
Labels: @daffodil/external-router

#1511 feat(product): reset product ID on load and set on load success
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
Labels: @daffodil/product

#1522 feat(external-router): add route not found driver error
  libs/external-router/driver/src/errors/codes.enum.ts
  libs/external-router/driver/src/errors/map.ts
  libs/external-router/driver/src/errors/public_api.ts
  libs/external-router/driver/src/errors/route-not-found.ts
  libs/external-router/driver/src/public_api.ts
Labels: @daffodil/external-router

#1524 feat(external-router): add HTTP code to resolvable route
  libs/external-router/driver/magento/2.4.1/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/magento/2.4.2/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/magento/src/public_api.ts
  libs/external-router/driver/magento/src/transforms/public_api.ts
  libs/external-router/driver/magento/src/transforms/redirect-to-http.spec.ts
  libs/external-router/driver/magento/src/transforms/redirect-to-http.ts
  libs/external-router/driver/testing/src/testing.service.spec.ts
  libs/external-router/driver/testing/src/testing.service.ts
  libs/external-router/routing/src/guard/existence.guard.spec.ts
  libs/external-router/src/model/resolvable-route.ts
  libs/external-router/src/router/router.service.spec.ts
  libs/external-router/src/transform/resolved-route-to-route.spec.ts
Labels: @daffodil/external-router

#1502 Text alignment interface
  angular.json
  apps/design-land/src/app/callout/callout.component.html
  apps/design-land/src/app/callout/callout.module.ts
  libs/design/assets/callout/pwa-illustration.svg
  libs/design/callout/examples/ng-package.json
  libs/design/callout/examples/src/callout-text-alignment/callout-text-alignment.component.html
  libs/design/callout/examples/src/callout-text-alignment/callout-text-alignment.component.ts
  libs/design/callout/examples/src/callout-text-alignment/callout-text-alignment.module.ts
  libs/design/callout/examples/src/callout-theming/callout-theming.component.html
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.component.html
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.component.scss
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.component.ts
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.module.ts
  libs/design/callout/examples/src/examples.ts
  libs/design/callout/examples/src/public_api.ts
  libs/design/ng-package.json
  libs/design/ng-package.prod.json
  libs/design/src/core/public_api.ts
  libs/design/src/core/text-alignable/text-alignable-mixin.ts
  libs/design/src/core/text-alignable/text-alignable.spec.ts
  libs/design/src/core/text-alignable/text-alignable.ts
  libs/design/src/molecules/callout/README.md
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/callout/callout/callout.component.ts
Labels: @daffodil/design

#1521 feat(design): add active style to stroked button
  libs/design/src/atoms/button/button-theme-variants/stroked.scss
  libs/design/src/atoms/button/button-theme.scss
Labels: @daffodil/design

#1530 fix(category): page effects not requesting filters
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
Labels: @daffodil/category

#1541 fix(product): product URL not locatable
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/src/transforms/spec-data/daff-composite-product.json
  libs/product/driver/magento/src/transforms/spec-data/daff-configurable-product.json
Labels: @daffodil/product

#1533 feat(design): update daff-util paths in component files
  angular.json
  libs/design/article/examples/ng-package.json
  libs/design/button/examples/ng-package.json
  libs/design/card/examples/ng-package.json
  libs/design/checkbox/examples/ng-package.json
  libs/design/hero/examples/ng-package.json
  libs/design/list/examples/ng-package.json
  libs/design/loading-icon/examples/ng-package.json
  libs/design/media-gallery/examples/ng-package.json
  libs/design/radio/examples/ng-package.json
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/container/container.component.scss
  libs/design/src/atoms/form/error-message/error-message.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.scss
  libs/design/src/molecules/article/article/article.component.scss
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.scss
  libs/design/src/molecules/button-set/button-set.component.scss
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/card/card/card.component.scss
  libs/design/src/molecules/feature/feature/feature.component.scss
  libs/design/src/molecules/hero/hero/hero.component.scss
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.scss
  libs/design/src/molecules/image-list/image-list.component.scss
  libs/design/src/molecules/link-set/link-set/link-set.component.scss
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.scss
  libs/design/src/molecules/modal/modal/modal.component.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/molecules/paginator/paginator.component.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Labels: @daffodil/design

#1540 fix(cart): cannot add composite products to cart
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/models/requests/cart-item.ts
  libs/cart/driver/magento/src/queries/add-cart-item.ts
  libs/cart/driver/magento/src/queries/public_api.ts
  libs/cart/driver/magento/src/queries/responses/add-cart-item.ts
  libs/cart/driver/magento/src/transforms/inputs/cart-item-input-transformers.spec.ts
  libs/cart/driver/magento/src/transforms/inputs/cart-item-input-transformers.ts
Labels: @daffodil/cart

#1545 feat(cart): locatable cart items
  libs/cart/driver/magento/src/models/responses/cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/cart-item.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
Labels: @daffodil/cart

#1542 fix(category,navigation): breadcrumb URL not locatable
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/navigation/driver/magento/src/models/category-node.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node.ts
  libs/navigation/driver/magento/src/transformers/navigation-transformer.spec.ts
  libs/navigation/driver/magento/src/transformers/navigation-transformer.ts
Labels: @daffodil/category, @daffodil/navigation

#1547 fix(cart): faker method not called for cart item URL
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
Labels: @daffodil/cart

#1549 fix(product): factory URLs not locatable
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/product.factory.ts
Labels: @daffodil/product

#1555 feat(design): add nav-accordion-item component
  apps/design-land/src/app/accordion/accordion.component.html
  apps/design-land/src/app/accordion/accordion.component.scss
  libs/design/src/molecules/accordion/accordion.module.ts
  libs/design/src/molecules/accordion/accordion/accordion.component.html
  libs/design/src/molecules/accordion/accordion/accordion.component.ts
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.html
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.scss
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.spec.ts
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.ts
Labels: @daffodil/design
