Repository graycoreio/daffodil, pull requests merged in 2021-03, with the labels that each got.

#1306 feat(cart): use cart resolution specific error in resolve effect
  libs/cart/src/errors/codes.enum.ts
  libs/cart/src/errors/map.ts
  libs/cart/src/errors/public_api.ts
  libs/cart/src/errors/resolution/cart-not-found-or-created-resolution.ts
  libs/cart/src/errors/resolution/cart-resolution.ts
  libs/cart/src/errors/resolution/cart-server-side-resolution.ts
  libs/cart/src/errors/resolution/cart-storage-resolution.ts
  libs/cart/src/errors/resolution/public_api.ts
  libs/cart/src/public_api.ts
  libs/cart/state/src/actions/cart.actions.ts
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.ts
Labels: @daffodil/cart

#1312 fix(navigation): magento sometimes returns null in place of arrays
  libs/navigation/driver/magento/src/transformers/navigation-transformer.spec.ts
  libs/navigation/driver/magento/src/transformers/navigation-transformer.ts
Labels: @daffodil/navigation, bug

#1313 test(cart): add resolved cart guard integration test
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.integration.spec.ts
  libs/cart/state/src/guards/resolved-cart/resolved-cart.guard.spec.ts
Labels: @daffodil/cart

#1317 docs(cart): using extra cart fragments forces increase to query compl…
  libs/cart/driver/magento/src/injection-tokens/fragments/cart.ts
Labels: @daffodil/cart

#1190 feat(authorizenet): add driver error code enum
  libs/authorizenet/driver/src/errors/acceptjs_invalid.ts
  libs/authorizenet/driver/src/errors/acceptjs_missing.ts
  libs/authorizenet/driver/src/errors/auth-failed.ts
  libs/authorizenet/driver/src/errors/error-code-map.ts
  libs/authorizenet/driver/src/errors/error-codes.enum.ts
  libs/authorizenet/driver/src/errors/input-missing.ts
  libs/authorizenet/driver/src/errors/insecure-connection.ts
  libs/authorizenet/driver/src/errors/invalid-api-response.ts
  libs/authorizenet/driver/src/errors/invalid-cc-cvv.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-month.ts
  libs/authorizenet/driver/src/errors/invalid-cc-exp-year.ts
  libs/authorizenet/driver/src/errors/invalid-cc-name.ts
  libs/authorizenet/driver/src/errors/invalid-cc-number.ts
  libs/authorizenet/driver/src/errors/invalid-client-key.ts
  libs/authorizenet/driver/src/errors/invalid-login-id.ts
  libs/authorizenet/driver/src/errors/invalid-postal-code.ts
  libs/authorizenet/driver/src/errors/past-cc-expiration.ts
  libs/authorizenet/driver/src/errors/public_api.ts
Labels: @daffodil/authorizenet

#1321 feat(cart): reset cart item daffState on failure
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
Labels: @daffodil/cart

#1335 feat(contact): add store feature key
  libs/contact/state/src/facades/contact.facade.spec.ts
  libs/contact/state/src/public_api.ts
  libs/contact/state/src/reducers/contact-store-feature-key.ts
  libs/contact/state/src/selectors/contact.selector.spec.ts
  libs/contact/state/src/selectors/contact.selector.ts
Labels: @daffodil/contact

#1337 feat(paypal): add store feature key
  libs/paypal/src/facades/paypal.facade.spec.ts
  libs/paypal/src/index.ts
  libs/paypal/src/paypal-state.module.ts
  libs/paypal/src/reducers/paypal-store-feature-key.ts
  libs/paypal/src/selectors/paypal.selector.spec.ts
  libs/paypal/src/selectors/paypal.selector.ts
Labels: @daffodil/paypal

#1336 feat(newsletter): add store feature key
  libs/newsletter/src/facades/newsletter.facade.spec.ts
  libs/newsletter/src/index.ts
  libs/newsletter/src/newsletter.module.ts
  libs/newsletter/src/reducers/newsletter-store-feature-key.ts
  libs/newsletter/src/selectors/newsletter.selector.spec.ts
  libs/newsletter/src/selectors/newsletter.selector.ts
Labels: @daffodil/newsletter

#1346 feat(category): add store feature key
  libs/category/routing/src/resolvers/category-page/category-page.resolver.spec.ts
  libs/category/state/src/category-state.module.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category.effects.spec.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/reducers/category-store-feature-key.ts
  libs/category/state/src/reducers/public_api.ts
  libs/category/state/src/selectors/category-entities/category-entities.selector.spec.ts
  libs/category/state/src/selectors/category-feature.selector.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category.selector.spec.ts
Labels: @daffodil/category

#1334 feat(cart,demo,order): add cart store feature key
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/index.spec.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/cart-resolver.service.spec.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/empty-cart-resolver.service.spec.ts
  apps/demo/src/app/cart/selectors/cart-selector.spec.ts
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/state/src/guards/cart-items/cart-items.guard.spec.ts
  libs/cart/state/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/state/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/state/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/state/src/reducers/cart-store-feature-key.ts
  libs/cart/state/src/reducers/public_api.ts
  libs/cart/state/src/resolvers/cart-resolver.service.spec.ts
  libs/cart/state/src/selectors/cart-feature.selector.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-order/cart-order.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/order/state/src/facades/order/order.facade.spec.ts
  libs/order/state/src/guards/placed-order/placed-order.guard.spec.ts
  libs/order/state/src/selectors/order-entities.selector.spec.ts
Labels: @daffodil/cart

#1343 perf(cart): reduce cart item query complexity
  libs/cart/driver/magento/src/models/responses/cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/cart-item.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/bundle-cart-item.factory.spec.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/configurable-cart-item.factory.spec.ts
Labels: @daffodil/cart

#1355 fix(authorizenet): null injector error when using in-memory api
  libs/authorizenet/driver/in-memory/src/drivers/authorize-net-driver.module.ts
  libs/authorizenet/driver/in-memory/src/drivers/authorize-net-payment-id.ts
Labels: @daffodil/authorizenet

#1356 feat(cart): init available shipping methods in in-memory driver
  libs/cart/driver/in-memory/src/backend/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-methods/cart-shipping-methods.service.ts
Labels: @daffodil/cart

#1358 feat(authorizenet): add in-memory backend
  libs/authorizenet/driver/in-memory/src/backend/authorize-net.service.spec.ts
  libs/authorizenet/driver/in-memory/src/backend/authorize-net.service.ts
  libs/authorizenet/driver/in-memory/src/backend/public_api.ts
  libs/authorizenet/driver/in-memory/src/drivers/public_api.ts
  libs/authorizenet/driver/in-memory/src/public_api.ts
Labels: @daffodil/authorizenet

#1352 fix(category): the applied_sort_option is not being set to the defaul…
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/src/models/category-page-configuration-state.ts
  libs/category/src/models/category-sort-option.ts
  libs/category/src/models/category-sort-options.ts
  libs/category/src/models/public_api.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.spec.ts
  libs/category/testing/src/factories/category-page-configuration-state.factory.ts
Labels: @daffodil/category, bug

#1360 feat(cart): add in-memory extra_attributes hook token
  libs/cart/driver/in-memory/src/backend/cart-address/cart-address.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-address/cart-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-billing-address/cart-billing-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-coupon/cart-coupon.service.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/driver/in-memory/src/backend/cart-payment/cart-payment.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-payment/cart-payment.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.ts
  libs/cart/driver/in-memory/src/injection-tokens/extra-attributes-hook.token.ts
  libs/cart/driver/in-memory/src/injection-tokens/public_api.ts
  libs/cart/driver/in-memory/src/public_api.ts
Labels: @daffodil/cart

#1362 feat(category): add stateful category page configuration state model
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/actions/category.actions.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/effects/category.effects.spec.ts
  libs/category/state/src/effects/category.effects.ts
  libs/category/state/src/facades/category-facade.interface.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/facades/category.facade.ts
  libs/category/state/src/models/public_api.ts
  libs/category/state/src/models/stateful-category-page-configuration-state.interface.ts
  libs/category/state/src/public_api.ts
  libs/category/state/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/state/src/reducers/category/category-reducer-state.interface.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/selectors/category-entities/category-entities.selector.spec.ts
  libs/category/state/src/selectors/category-entities/category-entities.selector.ts
  libs/category/state/src/selectors/category-feature.selector.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.spec.ts
  libs/category/state/src/selectors/category.selector.ts
  libs/category/state/testing/src/factories/stateful-category-page-configuration-state.factory.spec.ts
  libs/category/state/testing/src/factories/stateful-category-page-configuration-state.factory.ts
  libs/category/state/testing/src/mock-category-facade.ts
  libs/category/state/testing/src/public_api.ts
  libs/category/testing/src/public_api.ts
Labels: @daffodil/category

#1365 feat(geography): use daff state error
  libs/geography/src/index.ts
  libs/geography/src/injection-tokens/error-matcher.token.ts
  libs/geography/src/injection-tokens/public_api.ts
  libs/geography/src/public_api.ts
  libs/geography/state/src/actions/geography.actions.ts
  libs/geography/state/src/effects/geography.effects.spec.ts
  libs/geography/state/src/effects/geography.effects.ts
  libs/geography/state/src/facades/geography/geography-facade.interface.ts
  libs/geography/state/src/facades/geography/geography.facade.spec.ts
  libs/geography/state/src/facades/geography/geography.facade.ts
  libs/geography/state/src/reducers/geography/geography-state.interface.ts
  libs/geography/state/src/reducers/geography/geography.reducer.spec.ts
  libs/geography/state/src/selectors/geography.selector.ts
  libs/geography/state/testing/src/mock-geography-facade.ts
Labels: @daffodil/geography

#1366 feat(order): use daff state error
  libs/order/src/injection-tokens/error-matcher.token.ts
  libs/order/src/injection-tokens/public_api.ts
  libs/order/src/public_api.ts
  libs/order/state/src/actions/order.actions.ts
  libs/order/state/src/effects/order.effects.spec.ts
  libs/order/state/src/effects/order.effects.ts
  libs/order/state/src/facades/order/order-facade.interface.ts
  libs/order/state/src/facades/order/order.facade.spec.ts
  libs/order/state/src/facades/order/order.facade.ts
  libs/order/state/src/reducers/order/order-reducer.interface.ts
  libs/order/state/src/reducers/order/order.reducer.spec.ts
  libs/order/state/src/selectors/order.selector.ts
  libs/order/state/testing/src/mock-order-facade.ts
Labels: @daffodil/order

#1367 feat(newsletter): use daff state error
  apps/demo/src/app/newsletter/newsletter.component.spec.ts
  libs/newsletter/src/actions/newsletter.actions.ts
  libs/newsletter/src/effects/newsletter.effects.spec.ts
  libs/newsletter/src/effects/newsletter.effects.ts
  libs/newsletter/src/facades/newsletter-facade.interface.ts
  libs/newsletter/src/facades/newsletter.facade.spec.ts
  libs/newsletter/src/facades/newsletter.facade.ts
  libs/newsletter/src/index.ts
  libs/newsletter/src/injection-tokens/error-matcher.token.ts
  libs/newsletter/src/injection-tokens/public_api.ts
  libs/newsletter/src/reducers/newsletter.reducer.spec.ts
  libs/newsletter/src/reducers/newsletter.reducer.ts
  libs/newsletter/src/selectors/newsletter.selector.ts
  libs/newsletter/testing/src/helpers/mock-newsletter-facade.ts
Labels: @daffodil/newsletter

#1368 feat(navigation): use daff state error
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.ts
  libs/navigation/src/injection-tokens/error-matcher.token.ts
  libs/navigation/src/injection-tokens/public_api.ts
  libs/navigation/src/public_api.ts
  libs/navigation/state/src/actions/navigation.actions.ts
  libs/navigation/state/src/effects/navigation.effects.spec.ts
  libs/navigation/state/src/effects/navigation.effects.ts
  libs/navigation/state/src/facades/navigation-facade.interface.ts
  libs/navigation/state/src/facades/navigation.facade.spec.ts
  libs/navigation/state/src/facades/navigation.facade.ts
  libs/navigation/state/src/reducers/navigation/navigation-reducer-state.interface.ts
  libs/navigation/state/src/reducers/navigation/navigation.reducer.spec.ts
  libs/navigation/state/src/selectors/navigation.selector.ts
  libs/navigation/state/testing/src/mock-navigation.facade.ts
Labels: @daffodil/navigation

#1369 feat(contact): use daff state error
  libs/contact/src/index.ts
  libs/contact/src/injection-tokens/error-matcher.token.ts
  libs/contact/src/injection-tokens/public_api.ts
  libs/contact/src/public_api.ts
  libs/contact/state/src/actions/contact.actions.ts
  libs/contact/state/src/effects/contact.effects.spec.ts
  libs/contact/state/src/effects/contact.effects.ts
  libs/contact/state/src/facades/contact-facade.interface.ts
  libs/contact/state/src/facades/contact.facade.spec.ts
  libs/contact/state/src/facades/contact.facade.ts
  libs/contact/state/src/reducers/contact.reducer.spec.ts
  libs/contact/state/src/reducers/contact.reducer.ts
  libs/contact/state/src/selectors/contact.selector.spec.ts
  libs/contact/state/src/selectors/contact.selector.ts
  libs/contact/state/testing/src/mock-contact-facade.ts
Labels: @daffodil/contact

#1370 feat(paypal): use daff state error
  libs/paypal/src/actions/paypal.actions.ts
  libs/paypal/src/effects/paypal.effects.spec.ts
  libs/paypal/src/effects/paypal.effects.ts
  libs/paypal/src/facades/paypal.facade.spec.ts
  libs/paypal/src/facades/paypal.facade.ts
  libs/paypal/src/index.ts
  libs/paypal/src/injection-tokens/error-matcher.token.ts
  libs/paypal/src/injection-tokens/public_api.ts
  libs/paypal/src/interfaces/paypal-facade.interface.ts
  libs/paypal/src/reducers/paypal/paypal-reducer.interface.ts
  libs/paypal/src/reducers/paypal/paypal.reducer.spec.ts
  libs/paypal/src/selectors/paypal.selector.spec.ts
  libs/paypal/src/selectors/paypal.selector.ts
  libs/paypal/testing/src/helpers/mock-paypal-facade.ts
Labels: @daffodil/paypal

#1371 test(category): set result in page load success reducer test
  libs/category/state/src/reducers/category/category.reducer.spec.ts
Labels: @daffodil/category

#1373 feat(product): use daff state error
  libs/product/src/injection-tokens/error-matcher.token.ts
  libs/product/src/injection-tokens/public_api.ts
  libs/product/src/public_api.ts
  libs/product/state/src/actions/best-sellers.actions.ts
  libs/product/state/src/actions/product-grid.actions.ts
  libs/product/state/src/actions/product-page.actions.ts
  libs/product/state/src/actions/product.actions.ts
  libs/product/state/src/effects/best-seller.effects.spec.ts
  libs/product/state/src/effects/best-seller.effects.ts
  libs/product/state/src/effects/product-grid.effects.spec.ts
  libs/product/state/src/effects/product-grid.effects.ts
  libs/product/state/src/effects/product-page.effects.spec.ts
  libs/product/state/src/effects/product-page.effects.ts
  libs/product/state/src/effects/product.effects.spec.ts
  libs/product/state/src/effects/product.effects.ts
  libs/product/state/src/reducers/best-sellers/best-sellers-reducer-state.interface.ts
  libs/product/state/src/reducers/best-sellers/best-sellers.reducer.spec.ts
  libs/product/state/src/reducers/product-grid/product-grid-reducer-state.interface.ts
  libs/product/state/src/reducers/product-grid/product-grid.reducer.spec.ts
  libs/product/state/src/reducers/product/product-reducer-state.interface.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
Labels: @daffodil/product

#1374 feat(auth): use daff state error
  libs/auth/src/actions/auth.actions.ts
  libs/auth/src/effects/auth.effects.spec.ts
  libs/auth/src/effects/auth.effects.ts
  libs/auth/src/facades/auth.facade.spec.ts
  libs/auth/src/facades/auth.facade.ts
  libs/auth/src/index.ts
  libs/auth/src/injection-tokens/error-matcher.token.ts
  libs/auth/src/injection-tokens/public_api.ts
  libs/auth/src/interfaces/auth-facade.interface.ts
  libs/auth/src/reducers/auth/auth-reducer-state.interface.ts
  libs/auth/src/reducers/auth/auth.reducer.spec.ts
  libs/auth/src/reducers/login/login-reducer-state.interface.ts
  libs/auth/src/reducers/login/login.reducer.spec.ts
  libs/auth/src/reducers/register/register-reducer-state.interface.ts
  libs/auth/src/reducers/register/register.reducer.spec.ts
  libs/auth/src/selectors/auth/auth.selector.spec.ts
  libs/auth/src/selectors/auth/auth.selector.ts
  libs/auth/src/selectors/login/login.selector.spec.ts
  libs/auth/src/selectors/login/login.selector.ts
  libs/auth/src/selectors/register/register.selector.spec.ts
  libs/auth/src/selectors/register/register.selector.ts
Labels: @daffodil/auth

#1378 feat(category): use daff state error
  libs/category/src/injection-tokens/error-matcher.token.ts
  libs/category/src/injection-tokens/public_api.ts
  libs/category/src/public_api.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/actions/category.actions.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/effects/category.effects.spec.ts
  libs/category/state/src/effects/category.effects.ts
  libs/category/state/src/facades/category-facade.interface.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/facades/category.facade.ts
  libs/category/state/src/reducers/category/category-reducer-state.interface.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/testing/src/mock-category-facade.ts
Labels: @daffodil/category

#1379 feat(external-router): add id to resolvable route
  libs/external-router/driver/magento/2.4.1/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.1/src/magento.service.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.1/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/magento/2.4.2/src/magento.service.spec.ts
  libs/external-router/driver/magento/2.4.2/src/magento.service.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.spec.ts
  libs/external-router/driver/magento/2.4.2/src/transforms/resolution-to-resolvable-url.ts
  libs/external-router/driver/magento/src/public_api.ts
  libs/external-router/driver/testing/src/testing.service.spec.ts
  libs/external-router/driver/testing/src/testing.service.ts
  libs/external-router/src/model/resolvable-route.ts
  libs/external-router/src/router/router.service.spec.ts
  libs/external-router/src/transform/resolved-route-to-route.spec.ts
Labels: @daffodil/external-router

#1377 feat(product): move base media URL to driver config
  apps/demo/src/app/drivers/magento/magento.module.ts
  libs/product/driver/magento/src/interfaces/config.interface.ts
  libs/product/driver/magento/src/interfaces/public_api.ts
  libs/product/driver/magento/src/product-driver.module.ts
  libs/product/driver/magento/src/product.service.spec.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/public_api.ts
  libs/product/driver/magento/src/queries/get-product.ts
Labels: @daffodil/product

#1256 feat(design): add support for `daffHeroTagline` in Hero
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/hero/hero.component.html
  apps/design-land/src/app/hero/hero.module.ts
  libs/design/hero/examples/ng-package.json
  libs/design/hero/examples/package.json
  libs/design/hero/examples/src/examples.ts
  libs/design/hero/examples/src/hero-examples.module.ts
  libs/design/hero/examples/src/hero-theming/hero-theming.component.html
  libs/design/hero/examples/src/hero-theming/hero-theming.component.ts
  libs/design/hero/examples/src/hero-theming/hero-theming.module.ts
  libs/design/hero/examples/src/index.ts
  libs/design/hero/examples/src/public_api.ts
  libs/design/src/molecules/hero/README.md
  libs/design/src/molecules/hero/hero-tagline/hero-tagline.directive.spec.ts
  libs/design/src/molecules/hero/hero-tagline/hero-tagline.directive.ts
  libs/design/src/molecules/hero/hero.module.ts
  libs/design/src/molecules/hero/hero/hero.component.html
  libs/design/src/molecules/hero/hero/hero.component.scss
  libs/design/src/molecules/hero/hero/hero.component.spec.ts
  libs/design/src/molecules/hero/hero/hero.component.ts
  libs/design/src/molecules/hero/public_api.ts
Labels: @daffodil/design

#1384 feat(core): use DaffSortOptions in DaffSortable
  libs/core/state/src/collection/sortable.ts
Labels: @daffodil/core

#1364 feat(cart): set coupon code on invalid coupon error
  libs/cart/driver/magento/src/cart-coupon.service.spec.ts
  libs/cart/driver/magento/src/cart-coupon.service.ts
  libs/cart/driver/magento/src/errors/transform.ts
  libs/cart/driver/src/errors/invalid-coupon-code.ts
Labels: @daffodil/cart

#1308 feat(design): create disableable and focusable interfaces for form field behaviors
  libs/design/src/atoms/form/form-field/behaviors/disableable/disableable-interface.ts
  libs/design/src/atoms/form/form-field/behaviors/focusable/focusable-interface.ts
Labels: @daffodil/design

#1351 feat(design): add support for `daffCalloutTagline` in Callout
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/callout/callout-routing.module.ts
  apps/design-land/src/app/callout/callout.component.html
  apps/design-land/src/app/callout/callout.component.ts
  apps/design-land/src/app/callout/callout.module.ts
  libs/design/callout/examples/ng-package.json
  libs/design/callout/examples/package.json
  libs/design/callout/examples/src/callout-theming/callout-theming.component.html
  libs/design/callout/examples/src/callout-theming/callout-theming.component.ts
  libs/design/callout/examples/src/callout-theming/callout-theming.module.ts
  libs/design/callout/examples/src/examples.ts
  libs/design/callout/examples/src/index.ts
  libs/design/callout/examples/src/public_api.ts
  libs/design/src/molecules/callout/README.md
  libs/design/src/molecules/callout/callout-tagline/callout-tagline.directive.spec.ts
  libs/design/src/molecules/callout/callout-tagline/callout-tagline.directive.ts
  libs/design/src/molecules/callout/callout.module.ts
  libs/design/src/molecules/callout/callout/callout.component.html
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/callout/callout/callout.component.spec.ts
  libs/design/src/molecules/callout/callout/callout.component.ts
  libs/design/src/molecules/callout/public_api.ts
Labels: @daffodil/design

#1390 feat(external-router): add route inserter injection token
  libs/external-router/guides/configuration.md
  libs/external-router/routing/src/guard/existence.guard.spec.ts
  libs/external-router/src/external-router.module.ts
  libs/external-router/src/model/insertion-strategy.type.ts
  libs/external-router/src/model/route-info.ts
  libs/external-router/src/model/route-without-path.ts
  libs/external-router/src/model/type-route-pair.ts
  libs/external-router/src/public_api.ts
  libs/external-router/src/router/helper/insert-route-before-wildcard.spec.ts
  libs/external-router/src/router/helper/insert-route-before-wildcard.ts
  libs/external-router/src/router/router.service.spec.ts
  libs/external-router/src/router/router.service.ts
  libs/external-router/src/token/type-resolvable-routes.token.spec.ts
  libs/external-router/src/token/type-resolvable-routes.token.ts
  libs/external-router/src/transform/resolved-route-to-route.spec.ts
  libs/external-router/src/transform/resolved-route-to-route.ts
Labels: @daffodil/external-router

#1393 feat(category): add additional filter actions
  libs/category/state/src/actions/category-page-filter.actions.ts
Labels: @daffodil/category

#1392 feat(product): add a selector and facade field for composite product …
  libs/product/state/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/state/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/state/src/facades/composite-product/composite-product.facade.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/state/testing/src/mock-composite-product-facade.ts
Labels: @daffodil/product

#1396 feat(core): add dict type
  libs/core/src/types/dict.type.ts
  libs/core/src/types/public_api.ts
Labels: @daffodil/core

#1397 feat(product): add getByUrl to drivers
  libs/product/driver/in-memory/src/backend/product.service.ts
  libs/product/driver/in-memory/src/driver/product.service.spec.ts
  libs/product/driver/in-memory/src/driver/product.service.ts
  libs/product/driver/magento/src/product.service.spec.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/queries/get-product-by-url.ts
  libs/product/driver/shopify/src/product.service.ts
  libs/product/driver/src/interfaces/product-service.interface.ts
  libs/product/driver/testing/src/drivers/product.service.spec.ts
  libs/product/driver/testing/src/drivers/product.service.ts
Labels: @daffodil/product
