Repository graycoreio/daffodil, pull requests merged in 2021-07, with the labels that each got.

#1652 docs(cart): add root cart package API docs
  libs/cart/guides/drivers.md
  libs/cart/src/errors/codes.enum.ts
  libs/cart/src/models/cart-address.ts
  libs/cart/src/models/cart-coupon.ts
  libs/cart/src/models/cart-item-input.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/models/cart-order-result.ts
  libs/cart/src/models/cart-payment.ts
  libs/cart/src/models/cart-shipping-info.ts
  libs/cart/src/models/cart-shipping-rate.ts
  libs/cart/src/models/cart-total.ts
  libs/cart/src/models/cart.ts
  libs/cart/src/models/composite-cart-item.ts
  libs/cart/src/models/configurable-cart-item.ts
Labels: @daffodil/cart, docs

#1654 docs(cart): add action API docs
  libs/cart/state/src/actions/cart-address.actions.ts
  libs/cart/state/src/actions/cart-billing-address.actions.ts
  libs/cart/state/src/actions/cart-coupon.actions.ts
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/actions/cart-order.actions.ts
  libs/cart/state/src/actions/cart-payment-methods.actions.ts
  libs/cart/state/src/actions/cart-payment.actions.ts
  libs/cart/state/src/actions/cart-shipping-address.actions.ts
  libs/cart/state/src/actions/cart-shipping-information.actions.ts
  libs/cart/state/src/actions/cart-shipping-methods.actions.ts
  libs/cart/state/src/actions/cart.actions.ts
Labels: @daffodil/cart

#1659 feat(cart): deprecate DaffCartCoupon.coupon_id and extend the DaffIde…
  libs/cart/driver/magento/src/transforms/outputs/cart-coupon.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-coupon.ts
  libs/cart/src/models/cart-coupon.ts
  libs/cart/testing/src/factories/cart-coupon.factory.spec.ts
  libs/cart/testing/src/factories/cart-coupon.factory.ts
Labels: @daffodil/cart

#1657 feat(product): change instances of selectedProduct to currentProduct …
  libs/product/state/src/actions/product-page.actions.ts
  libs/product/state/src/facades/product/product-facade.interface.ts
  libs/product/state/src/facades/product/product.facade.spec.ts
  libs/product/state/src/facades/product/product.facade.ts
  libs/product/state/src/reducers/product/product-reducer-state.interface.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
  libs/product/state/src/selectors/product/product.selectors.ts
Labels: @daffodil/product

#1658 feat(category): change wording of selectedCategory to currentCategory
  libs/category/state/src/actions/category-page-filter.actions.ts
  libs/category/state/src/facades/category-facade.interface.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/facades/category.facade.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.spec.ts
  libs/category/state/src/selectors/category.selector.ts
Labels: @daffodil/category

#1661 docs(cart): remove table of contents from guides
  libs/cart/guides/drivers.md
  libs/cart/guides/extension.md
  libs/cart/guides/installation.md
  libs/cart/guides/usage.md
Labels: @daffodil/cart, docs

#1597 docs(category): add some api docs
  libs/category/driver/in-memory/src/backend/category.service.ts
  libs/category/driver/in-memory/src/drivers/category-driver.module.ts
  libs/category/driver/in-memory/src/drivers/category.service.ts
  libs/category/driver/magento/src/category-driver.module.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/config/default.ts
  libs/category/driver/src/interfaces/category-service.interface.ts
  libs/category/driver/testing/src/drivers/category-driver.module.ts
  libs/category/driver/testing/src/drivers/category.service.ts
  libs/category/src/models/category-breadcrumb.ts
  libs/category/src/models/category-page-metadata.ts
  libs/category/src/models/filters/category-filter-option-base.ts
  libs/category/src/models/filters/type/equal/filter.ts
  libs/category/src/models/filters/type/equal/option.ts
  libs/category/src/models/filters/type/equal/request.ts
  libs/category/src/models/filters/type/equal/toggle-request.ts
  libs/category/src/models/filters/type/range-numeric/filter.ts
  libs/category/src/models/filters/type/range-numeric/request.ts
  libs/category/src/models/filters/type/range-numeric/toggle-request.ts
  libs/category/src/models/filters/type/range/filter-base.ts
  libs/category/src/models/filters/type/range/option.ts
  libs/category/src/models/filters/type/range/pair.ts
  libs/category/src/models/filters/type/range/request-base.ts
  libs/category/src/models/filters/type/range/request-option.ts
  libs/category/src/models/generic-category.ts
  libs/category/src/models/get-category-response.ts
  libs/category/state/src/actions/category-page-filter.actions.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/actions/category.actions.ts
  libs/category/state/src/category-state.module.ts
  libs/category/state/src/facades/category-facade.interface.ts
  libs/category/state/src/facades/category.facade.ts
  libs/category/state/src/reducers/category-entities/category-entities.reducer.ts
  libs/category/state/src/reducers/category-reducers.interface.ts
  libs/category/state/src/reducers/category-reducers.ts
  libs/category/state/src/reducers/category-store-feature-key.ts
  libs/category/state/src/reducers/category/category-reducer-state.interface.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/selectors/category-entities/category-entities.selector.ts
  libs/category/state/src/selectors/category-feature.selector.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.ts
  libs/category/state/testing/src/category-testing.module.ts
  libs/category/state/testing/src/mock-category-facade.ts
  libs/category/testing/src/factories/category-page-metadata.factory.ts
  libs/category/testing/src/factories/category.factory.ts
  libs/category/testing/src/factories/filters/filter.factory.ts
  libs/category/testing/src/factories/filters/request.factory.ts
  libs/category/testing/src/factories/filters/toggle-request.ts
  libs/category/testing/src/factories/filters/type/equal.ts
  libs/category/testing/src/factories/filters/type/equal/option.ts
  libs/category/testing/src/factories/filters/type/equal/request.ts
  libs/category/testing/src/factories/filters/type/equal/toggle-request.ts
  libs/category/testing/src/factories/filters/type/range-numeric.ts
  libs/category/testing/src/factories/filters/type/range-numeric/option.ts
  libs/category/testing/src/factories/filters/type/range-numeric/pair.ts
  libs/category/testing/src/factories/filters/type/range-numeric/request-option.ts
  libs/category/testing/src/factories/filters/type/range-numeric/request.ts
  libs/category/testing/src/factories/filters/type/range-numeric/toggle-request.ts
Labels: @daffodil/category, docs

#1663 refactor(core): daffUriTruncateQueryFragment now supports ie11
  libs/core/routing/src/uri/truncation/query-fragment.ts
Labels: @daffodil/core

#1666 refactor(core): replace regex.group in daffUriTruncateFileExtension f…
  libs/core/routing/src/uri/truncation/file-extension.ts
Labels: @daffodil/core

#1669 feat(product): inject extra product driver response transforms
  libs/product/driver/magento/src/injection-tokens/public_api.ts
  libs/product/driver/magento/src/injection-tokens/transforms/response-extra.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/response-extra.token.ts
  libs/product/driver/magento/src/injection-tokens/transforms/response.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/response.token.ts
  libs/product/driver/magento/src/interfaces/product-response-extra-transform.type.ts
  libs/product/driver/magento/src/interfaces/product-response-transform.type.ts
  libs/product/driver/magento/src/interfaces/public_api.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/public_api.ts
Labels: @daffodil/product

#1674 feat(cart): remove magento object spread in driver transforms
  libs/cart/driver/magento/src/transforms/outputs/cart-address.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-address.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-coupon.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-payment.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-payment.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-rate.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-rate.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.ts
Labels: @daffodil/cart

#1671 feat(product): add dependency injectable meta-reducers
  libs/product/guides/state.md
  libs/product/integration-tests/state/meta-reducers.spec.ts
  libs/product/state/src/product-state.module.ts
  libs/product/state/src/reducers/injection-tokens/config.token.spec.ts
  libs/product/state/src/reducers/injection-tokens/config.token.ts
  libs/product/state/src/reducers/injection-tokens/meta.token.spec.ts
  libs/product/state/src/reducers/injection-tokens/meta.token.ts
  libs/product/state/src/reducers/injection-tokens/public_api.ts
  libs/product/state/src/reducers/public_api.ts
Labels: @daffodil/product

#1665 feat(product): add support for extra product fragments for Magento
  libs/product/driver/magento/src/injection-tokens/fragments/product.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/fragments/product.token.ts
  libs/product/driver/magento/src/injection-tokens/public_api.ts
  libs/product/driver/magento/src/product.service.spec.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/public_api.ts
  libs/product/driver/magento/src/queries/get-all-products.ts
  libs/product/driver/magento/src/queries/get-product-by-url.ts
  libs/product/driver/magento/src/queries/get-product.ts
Labels: @daffodil/product

#1647 feat(design): add focus control to form-field
  libs/design/src/atoms/form/form-field/form-field-control.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.html
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
Labels: @daffodil/design

#1655 feat(cart): add dependency injectable reducers
  libs/cart/guides/state.md
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/reducers/public_api.ts
  libs/cart/state/src/reducers/token/extra.token.spec.ts
  libs/cart/state/src/reducers/token/extra.token.ts
  libs/cart/state/src/reducers/token/public_api.ts
  libs/cart/state/src/reducers/token/reducers.token.spec.ts
  libs/cart/state/src/reducers/token/reducers.token.ts
Labels: @daffodil/cart

#1676 test(product): add custom query and transform integration test
  libs/product/integration-tests/driver/magento/custom-fields.spec.ts
Labels: @daffodil/product

#1679 feat(product): add magento get product response model
  libs/product/driver/magento/src/models/get-product-response.interface.ts
  libs/product/driver/magento/src/models/public_api.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/public_api.ts
  libs/product/integration-tests/driver/magento/custom-fields.spec.ts
Labels: @daffodil/product

#1620 feat(order): add state root slice
  libs/order/state/src/facades/order/order.facade.spec.ts
  libs/order/state/src/facades/order/order.facade.ts
  libs/order/state/src/order-state.module.ts
  libs/order/state/src/reducers/order-reducers.interface.ts
  libs/order/state/src/reducers/public_api.ts
  libs/order/state/src/selectors/order-entities.selector.spec.ts
  libs/order/state/src/selectors/order-entities.selector.ts
  libs/order/state/src/selectors/order-feature.selector.ts
  libs/order/state/src/selectors/order.selector.spec.ts
  libs/order/state/src/selectors/order.selector.ts
Labels: @daffodil/order

#1684 feat(product): enable injection of product preview transformers
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.ts
  libs/product/driver/magento/src/injection-tokens/public_api.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview-extra.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview-extra.token.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview.token.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-response/response-extra.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-response/response-extra.token.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-response/response.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/transforms/product-response/response.token.ts
  libs/product/driver/magento/src/interfaces/product-preview-extra-transform.type.ts
  libs/product/driver/magento/src/interfaces/product-preview-transform.type.ts
  libs/product/driver/magento/src/interfaces/public_api.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/transforms/bundled-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/configurable-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/product-response.spec.ts
  libs/product/driver/magento/src/transforms/product-response.ts
  libs/product/driver/magento/src/transforms/product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/product-transformers.ts
  libs/product/driver/magento/src/transforms/public_api.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
Labels: @daffodil/product

#1693 feat(product): export preview fragment
  libs/product/driver/magento/src/public_api.ts
  libs/product/driver/magento/src/queries/public_api.ts
Labels: @daffodil/product

#1692 feat(product): add product preview fragment injection token to magent…
  libs/product/driver/magento/src/injection-tokens/fragments/product-preview.token.spec.ts
  libs/product/driver/magento/src/injection-tokens/fragments/product-preview.token.ts
  libs/product/driver/magento/src/injection-tokens/public_api.ts
  libs/product/driver/magento/src/product.service.ts
Labels: @daffodil/product

#1662 docs(dgeni): add link tags to daffodil models, classes, etc
  tools/dgeni/src/processors/addLinkTagToDaffodilReferences.spec.ts
  tools/dgeni/src/processors/addLinkTagToDaffodilReferences.ts
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
Labels: docs

#1696 feat(product): export mock models
  libs/product/driver/magento/testing/src/factories/public_api.ts
  libs/product/testing/src/factories/public_api.ts
Labels: @daffodil/product

#1698 feat(related-products): add related products package scaffold
  angular.json
  libs/related-products/.eslintrc.js
  libs/related-products/README.md
  libs/related-products/driver/in-memory/ng-package.json
  libs/related-products/driver/in-memory/package.json
  libs/related-products/driver/in-memory/src/index.ts
  libs/related-products/driver/in-memory/src/public_api.ts
  libs/related-products/driver/magento/ng-package.json
  libs/related-products/driver/magento/package.json
  libs/related-products/driver/magento/src/index.ts
  libs/related-products/driver/magento/src/public_api.ts
  libs/related-products/driver/magento/testing/ng-package.json
  libs/related-products/driver/magento/testing/package.json
  libs/related-products/driver/magento/testing/src/index.ts
  libs/related-products/driver/magento/testing/src/public_api.ts
  libs/related-products/driver/ng-package.json
  libs/related-products/driver/package.json
  libs/related-products/driver/src/index.ts
  libs/related-products/driver/src/public_api.ts
  libs/related-products/driver/testing/ng-package.json
  libs/related-products/driver/testing/package.json
  libs/related-products/driver/testing/src/index.ts
  libs/related-products/driver/testing/src/public_api.ts
  libs/related-products/karma.conf.js
  libs/related-products/ng-package.json
  libs/related-products/ng-package.prod.json
  libs/related-products/package.json
  libs/related-products/src/index.ts
  libs/related-products/src/public_api.ts
  libs/related-products/src/stub.spec.ts
  libs/related-products/state/ng-package.json
  libs/related-products/state/package.json
  libs/related-products/state/src/index.ts
  libs/related-products/state/src/public_api.ts
  libs/related-products/state/testing/src/index.ts
  libs/related-products/state/testing/src/public_api.ts
  libs/related-products/test.ts
  libs/related-products/testing/ng-package.json
  libs/related-products/testing/package.json
  libs/related-products/testing/src/index.ts
  libs/related-products/testing/src/public_api.ts
  libs/related-products/tsconfig.json
  libs/related-products/tsconfig.lib.json
  libs/related-products/tsconfig.lib.prod.json
  libs/related-products/tsconfig.spec.json
Labels: @daffodil/related-products

#1699 feat(related-products): add related product model
  libs/related-products/src/models/related-product.interface.ts
  libs/related-products/src/public_api.ts
  libs/related-products/testing/src/factories/public_api.ts
  libs/related-products/testing/src/factories/related-product.factory.spec.ts
  libs/related-products/testing/src/factories/related-product.factory.ts
  libs/related-products/testing/src/public_api.ts
Labels: @daffodil/related-products

#1702 feat(product): add product page facade
  apps/demo/src/app/product/pages/product-view/product-view.component.spec.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.ts
  libs/product/state/src/facades/product-page/facade.interface.ts
  libs/product/state/src/facades/product-page/facade.spec.ts
  libs/product/state/src/facades/product-page/facade.ts
  libs/product/state/src/facades/product/product-facade.interface.ts
  libs/product/state/src/facades/product/product.facade.ts
  libs/product/state/src/facades/public_api.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
  libs/product/state/src/selectors/product/product.selectors.ts
  libs/product/state/testing/src/mock-product-facade.ts
  libs/product/state/testing/src/mock-product-page-facade.ts
  libs/product/state/testing/src/product-testing.module.ts
  libs/product/state/testing/src/public_api.ts
Labels: @daffodil/product

#1703 fix(product): Magento driver prefixing thumbnail URL
  libs/product/driver/magento/src/transforms/product-preview.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
Labels: @daffodil/product

#1706 fix(product): add workaround for magento not returning bundled produc…
  libs/product/driver/magento/src/transforms/bundled-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/bundled-product-transformers.ts
Labels: @daffodil/product, bug

#1710 feat(seo): cache upserted canonical URL
  libs/seo/src/canonical/canonical.service.spec.ts
  libs/seo/src/canonical/canonical.service.ts
Labels: @daffodil/seo

#1707 feat(related-products): add reducers and meta-reducers
  libs/related-products/state/src/public_api.ts
  libs/related-products/state/src/reducers/meta-reducers.spec.ts
  libs/related-products/state/src/reducers/meta-reducers.ts
  libs/related-products/state/src/reducers/public_api.ts
  libs/related-products/state/src/reducers/reducers-state.interface.ts
  libs/related-products/state/src/reducers/reducers.ts
  libs/related-products/state/src/reducers/related-products/reducer-state.interface.ts
  libs/related-products/state/src/reducers/related-products/reducer.spec.ts
  libs/related-products/state/src/reducers/related-products/reducer.ts
  libs/related-products/state/src/reducers/store-feature-key.ts
  libs/related-products/state/src/state.module.ts
Labels: @daffodil/related-products

#1705 feat(product): remove unused magento bundled product field
  libs/product/driver/magento/src/models/bundled-product.ts
  libs/product/driver/magento/src/queries/fragments/bundled-product.ts
  libs/product/driver/magento/src/transforms/bundled-product-transformers.ts
  libs/product/driver/magento/src/transforms/spec-data/magento-bundled-product.json
Labels: @daffodil/product

#1307 feat(design): add quantity field component
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/quantity-field/quantity-field-routing.module.ts
  apps/design-land/src/app/quantity-field/quantity-field.component.html
  apps/design-land/src/app/quantity-field/quantity-field.component.scss
  apps/design-land/src/app/quantity-field/quantity-field.component.spec.ts
  apps/design-land/src/app/quantity-field/quantity-field.component.ts
  apps/design-land/src/app/quantity-field/quantity-field.module.ts
  libs/design/quantity-field/examples/ng-package.json
  libs/design/quantity-field/examples/package.json
  libs/design/quantity-field/examples/src/basic/basic-quantity-field.component.html
  libs/design/quantity-field/examples/src/basic/basic-quantity-field.component.scss
  libs/design/quantity-field/examples/src/basic/basic-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/basic/basic-quantity-field.component.ts
  libs/design/quantity-field/examples/src/basic/basic-quantity-field.module.ts
  libs/design/quantity-field/examples/src/customRange/custom-range-quantity-field.component.html
  libs/design/quantity-field/examples/src/customRange/custom-range-quantity-field.component.scss
  libs/design/quantity-field/examples/src/customRange/custom-range-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/customRange/custom-range-quantity-field.component.ts
  libs/design/quantity-field/examples/src/customRange/custom-range-quantity-field.module.ts
  libs/design/quantity-field/examples/src/disabled/disabled-quantity-field.component.html
  libs/design/quantity-field/examples/src/disabled/disabled-quantity-field.component.scss
  libs/design/quantity-field/examples/src/disabled/disabled-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/disabled/disabled-quantity-field.component.ts
  libs/design/quantity-field/examples/src/disabled/disabled-quantity-field.module.ts
  libs/design/quantity-field/examples/src/examples.ts
  libs/design/quantity-field/examples/src/index.ts
  libs/design/quantity-field/examples/src/public_api.ts
  libs/design/quantity-field/examples/src/selectMax/select-max-quantity-field.component.html
  libs/design/quantity-field/examples/src/selectMax/select-max-quantity-field.component.scss
  libs/design/quantity-field/examples/src/selectMax/select-max-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/selectMax/select-max-quantity-field.component.ts
  libs/design/quantity-field/examples/src/selectMax/select-max-quantity-field.module.ts
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/form/quantity-field/README.md
  libs/design/src/atoms/form/quantity-field/public_api.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.html
  libs/design/src/atoms/form/quantity-field/quantity-field.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.module.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.html
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.html
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#1694 style(design): add left/right padding to all hero screen sizes
  libs/design/src/molecules/hero/hero/hero.component.scss
Labels: @daffodil/design

#1712 feat(design): define a type for an exported component example
  libs/design/src/examples/examples.ts
  libs/design/src/examples/public_api.ts
  libs/design/src/public_api.ts
Labels: @daffodil/design

#1435 docs(design): rework design land import style to remove duplicate code
  apps/design-land/src/app/accordion/accordion.module.ts
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/article/article.module.ts
  apps/design-land/src/app/button/button.module.ts
  apps/design-land/src/app/callout/callout.module.ts
  apps/design-land/src/app/card/card.module.ts
  apps/design-land/src/app/checkbox/checkbox.module.ts
  apps/design-land/src/app/hero/hero.module.ts
  apps/design-land/src/app/list/list.module.ts
  apps/design-land/src/app/loading-icon/loading-icon.module.ts
  apps/design-land/src/app/media-gallery/media-gallery.module.ts
  apps/design-land/src/app/quantity-field/quantity-field.module.ts
  apps/design-land/src/app/radio/radio.module.ts
  apps/design-land/src/app/typography/typography.module.ts
Labels: @daffodil/design, docs

#1713 feat(product): DaffProduct.images is a required field
  libs/product/src/models/product.ts
Labels: @daffodil/product, bug

#1715 feat(core): add canonically locatable interface
  libs/core/src/canonically-locateable/canonically-locateable.interface.ts
  libs/core/src/public_api.ts
Labels: @daffodil/core
