Repository graycoreio/daffodil, pull requests merged in 2021-04, with the labels that each got.

#1400 feat(product): add getByUrl actions and effects
  libs/product/state/src/actions/product-page.actions.ts
  libs/product/state/src/effects/product-page.effects.spec.ts
  libs/product/state/src/effects/product-page.effects.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.ts
Labels: @daffodil/product

#1398 feat(product): add selector and facade field for composite product di…
  libs/product/state/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product/state/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product/state/src/facades/composite-product/composite-product.facade.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product/state/src/selectors/composite-product/composite-product.selectors.ts
  libs/product/state/testing/src/mock-composite-product-facade.ts
Labels: @daffodil/product

#1206 feat(design): add a media-gallery component
  .stylelintrc
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/media-gallery/media-gallery-routing-module.ts
  apps/design-land/src/app/media-gallery/media-gallery.component.html
  apps/design-land/src/app/media-gallery/media-gallery.component.scss
  apps/design-land/src/app/media-gallery/media-gallery.component.spec.ts
  apps/design-land/src/app/media-gallery/media-gallery.component.ts
  apps/design-land/src/app/media-gallery/media-gallery.module.ts
  libs/design/media-gallery/examples/ng-package.json
  libs/design/media-gallery/examples/package.json
  libs/design/media-gallery/examples/src/basic-media-gallery/basic-media-gallery.component.html
  libs/design/media-gallery/examples/src/basic-media-gallery/basic-media-gallery.component.ts
  libs/design/media-gallery/examples/src/basic-media-gallery/basic-media-gallery.module.ts
  libs/design/media-gallery/examples/src/examples.ts
  libs/design/media-gallery/examples/src/index.ts
  libs/design/media-gallery/examples/src/mismatched-sizes-media-gallery/mismatched-sizes-media-gallery.component.html
  libs/design/media-gallery/examples/src/mismatched-sizes-media-gallery/mismatched-sizes-media-gallery.component.ts
  libs/design/media-gallery/examples/src/mismatched-sizes-media-gallery/mismatched-sizes-media-gallery.module.ts
  libs/design/media-gallery/examples/src/public_api.ts
  libs/design/src/atoms/image/image.component.html
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/atoms/image/image.component.ts
  libs/design/src/atoms/image/image.module.ts
  libs/design/src/molecules/media-gallery/README.md
  libs/design/src/molecules/media-gallery/media-gallery-theme.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.html
  libs/design/src/molecules/media-gallery/media-gallery.component.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.spec.ts
  libs/design/src/molecules/media-gallery/media-gallery.component.ts
  libs/design/src/molecules/media-gallery/media-gallery.module.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.html
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.spec.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.ts
  libs/design/src/molecules/media-gallery/public_api.ts
  libs/design/src/molecules/media-gallery/registry/media-gallery.registry.spec.ts
  libs/design/src/molecules/media-gallery/registry/media-gallery.registry.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail-compat.token.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail.directive.spec.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail.directive.ts
  libs/design/src/public_api.ts
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#1403 export filter factories
  libs/category/testing/src/factories/filters/public_api.ts
  libs/category/testing/src/factories/filters/type/equal/public_api.ts
  libs/category/testing/src/factories/filters/type/public_api.ts
  libs/category/testing/src/factories/filters/type/range-numeric/public_api.ts
  libs/category/testing/src/factories/public_api.ts
  libs/category/testing/src/public_api.ts
Labels: @daffodil/category

#1405 fix pair array to dict
  libs/category/src/filters/type/range/array-to-dict/pair.spec.ts
  libs/category/src/filters/type/range/array-to-dict/pair.ts
Labels: @daffodil/category

#1409 add effect tests
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/src/effects/category-page-filter.effects.ts
Labels: @daffodil/category

#1411 fix filter to request specs
  libs/category/src/filters/to-request/filter-to-request.spec.ts
  libs/category/src/filters/to-request/filters-to-requests.spec.ts
Labels: @daffodil/category

#1410 fix driver test compile errors
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/transformers/applied-filter-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/applied-sort-option-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/pure/aggregate/add-metadata-types-to-aggregates.spec.ts
  libs/category/driver/magento/src/transformers/pure/aggregate/build-custom-metadata-attribute.spec.ts
  libs/category/driver/testing/src/drivers/category.service.spec.ts
Labels: @daffodil/category

#1413 handle missing filter in validator
  libs/category/src/filters/behaviors/apply/apply-filter.spec.ts
  libs/category/src/filters/behaviors/remove/remove-filter.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle.spec.ts
  libs/category/src/filters/errors/codes.enum.ts
  libs/category/src/filters/errors/map.ts
  libs/category/src/filters/errors/request-not-found.error.ts
  libs/category/src/filters/validators/request-name-match.ts
Labels: @daffodil/category

#1422 style(design): update media-gallery thumbnail sizes in smaller screens to fixed widths
  libs/design/src/molecules/media-gallery/media-gallery.component.scss
Labels: @daffodil/design

#1421 style(design): allow image to inherit parent border-radius
  libs/design/src/atoms/image/image.component.scss
Labels: @daffodil/design

#1434 add some missing tests
  libs/category/src/filters/is-applied/is-filter-applied.spec.ts
  libs/category/src/filters/is-applied/is-requested-option-applied.spec.ts
  libs/category/src/filters/to-request/filter-to-request.spec.ts
  libs/category/src/filters/type/range-numeric/to-request/filter-to-request.spec.ts
Labels: @daffodil/category

#1433 fix test imports
  libs/category/src/filters/array-to-dict/array-to-dict.spec.ts
  libs/category/src/filters/behaviors/apply/apply-filter.spec.ts
  libs/category/src/filters/behaviors/apply/apply-request-to-filters.spec.ts
  libs/category/src/filters/behaviors/apply/apply-requests-to-filters.spec.ts
  libs/category/src/filters/behaviors/clear/clear-filter.spec.ts
  libs/category/src/filters/behaviors/clear/clear-filters.spec.ts
  libs/category/src/filters/behaviors/remove/remove-filter.spec.ts
  libs/category/src/filters/behaviors/remove/remove-request-from-filters.spec.ts
  libs/category/src/filters/behaviors/remove/remove-requests-from-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle-request-on-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle-requests-on-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle.spec.ts
  libs/category/src/filters/find-applied/find-applied-options.spec.ts
  libs/category/src/filters/public_api.ts
  libs/category/src/filters/to-request/filters-to-requests.spec.ts
  libs/category/src/filters/type/range/array-to-dict/pair.spec.ts
  libs/category/src/filters/type/range/behaviors/apply/apply.spec.ts
  libs/category/src/filters/type/range/behaviors/clear/clear.spec.ts
  libs/category/src/filters/type/range/behaviors/remove/remove.spec.ts
  libs/category/src/filters/type/range/behaviors/toggle/toggle.spec.ts
  libs/category/src/filters/type/range/to-request/filter-to-request.spec.ts
Labels: @daffodil/category

#1439 feat(category): remove category prefix from error codes
  libs/category/src/filters/errors/codes.enum.ts
  libs/category/src/filters/errors/filter-not-found.error.ts
  libs/category/src/filters/errors/map.ts
  libs/category/src/filters/errors/request-type-mismatch.error.ts
  libs/category/src/filters/errors/unknown-filter-type.error.ts
Labels: @daffodil/category

#1458 docs(all): create and update markdown files
  libs/design/src/atoms/form/README.md
  libs/design/src/atoms/form/checkbox-set/README.md
  libs/design/src/atoms/form/checkbox/README.md
  libs/design/src/atoms/form/form-field/README.md
  libs/design/src/atoms/form/form-label/README.md
  libs/design/src/atoms/form/radio-set/README.md
  libs/design/src/atoms/form/select/README.md
  libs/design/src/atoms/progress-indicator/README.md
  libs/design/src/molecules/paginator/README.md
  libs/design/src/molecules/qty-dropdown/README.md
Labels: docs

#1459 feat(category): add kinded category requests
  libs/category/driver/in-memory/src/drivers/category.service.ts
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/src/interfaces/category-service.interface.ts
  libs/category/routing/src/resolvers/category-page-id/category-page-id.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-id/category-page-id.resolver.ts
  libs/category/routing/src/resolvers/category-page/category-page.resolver.ts
  libs/category/routing/src/resolvers/public_api.ts
  libs/category/src/models/category-request.ts
  libs/category/src/models/public_api.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/actions/category.actions.ts
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/src/effects/category-page-filter.effects.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/effects/category.effects.spec.ts
  libs/category/state/src/facades/category.facade.spec.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/reducers/category/pure/build-metadata-from-request.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
Labels: @daffodil/category

#1462 feat(category): add URI field to category model
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/category/driver/magento/testing/src/factories/category.factory.spec.ts
  libs/category/driver/magento/testing/src/factories/category.factory.ts
  libs/category/src/models/generic-category.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/testing/src/factories/category.factory.spec.ts
  libs/category/testing/src/factories/category.factory.ts
Labels: @daffodil/category

#1464 feat(category): append url_suffix to category uri
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/category/driver/magento/testing/src/factories/category.factory.spec.ts
  libs/category/driver/magento/testing/src/factories/category.factory.ts
Labels: @daffodil/category

#1460 feat(design): update daffodil's brand palette to turqoise and create green palette to use for success UI
  apps/daffio/src/scss/theme.scss
  apps/demo/src/scss/theme.scss
  apps/design-land/src/app/foundations/color/color.component.html
  apps/design-land/src/app/foundations/color/color.component.scss
  apps/design-land/src/scss/theme.scss
  libs/design/src/scss/theming/_variables.scss
  libs/design/src/scss/theming/prebuilt/internal-theme.scss
Labels: @daffodil/design

#1461 feat(category): add getByUri driver call
  libs/category/driver/in-memory/src/drivers/category.service.spec.ts
  libs/category/driver/in-memory/src/drivers/category.service.ts
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/src/interfaces/category-service.interface.ts
  libs/category/driver/testing/src/drivers/category.service.spec.ts
  libs/category/driver/testing/src/drivers/category.service.ts
Labels: @daffodil/category

#1466 feat(product): add url suffix and URI truncation to Magento driver
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/product/driver/magento/src/config/default.ts
  libs/product/driver/magento/src/config/public_api.ts
  libs/product/driver/magento/src/config/uri-truncation-regex.spec.ts
  libs/product/driver/magento/src/interfaces/config.interface.ts
  libs/product/driver/magento/src/models/magento-product.ts
  libs/product/driver/magento/src/product-driver.module.ts
  libs/product/driver/magento/src/product.service.spec.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/public_api.ts
  libs/product/driver/magento/src/queries/fragments/product.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/src/transforms/spec-data/daff-composite-product.json
  libs/product/driver/magento/src/transforms/spec-data/daff-configurable-product.json
  libs/product/driver/magento/src/transforms/spec-data/magento-bundled-product.json
  libs/product/driver/magento/src/transforms/spec-data/magento-configurable-product.json
  libs/product/driver/magento/testing/src/factories/configurable/configurable.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/configurable/configurable.factory.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.ts
Labels: @daffodil/product

#1467 feat(design): update card theming
  libs/design/card/examples/src/card-theming/card-theming.component.ts
  libs/design/card/examples/src/linkable-card/linkable-card.component.html
  libs/design/src/molecules/card/README.md
  libs/design/src/molecules/card/card/card-theme.scss
Labels: @daffodil/design

#1469 feat(category): add get by URI action and effect
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
Labels: @daffodil/category

#1481 feat(design): update error status to danger
  libs/design/src/core/statusable/statusable.spec.ts
  libs/design/src/core/statusable/statusable.ts
Labels: @daffodil/design

#1480 feat(design): adjust primary palette to scale the same way as rest of…
  apps/design-land/src/app/foundations/color/color.component.html
  libs/design/src/scss/theming/_variables.scss
Labels: @daffodil/design

#1479 feat(design): update gray palette
  libs/design/src/scss/theming/_variables.scss
Labels: @daffodil/design

#1475 feat(category,navigation): replace category ID with UID in magento driver
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/transformers/applied-filter-transformer.service.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/category/driver/magento/testing/src/factories/category.factory.spec.ts
  libs/category/driver/magento/testing/src/factories/category.factory.ts
  libs/category/src/models/category-breadcrumb.ts
  libs/category/src/models/category-request.ts
  libs/category/testing/src/factories/category.factory.ts
  libs/navigation/driver/magento/src/models/category-node.ts
  libs/navigation/driver/magento/src/navigation.service.spec.ts
  libs/navigation/driver/magento/src/navigation.service.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node.spec.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node.ts
  libs/navigation/driver/magento/src/transformers/navigation-transformer.spec.ts
  libs/navigation/driver/magento/src/transformers/navigation-transformer.ts
Labels: @daffodil/category, @daffodil/navigation

#1476 feat(category,product): replace deprecated Magento ID with UID
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/product/driver/magento/src/models/bundled-product.ts
  libs/product/driver/magento/src/models/configurable-product.ts
  libs/product/driver/magento/src/models/magento-product.ts
  libs/product/driver/magento/src/models/simple-product.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/magento/src/queries/fragments/bundled-product.ts
  libs/product/driver/magento/src/queries/fragments/configurable-product.ts
  libs/product/driver/magento/src/queries/fragments/product.ts
  libs/product/driver/magento/src/transforms/bundled-product-transformers.ts
  libs/product/driver/magento/src/transforms/configurable-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/src/transforms/spec-data/magento-bundled-product.json
  libs/product/driver/magento/src/transforms/spec-data/magento-configurable-product.json
  libs/product/driver/magento/testing/src/factories/bundle/bundle.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/configurable/configurable.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/configurable/configurable.factory.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.ts
  libs/product/driver/magento/testing/src/factories/simple/simple.factory.spec.ts
Labels: @daffodil/category, @daffodil/product

#1484 docs(external-router): driver URL form
  libs/external-router/guides/drivers.md
  libs/external-router/src/model/resolvable-route.ts
Labels: @daffodil/external-router
