Repository graycoreio/daffodil, pull requests merged in 2021-12, with the labels that each got.

#1921 feat(daffio): update why pwa page
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/content/pwa/pages/pwa/pwa-theme.scss
  apps/daffio/src/app/content/pwa/pages/pwa/pwa.component.ts
  apps/daffio/src/app/content/pwa/pwa.module.ts
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison-theme.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.html
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.ts
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.html
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.component.html
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.component.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.html
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.html
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.html
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.spec.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.module.ts
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.html
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.scss
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.spec.ts
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.ts
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.modules.ts
  apps/daffio/src/app/content/why-pwa/why-pwa-routing.module.ts
  apps/daffio/src/app/content/why-pwa/why-pwa.module.ts
  apps/daffio/src/scss/styles.scss
Labels: feat, @daffodil/daff.io

#1927 feat(cart): add errors to cart item entity
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/models/stateful-cart-item.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.spec.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.spec.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.spec.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart

#1923 feat(cart): persist driver error in resolver effects
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
Labels: @daffodil/cart

#1936 feat(category): move magento category query fields to fragment
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/fragments/category-tree.ts
  libs/category/driver/magento/src/queries/fragments/public_api.ts
  libs/category/driver/magento/src/queries/get-category.ts
  libs/category/driver/magento/src/queries/public_api.ts
  libs/category/driver/magento/testing/src/factories/category.factory.ts
Labels: @daffodil/category, platform-magento

#1928 feat(design): deprecate DaffFeatureComponent
  apps/design-land/src/app/feature/feature.component.html
  libs/design/src/molecules/feature/README.md
  libs/design/src/molecules/feature/feature/feature.component.ts
Labels: feat, @daffodil/design

#1937 feat(design): update card title font size on mobile devices
  libs/design/card/examples/src/basic-card/basic-card.component.html
  libs/design/card/examples/src/linkable-card/linkable-card.component.scss
  libs/design/src/molecules/card/card/card.component.scss
Labels: feat, @daffodil/design

#1938 feat(daffio): clean up support page UI
  apps/daffio/src/app/content/support/component/support.component.html
  apps/daffio/src/app/content/support/component/support.component.scss
Labels: @daffodil/daff.io

#1941 feat(core): add `DaffKindable` interface
  libs/core/src/kindable/kindable.interface.ts
  libs/core/src/kindable/public_api.ts
  libs/core/src/public_api.ts
Labels: @daffodil/core

#1942 feat(core): make the `type` param of `DaffModelFactory` optional
  libs/core/testing/src/factories/factory.spec.ts
  libs/core/testing/src/factories/factory.ts
Labels: @daffodil/core
