Repository graycoreio/daffodil, pull requests merged in 2021-09, with the labels that each got.

#1686 feat(design): add article table styles
  apps/design-land/src/app/article/article.component.html
  libs/design/article/examples/src/article-table/article-table.component.html
  libs/design/article/examples/src/article-table/article-table.component.ts
  libs/design/article/examples/src/examples.ts
  libs/design/article/examples/src/public_api.ts
  libs/design/src/molecules/article/article/article-theme.scss
  libs/design/src/molecules/article/article/article.component.scss
Labels: feat, @daffodil/design

#1802 fix(product): hardcoded search value for getAll query
  libs/product/driver/magento/src/queries/get-all-products.ts
Labels: @daffodil/product

#1805 fix(tools-dgeni): add devDependencies to builds
  tools/dgeni/package.json
Labels: docs

#1697 docs: add related product flowchart
  docs/internal/related-products/graphql.drawio
Labels: docs

#1789 feat(core): add length param to `randomSlice`
  libs/core/src/utils/random-slice.spec.ts
  libs/core/src/utils/random-slice.ts
Labels: @daffodil/core

#1801 fix(cart): public class members in magento driver
  libs/cart/driver/in-memory/src/backend/cart-root.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-address/cart-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-billing-address/cart-billing-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-coupon/cart-coupon.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-item/cart-item.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-order/cart-order.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment/cart-payment.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.ts
  libs/cart/driver/magento/src/cart-address.service.ts
  libs/cart/driver/magento/src/cart-billing-address.service.ts
  libs/cart/driver/magento/src/cart-coupon.service.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/cart-order.service.ts
  libs/cart/driver/magento/src/cart-payment-methods.service.ts
  libs/cart/driver/magento/src/cart-payment.service.ts
  libs/cart/driver/magento/src/cart-shipping-address.service.ts
  libs/cart/driver/magento/src/cart-shipping-information.service.ts
  libs/cart/driver/magento/src/cart-shipping-methods.service.ts
  libs/cart/driver/magento/src/cart.service.ts
  libs/cart/driver/magento/src/transforms/outputs/billing-address.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-information.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.ts
  libs/cart/driver/magento/src/transforms/outputs/shipping-address.service.ts
Labels: @daffodil/cart

#1687 Dgeni table update
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/templates/api/class.template.html
  tools/dgeni/src/templates/api/interface.template.html
  tools/dgeni/src/templates/api/member.template.html
  tools/dgeni/src/templates/api/type-alias.template.html
Labels: @daffodil/daff.io

#1791 feat(cart): throw out of stock error in the item update call
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/errors/map.ts
Labels: @daffodil/cart

#1792 test(category): fix factory partial types
  libs/category/driver/magento/src/category.service.spec.ts
  libs/category/src/filters/behaviors/apply/apply-filter.spec.ts
  libs/category/src/filters/behaviors/apply/apply-request-to-filters.spec.ts
  libs/category/src/filters/behaviors/apply/apply-requests-to-filters.spec.ts
  libs/category/src/filters/behaviors/clear/clear-filter.spec.ts
  libs/category/src/filters/behaviors/clear/clear-filters.spec.ts
  libs/category/src/filters/behaviors/remove/remove-filter.spec.ts
  libs/category/src/filters/behaviors/remove/remove-request-from-filters.spec.ts
  libs/category/src/filters/behaviors/remove/remove-requests-from-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle-request-on-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle-requests-on-filters.spec.ts
  libs/category/src/filters/behaviors/toggle/toggle.spec.ts
  libs/category/src/filters/find-applied/find-applied-options.spec.ts
  libs/category/src/filters/to-request/filter-to-request.spec.ts
  libs/category/src/filters/to-request/filters-to-requests.spec.ts
  libs/category/src/filters/type/equal/behaviors/apply/apply.spec.ts
  libs/category/src/filters/type/equal/behaviors/clear/clear.spec.ts
  libs/category/src/filters/type/equal/behaviors/remove/remove.spec.ts
  libs/category/src/filters/type/equal/behaviors/toggle/toggle.spec.ts
Labels: @daffodil/category

#1793 test(order): fix factory partial types
  libs/order/driver/magento/2.4.0/src/order.service.spec.ts
  libs/order/driver/magento/2.4.0/src/transforms/responses/order.spec.ts
  libs/order/driver/magento/2.4.1/src/helpers/test-data.service.ts
Labels: @daffodil/order

#1794 test(demo): fix factory partial types
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.spec.ts
  apps/demo/src/app/cart/routing-resolvers/resolvers/empty-cart-resolver.service.spec.ts
  apps/demo/src/app/checkout/components/payment/payment-info-form/factories/payment-info-form.factory.spec.ts
Labels: @daffodil/demo

#1786 feat(core): add `sample`
  libs/core/src/utils/public_api.ts
  libs/core/src/utils/sample.spec.ts
  libs/core/src/utils/sample.ts
Labels: @daffodil/core

#1807 feat(product-configurable): add feature and all selector
  libs/product-composite/state/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product-composite/state/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product-composite/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product-composite/state/testing/src/mock-composite-product-facade.ts
  libs/product-configurable/state/src/facades/configurable-product-facade.interface.ts
  libs/product-configurable/state/src/facades/configurable-product.facade.spec.ts
  libs/product-configurable/state/src/facades/configurable-product.facade.ts
  libs/product-configurable/state/src/selectors/all.selectors.ts
  libs/product-configurable/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product-configurable/state/src/selectors/feature.selector.ts
  libs/product-configurable/state/src/selectors/public_api.ts
  libs/product-configurable/state/testing/src/mock-configurable-product-facade.ts
Labels: @daffodil/product-configurable

#1809 fix(product-configurable): wrong imports and paths
  libs/product-configurable/driver/magento/src/transforms/configurable-product-transformers.spec.ts
  libs/product-configurable/driver/magento/src/transforms/configurable-product-transformers.ts
  libs/product-configurable/driver/magento/testing/src/factories/configurable/configurable.factory.ts
  libs/product-configurable/state/src/actions/configurable-product.actions.ts
  libs/product-configurable/state/src/facades/configurable-product.facade.spec.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
  libs/product-configurable/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product-configurable/state/testing/src/mock-configurable-product-facade.ts
  libs/product-configurable/testing/src/factories/configurable-product.factory.spec.ts
  libs/product-configurable/testing/src/factories/configurable-product.factory.ts
Labels: @daffodil/product-configurable

#1808 fix(product-composite): wrong imports and paths
  libs/product-composite/driver/magento/src/transforms/bundled-product-transformers.spec.ts
  libs/product-composite/driver/magento/src/transforms/bundled-product-transformers.ts
  libs/product-composite/driver/magento/testing/src/factories/bundle/bundle.factory.ts
  libs/product-composite/state/src/actions/composite-product.actions.ts
  libs/product-composite/state/src/facades/composite-product/composite-product-facade.interface.ts
  libs/product-composite/state/src/facades/composite-product/composite-product.facade.spec.ts
  libs/product-composite/state/src/facades/composite-product/composite-product.facade.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entity.ts
  libs/product-composite/state/src/selectors/all.selector.ts
  libs/product-composite/state/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product-composite/state/src/selectors/composite-product-entities/composite-product-entities.selectors.ts
  libs/product-composite/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product-composite/state/src/selectors/composite-product/composite-product.selectors.ts
  libs/product-composite/state/src/selectors/feature.selector.ts
  libs/product-composite/state/src/selectors/public_api.ts
  libs/product-composite/state/testing/src/mock-composite-product-facade.ts
  libs/product-composite/testing/src/factories/composite-product.factory.spec.ts
  libs/product-composite/testing/src/factories/composite-product.factory.ts
  libs/product-composite/tsconfig.json
Labels: @daffodil/product-composite

#1785 feat(product): add kind and extension factories
  libs/product/testing/src/factories/composite-product.factory.ts
  libs/product/testing/src/factories/configurable-product.factory.ts
  libs/product/testing/src/factories/default-product.factory.spec.ts
  libs/product/testing/src/factories/default-product.factory.ts
  libs/product/testing/src/factories/extension.factory.spec.ts
  libs/product/testing/src/factories/extension.factory.ts
  libs/product/testing/src/factories/kind.factory.spec.ts
  libs/product/testing/src/factories/kind.factory.ts
  libs/product/testing/src/factories/public_api.ts
Labels: @daffodil/product

#1813 feat(related-products): add in-memory driver module
  libs/related-products/driver/in-memory/src/in-memory.module.ts
  libs/related-products/driver/in-memory/src/public_api.ts
  libs/related-products/testing/src/factories/related-product.factory.ts
Labels: @daffodil/related-products

#1811 feat(product): use random factory kind in in-memory and testing drivers
  apps/demo/src/app/drivers/in-memory/backend/backend.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/product/driver/in-memory/src/backend/product.service.spec.ts
  libs/product/driver/in-memory/src/backend/product.service.ts
  libs/product/driver/in-memory/src/driver/product-driver.module.ts
  libs/product/driver/testing/src/drivers/product-driver.module.ts
  libs/product/driver/testing/src/drivers/product.service.spec.ts
  libs/product/driver/testing/src/drivers/product.service.ts
  libs/product/testing/src/public_api.ts
  libs/product/testing/src/testing.module.ts
Labels: @daffodil/product

#1815 feat(product-composite): add testing driver package
  libs/product-composite/driver/testing/ng-package.json
  libs/product-composite/driver/testing/package.json
  libs/product-composite/driver/testing/src/index.ts
  libs/product-composite/driver/testing/src/public_api.ts
  libs/product-composite/driver/testing/src/testing.module.ts
  libs/product-composite/tsconfig.json
Labels: @daffodil/product-composite

#1817 feat(product-configurable): add in-memory driver
  libs/product-configurable/driver/in-memory/ng-package.json
  libs/product-configurable/driver/in-memory/package.json
  libs/product-configurable/driver/in-memory/src/in-memory.module.ts
  libs/product-configurable/driver/in-memory/src/index.ts
  libs/product-configurable/driver/in-memory/src/public_api.ts
  libs/product-configurable/tsconfig.json
Labels: @daffodil/product-configurable

#1812 feat(related-products): DI product kind factory into related products factory
  libs/related-products/state/src/facades/related-product.facade.spec.ts
  libs/related-products/state/src/reducers/meta-reducers.spec.ts
  libs/related-products/state/src/reducers/related-products/reducer.spec.ts
  libs/related-products/state/src/selectors/related-products/selectors.spec.ts
  libs/related-products/testing/src/factories/related-product.factory.spec.ts
  libs/related-products/testing/src/factories/related-product.factory.ts
Labels: @daffodil/related-products

#1816 feat(product-composite): add in-memory driver
  libs/product-composite/driver/in-memory/ng-package.json
  libs/product-composite/driver/in-memory/package.json
  libs/product-composite/driver/in-memory/src/in-memory.module.ts
  libs/product-composite/driver/in-memory/src/index.ts
  libs/product-composite/driver/in-memory/src/public_api.ts
  libs/product-composite/tsconfig.json
Labels: @daffodil/product-composite

#1818 feat(product-configurable): add testing driver package
  libs/product-configurable/driver/testing/ng-package.json
  libs/product-configurable/driver/testing/package.json
  libs/product-configurable/driver/testing/src/index.ts
  libs/product-configurable/driver/testing/src/public_api.ts
  libs/product-configurable/driver/testing/src/testing.module.ts
  libs/product-configurable/tsconfig.json
Labels: @daffodil/product-configurable

#1821 feat(related-products): add testing driver module
  libs/related-products/driver/testing/src/public_api.ts
  libs/related-products/driver/testing/src/testing.module.ts
Labels: @daffodil/related-products

#1828 fix(related-products,upsell-products): mock facade field not initialized
  libs/related-products/state/testing/src/mock-related-products.facade.ts
  libs/upsell-products/state/testing/src/mock-upsell-products.facade.ts
Labels: @daffodil/related-products, @daffodil/upsell-products

#1836 feat(design): create theming CSS custom properties
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/foundations/variables/variables-routing.module.ts
  apps/design-land/src/app/foundations/variables/variables.component.html
  apps/design-land/src/app/foundations/variables/variables.component.scss
  apps/design-land/src/app/foundations/variables/variables.component.spec.ts
  apps/design-land/src/app/foundations/variables/variables.component.ts
  apps/design-land/src/app/foundations/variables/variables.module.ts
  libs/design/src/scss/theming/_configure-theme.scss
  libs/design/src/scss/theming/_theme-css-variables.scss
  libs/design/src/scss/theming/_theme.scss
Labels: @daffodil/design

#1838 feat(external-router): add in-memory driver
  libs/external-router/driver/in-memory/ng-package.json
  libs/external-router/driver/in-memory/package.json
  libs/external-router/driver/in-memory/src/config.ts
  libs/external-router/driver/in-memory/src/in-memory.module.ts
  libs/external-router/driver/in-memory/src/in-memory.service.spec.ts
  libs/external-router/driver/in-memory/src/in-memory.service.ts
  libs/external-router/driver/in-memory/src/index.ts
  libs/external-router/driver/in-memory/src/public_api.ts
  libs/external-router/guides/drivers.md
  libs/external-router/tsconfig.json
Labels: @daffodil/external-router

#1841 feat(product): expose products in in-memory backend
  libs/product/driver/in-memory/src/backend/product.service.ts
Labels: @daffodil/product

#1842 feat(category): create categories on init in in-memory backend
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.ts
  libs/category/driver/in-memory/src/drivers/category.service.spec.ts
  libs/category/driver/in-memory/src/drivers/category.service.ts
Labels: @daffodil/category

#1831 feat(category): pull `current_page` request field from query params
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.ts
Labels: @daffodil/category
