Repository graycoreio/daffodil, pull requests merged in 2021-11, with the labels that each got.

#1893 feat(design): deprecate DaffImageGalleryComponent in favor of DaffMediaGalleryComponent
  apps/design-land/src/app/image-gallery/image-gallery.component.html
  libs/design/src/molecules/image-gallery/README.md
  libs/design/src/molecules/image-gallery/gallery-image/gallery-image.component.ts
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.ts
Labels: feat, @daffodil/design

#1884 feat(daffio): update daff.io home page
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.html
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.scss
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.spec.ts
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.ts
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.module.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.html
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.scss
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.spec.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.module.ts
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.html
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.scss
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.spec.ts
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.ts
  apps/daffio/src/app/content/home/components/home-hero/home-hero.module.ts
  apps/daffio/src/app/content/home/home-routing.module.ts
  apps/daffio/src/app/content/home/home.module.ts
  apps/daffio/src/app/content/home/view/home-view.component.html
  apps/daffio/src/app/content/home/view/home-view.component.spec.ts
  apps/daffio/src/app/content/home/view/home-view.component.ts
  apps/daffio/src/app/content/home/view/home-view.module.ts
  apps/daffio/src/app/content/homepage/component/homepage-theme.scss
  apps/daffio/src/app/content/homepage/component/homepage.component.html
  apps/daffio/src/app/content/homepage/component/homepage.component.scss
  apps/daffio/src/app/content/homepage/component/homepage.component.ts
  apps/daffio/src/app/content/homepage/homepage.module.ts
  apps/daffio/src/assets/pwa-illustration.svg
  apps/daffio/src/assets/pwa-install-add.svg
  apps/daffio/src/assets/pwa-install-home.svg
  apps/daffio/src/assets/pwa-install-info.svg
  apps/daffio/src/scss/styles.scss
Labels: @daffodil/daff.io

#1897 feat(design): deprecate DaffQtyDropdownComponent in favor of DaffQuantityFieldComponent
  apps/design-land/src/app/qty-dropdown/qty-dropdown.component.html
  apps/design-land/src/app/qty-dropdown/qty-dropdown.module.ts
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.ts
Labels: feat, @daffodil/design

#1898 feat(design): update typography size mixins
  libs/design/src/scss/typography/sizes/_mixins.scss
Labels: feat, @daffodil/design

#1903 style(design): refine article styles and update documentation
  apps/design-land/src/app/article/article.component.html
  libs/design/src/molecules/article/README.md
  libs/design/src/molecules/article/article/article-theme.scss
  libs/design/src/molecules/article/article/article.component.scss
Labels: @daffodil/design

#1668 fix(design): allow media gallery to be registered when they are initialized
  libs/design/src/molecules/media-gallery/media-gallery.component.spec.ts
  libs/design/src/molecules/media-gallery/media-gallery.component.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.spec.ts
  libs/design/src/molecules/media-gallery/registry/media-gallery.registry.spec.ts
  libs/design/src/molecules/media-gallery/registry/media-gallery.registry.ts
  libs/design/src/molecules/media-gallery/thumbnail/thumbnail.directive.ts
Labels: @daffodil/design

#1905 feat(cart): add invalid email error
  libs/cart/driver/magento/src/cart-address.service.spec.ts
  libs/cart/driver/magento/src/cart-billing-address.service.spec.ts
  libs/cart/driver/magento/src/cart-shipping-address.service.spec.ts
  libs/cart/driver/magento/src/errors/map.ts
  libs/cart/driver/src/errors/codes.enum.ts
  libs/cart/driver/src/errors/invalid-email.ts
  libs/cart/driver/src/errors/map.ts
  libs/cart/driver/src/errors/public_api.ts
Labels: @daffodil/cart

#1913 docs(design): update subheading typography docs
  apps/design-land/src/app/typography/typography.component.html
  libs/design/guides/typography.md
Labels: docs

#1912 style(design): make hero title more prominent and remove duplicate style in subtitle
  libs/design/src/molecules/hero/hero/hero.component.scss
Labels: @daffodil/design

#1915 style(design): update hero's mobile text style and subtitle margins
  libs/design/src/molecules/hero/hero/hero.component.scss
Labels: @daffodil/design

#1916 style(design): update paragraph margins in callout subtitle
  libs/design/src/molecules/callout/callout/callout.component.scss
Labels: @daffodil/design

#1904 feat(daffio): update subfooter UI
  apps/daffio/src/app/core/footer/sub-footer/sub-footer-theme.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.html
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.scss
Labels: feat
