Repository graycoreio/daffodil, pull requests merged in 2021-02, with the labels that each got.

#1255 fix(cart): in-memory api does not update collection of carts as expected
  apps/demo/src/app/cart/components/cart-item/cart-item.component.html
  apps/demo/src/app/cart/components/cart-item/cart-item.component.spec.ts
  apps/demo/src/app/cart/components/cart-item/cart-item.component.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.spec.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
  apps/demo/src/app/product/components/add-to-cart/add-to-cart.component.spec.ts
  apps/demo/src/app/product/components/add-to-cart/add-to-cart.component.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.spec.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.ts
Labels: @daffodil/cart, @daffodil/demo, bug

#1258 feat(design): create compactable interface
  libs/design/src/core/compactable/compactable.ts
Labels: @daffodil/design

#1266 refactor(all): prefix all queries with the platform name
  libs/auth/src/drivers/magento/queries/check-token.ts
  libs/auth/src/drivers/magento/queries/create-customer.ts
  libs/auth/src/drivers/magento/queries/generate-token.ts
  libs/cart/driver/magento/src/queries/add-cart-item.ts
  libs/cart/driver/magento/src/queries/apply-coupon.ts
  libs/cart/driver/magento/src/queries/create-cart.ts
  libs/cart/driver/magento/src/queries/get-billing-address.ts
  libs/cart/driver/magento/src/queries/get-cart.ts
  libs/cart/driver/magento/src/queries/get-selected-payment-method.ts
  libs/cart/driver/magento/src/queries/get-selected-shipping-method.ts
  libs/cart/driver/magento/src/queries/get-shipping-address.ts
  libs/cart/driver/magento/src/queries/list-cart-coupons.ts
  libs/cart/driver/magento/src/queries/list-cart-items.ts
  libs/cart/driver/magento/src/queries/list-payment-methods.ts
  libs/cart/driver/magento/src/queries/list-shipping-methods.ts
  libs/cart/driver/magento/src/queries/place-order.ts
  libs/cart/driver/magento/src/queries/remove-all-coupons.ts
  libs/cart/driver/magento/src/queries/remove-cart-item.ts
  libs/cart/driver/magento/src/queries/set-selected-payment-method-with-billing-and-email.ts
  libs/cart/driver/magento/src/queries/set-selected-payment-method-with-billing.ts
  libs/cart/driver/magento/src/queries/set-selected-payment-method.ts
  libs/cart/driver/magento/src/queries/set-selected-shipping-method.ts
  libs/cart/driver/magento/src/queries/update-address-with-email.ts
  libs/cart/driver/magento/src/queries/update-address.ts
  libs/cart/driver/magento/src/queries/update-billing-address-with-email.ts
  libs/cart/driver/magento/src/queries/update-billing-address.ts
  libs/cart/driver/magento/src/queries/update-cart-item.ts
  libs/cart/driver/magento/src/queries/update-shipping-address-with-email.ts
  libs/cart/driver/magento/src/queries/update-shipping-address.ts
  libs/geography/driver/magento/src/queries/get-countries.ts
  libs/geography/driver/magento/src/queries/get-country.ts
  libs/navigation/driver/magento/src/queries/get-category-tree.ts
  libs/order/driver/magento/2.4.0/src/queries/get-guest-orders.ts
  libs/order/driver/magento/2.4.1/src/queries/get-guest-orders.ts
  libs/product/src/drivers/magento/queries/get-all-products.ts
  libs/product/src/drivers/magento/queries/get-product.ts
  libs/product/src/drivers/shopify/product.service.ts
Labels: refactor

#1261 feat(demo): init state booleans to false
  apps/demo/src/app/checkout/reducers/index.spec.ts
  apps/demo/src/app/checkout/reducers/payment.reducer.spec.ts
  apps/demo/src/app/checkout/reducers/payment.reducer.ts
  apps/demo/src/app/checkout/reducers/shipping.reducer.ts
Labels: @daffodil/demo

#1264 feat(core, driver): add infrastructure for making cacheable apollo queries to different platforms
  libs/core/graphql/src/apollo/cacheable-operations/cacheable-operations-link.interface.ts
  libs/core/graphql/src/apollo/public_api.ts
  libs/core/graphql/src/apollo/queued-apollo/queued-apollo.service.spec.ts
  libs/core/graphql/src/apollo/queued-apollo/queued-apollo.service.ts
  libs/driver/magento/src/graphql/cacheable-operations/apollo-cacheable-operations-link-generator.spec.ts
  libs/driver/magento/src/graphql/cacheable-operations/apollo-cacheable-operations-link-generator.ts
  libs/driver/magento/src/graphql/cacheable-operations/cacheable-operations-token.ts
  libs/driver/magento/src/graphql/index.ts
  libs/driver/magento/src/graphql/public_api.ts
  libs/driver/magento/src/index.ts
Labels: @daffodil/core

#1268 perf(demo): don't negate async pipes
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.html
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.html
  apps/demo/src/app/checkout/components/payment/payment/payment.component.html
  apps/demo/src/app/checkout/components/place-order/place-order.component.html
  apps/demo/src/app/checkout/components/shipping/shipping/shipping.component.html
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.html
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.html
  apps/demo/src/app/newsletter/newsletter.component.html
  apps/demo/src/app/newsletter/newsletter.component.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.html
  apps/demo/src/app/product/pages/product-grid-view/product-grid-view.component.html
  apps/demo/src/app/product/pages/product-view/product-view.component.html
  apps/demo/src/app/thank-you/pages/thank-you-view.component.html
Labels: @daffodil/demo

#1276 chore(all): pin highlight.js back to avoid breaking change
  package-lock.json
  package.json
Labels: build

#1280 feat(cart): remove cart item discount fields
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/models/responses/cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/cart-item.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/bundle-cart-item.factory.spec.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/configurable-cart-item.factory.spec.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.spec.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.spec.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.spec.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.spec.ts
Labels: @daffodil/cart

#1281 feat(cart, driver): add discount model and cart item discounts field
  libs/cart/driver/magento/src/models/responses/cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/cart-item.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/driver/magento/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/driver/magento/src/models/index.ts
  libs/driver/magento/src/models/responses/discount.ts
  libs/driver/magento/src/models/responses/index.ts
  libs/driver/magento/src/models/responses/public_api.ts.ts
  libs/driver/magento/testing/src/factories/discount.factory.spec.ts
  libs/driver/magento/testing/src/factories/discount.factory.ts
  libs/driver/magento/testing/src/factories/index.ts
  libs/driver/magento/testing/src/factories/public_api.ts.ts
  libs/driver/magento/testing/src/index.ts
Labels: @daffodil/cart, @daffodil/driver

#1284 refactor(driver): switch to public_api
  libs/driver/magento/src/graphql/index.ts
  libs/driver/magento/src/index.ts
  libs/driver/magento/src/models/index.ts
  libs/driver/magento/src/models/public_api.ts
  libs/driver/magento/src/models/responses/public_api.ts
  libs/driver/magento/testing/src/factories/public_api.ts
  libs/driver/magento/testing/src/index.ts
Labels: @daffodil/driver

#1285 feat(design): create DaffSkeletonable interface
  libs/design/src/core/skeletonable/skeletonable.ts
Labels: @daffodil/design

#1287 fix(category): multiple category load requests get canceled
  libs/category/src/effects/category.effects.spec.ts
  libs/category/src/effects/category.effects.ts
Labels: @daffodil/category, fix

#1283 feat(cart): add cart item price selectors
  libs/cart/src/models/cart-item.ts
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart

#1296 fix(category): magento cacheable queries are not being added to the l…
  libs/category/src/drivers/magento/category-driver.module.ts
Labels: @daffodil/category, bug

#1297 fix(cart): magento cart item transformer crashes when discounts is null
  libs/cart/driver/magento/src/models/responses/cart-item.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
Labels: @daffodil/cart

#1301 feat(design): create DaffMutatable interface
  libs/design/src/core/mutatable/mutatable.ts
  libs/design/src/core/mutatable/public_api.ts
  libs/design/src/core/public_api.ts
Labels: @daffodil/design

#1304 refactor(design): update mutable interface name
  libs/design/src/core/mutable/mutable.ts
  libs/design/src/core/mutable/public_api.ts
  libs/design/src/core/mutatable/mutatable.ts
  libs/design/src/core/mutatable/public_api.ts
  libs/design/src/core/public_api.ts
Labels: @daffodil/design

#1303 feat(product): add product page actions and effects
  libs/product/src/actions/product-page.actions.ts
  libs/product/src/actions/product.actions.ts
  libs/product/src/effects/product-page.effects.spec.ts
  libs/product/src/effects/product-page.effects.ts
  libs/product/src/facades/product/product.facade.spec.ts
  libs/product/src/index.ts
  libs/product/src/reducers/product-entities/product-entities.reducer.spec.ts
  libs/product/src/reducers/product-entities/product-entities.reducer.ts
  libs/product/src/reducers/product/product.reducer.spec.ts
  libs/product/src/reducers/product/product.reducer.ts
  libs/product/src/resolvers/product-page/product-page.resolver.spec.ts
  libs/product/src/resolvers/product-page/product-page.resolver.ts
  libs/product/src/selectors/product/product.selectors.spec.ts
Labels: @daffodil/product

#1305 fix(product): add DaffProductPageEffects in the DaffProductStateModule
  libs/product/src/product-state.module.ts
Labels: @daffodil/product, bug
