Repository graycoreio/daffodil, pull requests merged in 2022-03, with the labels that each got.

#1966 feat(docs): clean up api list page
  apps/daffio/src/app/api/api.module.ts
  apps/daffio/src/app/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/api/components/api-list/api-list.component.html
  apps/daffio/src/app/api/components/api-list/api-list.component.scss
  apps/daffio/src/app/api/components/api-list/api-list.component.ts
  apps/daffio/src/app/api/pages/api-list-page/api-list-page.component.html
  apps/daffio/src/app/api/pages/api-list-page/api-list-page.component.scss
  apps/daffio/src/app/api/pages/api-list-page/api-list-page.component.ts
  apps/daffio/src/scss/styles.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
  libs/design/src/scss/typography/_variables.scss
Labels: feat, docs

#1967 feat(design): add Daffodil theming service
  apps/daffio/src/app/design/theme-switch/theme-switch.component.html
  apps/daffio/src/app/design/theme-switch/theme-switch.component.spec.ts
  apps/daffio/src/app/design/theme-switch/theme-switch.component.ts
  apps/daffio/src/app/design/theme-switch/theme-switch.module.ts
  libs/core/src/storage/persistence-server-safe.token.ts
  libs/core/src/storage/public_api.ts
  libs/design/src/core/public_api.ts
  libs/design/src/core/theming/functions/computer.spec.ts
  libs/design/src/core/theming/functions/computer.ts
  libs/design/src/core/theming/initializer.ts
  libs/design/src/core/theming/public_api.ts
  libs/design/src/core/theming/services/class-setter/theme-class-setter.service.spec.ts
  libs/design/src/core/theming/services/class-setter/theme-class-setter.service.ts
  libs/design/src/core/theming/services/os-theme/ostheme.service.spec.ts
  libs/design/src/core/theming/services/os-theme/ostheme.service.ts
  libs/design/src/core/theming/services/storage/theme-storage.service.spec.ts
  libs/design/src/core/theming/services/storage/theme-storage.service.ts
  libs/design/src/core/theming/services/theming.service.spec.ts
  libs/design/src/core/theming/services/theming.service.ts
  libs/design/src/core/theming/types/theme.ts
Labels: feat, @daffodil/design

#2016 feat(daffio): add theme switch functionality to daff.io
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/header/components/header/header.component.html
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/core/header/containers/header.component.html
  apps/daffio/src/app/core/header/containers/header.module.ts
  apps/daffio/src/scss/styles.scss
  apps/daffio/src/scss/theme.scss
Labels: @daffodil/daff.io

#2021 feat(design): remove wcag errors on button
  libs/design/src/atoms/button/button-theme-variants/button.scss
Labels: feat, @daffodil/design, theming

#2019 feat(design): update icon button sizes to meet wcag touch target requirements
  libs/design/src/atoms/button/button.component.scss
Labels: @daffodil/design

#2022 build(design): add `@daffodil/core` dev dep
  libs/design/package.json
Labels: @daffodil/design

#2023 test(daffio): remove unneeded mock component
  apps/daffio/src/app/api/pages/api-list-page/api-list-page.component.spec.ts
Labels: @daffodil/daff.io

#2020 feat(daffio): update footer UI
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.html
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/footer/sub-footer/sub-footer-theme.scss
Labels: feat, @daffodil/daff.io

#1933 docs(search): add search architecture doc
  docs/architecture/search.md
Labels: docs, @daffodil/search

#2045 docs(design): update paginator docs
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/paginator/paginator.component.html
  apps/design-land/src/app/paginator/paginator.module.ts
  libs/design/paginator/examples/ng-package.json
  libs/design/paginator/examples/package.json
  libs/design/paginator/examples/src/basic-paginator/basic-paginator.component.html
  libs/design/paginator/examples/src/basic-paginator/basic-paginator.component.ts
  libs/design/paginator/examples/src/basic-paginator/basic-paginator.module.ts
  libs/design/paginator/examples/src/examples.ts
  libs/design/paginator/examples/src/index.ts
  libs/design/paginator/examples/src/paginator-examples.module.ts
  libs/design/paginator/examples/src/public_api.ts
  libs/design/src/molecules/paginator/README.md
Labels: docs

#2054 fix(daffio): update platform logos to work in dark mode
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.html
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.scss
  apps/daffio/src/assets/magento-logo.svg
  apps/daffio/src/assets/magento-monotone-logo.svg
  apps/daffio/src/assets/shopify-logo-light.svg
  apps/daffio/src/assets/shopify-logo.svg
  apps/daffio/src/assets/shopify-monotone-logo.svg
Labels: fix, @daffodil/daff.io

#2059 feat(design-land): add theme switch functionality to design land
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.component.scss
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/core/code-preview/component/code-preview.component.scss
  apps/design-land/src/app/core/theme-switch/theme-switch.component.html
  apps/design-land/src/app/core/theme-switch/theme-switch.component.spec.ts
  apps/design-land/src/app/core/theme-switch/theme-switch.component.ts
  apps/design-land/src/app/core/theme-switch/theme-switch.module.ts
  apps/design-land/src/scss/styles.scss
  apps/design-land/src/scss/theme.scss
Labels: feat, docs

#2056 docs(design): update quantity field docs
  apps/design-land/src/app/quantity-field/quantity-field.component.html
  apps/design-land/src/app/quantity-field/quantity-field.module.ts
  libs/design/quantity-field/examples/ng-package.json
  libs/design/quantity-field/examples/package.json
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.html
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.scss
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.ts
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.module.ts
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.html
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.scss
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.ts
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.module.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.html
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.scss
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.module.ts
  libs/design/quantity-field/examples/src/examples.ts
  libs/design/quantity-field/examples/src/public_api.ts
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.html
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.scss
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.spec.ts
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.ts
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.module.ts
  libs/design/src/atoms/form/quantity-field/README.md
Labels: docs

#2064 feat(design-land): add highlight.js a11y themes to dark and light mode
  apps/design-land/src/scss/styles.scss
Labels: feat, docs

#2062 feat(design): clean up article styles
  libs/design/src/molecules/article/article/article-theme.scss
  libs/design/src/molecules/article/article/article.component.scss
Labels: feat, @daffodil/design

#1716 feat(design): update quantity field focus functionality
  libs/design/src/atoms/form/quantity-field/quantity-field.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.html
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.ts
Labels: @daffodil/design
