Repository graycoreio/daffodil, pull requests merged in 2022-09, with the labels that each got.

#2169 fix(reviews): magento query not cacheable
  libs/reviews/driver/magento/src/queries/get-product-reviews.ts
  libs/reviews/driver/magento/src/queries/public_api.ts
  libs/reviews/driver/magento/src/reviews-driver.module.ts
Labels: platform: magento, driver, package: reviews

#2170 fix(reviews): collection actions don't change loading state
  libs/reviews/state/src/reducers/product-reviews/reducer.spec.ts
  libs/reviews/state/src/reducers/product-reviews/reducer.ts
Labels: state, package: reviews

#2174 fix(design): add missing peer dependencies
  libs/design/package.json
Labels: package: design

#2175 feat(design): remove `daff-` prefix from main scss files
  libs/design/guides/getting-started.md
  libs/design/package.json
  libs/design/scss/README.md
  libs/design/scss/daff-global.scss
  libs/design/scss/daff-util.scss
  libs/design/scss/global.scss
  libs/design/scss/utilities.scss
Labels: package: design

#2178 fix(design): remove tilde from cdk and modern normalize module imports
  libs/design/scss/global.scss
Labels: package: design

#2157 feat(design): add default theme and update docs
  libs/design/guides/color.md
  libs/design/guides/getting-started.md
  libs/design/scss/theme.scss
  libs/design/scss/theming/README.md
  libs/design/scss/theming/_daff-theme.scss
  libs/design/scss/theming/_index.scss
Labels: package: design, theming

#2179 fix(design): handle root theme variables
  libs/design/scss/theming/_theme-css-variables.scss
Labels: package: design

#2171 feat(reviews)!: add filter support
  libs/reviews/driver/magento/src/transforms/responses/product-review-collection-metadata.ts
  libs/reviews/driver/src/interfaces/reviews-service.interface.ts
  libs/reviews/driver/testing/src/drivers/reviews.service.spec.ts
  libs/reviews/src/helpers/build-metadata.spec.ts
  libs/reviews/src/helpers/build-metadata.ts
  libs/reviews/src/helpers/build-request.spec.ts
  libs/reviews/src/helpers/build-request.ts
  libs/reviews/src/helpers/public_api.ts
  libs/reviews/src/models/product-reviews-metadata.interface.ts
  libs/reviews/src/models/product-reviews-request.type.ts
  libs/reviews/src/models/product-reviews.interface.ts
  libs/reviews/src/models/public_api.ts
  libs/reviews/src/public_api.ts
  libs/reviews/state/src/actions/product-review-collection.actions.ts
  libs/reviews/state/src/effects/product-page-review-collection.effects.spec.ts
  libs/reviews/state/src/effects/product-page-review-collection.effects.ts
  libs/reviews/state/src/facades/product-page-reviews-collection/facade.ts
  libs/reviews/state/src/facades/product-page-reviews-collection/interface.ts
  libs/reviews/state/src/facades/public_api.ts
  libs/reviews/state/src/reducers/product-reviews-collection/adapter.spec.ts
  libs/reviews/state/src/reducers/product-reviews-collection/adapter.ts
  libs/reviews/state/src/reducers/product-reviews-collection/public_api.ts
  libs/reviews/state/src/reducers/product-reviews-collection/reducer.spec.ts
  libs/reviews/state/src/reducers/product-reviews-collection/reducer.ts
  libs/reviews/state/src/reducers/product-reviews/reducer.spec.ts
  libs/reviews/state/src/reducers/product-reviews/reducer.ts
  libs/reviews/state/src/selectors/product-review-collection/selectors.spec.ts
  libs/reviews/state/src/selectors/product-review-collection/selectors.ts
  libs/reviews/state/testing/src/mock-reviews-collection-facade.ts
  libs/reviews/state/testing/src/public_api.ts
  libs/reviews/state/testing/src/state-testing.module.ts
  libs/reviews/testing/src/factories/product-reviews-metadata.factory.spec.ts
  libs/reviews/testing/src/factories/product-reviews-metadata.factory.ts
  libs/reviews/testing/src/factories/product-reviews-request.factory.spec.ts
  libs/reviews/testing/src/factories/product-reviews-request.factory.ts
  libs/reviews/testing/src/factories/product-reviews.factory.ts
  libs/reviews/testing/src/factories/public_api.ts
Labels: package: reviews

#2183 feat(reviews): export testing module
  libs/reviews/testing/src/public_api.ts
Labels: package: reviews

#2185 fix(design): remove double slash in card theme module imports
  libs/design/src/molecules/card/card/card-theme.scss
Labels: package: design

#2180 feat(design): export typography classes for external usage and update usage documentation
  libs/design/package.json
  libs/design/scss/typography/README.md
Labels: package: design

#2196 fix(order): magento driver not setting `email`
  libs/order/driver/magento/2.4.1/src/helpers/test-data.service.ts
  libs/order/driver/magento/2.4.1/src/models/responses/order.ts
  libs/order/driver/magento/2.4.1/src/queries/fragments/order.ts
  libs/order/driver/magento/2.4.1/src/transforms/responses/order.ts
Labels: package: order, platform: magento, driver

#2193 docs: update css variables documentation
  apps/design-land/src/app/foundations/variables/variables.component.html
Labels: package: design

#2194 docs(design): update theme switch stackblitz example link
  libs/design/scss/theming/README.md
Labels: package: design
