Repository graycoreio/daffodil, pull requests merged in 2022-08, with the labels that each got.

#2138 feat(product): add collection request builders and organize helpers
  libs/product/src/helpers.spec.ts
  libs/product/src/helpers.ts
  libs/product/src/helpers/collection/build-request.spec.ts
  libs/product/src/helpers/collection/build-request.ts
  libs/product/src/helpers/has-discount.spec.ts
  libs/product/src/helpers/has-discount.ts
  libs/product/src/helpers/has-price-range.spec.ts
  libs/product/src/helpers/has-price-range.ts
  libs/product/src/helpers/public_api.ts
  libs/product/src/public_api.ts
Labels: package: product

#2137 feat(core): add collection initial state and adapter
  libs/core/state/src/collection/adapter.class.spec.ts
  libs/core/state/src/collection/adapter.class.ts
  libs/core/state/src/collection/initial-state.ts
  libs/core/state/src/collection/public_api.ts
Labels: package: core

#2140 feat(core): add collection selector factory
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/collection/selector-factory.spec.ts
  libs/core/state/src/collection/selector-factory.ts
Labels: package: core, state

#2142 feat(core): add collection facade
  libs/core/state/src/collection/facade.interface.ts
  libs/core/state/src/collection/facade.spec.ts
  libs/core/state/src/collection/facade.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/testing/ng-package.json
  libs/core/state/testing/package.json
  libs/core/state/testing/src/index.ts
  libs/core/state/testing/src/mock-collection-facade.ts
  libs/core/state/testing/src/public_api.ts
  libs/core/tsconfig.json
Labels: package: core, state

#2105 feat(product): add collection metadata state
  libs/product/state/src/actions/collection.actions.ts
  libs/product/state/src/actions/public_api.ts
  libs/product/state/src/facades/collection/facade.interface.ts
  libs/product/state/src/facades/collection/facade.spec.ts
  libs/product/state/src/facades/collection/facade.ts
  libs/product/state/src/facades/public_api.ts
  libs/product/state/src/public_api.ts
  libs/product/state/src/reducers/collection/public_api.ts
  libs/product/state/src/reducers/collection/reducer.spec.ts
  libs/product/state/src/reducers/collection/reducer.ts
  libs/product/state/src/reducers/collection/state.interface.ts
  libs/product/state/src/reducers/public_api.ts
  libs/product/state/src/selectors/collection/selector-factory.spec.ts
  libs/product/state/src/selectors/collection/selector-factory.ts
  libs/product/state/src/selectors/public_api.ts
  libs/product/state/testing/src/mock-product-collection-facade.ts
  libs/product/state/testing/src/public_api.ts
Labels: package: product, state

#2144 feat(product): replace query param tokens with config
  libs/product/routing/src/config/default.ts
  libs/product/routing/src/config/interface.ts
  libs/product/routing/src/config/public_api.ts
  libs/product/routing/src/config/token.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.ts
  libs/product/routing/src/injection-tokens/public_api.ts
  libs/product/routing/src/models/collection-request-query-param-transforms.interface.ts
  libs/product/routing/src/public_api.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
Labels: package: product, routing

#2145 feat(product): move collection request fields to constant
  libs/product/routing/src/constants/collection-request-fields.ts
  libs/product/routing/src/constants/public_api.ts
  libs/product/routing/src/public_api.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
Labels: package: product, routing

#2146 feat(product): add `DaffProductGetQueryParamsFromRequest`
  libs/product/routing/src/services/get-query-params-from-request.service.spec.ts
  libs/product/routing/src/services/get-query-params-from-request.service.ts
  libs/product/routing/src/services/public_api.ts
Labels: package: product, routing

#2147 feat(product): add `DaffProductRoutingCollectionEffects`
  libs/product/routing/src/effects/collection.effects.spec.ts
  libs/product/routing/src/effects/collection.effects.ts
  libs/product/routing/src/effects/public_api.ts
  libs/product/routing/src/public_api.ts
Labels: package: product, routing

#2148 feat(product): add `DaffProductRoutingModule`
  libs/product/routing/src/module.ts
  libs/product/routing/src/public_api.ts
Labels: package: product, routing

#2151 fix(category,product): magento driver setting wrong collection count
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
  libs/product/driver/magento/src/transforms/collection-metadata.spec.ts
  libs/product/driver/magento/src/transforms/collection-metadata.ts
Labels: package: product, package: category, platform: magento, driver

#2152 chore(search): remove `schema-dts` dep
  libs/search-category/package.json
  libs/search-product/package.json
  libs/search/package.json
Labels: dependencies, package: search, package: search-product, package: search-category

#2150 feat(product): default filters to `{}` in collection adapter
  libs/product/state/src/reducers/collection/reducer.spec.ts
  libs/product/state/src/reducers/collection/reducer.ts
Labels: package: product, state

#2153 chore(search): fix faker dep
  libs/search-category/package.json
  libs/search-product/package.json
  libs/search/package.json
Labels: dependencies, package: search, package: search-product, package: search-category

#2155 feat(search): reset results state when a search begins
  libs/search/state/src/reducers/search/adapter.spec.ts
  libs/search/state/src/reducers/search/adapter.ts
Labels: package: search, state

#2159 feat(core): ensure `currentPage` value is greater than 0
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
Labels: package: core

#2160 feat(category): set applied sort option and direction
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/models/complete-category-response.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-page-config-transformer.service.ts
Labels: package: category, platform: magento, driver

#2161 feat(category)!: use product collection state
  libs/category/state/src/actions/category-page-filter.actions.ts
  libs/category/state/src/actions/category-page.actions.ts
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/src/effects/category-page-filter.effects.ts
  libs/category/state/src/effects/category-page.effects.ts
  libs/category/state/src/facades/collection/facade.ts
  libs/category/state/src/facades/page/category-facade.interface.ts
  libs/category/state/src/facades/page/category.facade.spec.ts
  libs/category/state/src/facades/page/category.facade.ts
  libs/category/state/src/facades/public_api.ts
  libs/category/state/src/public_api.ts
  libs/category/state/src/reducers/category-reducers.interface.ts
  libs/category/state/src/reducers/category-reducers.spec.ts
  libs/category/state/src/reducers/category-reducers.ts
  libs/category/state/src/reducers/category/category-reducer-state.interface.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/reducers/category/pure/build-metadata-from-request.ts
  libs/category/state/src/reducers/page-metadata/reducer.spec.ts
  libs/category/state/src/reducers/page-metadata/reducer.ts
  libs/category/state/src/reducers/page-metadata/state.interface.ts
  libs/category/state/src/reducers/public_api.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/src/selectors/category.selector.ts
  libs/category/state/src/selectors/collection/selectors.ts
  libs/category/state/testing/src/category-testing.module.ts
Labels: package: category, state

#2162 feat(category): use product collection routing
  libs/category/routing/src/effects/collection-route.effects.ts
  libs/category/routing/src/injection-tokens/public_api.ts
  libs/category/routing/src/injection-tokens/request/builder.token.ts
  libs/category/routing/src/injection-tokens/request/builders.token.spec.ts
  libs/category/routing/src/injection-tokens/request/builders.token.ts
  libs/category/routing/src/module.ts
  libs/category/routing/src/public_api.ts
  libs/category/routing/src/resolvers/category-page-id/category-page-id.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-id/category-page-id.resolver.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.spec.ts
  libs/category/routing/src/resolvers/category-page-url/category-page-url.resolver.ts
  libs/category/routing/src/resolvers/category-page/category-page.resolver.ts
Labels: package: category, routing

#2165 feat(reviews): provide `DaffReviewedProductFactory` in product factory
  libs/product/testing/src/factories/extension.factory.ts
  libs/reviews/testing/src/testing.module.ts
Labels: package: reviews

#2164 feat(design): update root theme css variables implementation
  libs/design/scss/theming/_theme-css-variables.scss
Labels: package: design, theming

#2167 fix(design): fix module path in theme-css-variables and update token mixin name
  libs/design/scss/theming/_theme-css-variables.scss
Labels: package: design
