Repository graycoreio/daffodil, pull requests merged in 2022-10, with the labels that each got.

#2201 perf(demo): lazy load demo checkout module
  apps/demo/src/app/app-routing.module.ts
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/checkout/checkout-routing.module.ts
  apps/demo/src/app/checkout/checkout.module.ts
Labels: hacktoberfest, hacktoberfest-accepted

#2202 feat(demo): prevent lib imports on demo
  apps/demo/.eslintrc.js
Labels: hacktoberfest, hacktoberfest-accepted

#2213 feat(cart): add optional `billingAddress` param to `DaffCartPaymentServiceInterface#update`
  libs/cart/driver/magento/src/cart-payment.service.spec.ts
  libs/cart/driver/magento/src/cart-payment.service.ts
  libs/cart/driver/src/interfaces/cart-payment-service.interface.ts
Labels: package: cart, driver

#2214 feat(authorizenet): add payment models
  libs/authorizenet/package.json
  libs/authorizenet/src/constants/kind.ts
  libs/authorizenet/src/constants/public_api.ts
  libs/authorizenet/src/models/public_api.ts
  libs/authorizenet/src/models/request.type.ts
  libs/authorizenet/src/models/response.type.ts
  libs/authorizenet/src/public_api.ts
Labels: package: authorizenet

#2215 feat(authorizenet): add payment driver
  libs/authorizenet/driver/magento/src/authorize-net.module.ts
  libs/authorizenet/driver/magento/src/payment.service.spec.ts
  libs/authorizenet/driver/magento/src/payment.service.ts
  libs/authorizenet/driver/src/interfaces/payment-service.interface.ts
  libs/authorizenet/driver/src/interfaces/public_api.ts
Labels: package: authorizenet, driver

#2212 feat(cart): add `@daffodil/payment` support
  libs/cart/package.json
  libs/cart/state/src/cart-state.module.ts
  libs/cart/state/src/effects/cart-payment-processor.effects.spec.ts
  libs/cart/state/src/effects/cart-payment-processor.effects.ts
  libs/cart/state/src/reducers/cart-payment/payment.reducer.ts
Labels: package: cart, state

#2216 feat(authorizenet): add payment actions and reducer
  libs/authorizenet/state/src/actions/authorizenet.actions.ts
  libs/authorizenet/state/src/payment-state.module.ts
  libs/authorizenet/state/src/public_api.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.ts
Labels: package: authorizenet, state

#2219 build(all): enable cross-platform build
  apps/daffio/package.json
  libs/branding/package.json
  libs/docs-utils/package.json
  libs/product/package.json
  package-lock.json
  package.json
  tools/builders/package.json
  tools/eslint/config/package.json
Labels: hacktoberfest, build, hacktoberfest-accepted

#2221 refactor(all): use `defer` instead of `of(null)`
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
  libs/cart/state/src/effects/cart-address.effects.ts
  libs/cart/state/src/effects/cart-coupon.effects.ts
  libs/cart/state/src/effects/cart-order.effects.ts
  libs/cart/state/src/effects/cart-payment-processor.effects.ts
  libs/cart/state/src/effects/cart.effects.ts
  libs/core/src/operators/backoff.pipe.spec.ts
  libs/paypal/state/src/effects/paypal.effects.ts
Labels: refactor

#2224 feat(cart): add `DaffCartServiceInterface#merge`
  libs/cart/driver/in-memory/src/backend/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.ts
  libs/cart/driver/magento/src/cart.service.ts
  libs/cart/driver/magento/src/errors/codes.ts
  libs/cart/driver/magento/src/errors/map.ts
  libs/cart/driver/magento/src/queries/merge-carts.ts
  libs/cart/driver/magento/src/queries/public_api.ts
  libs/cart/driver/magento/src/queries/responses/merge-carts.type.ts
  libs/cart/driver/magento/src/queries/responses/public_api.ts
  libs/cart/driver/src/errors/codes.enum.ts
  libs/cart/driver/src/errors/map.ts
  libs/cart/driver/src/errors/public_api.ts
  libs/cart/driver/src/errors/unauthorized-for-cart.ts
  libs/cart/driver/src/interfaces/cart-service.interface.ts
  libs/cart/driver/testing/src/drivers/cart/cart.service.spec.ts
  libs/cart/driver/testing/src/drivers/cart/cart.service.ts
Labels: package: cart, driver

#2222 feat(core,driver)!: rename `DaffApolloCacheableOperationLinkGenerator` -> `DaffApolloLinkGenerator`
  libs/core/graphql/src/apollo/cacheable-operations/cacheable-operations-link.interface.ts
  libs/core/graphql/src/apollo/public_api.ts
  libs/driver/magento/src/graphql/cacheable-operations/apollo-cacheable-operations-link-generator.ts
Labels: package: core, driver

#2227 feat(auth): add `MagentoAuthApolloBearerTokenLinkGenerator`
  libs/auth/driver/magento/src/apollo-bearer-token-link-generator.spec.ts
  libs/auth/driver/magento/src/apollo-bearer-token-link-generator.ts
  libs/auth/driver/magento/src/public_api.ts
Labels: package: auth, platform: magento, driver

#2230 fix(auth): magento driver auth check always fails
  libs/auth/driver/magento/src/queries/check-token.ts
  libs/auth/driver/magento/src/queries/responses/check-token-response.ts
  libs/auth/driver/magento/src/validators/check-token.spec.ts
  libs/auth/driver/magento/src/validators/check-token.ts
Labels: fix, package: auth, platform: magento, driver

#2231 feat(auth): remove auth token from storage on logout
  libs/auth/state/src/effects/login.effects.spec.ts
  libs/auth/state/src/effects/login.effects.ts
Labels: feat, package: auth, state

#2232 feat(auth): dispatch auth complete when storing auth token
  libs/auth/state/src/effects/register.effects.spec.ts
  libs/auth/state/src/effects/register.effects.ts
  libs/auth/state/src/effects/reset-password.effects.spec.ts
  libs/auth/state/src/effects/reset-password.effects.ts
Labels: feat, package: auth, state

#2233 feat(auth): add redirect URLs for member and guest only guards
  libs/auth/routing/src/guards/guest-only-guard-redirect.token.ts
  libs/auth/routing/src/guards/guest-only.guard.spec.ts
  libs/auth/routing/src/guards/guest-only.guard.ts
  libs/auth/routing/src/guards/member-only-guard-redirect.token.ts
  libs/auth/routing/src/guards/member-only.guard.spec.ts
  libs/auth/routing/src/guards/member-only.guard.ts
  libs/auth/routing/src/guards/public_api.ts
  libs/auth/routing/src/guards/reset-password.guard.spec.ts
  libs/auth/routing/src/module.ts
Labels: package: auth, routing

#2229 feat(auth): remove auth token from storage when check fails
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
Labels: package: auth, state

#2234 feat(cart): create cart when user is unauthorized
  libs/cart/state/src/effects/auth.effects.spec.ts
  libs/cart/state/src/effects/auth.effects.ts
Labels: package: cart, state

#2235 feat(cart,cart-customer): add `@daffodil/cart-customer`
  angular.json
  libs/cart-customer/.eslintrc.js
  libs/cart-customer/README.md
  libs/cart-customer/karma.conf.js
  libs/cart-customer/ng-package.json
  libs/cart-customer/ng-package.prod.json
  libs/cart-customer/package.json
  libs/cart-customer/src/index.ts
  libs/cart-customer/src/injection-tokens/error-matcher.token.ts
  libs/cart-customer/src/injection-tokens/public_api.ts
  libs/cart-customer/src/public_api.ts
  libs/cart-customer/state/ng-package.json
  libs/cart-customer/state/package.json
  libs/cart-customer/state/src/effects/auth.effects.spec.ts
  libs/cart-customer/state/src/effects/auth.effects.ts
  libs/cart-customer/state/src/index.ts
  libs/cart-customer/state/src/public_api.ts
  libs/cart-customer/state/src/state.module.ts
  libs/cart-customer/test.ts
  libs/cart-customer/tsconfig.json
  libs/cart-customer/tsconfig.lib.json
  libs/cart-customer/tsconfig.lib.prod.json
  libs/cart-customer/tsconfig.spec.json
  libs/cart/state/src/cart-state.module.ts
Labels: package: cart, package: cart-customer
