Repository graycoreio/daffodil, pull requests merged in 2022-01, with the labels that each got.

#1952 docs(category): add `DaffCategoryFilterEqualOption#count` docs
  libs/category/src/models/filters/type/equal/option.ts
Labels: @daffodil/category

#1957 fix(design): add missing coma to icon button's theme contrast style
  libs/design/src/atoms/button/button-theme.scss
Labels: fix, @daffodil/design

#1954 feat(cart): transform no source items Magento error as OOS error
  libs/cart/driver/magento/src/errors/map.ts
  libs/cart/driver/magento/src/errors/transform.spec.ts
Labels: @daffodil/cart, platform-magento

#1953 fix(cart): magento driver returns `null` cart items
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/bundle-cart-item-transformer.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/configurable-cart-item-transformer.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-item/simple-cart-item-transformer.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.ts
Labels: @daffodil/cart, platform-magento

#1959 feat(cart): add `selectOutOfStockCartItems` and `selectInStockCartItems`
  libs/cart/state/src/facades/cart/cart-facade.interface.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
Labels: @daffodil/cart, state

#1960 feat(cart): add `DaffCartInStockItemsGuard`
  libs/cart/routing/src/guards/in-stock-items/in-stock-items-guard-redirect.token.ts
  libs/cart/routing/src/guards/in-stock-items/in-stock-items.guard.spec.ts
  libs/cart/routing/src/guards/in-stock-items/in-stock-items.guard.ts
  libs/cart/routing/src/guards/public_api.ts
Labels: @daffodil/cart, routing

#1934 fix(category): magento driver misreferencing category products in res…
  libs/category/driver/magento/src/transformers/category-response-transform.service.spec.ts
  libs/category/driver/magento/src/transformers/category-response-transform.service.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
Labels: @daffodil/category, platform-magento

#1964 feat(design): clean up color palettes
  apps/design-land/src/app/foundations/color/color.component.html
  apps/design-land/src/app/foundations/color/color.component.scss
  libs/design/src/scss/theming/_variables.scss
Labels: feat, @daffodil/design
