Repository graycoreio/daffodil, pull requests merged in 2022-07, with the labels that each got.

#2119 feat(core): add `daffIdentifiableArrayToDict`
  libs/core/src/identifiable/array-to-dict.spec.ts
  libs/core/src/identifiable/array-to-dict.ts
  libs/core/src/identifiable/public_api.ts
  libs/core/src/public_api.ts
Labels: package: core

#2122 feat(core): add additional collection interfaces and factories
  libs/core/src/collection/collection.interface.ts
  libs/core/src/collection/countable.interface.ts
  libs/core/src/collection/metadata.interface.ts
  libs/core/src/collection/public_api.ts
  libs/core/src/collection/request.interface.ts
  libs/core/testing/src/factories/collection/metadata.factory.spec.ts
  libs/core/testing/src/factories/collection/metadata.factory.ts
  libs/core/testing/src/factories/collection/mock-collection.class.spec.ts
  libs/core/testing/src/factories/collection/mock-collection.class.ts
  libs/core/testing/src/factories/collection/numerically-paginable.factory.ts
  libs/core/testing/src/factories/collection/public_api.ts
  libs/core/testing/src/factories/collection/request.factory.spec.ts
  libs/core/testing/src/factories/collection/request.factory.ts
Labels: package: core

#2127 fix(cart): magento driver not passing street2 value
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.spec.ts
  libs/cart/driver/magento/src/transforms/inputs/cart-address.service.ts
Labels: package: cart, platform: magento

#2126 feat(design): allow root css variables to be used with or without theme switching
  libs/design/scss/daff-global.scss
  libs/design/scss/theming/_theme-css-variables.scss
Labels: package: design

#2125 refactor(design): remove unnecessary daff-util imports
  libs/design/hero/examples/src/compact-hero/compact-hero.component.scss
  libs/design/hero/examples/src/hero-text-alignment/hero-text-alignment.component.scss
  libs/design/hero/examples/src/hero-theming/hero-theming.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/input/input.component.scss
  libs/design/src/atoms/form/select/select/select.component.scss
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/molecules/modal/modal-actions/modal-actions.component.scss
  libs/design/src/molecules/modal/modal-content/modal-content.component.scss
  libs/design/src/molecules/navbar/navbar.component.scss
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Labels: package: design

#2129 feat(product): use `MockCollectionMetadata` in factory
  libs/product/testing/src/factories/collection-metadata.factory.ts
  libs/product/testing/src/factories/collection/metadata.factory.spec.ts
  libs/product/testing/src/factories/collection/metadata.factory.ts
  libs/product/testing/src/factories/public_api.ts
Labels: package: product

#2130 feat(product): add `DaffProductCollectionRequestFactory`
  libs/product/testing/src/factories/collection/request.factory.spec.ts
  libs/product/testing/src/factories/collection/request.factory.ts
  libs/product/testing/src/factories/public_api.ts
Labels: package: product

#2133 feat(core): add collection action interfaces
  libs/core/state/src/collection/actions.ts
  libs/core/state/src/collection/public_api.ts
  libs/core/state/src/public_api.ts
Labels: package: core, state

#2132 feat(product)!: replace `DaffProductCollectionResponse` with `DaffPro…
  libs/product/src/models/collection/collection.interface.ts
  libs/product/src/models/collection/public_api.ts
  libs/product/src/models/collection/response.interface.ts
  libs/product/testing/src/factories/collection/collection.factory.spec.ts
  libs/product/testing/src/factories/collection/collection.factory.ts
  libs/product/testing/src/factories/public_api.ts
Labels: package: product

#2136 feat(cart,product): add `DaffProductNotFoundError`
  libs/cart/driver/src/errors/product-not-found.ts
  libs/product/driver/src/errors/codes.enum.ts
  libs/product/driver/src/errors/map.ts
  libs/product/driver/src/errors/product-not-found.ts
  libs/product/driver/src/errors/public_api.ts
  libs/product/driver/src/public_api.ts
Labels: package: product, package: cart

#2134 feat(category): use parent factories for product collection
  libs/category/testing/src/factories/category-page-metadata.factory.spec.ts
  libs/category/testing/src/factories/category-page-metadata.factory.ts
  libs/category/testing/src/factories/category.factory.ts
Labels: package: category

#2135 feat(core): add collection metadata and request builders
  libs/core/src/collection/build-metadata.spec.ts
  libs/core/src/collection/build-metadata.ts
  libs/core/src/collection/build-request.spec.ts
  libs/core/src/collection/build-request.ts
  libs/core/src/collection/public_api.ts
Labels: package: core
