Repository graycoreio/daffodil, pull requests merged in 2022-06, with the labels that each got.

#2106 feat(product): add `DaffProductGetCollectionRequestFromRoute`
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-param-transforms.token.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.spec.ts
  libs/product/routing/src/injection-tokens/collection/query-params.token.ts
  libs/product/routing/src/injection-tokens/public_api.ts
  libs/product/routing/src/models/collection-request-query-param-transforms.interface.ts
  libs/product/routing/src/models/collection-request-query-params.interface.ts
  libs/product/routing/src/models/public_api.ts
  libs/product/routing/src/public_api.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
  libs/product/routing/src/services/public_api.ts
Labels: package: product, routing

#2116 feat(product): add support for injectable reducers
  libs/product/state/src/product-state.module.ts
  libs/product/state/src/reducers/injection-tokens/extra.token.spec.ts
  libs/product/state/src/reducers/injection-tokens/extra.token.ts
  libs/product/state/src/reducers/injection-tokens/public_api.ts
  libs/product/state/src/reducers/injection-tokens/reducers.token.spec.ts
  libs/product/state/src/reducers/injection-tokens/reducers.token.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.ts
  libs/product/state/src/reducers/public_api.ts
Labels: package: product, state

#2113 feat(design): use sass module system
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.component.scss
  libs/design/guides/getting-started.md
  libs/design/hero/examples/src/hero-with-grid/hero-with-grid.component.scss
  libs/design/navbar/examples/src/basic-navbar/basic-navbar.component.scss
  libs/design/navbar/examples/src/contained-navbar/contained-navbar.component.scss
  libs/design/navbar/examples/src/navbar-theming/navbar-theming.component.scss
  libs/design/navbar/examples/src/raised-navbar/raised-navbar.component.scss
  libs/design/scss/accessibility/_index.scss
  libs/design/scss/core/_index.scss
  libs/design/scss/daff-global.scss
  libs/design/scss/daff-theme.scss
  libs/design/scss/daff-typography.scss
  libs/design/scss/daff-util.scss
  libs/design/scss/interactions/_index.scss
  libs/design/scss/interactions/mouse/_clickable.scss
  libs/design/scss/layout/_breakpoint.scss
  libs/design/scss/layout/_index.scss
  libs/design/scss/layout/_variables.scss
  libs/design/scss/theming/_index.scss
  libs/design/scss/theming/contrast/_index.scss
  libs/design/scss/typography/README.md
  libs/design/scss/typography/_classes.scss
  libs/design/scss/typography/_index.scss
  libs/design/scss/typography/_mixins.scss
  libs/design/scss/typography/mixins/_font-weight.scss
  libs/design/scss/typography/mixins/_sizes.scss
  libs/design/scss/typography/mixins/_text-transform.scss
  libs/design/scss/typography/mixins/_text-truncate.scss
  libs/design/scss/typography/utilities/_index.scss
  libs/design/scss/typography/utilities/_variables.scss
  libs/design/src/atoms/button/button.component.scss
  libs/design/src/atoms/form/error-message/error-message.component.scss
  libs/design/src/molecules/accordion/accordion-item/accordion-item.component.scss
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.scss
  libs/design/src/molecules/article/article/_stops-article-cascade.scss
  libs/design/src/molecules/article/article/article-theme.scss
  libs/design/src/molecules/article/article/article.component.scss
  libs/design/src/molecules/backdrop/backdrop/backdrop.component.scss
  libs/design/src/molecules/button-set/button-set.component.scss
  libs/design/src/molecules/callout/callout/callout.component.scss
  libs/design/src/molecules/card/card/card.component.scss
  libs/design/src/molecules/feature/feature/feature.component.scss
  libs/design/src/molecules/hero/hero/hero.component.scss
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.scss
  libs/design/src/molecules/image-list/image-list.component.scss
  libs/design/src/molecules/link-set/link-set/link-set.component.scss
  libs/design/src/molecules/list/list/list.component.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.scss
  libs/design/src/molecules/modal/modal-header/modal-header.component.scss
  libs/design/src/molecules/modal/modal/modal.component.scss
  libs/design/src/molecules/paginator/paginator.component.scss
Labels: package: design

#2118 feat(core): add `DaffCollectionPageOutOfBoundsError`
  libs/core/src/collection/error-map.ts
  libs/core/src/collection/page-out-of-bounds.error.ts
  libs/core/src/collection/public_api.ts
Labels: package: core
