Repository graycoreio/daffodil, pull requests merged in 2023-06, with the labels that each got.

#2461 feat(paypal): set payment loading for generate express token
  libs/paypal/state/src/payment-state.module.ts
  libs/paypal/state/src/reducers/payment/reducer.spec.ts
  libs/paypal/state/src/reducers/payment/reducer.ts
Labels: package: paypal, layer: state, status: awaiting merge

#2465 feat(authorizenet): reduce backoff timing for accept.js retry
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
Labels: package: authorizenet, layer: state, status: awaiting merge

#2469 docs: add note about AI tool PR disclosure
  CONTRIBUTING.md
Labels: docs, status: awaiting review

#2472 fix(design): update skeleton screen positioning style
  libs/design/scss/state/skeleton/_mixins.scss
Labels: package: design, status: awaiting review

#2479 feat(design): add hostbinding class to error message so the theming s…
  libs/design/src/atoms/form/error-message/error-message.component.ts
Labels: package: design, status: awaiting review

#2486 feat(design): update daff-green palette colors to be more aligned with the other decorative palettes
  apps/design-land/src/app/foundations/color/color.component.html
  libs/design/scss/theming/_color-palettes.scss
Labels: package: design

#2485 feat(design): expose all of DaffStatusable to the public api
  libs/design/src/core/public_api.ts
  libs/design/src/core/statusable/public_api.ts
Labels: package: design, status: awaiting review

#2488 feat(cart): throw unrecoverable errors in magento driver
  libs/cart/driver/magento/src/cart.service.spec.ts
  libs/cart/driver/magento/src/cart.service.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2489 feat(cart): add `daffCartDriverHandleCartNotFound`
  libs/cart/driver/src/operators/handle-cart-not-found.spec.ts
  libs/cart/driver/src/operators/handle-cart-not-found.ts
  libs/cart/driver/src/operators/public_api.ts
  libs/cart/driver/src/public_api.ts
Labels: package: cart, layer: driver, status: awaiting merge

#2490 feat(cart): add `DaffCartDriverResolveService`
  libs/cart/driver/src/public_api.ts
  libs/cart/driver/src/services/public_api.ts
  libs/cart/driver/src/services/resolve.service.spec.ts
  libs/cart/driver/src/services/resolve.service.ts
Labels: package: cart, layer: driver, status: awaiting merge

#2491 feat(cart): use `DaffCartDriverResolveService` for resolve effects
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
Labels: package: cart, layer: state, status: awaiting merge

#2492 feat(cart): only initially resolve cart if ID is in storage
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
Labels: package: cart, layer: state, status: awaiting merge

#2493 feat(cart): create cart automatically for add cart item
  libs/cart/state/src/effects/cart-item.effects.spec.ts
  libs/cart/state/src/effects/cart-item.effects.ts
Labels: package: cart, layer: state, status: awaiting merge

#2487 feat(design): expose colorable public_api to core's public_api
  libs/design/src/core/public_api.ts
Labels: package: design
