Repository graycoreio/daffodil, pull requests merged in 2023-03, with the labels that each got.

#2347 feat(auth): redirect to logout path for `DaffAuthRevoke`
  libs/auth/state/src/effects/redirect.effects.spec.ts
  libs/auth/state/src/effects/redirect.effects.ts
Labels: package: auth, status: awaiting merge

#2346 feat(customer-order,order): add `email` to `DaffOrder`
  libs/customer-order/driver/magento/src/models/responses/get-customer-order.type.ts
  libs/customer-order/driver/magento/src/models/responses/get-customer-orders.type.ts
  libs/customer-order/driver/magento/src/order.service.spec.ts
  libs/customer-order/driver/magento/src/order.service.ts
  libs/customer-order/driver/magento/src/queries/get-customer-order.ts
  libs/customer-order/driver/magento/src/queries/get-customer-orders.ts
  libs/customer-order/driver/magento/src/transforms/responses/order-collection.ts
  libs/customer-order/driver/magento/src/transforms/responses/order.spec.ts
  libs/customer-order/driver/magento/src/transforms/responses/order.ts
  libs/customer-order/driver/magento/src/validators/get-order.spec.ts
  libs/customer-order/driver/magento/src/validators/get-orders.spec.ts
  libs/customer-order/driver/magento/testing/src/factories/orders.factory.ts
  libs/order/driver/magento/2.4.0/src/transforms/responses/order.ts
  libs/order/driver/magento/2.4.1/src/helpers/test-data.service.ts
  libs/order/driver/magento/2.4.1/src/transforms/responses/order.ts
  libs/order/src/models/order.ts
  libs/order/testing/src/factories/order.factory.spec.ts
  libs/order/testing/src/factories/order.factory.ts
Labels: package: order, status: awaiting merge, package: customer-order

#2352 ci: disable lerna concurrency for incremental build
  .azure/templates/lerna-build-test.yml
Labels: status: awaiting review

#2354 feat(cart,driver)!: move magento money fragment to driver
  libs/cart/driver/magento/src/queries/fragments/available-shipping-method.ts
  libs/cart/driver/magento/src/queries/fragments/cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/money.ts
  libs/cart/driver/magento/src/queries/fragments/prices.ts
  libs/cart/driver/magento/src/queries/fragments/public_api.ts
  libs/cart/driver/magento/src/queries/fragments/selected-shipping-method.ts
  libs/driver/magento/src/fragments/money.ts
  libs/driver/magento/src/fragments/public_api.ts
  libs/driver/magento/testing/src/factories/money.factory.ts
Labels: package: driver, package: cart, platform: magento, layer: driver, 🚨 breaking changes, status: awaiting merge

#2356 feat(customer-order): send requests as POST
  libs/customer-order/driver/magento/src/driver.module.ts
Labels: platform: magento, layer: driver, status: awaiting merge, package: customer-order

#2357 feat(paypal)!: narrow paypal types to be specific to express
  libs/paypal/driver/magento/src/constants/method.ts
  libs/paypal/driver/magento/src/constants/public_api.ts
  libs/paypal/driver/magento/src/models/public_api.ts
  libs/paypal/driver/magento/src/models/response/payment-response.type.ts
  libs/paypal/driver/magento/src/paypal-payment.service.spec.ts
  libs/paypal/driver/magento/src/paypal-payment.service.ts
  libs/paypal/driver/magento/src/public_api.ts
  libs/paypal/driver/src/config/type.ts
  libs/paypal/routing/src/guards/express-payment/guard.ts
  libs/paypal/src/models/express-payment-request.type.ts
  libs/paypal/src/models/public_api.ts
  libs/paypal/src/models/request.type.ts
  libs/paypal/src/models/response.type.ts
  libs/paypal/state/src/actions/paypal.actions.ts
  libs/paypal/testing/src/factories/express-request.factory.spec.ts
  libs/paypal/testing/src/factories/response.factory.spec.ts
  libs/paypal/testing/src/factories/response.factory.ts
Labels: package: paypal, 🚨 breaking changes, status: awaiting merge

#2353 feat(design): create menu component
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/menu/menu-routing-module.ts
  apps/design-land/src/app/menu/menu.component.html
  apps/design-land/src/app/menu/menu.component.scss
  apps/design-land/src/app/menu/menu.component.spec.ts
  apps/design-land/src/app/menu/menu.component.ts
  apps/design-land/src/app/menu/menu.module.ts
  libs/design/menu/examples/ng-package.json
  libs/design/menu/examples/package.json
  libs/design/menu/examples/src/basic-menu/basic-menu.component.html
  libs/design/menu/examples/src/basic-menu/basic-menu.component.ts
  libs/design/menu/examples/src/basic-menu/basic-menu.module.ts
  libs/design/menu/examples/src/basic-menu/menu-content/menu-content.component.html
  libs/design/menu/examples/src/basic-menu/menu-content/menu-content.component.ts
  libs/design/menu/examples/src/index.ts
  libs/design/menu/examples/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/core/focus/focusable-elements.ts
  libs/design/src/core/focus/public_api.ts
  libs/design/src/core/lazy/lazy-component.ts
  libs/design/src/core/lazy/public_api.ts
  libs/design/src/core/public_api.ts
  libs/design/src/molecules/index.ts
  libs/design/src/molecules/menu.module.ts
  libs/design/src/molecules/menu.service.ts
  libs/design/src/molecules/menu/README.md
  libs/design/src/molecules/menu/animations/animation-state.spec.ts
  libs/design/src/molecules/menu/animations/animation-state.ts
  libs/design/src/molecules/menu/animations/animation.ts
  libs/design/src/molecules/menu/helpers/create-overlay.ts
  libs/design/src/molecules/menu/helpers/public_api.ts
  libs/design/src/molecules/menu/menu-activator/menu-activator.component.spec.ts
  libs/design/src/molecules/menu/menu-activator/menu-activator.component.ts
  libs/design/src/molecules/menu/menu-item/menu-item.component.html
  libs/design/src/molecules/menu/menu-item/menu-item.component.scss
  libs/design/src/molecules/menu/menu-item/menu-item.component.spec.ts
  libs/design/src/molecules/menu/menu-item/menu-item.component.ts
  libs/design/src/molecules/menu/menu-theme.scss
  libs/design/src/molecules/menu/menu.module.ts
  libs/design/src/molecules/menu/menu/menu.component.scss
  libs/design/src/molecules/menu/menu/menu.component.spec.ts
  libs/design/src/molecules/menu/menu/menu.component.ts
  libs/design/src/molecules/menu/public_api.ts
  libs/design/src/molecules/menu/service/menu.service.ts
  libs/design/src/molecules/menu/specs/children.spec.ts
  libs/design/src/molecules/menu/specs/no-children.spec.ts
  libs/design/src/molecules/menu/testing/dummy-service.ts
  libs/design/src/public_api.ts
Labels: package: design, status: awaiting review

#2360 feat(design): UI updates to menu component
  libs/design/src/molecules/menu/menu-item/menu-item.component.scss
  libs/design/src/molecules/menu/menu-theme.scss
Labels: package: design

#2361 fix(customer): magento driver not transforming `street2`
  libs/customer/driver/magento/src/transforms/responses/customer-address.spec.ts
  libs/customer/driver/magento/src/transforms/responses/customer-address.ts
Labels: platform: magento, layer: driver, package: customer, status: awaiting merge

#2362 feat(auth): move redirect effects to routing
  libs/auth/routing/src/config/default.ts
  libs/auth/routing/src/config/interface.ts
  libs/auth/routing/src/config/public_api.ts
  libs/auth/routing/src/config/token.ts
  libs/auth/routing/src/effects/redirect.effects.spec.ts
  libs/auth/routing/src/effects/redirect.effects.ts
  libs/auth/routing/src/module.ts
  libs/auth/routing/src/public_api.ts
  libs/auth/routing/src/redirect.module.ts
  libs/auth/state/src/auth-state.module.ts
  libs/auth/state/src/config/default.ts
  libs/auth/state/src/config/type.ts
Labels: package: auth, status: awaiting merge

#2366 feat(customer): don't store contextual entity errors in global state
  libs/customer/state/src/reducers/address/reducer.spec.ts
  libs/customer/state/src/reducers/address/reducer.ts
Labels: layer: state, package: customer, status: awaiting merge

#2364 feat(order)!: use operation state
  libs/order/state/src/facades/order/order-facade.interface.ts
  libs/order/state/src/facades/order/order.facade.ts
  libs/order/state/src/reducers/order/order-initial-state.ts
  libs/order/state/src/reducers/order/order-reducer.interface.ts
  libs/order/state/src/reducers/order/order.reducer.spec.ts
  libs/order/state/src/reducers/order/order.reducer.ts
  libs/order/state/src/selectors/order.selector.spec.ts
  libs/order/state/src/selectors/order.selector.ts
  libs/order/state/testing/src/mock-order-facade.ts
Labels: package: order, layer: state, 🚨 breaking changes, status: awaiting merge

#2367 feat(driver): handle network errors in Magento error transform
  libs/driver/magento/src/errors/network-error.class.ts
  libs/driver/magento/src/errors/public_api.ts
  libs/driver/magento/src/errors/transform.spec.ts
  libs/driver/magento/src/errors/transform.ts
Labels: package: driver, platform: magento, layer: driver, status: awaiting merge

#2369 feat(category)!: use operation state
  libs/category/state/src/facades/page/category-facade.interface.ts
  libs/category/state/src/facades/page/category.facade.spec.ts
  libs/category/state/src/facades/page/category.facade.ts
  libs/category/state/src/reducers/category/category-reducer-state.interface.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/selectors/category-page/category-page.selector.spec.ts
  libs/category/state/src/selectors/category-page/category-page.selector.ts
  libs/category/state/testing/src/mock-category-facade.ts
Labels: package: category, layer: state, 🚨 breaking changes, status: awaiting merge

#2370 feat(product)!: use operation state
  libs/product/state/src/facades/product-page/facade.interface.ts
  libs/product/state/src/facades/product-page/facade.ts
  libs/product/state/src/facades/product/product.facade.ts
  libs/product/state/src/reducers/product/product-reducer-state.interface.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.ts
  libs/product/state/src/selectors/product/product.selectors.spec.ts
  libs/product/state/src/selectors/product/product.selectors.ts
  libs/product/state/testing/src/mock-product-page-facade.ts
Labels: package: product, layer: state, 🚨 breaking changes, status: awaiting merge

#2371 feat(category): add injectable product reducer
  libs/category/state/src/product-state.module.ts
  libs/category/state/src/public_api.ts
  libs/category/state/src/reducers/product-reducers.ts
  libs/category/state/src/reducers/product.reducer.ts
Labels: package: category, layer: state, status: awaiting merge

#2372 fix(product): incorrect typing for injectable extra reducers
  libs/product/state/src/reducers/injection-tokens/extra.token.ts
Labels: package: product, layer: state, status: awaiting merge

#2373 fix(category): info persists when loading new category
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
Labels: package: category, layer: state, status: awaiting merge

#2374 perf(product): exclude media gallery requests from products
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/product-composite/driver/magento/testing/src/factories/bundle/bundle.factory.spec.ts
  libs/product-configurable/driver/magento/testing/src/factories/configurable/configurable.factory.spec.ts
  libs/product/driver/magento/src/models/magento-product.ts
  libs/product/driver/magento/src/models/product-preview.interface.ts
  libs/product/driver/magento/src/queries/fragments/product-page.ts
  libs/product/driver/magento/src/queries/fragments/product-preview.ts
  libs/product/driver/magento/src/queries/fragments/product.ts
  libs/product/driver/magento/src/queries/fragments/public_api.ts
  libs/product/driver/magento/src/queries/get-all-products.ts
  libs/product/driver/magento/src/queries/get-product-by-url.ts
  libs/product/driver/magento/src/queries/get-product.ts
  libs/product/driver/magento/src/queries/public_api.ts
  libs/product/driver/magento/src/transforms/product-preview.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/driver/magento/testing/src/factories/core/product-preview.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/core/product-preview.factory.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.spec.ts
  libs/product/driver/magento/testing/src/factories/core/product.factory.ts
  libs/product/driver/magento/testing/src/factories/simple/simple.factory.spec.ts
  libs/product/src/models/product.ts
Labels: package: product, platform: magento, layer: driver, status: awaiting merge

#2375 feat(category)!: remove nested products query in Magento driver
  libs/category/driver/magento/src/models/category.ts
  libs/category/driver/magento/src/queries/fragments/category-tree.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.spec.ts
  libs/category/driver/magento/testing/src/factories/category.factory.spec.ts
  libs/search-category/driver/magento/src/category-search.service.ts
Labels: package: category, platform: magento, layer: driver, status: awaiting merge

#2378 feat(cart): use `user_errors` for Magento add to cart errors
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/errors/map.ts
  libs/cart/driver/magento/src/errors/transform.ts
  libs/cart/driver/magento/src/models/responses/public_api.ts
  libs/cart/driver/magento/src/models/responses/user-error.enum.ts
  libs/cart/driver/magento/src/models/responses/user-error.type.ts
  libs/cart/driver/magento/src/queries/add-cart-item.ts
  libs/cart/driver/magento/src/queries/fragments/public_api.ts
  libs/cart/driver/magento/src/queries/fragments/user-error.ts
  libs/cart/driver/magento/src/queries/responses/add-cart-item.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2377 feat(cart): don't add contextual cart item errors to global state
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.ts
Labels: package: cart, layer: state, status: awaiting merge

#2379 feat(cart): add generics to magento cart transformer
  libs/cart/driver/magento/src/transforms/outputs/cart.service.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2380 feat(core)!: change fragment name spread to only get first fragment
  libs/core/graphql/src/apollo/queued-apollo/queued-apollo.service.spec.ts
  libs/core/graphql/src/fragments/build-fragment-definition.spec.ts
  libs/core/graphql/src/fragments/build-fragment-name-spread.spec.ts
  libs/core/graphql/src/fragments/build-fragment-name-spread.ts
  libs/core/graphql/src/fragments/fragment.integration.spec.ts
Labels: package: core, status: awaiting merge

#2382 feat(cart): export mock classes
  libs/cart/testing/src/factories/public_api.ts
Labels: package: cart, status: awaiting merge
