Repository graycoreio/daffodil, pull requests merged in 2023-04, with the labels that each got.

#2385 feat(driver,auth): clear Apollo cache when customer is logged out
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
  libs/driver/magento/src/graphql/cache.service.ts
  libs/driver/magento/src/graphql/public_api.ts
  libs/driver/magento/src/magento.module.ts
  libs/driver/magento/src/public_api.ts
  libs/driver/src/http-client-cache/noop.service.ts
  libs/driver/src/http-client-cache/public_api.ts
  libs/driver/src/http-client-cache/service.token.ts
  libs/driver/src/http-client-cache/service.type.ts
  libs/driver/src/public_api.ts
Labels: package: driver, package: auth, platform: magento, layer: driver, status: awaiting review

#2387 feat(auth,cart-customer,customer-auth)!: don't call driver for missin…
  libs/auth/driver/src/public_api.ts
  libs/auth/driver/src/services/auth-check.service.spec.ts
  libs/auth/driver/src/services/auth-check.service.ts
  libs/auth/driver/src/services/public_api.ts
  libs/auth/routing/src/config/default.ts
  libs/auth/routing/src/config/interface.ts
  libs/auth/routing/src/effects/redirect.effects.spec.ts
  libs/auth/routing/src/effects/redirect.effects.ts
  libs/auth/routing/src/guards/guest-only.guard.spec.ts
  libs/auth/routing/src/guards/guest-only.guard.ts
  libs/auth/routing/src/guards/member-only.guard.spec.ts
  libs/auth/routing/src/guards/member-only.guard.ts
  libs/auth/routing/src/guards/reset-password.guard.spec.ts
  libs/auth/src/errors/codes.enum.ts
  libs/auth/src/errors/map.ts
  libs/auth/src/errors/missing-token.ts
  libs/auth/src/errors/public_api.ts
  libs/auth/src/public_api.ts
  libs/auth/state/src/actions/auth.actions.ts
  libs/auth/state/src/actions/reset-password.actions.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
  libs/auth/state/src/effects/login.effects.spec.ts
  libs/auth/state/src/effects/login.effects.ts
  libs/auth/state/src/effects/register.effects.spec.ts
  libs/auth/state/src/effects/register.effects.ts
  libs/auth/state/src/effects/reset-password.effects.spec.ts
  libs/auth/state/src/effects/reset-password.effects.ts
  libs/auth/state/src/facades/auth/facade.spec.ts
  libs/auth/state/src/reducers/auth/auth.reducer.spec.ts
  libs/auth/state/src/reducers/auth/auth.reducer.ts
  libs/cart-customer/state/src/effects/auth.effects.spec.ts
  libs/cart-customer/state/src/effects/auth.effects.ts
  libs/customer-auth/state/src/reducers/address-entities.reducer.spec.ts
  libs/customer-auth/state/src/reducers/address-entities.reducer.ts
  libs/customer-auth/state/src/reducers/customer.reducer.spec.ts
  libs/customer-auth/state/src/reducers/customer.reducer.ts
Labels: package: auth, package: cart-customer, status: awaiting merge, package: customer-auth

#2386 feat(driver): reload window to clear cache
  libs/driver/magento/src/graphql/cache.service.ts
Labels: platform: magento, layer: driver, status: awaiting merge

#2388 feat(product): dont delete null items from state
  libs/product-composite/driver/magento/src/composite-product-driver.module.ts
  libs/product-composite/driver/magento/src/transforms/spec-data/daff-composite-product.json
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.spec.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.ts
  libs/product-configurable/driver/magento/src/product-configurable-driver.module.ts
  libs/product-configurable/driver/magento/src/transforms/spec-data/daff-configurable-product.json
  libs/product/driver/magento/src/injection-tokens/transforms/product-preview/preview.token.ts
  libs/product/driver/magento/src/transforms/product-preview.spec.ts
  libs/product/driver/magento/src/transforms/product-preview.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.spec.ts
  libs/product/driver/magento/src/transforms/simple-product-transformers.ts
  libs/product/src/models/product.ts
Labels: package: product, package: product-configurable, package: product-composite, status: awaiting merge

#2391 fix(product*): product extensions missing required fields in state
  libs/product-composite/driver/magento/src/composite-product-driver.module.ts
  libs/product-composite/state/src/composite-product-state.module.ts
  libs/product-composite/state/src/helpers/ensure-items.ts
  libs/product-composite/state/src/helpers/public_api.ts
  libs/product-composite/state/src/public_api.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.spec.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.ts
  libs/product-composite/state/src/reducers/ensure-items.meta-reducer.ts
  libs/product-configurable/driver/magento/src/product-configurable-driver.module.ts
  libs/product-configurable/state/src/configurable-product-state.module.ts
  libs/product-configurable/state/src/helpers/ensure-children.ts
  libs/product-configurable/state/src/helpers/public_api.ts
  libs/product-configurable/state/src/public_api.ts
  libs/product-configurable/state/src/reducers/ensure-children.meta-reducer.ts
  libs/search-product-composite/state/src/reducers/ensure-items.meta-reducer.ts
  libs/search-product-composite/state/src/state.module.ts
  libs/search-product-configurable/state/src/reducers/ensure-children.meta-reducer.ts
  libs/search-product-configurable/state/src/state.module.ts
Labels: package: product-configurable, package: product-composite, status: awaiting merge

#2390 fix(related,upsell): dedupe meta reducers crashing product state
  libs/related-products/state/src/reducers/meta-reducers.ts
  libs/upsell-products/state/src/reducers/meta-reducers.ts
Labels: package: related-products, package: upsell-products, layer: state, status: awaiting merge

#2389 fix(product): meta reducers not injecting into state
  libs/product/state/src/reducers/injection-tokens/config.token.ts
Labels: package: product, status: awaiting merge

#2392 fix(cart-customer): magento driver errors for address update
  libs/cart-customer/driver/magento/src/cart-address.service.spec.ts
  libs/cart-customer/driver/magento/src/cart-address.service.ts
  libs/cart-customer/driver/magento/src/cart-billing-address.service.spec.ts
  libs/cart-customer/driver/magento/src/cart-billing-address.service.ts
  libs/cart-customer/driver/magento/src/cart-shipping-address.service.spec.ts
  libs/cart-customer/driver/magento/src/cart-shipping-address.service.ts
  libs/cart-customer/driver/magento/src/payment.service.spec.ts
  libs/cart-customer/driver/magento/src/payment.service.ts
Labels: platform: magento, layer: driver, package: cart-customer

#2394 fix(cart): cart resolved state stuck on failed
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
Labels: package: cart, layer: state, status: awaiting merge

#2393 fix(cart): preventing ordering when grand total is 0
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
Labels: package: cart, layer: state, status: awaiting merge

#2399 feat(order): add injectable reducers
  libs/order/state/src/order-state.module.ts
  libs/order/state/src/reducers/public_api.ts
  libs/order/state/src/reducers/token/extra.token.spec.ts
  libs/order/state/src/reducers/token/extra.token.ts
  libs/order/state/src/reducers/token/public_api.ts
  libs/order/state/src/reducers/token/reducers.token.spec.ts
  libs/order/state/src/reducers/token/reducers.token.ts
Labels: package: order, layer: state, status: awaiting review

#2398 feat(cart): add "free" payment method injection token
  libs/cart/driver/magento/src/cart-driver.module.ts
  libs/cart/driver/src/injection-tokens/free-payment-method.ts
  libs/cart/driver/src/injection-tokens/public_api.ts
  libs/cart/driver/src/public_api.ts
Labels: package: cart, layer: driver, status: awaiting review

#2400 feat(authorizenet): add injectable reducers
  libs/authorizenet/state/src/authorize-net-state.module.ts
  libs/authorizenet/state/src/reducers/public_api.ts
  libs/authorizenet/state/src/reducers/token/extra.token.spec.ts
  libs/authorizenet/state/src/reducers/token/extra.token.ts
  libs/authorizenet/state/src/reducers/token/public_api.ts
  libs/authorizenet/state/src/reducers/token/reducers.token.ts
Labels: package: authorizenet, layer: state, status: awaiting merge

#2401 feat(paypal): add `DaffPaypalApplyPayment` to `DaffPaypalActions`
  libs/paypal/state/src/actions/paypal.actions.ts
Labels: package: paypal, layer: state, status: awaiting merge

#2404 feat(category): add injectable reducer support
  libs/category/state/src/category-state.module.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.ts
  libs/category/state/src/reducers/page-metadata/reducer.spec.ts
  libs/category/state/src/reducers/page-metadata/reducer.ts
  libs/category/state/src/reducers/public_api.ts
  libs/category/state/src/reducers/token/extra.token.spec.ts
  libs/category/state/src/reducers/token/extra.token.ts
  libs/category/state/src/reducers/token/public_api.ts
  libs/category/state/src/reducers/token/reducers.token.spec.ts
  libs/category/state/src/reducers/token/reducers.token.ts
Labels: package: category, layer: state, status: awaiting merge

#2405 feat(product): spread routing config
  libs/product/routing/src/module.ts
Labels: package: product, layer: routing, status: awaiting merge
