Repository graycoreio/daffodil, pull requests merged in 2023-12, with the labels that each got.

#2633 feat(cart): add retrieval action reducer factories
  libs/cart/state/src/models/public_api.ts
  libs/cart/state/src/models/stateful-cart.ts
  libs/cart/state/src/reducers/cart-item-entities/retrieval-actions.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/retrieval-actions.reducer.ts
  libs/cart/state/src/reducers/cart/retrieval-actions.reducer.spec.ts
  libs/cart/state/src/reducers/cart/retrieval-actions.reducer.ts
Labels: package: cart, layer: state, status: awaiting merge

#2635 feat(authorizenet): remove cart payment update reducer cases
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.ts
Labels: package: authorizenet, status: awaiting merge

#2638 fix(cart): magento driver resolution fails for no discounts
  libs/cart/driver/magento/src/models/responses/cart.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-totals-transformer.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2639 fix(authorizenet): CC last 4 is too short
  libs/authorizenet/driver/magento/src/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/driver/magento/src/transformers/authorize-net-transformer.ts
Labels: package: authorizenet, platform: magento, layer: driver, status: awaiting merge

#2642 feat(customer-payment-authorizenet): export `magentoCustomerPaymentAnetCCTypeRequestTransform`
  libs/customer-payment-authorizenet/driver/magento/src/transforms/requests/public_api.ts
Labels: platform: magento, layer: driver, status: awaiting merge, package: customer-payment-authorizenet

#2644 chore: minor npm upgrade
  package-lock.json
  package.json
Labels: status: awaiting merge

#2648 feat(design): add skeletonable public api to design core's public api
  libs/design/src/core/public_api.ts
Labels: package: design

#2650 feat(design): expose all functions and types of DaffTextAlignable to the public api
  libs/design/src/core/public_api.ts
  libs/design/src/core/text-alignable/public_api.ts
  libs/design/src/core/text-alignable/text-alignable.ts
Labels: package: design

#2652 feat(design)!: shard article component
  apps/daffio/src/app/api/api.module.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.spec.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.module.ts
  apps/design-land/src/app/accordion/accordion.module.ts
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/article/article.module.ts
  apps/design-land/src/app/button/button.module.ts
  apps/design-land/src/app/callout/callout.module.ts
  apps/design-land/src/app/card/card.module.ts
  apps/design-land/src/app/container/container.module.ts
  apps/design-land/src/app/foundations/color/color.module.ts
  apps/design-land/src/app/foundations/variables/variables.module.ts
  apps/design-land/src/app/hero/hero.module.ts
  apps/design-land/src/app/image/image.module.ts
  apps/design-land/src/app/input/input.module.ts
  apps/design-land/src/app/list/list.module.ts
  apps/design-land/src/app/loading-icon/loading-icon.module.ts
  apps/design-land/src/app/media-gallery/media-gallery.module.ts
  apps/design-land/src/app/menu/menu.module.ts
  apps/design-land/src/app/modal/modal.module.ts
  apps/design-land/src/app/navbar/navbar.module.ts
  apps/design-land/src/app/notification/notification.module.ts
  apps/design-land/src/app/paginator/paginator.module.ts
  apps/design-land/src/app/quantity-field/quantity-field.module.ts
  apps/design-land/src/app/typography/typography.module.ts
  libs/design/article/README.md
  libs/design/article/examples/src/article-examples.module.ts
  libs/design/article/ng-package.json
  libs/design/article/src/article-lead/article-lead.directive.spec.ts
  libs/design/article/src/article-lead/article-lead.directive.ts
  libs/design/article/src/article-meta/article-meta.directive.spec.ts
  libs/design/article/src/article-meta/article-meta.directive.ts
  libs/design/article/src/article-theme.scss
  libs/design/article/src/article-title/article-title.directive.spec.ts
  libs/design/article/src/article-title/article-title.directive.ts
  libs/design/article/src/article.module.ts
  libs/design/article/src/article/_stops-article-cascade.scss
  libs/design/article/src/article/article.component.scss
  libs/design/article/src/article/article.component.spec.ts
  libs/design/article/src/article/article.component.ts
  libs/design/article/src/index.ts
  libs/design/article/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.spec.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2655 feat(design)!: shard container component
  apps/daffio/src/app/api/api.module.ts
  apps/daffio/src/app/api/components/api-list/api-list.component.spec.ts
  apps/daffio/src/app/api/components/api-list/api-list.module.ts
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.module.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.module.ts
  apps/daffio/src/app/content/home/components/home-hero/home-hero.module.ts
  apps/daffio/src/app/content/not-found/not-found.module.ts
  apps/daffio/src/app/content/support/support.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.module.ts
  apps/daffio/src/app/core/footer/footer.module.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/header/components/header.module.ts
  apps/daffio/src/app/core/header/components/header/header.component.spec.ts
  apps/daffio/src/app/newsletter/newsletter.module.ts
  apps/demo/src/app/cart/cart.module.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.spec.ts
  apps/demo/src/app/category/pages/category-view/category-view.component.spec.ts
  apps/demo/src/app/category/pages/category-view/category-view.module.ts
  apps/demo/src/app/checkout/checkout.module.ts
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/core/footer/footer.component.spec.ts
  apps/demo/src/app/core/footer/footer.module.ts
  apps/demo/src/app/newsletter/newsletter.component.spec.ts
  apps/demo/src/app/newsletter/newsletter.module.ts
  apps/demo/src/app/product/components/product/product.component.spec.ts
  apps/demo/src/app/product/components/product/product.module.ts
  apps/demo/src/app/product/pages/product-grid-view/product-grid-view.component.spec.ts
  apps/demo/src/app/product/pages/product-grid-view/product-grid-view.module.ts
  apps/demo/src/app/thank-you/pages/thank-you-view.component.spec.ts
  apps/demo/src/app/thank-you/thank-you.module.ts
  apps/design-land/src/app/container/container.module.ts
  libs/design/callout/examples/src/callout-text-alignment/callout-text-alignment.module.ts
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.module.ts
  libs/design/callout/examples/src/compact-callout/compact-callout.module.ts
  libs/design/container/README.md
  libs/design/container/examples/src/container-sizes/container-sizes.module.ts
  libs/design/container/ng-package.json
  libs/design/container/src/container.module.ts
  libs/design/container/src/container/container.component.scss
  libs/design/container/src/container/container.component.spec.ts
  libs/design/container/src/container/container.component.ts
  libs/design/container/src/index.ts
  libs/design/container/src/public_api.ts
  libs/design/hero/examples/src/hero-text-alignment/hero-text-alignment.module.ts
  libs/design/hero/examples/src/hero-with-grid/hero-with-grid.module.ts
  libs/design/navbar/examples/src/basic-navbar/basic-navbar.module.ts
  libs/design/navbar/examples/src/contained-navbar/contained-navbar.module.ts
  libs/design/src/atoms/container/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2656 feat(design)!: shard image component
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.module.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.module.ts
  apps/daffio/src/app/content/home/components/home-hero/home-hero.module.ts
  libs/design/card/examples/src/basic-card/basic-card.module.ts
  libs/design/card/examples/src/card-orientation/card-orientation.module.ts
  libs/design/card/examples/src/card-theming/card-theming.module.ts
  libs/design/card/examples/src/linkable-card/linkable-card.module.ts
  libs/design/card/examples/src/raised-card/raised-card.module.ts
  libs/design/card/examples/src/stroked-card/stroked-card.module.ts
  libs/design/image/README.md
  libs/design/image/examples/src/basic-image/basic-image.module.ts
  libs/design/image/examples/src/load-image/load-image.module.ts
  libs/design/image/examples/src/skeleton-image/skeleton-image.module.ts
  libs/design/image/ng-package.json
  libs/design/image/src/image.module.ts
  libs/design/image/src/image/image.component.html
  libs/design/image/src/image/image.component.scss
  libs/design/image/src/image/image.component.spec.ts
  libs/design/image/src/image/image.component.ts
  libs/design/image/src/image/specs/image-props.spec.ts
  libs/design/image/src/index.ts
  libs/design/image/src/public_api.ts
  libs/design/media-gallery/examples/src/basic-media-gallery/basic-media-gallery.module.ts
  libs/design/media-gallery/examples/src/mismatched-sizes-media-gallery/mismatched-sizes-media-gallery.module.ts
  libs/design/media-gallery/examples/src/skeleton-media-gallery/skeleton-media-gallery.module.ts
  libs/design/src/atoms/image/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2666 fix(cart): set item state meta reducer mutates action
  libs/cart/state/src/reducers/cart-item-entities/set-state.meta-reducer.ts
Labels: package: cart, layer: state, status: awaiting merge

#2668 feat(design)!: shard loading icon component
  apps/demo/src/app/cart/cart.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.module.ts
  apps/demo/src/app/cart/components/cart-summary-wrapper/cart-summary-wrapper.component.spec.ts
  apps/demo/src/app/cart/components/cart-summary-wrapper/cart-summary-wrapper.module.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.spec.ts
  apps/demo/src/app/category/pages/category-view/category-view.component.spec.ts
  apps/demo/src/app/category/pages/category-view/category-view.module.ts
  apps/demo/src/app/checkout/checkout.module.ts
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.spec.ts
  apps/demo/src/app/core/sidebar/sidebar.module.ts
  apps/demo/src/app/product/components/product-grid/product-grid.module.ts
  apps/demo/src/app/product/components/product/product.module.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.spec.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.module.ts
  apps/demo/src/app/product/pages/product-grid-view/product-grid-view.component.spec.ts
  apps/demo/src/app/product/pages/product-grid-view/product-grid-view.module.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.spec.ts
  apps/demo/src/app/product/pages/product-view/product-view.module.ts
  apps/demo/src/app/thank-you/pages/thank-you-view.component.spec.ts
  apps/demo/src/app/thank-you/thank-you.module.ts
  libs/design/button/src/button.module.ts
  libs/design/button/src/button/button.component.spec.ts
  libs/design/loading-icon/README.md
  libs/design/loading-icon/examples/src/loading-icon-color/loading-icon-color.module.ts
  libs/design/loading-icon/examples/src/loading-icon-diameter/loading-icon-diameter.module.ts
  libs/design/loading-icon/ng-package.json
  libs/design/loading-icon/src/index.ts
  libs/design/loading-icon/src/loading-icon-theme.scss
  libs/design/loading-icon/src/loading-icon.module.ts
  libs/design/loading-icon/src/loading-icon/loading-icon.component.html
  libs/design/loading-icon/src/loading-icon/loading-icon.component.scss
  libs/design/loading-icon/src/loading-icon/loading-icon.component.spec.ts
  libs/design/loading-icon/src/loading-icon/loading-icon.component.ts
  libs/design/loading-icon/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/atoms/loading-icon/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2669 feat(design)!: shard callout component
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.module.ts
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.module.ts
  apps/daffio/src/app/core/footer/footer.module.ts
  libs/design/callout/README.md
  libs/design/callout/examples/src/callout-text-alignment/callout-text-alignment.module.ts
  libs/design/callout/examples/src/callout-theming/callout-theming.module.ts
  libs/design/callout/examples/src/callout-with-grid/callout-with-grid.module.ts
  libs/design/callout/examples/src/compact-callout/compact-callout.module.ts
  libs/design/callout/ng-package.json
  libs/design/callout/src/callout-body/callout-body.directive.spec.ts
  libs/design/callout/src/callout-body/callout-body.directive.ts
  libs/design/callout/src/callout-icon/callout-icon.directive.spec.ts
  libs/design/callout/src/callout-icon/callout-icon.directive.ts
  libs/design/callout/src/callout-subtitle/callout-subtitle.directive.spec.ts
  libs/design/callout/src/callout-subtitle/callout-subtitle.directive.ts
  libs/design/callout/src/callout-tagline/callout-tagline.directive.spec.ts
  libs/design/callout/src/callout-tagline/callout-tagline.directive.ts
  libs/design/callout/src/callout-theme.scss
  libs/design/callout/src/callout-title/callout-title.directive.spec.ts
  libs/design/callout/src/callout-title/callout-title.directive.ts
  libs/design/callout/src/callout.module.ts
  libs/design/callout/src/callout/callout.component.scss
  libs/design/callout/src/callout/callout.component.spec.ts
  libs/design/callout/src/callout/callout.component.ts
  libs/design/callout/src/index.ts
  libs/design/callout/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2674 feat(design)!: shard card component
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.module.ts
  libs/design/card/README.md
  libs/design/card/examples/src/basic-card/basic-card.module.ts
  libs/design/card/examples/src/card-orientation/card-orientation.module.ts
  libs/design/card/examples/src/card-theming/card-theming.module.ts
  libs/design/card/examples/src/linkable-card/linkable-card.module.ts
  libs/design/card/examples/src/raised-card/raised-card.module.ts
  libs/design/card/examples/src/stroked-card/stroked-card.module.ts
  libs/design/card/ng-package.json
  libs/design/card/src/card-actions/card-actions.directive.spec.ts
  libs/design/card/src/card-actions/card-actions.directive.ts
  libs/design/card/src/card-content/card-content.directive.spec.ts
  libs/design/card/src/card-content/card-content.directive.ts
  libs/design/card/src/card-icon/card-icon.directive.spec.ts
  libs/design/card/src/card-icon/card-icon.directive.ts
  libs/design/card/src/card-image/card-image.directive.spec.ts
  libs/design/card/src/card-image/card-image.directive.ts
  libs/design/card/src/card-tagline/card-tagline.directive.spec.ts
  libs/design/card/src/card-tagline/card-tagline.directive.ts
  libs/design/card/src/card-theme-variants/basic-card.scss
  libs/design/card/src/card-theme-variants/linkable-card.scss
  libs/design/card/src/card-theme-variants/stroked-card.scss
  libs/design/card/src/card-theme.scss
  libs/design/card/src/card-title/card-title.directive.spec.ts
  libs/design/card/src/card-title/card-title.directive.ts
  libs/design/card/src/card.module.ts
  libs/design/card/src/card/card.component.html
  libs/design/card/src/card/card.component.scss
  libs/design/card/src/card/card.component.spec.ts
  libs/design/card/src/card/card.component.ts
  libs/design/card/src/index.ts
  libs/design/card/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/molecules/card/card/specs/card-default.spec.ts
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.spec.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2675 feat(design)!: shard hero component
  apps/daffio/src/app/content/home/components/home-hero/home-hero.module.ts
  apps/daffio/src/app/content/not-found/not-found.module.ts
  apps/daffio/src/app/content/support/support.module.ts
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.module.ts
  libs/design/guides/getting-started.md
  libs/design/hero/README.md
  libs/design/hero/examples/src/compact-hero/compact-hero.module.ts
  libs/design/hero/examples/src/hero-text-alignment/hero-text-alignment.module.ts
  libs/design/hero/examples/src/hero-theming/hero-theming.module.ts
  libs/design/hero/examples/src/hero-with-grid/hero-with-grid.module.ts
  libs/design/hero/ng-package.json
  libs/design/hero/src/hero-body/hero-body.directive.spec.ts
  libs/design/hero/src/hero-body/hero-body.directive.ts
  libs/design/hero/src/hero-icon/hero-icon.directive.spec.ts
  libs/design/hero/src/hero-icon/hero-icon.directive.ts
  libs/design/hero/src/hero-subtitle/hero-subtitle.directive.spec.ts
  libs/design/hero/src/hero-subtitle/hero-subtitle.directive.ts
  libs/design/hero/src/hero-tagline/hero-tagline.directive.spec.ts
  libs/design/hero/src/hero-tagline/hero-tagline.directive.ts
  libs/design/hero/src/hero-theme.scss
  libs/design/hero/src/hero-title/hero-title.directive.spec.ts
  libs/design/hero/src/hero-title/hero-title.directive.ts
  libs/design/hero/src/hero.module.ts
  libs/design/hero/src/hero/hero.component.scss
  libs/design/hero/src/hero/hero.component.spec.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/hero/src/index.ts
  libs/design/hero/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2678 feat(list)!: shard list component
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.module.ts
  apps/daffio/src/app/core/footer/footer.module.ts
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.module.ts
  apps/demo/src/app/core/footer/footer.component.spec.ts
  apps/demo/src/app/core/footer/footer.module.ts
  libs/design/list/README.md
  libs/design/list/examples/src/basic-list/basic-list.module.ts
  libs/design/list/examples/src/icon-list/icon-list.module.ts
  libs/design/list/examples/src/multiline-list/multiline-list.module.ts
  libs/design/list/examples/src/nav-list/nav-list.module.ts
  libs/design/list/ng-package.json
  libs/design/list/src/index.ts
  libs/design/list/src/list-item/list-item.component.html
  libs/design/list/src/list-item/list-item.component.spec.ts
  libs/design/list/src/list-item/list-item.component.ts
  libs/design/list/src/list-subheader/list-subheader.directive.spec.ts
  libs/design/list/src/list-subheader/list-subheader.directive.ts
  libs/design/list/src/list-theme.scss
  libs/design/list/src/list.module.ts
  libs/design/list/src/list/list.component.scss
  libs/design/list/src/list/list.component.spec.ts
  libs/design/list/src/list/list.component.ts
  libs/design/list/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2679 feat(design)!: shard media gallery component
  libs/design/image/src/image/image.component.ts
  libs/design/media-gallery/README.md
  libs/design/media-gallery/examples/src/basic-media-gallery/basic-media-gallery.module.ts
  libs/design/media-gallery/examples/src/mismatched-sizes-media-gallery/mismatched-sizes-media-gallery.module.ts
  libs/design/media-gallery/examples/src/skeleton-media-gallery/skeleton-media-gallery.module.ts
  libs/design/media-gallery/ng-package.json
  libs/design/media-gallery/src/helpers/media-gallery-registration.interface.ts
  libs/design/media-gallery/src/helpers/media-gallery-token.ts
  libs/design/media-gallery/src/index.ts
  libs/design/media-gallery/src/media-gallery-theme.scss
  libs/design/media-gallery/src/media-gallery.module.ts
  libs/design/media-gallery/src/media-gallery/media-gallery.component.html
  libs/design/media-gallery/src/media-gallery/media-gallery.component.scss
  libs/design/media-gallery/src/media-gallery/media-gallery.component.spec.ts
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/media-gallery/src/media-renderer/media-renderer.component.spec.ts
  libs/design/media-gallery/src/media-renderer/media-renderer.component.ts
  libs/design/media-gallery/src/public_api.ts
  libs/design/media-gallery/src/registry/media-gallery.registry.spec.ts
  libs/design/media-gallery/src/registry/media-gallery.registry.ts
  libs/design/media-gallery/src/thumbnail/thumbnail-compat.token.ts
  libs/design/media-gallery/src/thumbnail/thumbnail-registration.interface.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.spec.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.ts
  libs/design/scss/theme.scss
  libs/design/src/molecules/media-gallery/media-renderer/media-renderer.component.html
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2697 style(all): remove space before comma
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/login.effects.spec.ts
  libs/auth/state/src/effects/register.effects.spec.ts
  libs/auth/state/src/effects/reset-password.effects.spec.ts
  libs/category/driver/magento/src/category.service.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.ts
  libs/external-router/routing/src/guard/existence.guard.spec.ts
  libs/navigation/state/src/effects/navigation.effects.spec.ts
  libs/paypal/state/src/effects/paypal.effects.spec.ts
  libs/product/state/src/effects/best-seller.effects.spec.ts
  libs/product/state/src/effects/best-seller.effects.ts
  libs/product/state/src/effects/product.effects.spec.ts
Labels: status: awaiting merge

#2698 feat(design)!: shard menu component
  apps/design-land/src/app/menu/menu.module.ts
  libs/design/menu/README.md
  libs/design/menu/examples/src/basic-menu/basic-menu.module.ts
  libs/design/menu/ng-package.json
  libs/design/menu/src/animations/animation-state.spec.ts
  libs/design/menu/src/animations/animation-state.ts
  libs/design/menu/src/animations/animation.ts
  libs/design/menu/src/helpers/create-overlay.ts
  libs/design/menu/src/helpers/public_api.ts
  libs/design/menu/src/index.ts
  libs/design/menu/src/menu-activator/menu-activator.component.spec.ts
  libs/design/menu/src/menu-activator/menu-activator.component.ts
  libs/design/menu/src/menu-item/menu-item.component.html
  libs/design/menu/src/menu-item/menu-item.component.scss
  libs/design/menu/src/menu-item/menu-item.component.spec.ts
  libs/design/menu/src/menu-item/menu-item.component.ts
  libs/design/menu/src/menu-theme.scss
  libs/design/menu/src/menu.module.ts
  libs/design/menu/src/menu/menu.component.scss
  libs/design/menu/src/menu/menu.component.spec.ts
  libs/design/menu/src/menu/menu.component.ts
  libs/design/menu/src/public_api.ts
  libs/design/menu/src/services/menu.service.ts
  libs/design/menu/src/specs/children.spec.ts
  libs/design/menu/src/specs/no-children.spec.ts
  libs/design/menu/src/testing/dummy-service.ts
  libs/design/scss/theme.scss
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes
