Repository graycoreio/daffodil, pull requests merged in 2023-10, with the labels that each got.

#2579 feat(design): clean up `<pre>` styling and add margin styles to stop article cascade
  libs/design/src/molecules/article/article/article-theme.scss
  libs/design/src/molecules/article/article/article.component.scss
Labels: package: design

#2581 feat(design): focus stack pushes arg or the document's active element
  libs/design/src/core/focus/stack.service.ts
Labels: package: design

#2582 feat(design): add deprecation notice for DaffNavAccordionItemComponent
  apps/design-land/src/app/accordion/accordion.component.html
  apps/design-land/src/app/accordion/accordion.module.ts
  libs/design/src/molecules/accordion/nav-accordion-item/nav-accordion-item.component.ts
Labels: package: design

#2583 feat(design): update nav list background color to animate via opacity for performance
  apps/design-land/src/app/list/list.component.html
  libs/design/src/molecules/list/list/list-theme.scss
  libs/design/src/molecules/list/list/list.component.scss
Labels: package: design

#2584 feat(design): update linked card background color to animate via opacity
  libs/design/src/molecules/card/card/card-theme-variants/linkable-card.scss
  libs/design/src/molecules/card/card/card-theme.scss
  libs/design/src/molecules/card/card/card.component.scss
Labels: feat, package: design

#2590 chore: upgrade lerna to v7
  package-lock.json
  package.json
Labels: dependencies
