Repository graycoreio/daffodil, pull requests merged in 2023-07, with the labels that each got.

#2495 feat(auth): delay client cache reset
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
Labels: package: auth, layer: state, status: awaiting review

#2494 feat(search*)!: remove collection metadata request from incremental search
  libs/search-category/driver/magento/src/category-search.service.spec.ts
  libs/search-category/driver/magento/src/category-search.service.ts
  libs/search-product-composite/state/src/reducers/ensure-items.meta-reducer.ts
  libs/search-product-configurable/state/src/reducers/ensure-children.meta-reducer.ts
  libs/search-product/driver/magento/src/models/incremental-response.interface.ts
  libs/search-product/driver/magento/src/models/public_api.ts
  libs/search-product/driver/magento/src/models/search-response.interface.ts
  libs/search-product/driver/magento/src/product-search.service.spec.ts
  libs/search-product/driver/magento/src/product-search.service.ts
  libs/search-product/driver/magento/src/public_api.ts
  libs/search-product/driver/magento/src/queries/fragments/public_api.ts
  libs/search-product/driver/magento/src/queries/product-incremental.ts
  libs/search-product/driver/magento/src/queries/public_api.ts
  libs/search-product/driver/src/interfaces/search-product-service.interface.ts
  libs/search-product/state/src/reducers/product/entities.reducer.spec.ts
  libs/search-product/state/src/reducers/product/entities.reducer.ts
  libs/search/driver/federated/src/injection-tokens/drivers.token.spec.ts
  libs/search/driver/federated/src/search.service.spec.ts
  libs/search/driver/federated/src/search.service.ts
  libs/search/driver/in-memory/src/driver/search.service.spec.ts
  libs/search/driver/in-memory/src/driver/search.service.ts
  libs/search/driver/src/interfaces/search-service.interface.ts
  libs/search/driver/testing/src/drivers/search.service.ts
  libs/search/state/src/actions/search.actions.ts
  libs/search/state/src/effects/incremental.effects.spec.ts
  libs/search/state/src/reducers/incremental/reducer.spec.ts
  libs/search/state/src/reducers/incremental/reducer.ts
Labels: package: search, package: search-product, package: search-category, 🚨 breaking changes, status: awaiting review

#2501 feat(cart)!: package prefix reducer initial state exports
  libs/cart-store-credit/state/src/reducers/cart.reducer.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.spec.ts
  libs/cart/state/src/reducers/cart-coupon/cart-coupon.reducer.ts
  libs/cart/state/src/reducers/cart-initial-state.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.spec.ts
  libs/cart/state/src/reducers/cart-resolve/cart-resolve.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.ts
  libs/cart/state/src/reducers/cart.reducer.spec.ts
  libs/cart/state/src/reducers/cart.reducer.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.ts
  libs/cart/state/src/reducers/public_api.ts
  libs/cart/state/src/reducers/token/reducers.token.spec.ts
Labels: package: cart, layer: state, 🚨 breaking changes, status: awaiting merge

#2502 feat(cart-customer): only merge if a cart ID is in storage
  libs/cart-customer/state/src/effects/auth.effects.spec.ts
  libs/cart-customer/state/src/effects/auth.effects.ts
Labels: layer: state, package: cart-customer, status: awaiting merge

#2504 feat(auth): add `DaffAuthResetToUnauthenticated`
  libs/auth/state/src/actions/auth.actions.ts
Labels: package: auth, layer: state, status: awaiting merge

#2505 feat(auth): call unauthenticated hooks before resetting client cache
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
  libs/auth/state/src/effects/login.effects.ts
Labels: package: auth, layer: state, status: awaiting merge

#2506 feat(cart): add `DaffResolveCartGuard`
  libs/cart/routing/src/cart-routing.module.ts
  libs/cart/routing/src/guards/public_api.ts
  libs/cart/routing/src/guards/resolve-cart/redirect.token.ts
  libs/cart/routing/src/guards/resolve-cart/resolve-cart.guard.spec.ts
  libs/cart/routing/src/guards/resolve-cart/resolve-cart.guard.ts
Labels: package: cart, layer: routing, status: awaiting merge

#2507 feat(cart-customer): remove cart ID from storage when unauthenticated
  libs/cart-customer/state/src/state.module.ts
Labels: layer: state, package: cart-customer, status: awaiting merge

#2508 feat(cart-customer): set cart to mutating when the user is logged in
  libs/cart-customer/state/src/reducers/login-mutating.ts
  libs/cart-customer/state/src/state.module.ts
Labels: layer: state, package: cart-customer, status: awaiting merge

#2509 feat(cart-customer): reset cart state when the user is unauthenticated
  libs/cart-customer/state/src/reducers/unauthenticated-reset.ts
  libs/cart-customer/state/src/state.module.ts
Labels: layer: state, package: cart-customer, status: awaiting merge

#2515 feat(customer): correctly handle missing customer address ID
  libs/customer/driver/magento/src/models/responses/customer-address.type.ts
  libs/customer/driver/magento/src/transforms/responses/customer-address.spec.ts
  libs/customer/driver/magento/src/transforms/responses/customer-address.ts
Labels: platform: magento, layer: driver, package: customer, status: awaiting merge

#2517 feat(core): add `allOf` operator
  libs/core/src/operators/all-of.pipe.spec.ts
  libs/core/src/operators/all-of.pipe.ts
  libs/core/src/operators/public_api.ts
Labels: package: core, status: awaiting merge

#2516 feat(core): add `anyOf` operator
  libs/core/src/operators/any-of.pipe.spec.ts
  libs/core/src/operators/any-of.pipe.ts
  libs/core/src/operators/public_api.ts
Labels: package: core, status: awaiting merge

#1622 feat(design): add a tree component
  angular.json
  libs/design/scss/theme.scss
  libs/design/test.ts
  libs/design/tree/README.md
  libs/design/tree/examples/ng-package.json
  libs/design/tree/examples/package.json
  libs/design/tree/examples/src/basic-tree/basic-tree.component.html
  libs/design/tree/examples/src/basic-tree/basic-tree.component.ts
  libs/design/tree/examples/src/basic-tree/basic-tree.module.ts
  libs/design/tree/examples/src/index.ts
  libs/design/tree/examples/src/public_api.ts
  libs/design/tree/ng-package.json
  libs/design/tree/package.json
  libs/design/tree/src/index.ts
  libs/design/tree/src/interfaces/recursive-key.ts
  libs/design/tree/src/interfaces/tree-data.ts
  libs/design/tree/src/interfaces/tree-ui.ts
  libs/design/tree/src/public_api.ts
  libs/design/tree/src/tree-item/tree-item.directive.spec.ts
  libs/design/tree/src/tree-item/tree-item.directive.ts
  libs/design/tree/src/tree-theme.scss
  libs/design/tree/src/tree.module.ts
  libs/design/tree/src/tree/specs/defaults.spec.ts
  libs/design/tree/src/tree/specs/simple.spec.ts
  libs/design/tree/src/tree/specs/with-template.spec.ts
  libs/design/tree/src/tree/tree-notifier.service.ts
  libs/design/tree/src/tree/tree.component.html
  libs/design/tree/src/tree/tree.component.scss
  libs/design/tree/src/tree/tree.component.spec.ts
  libs/design/tree/src/tree/tree.component.ts
  libs/design/tree/src/utils/collapse-tree.spec.ts
  libs/design/tree/src/utils/collapse-tree.ts
  libs/design/tree/src/utils/expand-tree.spec.ts
  libs/design/tree/src/utils/expand-tree.ts
  libs/design/tree/src/utils/flatten-tree.spec.ts
  libs/design/tree/src/utils/flatten-tree.ts
  libs/design/tree/src/utils/hydrate-tree.spec.ts
  libs/design/tree/src/utils/hydrate-tree.ts
  libs/design/tree/src/utils/transform-in-place.spec.ts
  libs/design/tree/src/utils/transform-in-place.ts
  libs/design/tree/src/utils/traverse-tree.spec.ts
  libs/design/tree/src/utils/traverse-tree.ts
  libs/design/tree/src/utils/walk-up.spec.ts
  libs/design/tree/src/utils/walk-up.ts
  libs/design/tsconfig.lib.json
  libs/design/tsconfig.spec.json
Labels: feat, package: design

#2513 feat(auth)!: support asynchronous unauthenticated hooks
  libs/auth/routing/src/effects/redirect.effects.spec.ts
  libs/auth/routing/src/effects/redirect.effects.ts
  libs/auth/routing/src/helpers/public_api.ts
  libs/auth/routing/src/helpers/redirect-unauthenticated-hook-factory.spec.ts
  libs/auth/routing/src/helpers/redirect-unauthenticated-hook-factory.ts
  libs/auth/routing/src/public_api.ts
  libs/auth/routing/src/redirect.module.ts
  libs/auth/state/src/actions/auth.actions.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
  libs/auth/state/src/injection-tokens/unauthenticated/hook.token.spec.ts
  libs/auth/state/src/injection-tokens/unauthenticated/hook.token.ts
  libs/auth/state/src/injection-tokens/unauthenticated/hook.type.ts
  libs/auth/state/src/injection-tokens/unauthenticated/hooks.token.spec.ts
  libs/auth/state/src/injection-tokens/unauthenticated/hooks.token.ts
  libs/auth/state/src/injection-tokens/unauthenticated/public_api.ts
  libs/cart-customer/state/src/state.module.ts
Labels: package: auth, package: cart-customer, status: awaiting merge

#2482 fix(auth): logout flow gets triggered for auth check network failures
  libs/auth/routing/src/guards/guest-only.guard.spec.ts
  libs/auth/routing/src/guards/guest-only.guard.ts
  libs/auth/routing/src/guards/member-only.guard.spec.ts
  libs/auth/routing/src/guards/member-only.guard.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
Labels: package: auth, layer: state, status: awaiting review

#2450 feat(cart-customer): check token for cart mutation failures
  libs/cart-customer/state/src/effects/auth.effects.spec.ts
  libs/cart-customer/state/src/effects/auth.effects.ts
  libs/cart-customer/state/src/effects/unauthorized.effects.spec.ts
  libs/cart-customer/state/src/effects/unauthorized.effects.ts
  libs/cart-customer/state/src/state.module.ts
Labels: layer: state, package: cart-customer, status: awaiting review

#2519 fix(search-product): incremental search not limited
  libs/search-product/driver/magento/src/product-search.service.spec.ts
  libs/search-product/driver/magento/src/product-search.service.ts
Labels: platform: magento, layer: driver, package: search-product, status: awaiting merge

#2518 feat(auth): handle missing token errors by resetting to unauthenticated state
  libs/auth/driver/src/constants/public_api.ts
  libs/auth/driver/src/constants/unauthenticated-error-codes.ts
  libs/auth/driver/src/public_api.ts
  libs/auth/routing/src/guards/guest-only.guard.ts
  libs/auth/routing/src/guards/member-only.guard.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
Labels: package: auth, layer: state, status: awaiting review

#2522 feat(cart): rework resolve cart guard
  libs/cart/routing/src/guards/resolve-cart/resolve-cart.guard.spec.ts
  libs/cart/routing/src/guards/resolve-cart/resolve-cart.guard.ts
Labels: package: cart, layer: routing

#2523 feat(auth): remove auth token in unauthenticated hook
  libs/auth/routing/src/guards/guest-only.guard.spec.ts
  libs/auth/routing/src/guards/guest-only.guard.ts
  libs/auth/routing/src/guards/member-only.guard.spec.ts
  libs/auth/routing/src/guards/member-only.guard.ts
  libs/auth/state/src/auth-state.module.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
  libs/auth/state/src/effects/auth.effects.ts
  libs/auth/state/src/effects/login.effects.spec.ts
  libs/auth/state/src/effects/login.effects.ts
Labels: package: auth

#2524 fix(auth): guest guard always triggers logout for a guest user
  libs/auth/driver/src/constants/unauthenticated-error-codes.ts
  libs/auth/state/src/effects/auth.effects.spec.ts
Labels: package: auth, status: awaiting merge
