Repository graycoreio/daffodil, pull requests merged in 2023-05, with the labels that each got.

#2408 feat(auth): redirect to query param value when present
  libs/auth/routing/src/config/default.ts
  libs/auth/routing/src/config/interface.ts
  libs/auth/routing/src/config/token.ts
  libs/auth/routing/src/effects/redirect.effects.spec.ts
  libs/auth/routing/src/effects/redirect.effects.ts
  libs/auth/routing/src/module.ts
Labels: package: auth, layer: routing, status: awaiting merge

#2407 feat(core,product): support product filters in discrete query params
  libs/core/routing/src/public_api.ts
  libs/core/routing/src/query-param-filter/public_api.ts
  libs/core/routing/src/query-param-filter/request-builder/equal.spec.ts
  libs/core/routing/src/query-param-filter/request-builder/equal.ts
  libs/core/routing/src/query-param-filter/request-builder/public_api.ts
  libs/core/routing/src/query-param-filter/request-builder/type.ts
  libs/core/routing/src/query-param-filter/type.ts
  libs/product/routing/src/discrete-filter-params/public_api.ts
  libs/product/routing/src/discrete-filter-params/token.ts
  libs/product/routing/src/public_api.ts
  libs/product/routing/src/services/get-query-params-from-request.service.spec.ts
  libs/product/routing/src/services/get-query-params-from-request.service.ts
  libs/product/routing/src/services/get-request-from-route.service.spec.ts
  libs/product/routing/src/services/get-request-from-route.service.ts
Labels: package: product, package: core, layer: routing, status: awaiting review

#2411 feat(order): reorder totals in Magento driver
  libs/order/driver/magento/2.4.1/src/transforms/responses/order.ts
Labels: package: order, platform: magento, layer: driver, status: awaiting merge

#2410 feat(customer-order): support injectable Magento fragments and transforms
  libs/customer-order/driver/magento/src/driver.module.ts
  libs/customer-order/driver/magento/src/injection-tokens/fragments/order.token.spec.ts
  libs/customer-order/driver/magento/src/injection-tokens/fragments/order.token.ts
  libs/customer-order/driver/magento/src/injection-tokens/public_api.ts
  libs/customer-order/driver/magento/src/injection-tokens/transforms/extra.token.spec.ts
  libs/customer-order/driver/magento/src/injection-tokens/transforms/extra.token.ts
  libs/customer-order/driver/magento/src/injection-tokens/transforms/token.spec.ts
  libs/customer-order/driver/magento/src/injection-tokens/transforms/token.ts
  libs/customer-order/driver/magento/src/interfaces/order-extra-transform.type.ts
  libs/customer-order/driver/magento/src/interfaces/order-transform.type.ts
  libs/customer-order/driver/magento/src/interfaces/public_api.ts
  libs/customer-order/driver/magento/src/order.service.spec.ts
  libs/customer-order/driver/magento/src/order.service.ts
  libs/customer-order/driver/magento/src/public_api.ts
  libs/customer-order/driver/magento/src/queries/get-customer-order.ts
  libs/customer-order/driver/magento/src/queries/get-customer-orders.ts
  libs/customer-order/driver/magento/src/transforms/responses/order-collection.ts
  libs/customer-order/driver/magento/src/transforms/responses/order.ts
  libs/customer-order/driver/magento/src/transforms/responses/public_api.ts
Labels: platform: magento, layer: driver, status: awaiting merge, package: customer-order

#2417 chore(customer-order): fix circular dep in transform token
  libs/customer-order/driver/magento/src/injection-tokens/transforms/token.ts
  libs/customer-order/driver/magento/src/transforms/responses/order-collection.ts
Labels: status: awaiting merge, package: customer-order

#2416 build(auth): add `@daffodil/driver` dev dep
  libs/auth/package.json
  libs/cart-store-credit/package.json
  libs/customer-order/package.json
  libs/customer-store-credit/package.json
  libs/customer/package.json
  libs/external-router/package.json
  libs/payment/package.json
  libs/search-category/package.json
  libs/search-product/package.json
  libs/search/package.json
Labels: build, status: awaiting merge

#2414 build(all): separate publish `cd` into prepublish script
  libs/analytics-provider-data-layer/package.json
  libs/analytics/package.json
  libs/auth/package.json
  libs/authorizenet/package.json
  libs/cart-customer/package.json
  libs/cart-store-credit/package.json
  libs/cart/package.json
  libs/category/package.json
  libs/checkout/package.json
  libs/contact/package.json
  libs/content/package.json
  libs/core/package.json
  libs/customer-auth/package.json
  libs/customer-order/package.json
  libs/customer-store-credit/package.json
  libs/customer/package.json
  libs/design/package.json
  libs/driver/package.json
  libs/external-router/package.json
  libs/forms/package.json
  libs/geography/package.json
  libs/navigation/package.json
  libs/newsletter/package.json
  libs/order/package.json
  libs/payment/package.json
  libs/paypal/package.json
  libs/product-composite/package.json
  libs/product-configurable/package.json
  libs/product/package.json
  libs/related-products/package.json
  libs/reviews/package.json
  libs/search-category/package.json
  libs/search-product-composite/package.json
  libs/search-product-configurable/package.json
  libs/search-product/package.json
  libs/search/package.json
  libs/seo/package.json
  libs/upsell-products/package.json
  tools/eslint/config/package.json
Labels: build, status: awaiting merge

#2415 build(all): specify nx output path
  apps/daffio/package.json
  apps/demo/package.json
  apps/design-land/package.json
  libs/analytics-provider-data-layer/package.json
  libs/analytics/package.json
  libs/auth/package.json
  libs/authorizenet/package.json
  libs/branding/package.json
  libs/cart-customer/package.json
  libs/cart-store-credit/package.json
  libs/cart/package.json
  libs/category/package.json
  libs/checkout/package.json
  libs/contact/package.json
  libs/content/package.json
  libs/core/package.json
  libs/customer-auth/package.json
  libs/customer-order/package.json
  libs/customer-store-credit/package.json
  libs/customer/package.json
  libs/design/package.json
  libs/docs-utils/package.json
  libs/driver/package.json
  libs/external-router/package.json
  libs/forms/package.json
  libs/geography/package.json
  libs/navigation/package.json
  libs/newsletter/package.json
  libs/order/package.json
  libs/payment/package.json
  libs/paypal/package.json
  libs/product-composite/package.json
  libs/product-configurable/package.json
  libs/product/package.json
  libs/related-products/package.json
  libs/reviews/package.json
  libs/search-category/package.json
  libs/search-product-composite/package.json
  libs/search-product-configurable/package.json
  libs/search-product/package.json
  libs/search/package.json
  libs/seo/package.json
  libs/theme-switch/package.json
  libs/upsell-products/package.json
  nx.json
  tools/dgeni/package.json
  tools/eslint/config/package.json
  tools/jasmine/package.json
Labels: build, status: awaiting merge

#2001 fix(product-composite): preselect item options based on configurable query param
  libs/product-composite/routing/ng-package.json
  libs/product-composite/routing/package.json
  libs/product-composite/routing/src/config/default.ts
  libs/product-composite/routing/src/config/interface.ts
  libs/product-composite/routing/src/config/public_api.ts
  libs/product-composite/routing/src/config/token.ts
  libs/product-composite/routing/src/effects/product-page.effects.spec.ts
  libs/product-composite/routing/src/effects/product-page.effects.ts
  libs/product-composite/routing/src/effects/public_api.ts
  libs/product-composite/routing/src/index.ts
  libs/product-composite/routing/src/module.ts
  libs/product-composite/routing/src/public_api.ts
  libs/product-composite/src/models/selection-payload.type.ts
  libs/product-composite/src/public_api.ts
  libs/product-composite/state/src/actions/composite-product.actions.ts
  libs/product-composite/tsconfig.json
Labels: package: product-composite, layer: routing, status: awaiting merge

#2421 build(all): properly init CWD in publish script
  libs/analytics-provider-data-layer/package.json
  libs/analytics/package.json
  libs/auth/package.json
  libs/authorizenet/package.json
  libs/cart-customer/package.json
  libs/cart-store-credit/package.json
  libs/cart/package.json
  libs/category/package.json
  libs/checkout/package.json
  libs/contact/package.json
  libs/content/package.json
  libs/core/package.json
  libs/customer-auth/package.json
  libs/customer-order/package.json
  libs/customer-store-credit/package.json
  libs/customer/package.json
  libs/design/package.json
  libs/driver/package.json
  libs/external-router/package.json
  libs/forms/package.json
  libs/geography/package.json
  libs/navigation/package.json
  libs/newsletter/package.json
  libs/order/package.json
  libs/payment/package.json
  libs/paypal/package.json
  libs/product-composite/package.json
  libs/product-configurable/package.json
  libs/product/package.json
  libs/related-products/package.json
  libs/reviews/package.json
  libs/search-category/package.json
  libs/search-product-composite/package.json
  libs/search-product-configurable/package.json
  libs/search-product/package.json
  libs/search/package.json
  libs/seo/package.json
  libs/upsell-products/package.json
  tools/eslint/config/package.json
Labels: status: awaiting merge

#2429 feat(product-composite): add item and option factories
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities-reducer-adapter.spec.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product-composite/state/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product-composite/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product-composite/testing/src/factories/composite-product-item-option.factory.spec.ts
  libs/product-composite/testing/src/factories/composite-product-item-option.factory.ts
  libs/product-composite/testing/src/factories/composite-product-item.factory.spec.ts
  libs/product-composite/testing/src/factories/composite-product-item.factory.ts
  libs/product-composite/testing/src/factories/composite-product.factory.spec.ts
  libs/product-composite/testing/src/factories/composite-product.factory.ts
  libs/product-composite/testing/src/factories/public_api.ts
Labels: package: product-composite, status: awaiting merge

#2431 feat(product-composite): add service for generating share codes
  libs/product-composite/routing/src/effects/product-page.effects.spec.ts
  libs/product-composite/routing/src/services/share-code.service.spec.ts
  libs/product-composite/routing/src/services/share-code.service.ts
  libs/product-composite/src/helpers/build-selection-payload.spec.ts
  libs/product-composite/src/helpers/build-selection-payload.ts
  libs/product-composite/src/helpers/public_api.ts
  libs/product-composite/src/models/public_api.ts
  libs/product-composite/src/public_api.ts
Labels: package: product-composite, status: awaiting merge

#2432 feat(authorizenet,payment): set anet errors for apply failure
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.ts
  libs/payment/state/src/actions/payment.actions.ts
Labels: package: authorizenet, layer: state, package: payment, status: awaiting merge

#2433 feat(cart,payment)!: set payment errors instead of concating
  libs/cart/state/src/reducers/cart-payment/payment.reducer.ts
  libs/payment/state/src/reducers/payment/adapter.spec.ts
  libs/payment/state/src/reducers/payment/adapter.ts
  libs/payment/state/src/reducers/payment/reducer.ts
Labels: package: cart, layer: state, 🚨 breaking changes, package: payment, status: awaiting merge

#2434 feat(paypal): shallow spread Magento driver config
  libs/paypal/driver/magento/src/paypal-driver.module.ts
Labels: package: paypal, platform: magento, layer: driver, status: awaiting merge

#2436 feat(authorizenet): only dispatch success when accept.js actually loads
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
Labels: package: authorizenet, layer: state, status: awaiting merge

#2438 fix(order): order total factory creating mock objects with static `type`
  libs/order/testing/src/factories/order-total.factory.ts
Labels: package: order, status: awaiting merge

#2181 feat(daffio): update theming and utilities module implementation
  apps/daffio/src/app/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/api/components/api-list/api-list.component.scss
  apps/daffio/src/app/api/pages/api-list-page/api-list-page.component.scss
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.scss
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.scss
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.scss
  apps/daffio/src/app/content/support/component/support.component.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison-theme.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.scss
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer-theme.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.scss
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents-theme.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
  apps/daffio/src/app/newsletter/newsletter-theme.scss
  apps/daffio/src/app/newsletter/newsletter.component.scss
  apps/daffio/src/scss/daffio-theme.scss
  apps/daffio/src/scss/styles.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
  apps/daffio/src/scss/utilities.scss
Labels: package: daff.io, status: awaiting review

#2184 feat(design-land): update theming and utilities module implementation
  apps/design-land/src/app/core/code-preview/component/code-preview-theme.scss
  apps/design-land/src/app/core/code-preview/component/code-preview.component.scss
  apps/design-land/src/app/foundations/color/color-theme.scss
  apps/design-land/src/app/foundations/color/color.component.scss
  apps/design-land/src/app/foundations/variables/variables.component.scss
  apps/design-land/src/app/typography/typography-theme.scss
  apps/design-land/src/app/typography/typography.component.scss
  apps/design-land/src/scss/dl-theme.scss
  apps/design-land/src/scss/styles.scss
  apps/design-land/src/scss/utilities.scss
Labels: status: awaiting review

#2206 feat(design): create skeleton state UI
  libs/design/scss/state/_index.scss
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/scss/theme.scss
  libs/design/scss/utilities.scss
Labels: package: design, status: awaiting review

#2207 feat(design): implement skeleton UI for DaffImageComponent
  apps/design-land/src/app/image/image.component.html
  libs/design/image/examples/src/public_api.ts
  libs/design/image/examples/src/skeleton-image/skeleton-image.component.html
  libs/design/image/examples/src/skeleton-image/skeleton-image.component.ts
  libs/design/image/examples/src/skeleton-image/skeleton-image.module.ts
  libs/design/src/atoms/image/image.component.scss
  libs/design/src/atoms/image/image.component.spec.ts
  libs/design/src/atoms/image/image.component.ts
Labels: package: design, status: awaiting review

#1945 docs(design): add `DaffInputComponent` example docs
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.html
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/input/input-routing.module.ts
  apps/design-land/src/app/input/input.component.html
  apps/design-land/src/app/input/input.component.scss
  apps/design-land/src/app/input/input.component.spec.ts
  apps/design-land/src/app/input/input.component.ts
  apps/design-land/src/app/input/input.module.ts
  libs/design/input/examples/ng-package.json
  libs/design/input/examples/package.json
  libs/design/input/examples/src/basic-input/basic-input.component.html
  libs/design/input/examples/src/basic-input/basic-input.component.ts
  libs/design/input/examples/src/basic-input/basic-input.module.ts
  libs/design/input/examples/src/examples.ts
  libs/design/input/examples/src/index.ts
  libs/design/input/examples/src/input-disabled/input-disabled.component.html
  libs/design/input/examples/src/input-disabled/input-disabled.component.ts
  libs/design/input/examples/src/input-disabled/input-disabled.module.ts
  libs/design/input/examples/src/input-error/input-error.component.html
  libs/design/input/examples/src/input-error/input-error.component.ts
  libs/design/input/examples/src/input-error/input-error.module.ts
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.component.html
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.component.ts
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.module.ts
  libs/design/input/examples/src/public_api.ts
  libs/design/src/atoms/form/input/README.md
Labels: docs, package: design

#2208 feat(design): implement skeleton UI for DaffMediaGalleryComponent
  apps/design-land/src/app/media-gallery/media-gallery.component.html
  libs/design/media-gallery/examples/src/examples.ts
  libs/design/media-gallery/examples/src/public_api.ts
  libs/design/media-gallery/examples/src/skeleton-media-gallery/skeleton-media-gallery.component.html
  libs/design/media-gallery/examples/src/skeleton-media-gallery/skeleton-media-gallery.component.ts
  libs/design/media-gallery/examples/src/skeleton-media-gallery/skeleton-media-gallery.module.ts
  libs/design/src/molecules/media-gallery/media-gallery-theme.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.scss
  libs/design/src/molecules/media-gallery/media-gallery.component.spec.ts
  libs/design/src/molecules/media-gallery/media-gallery.component.ts
Labels: package: design, status: awaiting review

#2443 feat(cart): change address update action payload to `Partial`
  libs/cart/state/src/actions/cart-address.actions.ts
Labels: package: cart, layer: state, status: awaiting merge

#2449 feat(cart): transform Magento driver errors
  libs/cart/driver/magento/src/cart-billing-address.service.spec.ts
  libs/cart/driver/magento/src/cart-billing-address.service.ts
  libs/cart/driver/magento/src/cart-item.service.spec.ts
  libs/cart/driver/magento/src/cart-item.service.ts
  libs/cart/driver/magento/src/cart-payment-methods.service.spec.ts
  libs/cart/driver/magento/src/cart-payment-methods.service.ts
  libs/cart/driver/magento/src/cart-payment.service.spec.ts
  libs/cart/driver/magento/src/cart-payment.service.ts
  libs/cart/driver/magento/src/cart-shipping-address.service.spec.ts
  libs/cart/driver/magento/src/cart-shipping-address.service.ts
  libs/cart/driver/magento/src/cart-shipping-information.service.spec.ts
  libs/cart/driver/magento/src/cart-shipping-information.service.ts
  libs/cart/driver/magento/src/cart-shipping-methods.service.spec.ts
  libs/cart/driver/magento/src/cart-shipping-methods.service.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2453 feat(auth)!: migrate auth state to operation state
  libs/auth/state/src/facades/auth/facade.spec.ts
  libs/auth/state/src/facades/auth/facade.ts
  libs/auth/state/src/facades/login/facade.ts
  libs/auth/state/src/facades/register/facade.ts
  libs/auth/state/src/facades/reset-password/facade.ts
  libs/auth/state/src/reducers/auth/auth-initial-state.ts
  libs/auth/state/src/reducers/auth/auth-reducer-state.interface.ts
  libs/auth/state/src/reducers/auth/auth.reducer.spec.ts
  libs/auth/state/src/reducers/auth/auth.reducer.ts
  libs/auth/state/src/reducers/login/login-initial-state.ts
  libs/auth/state/src/reducers/login/login-reducer-state.interface.ts
  libs/auth/state/src/reducers/login/login.reducer.spec.ts
  libs/auth/state/src/reducers/login/login.reducer.ts
  libs/auth/state/src/reducers/register/register-initial-state.ts
  libs/auth/state/src/reducers/register/register-reducer-state.interface.ts
  libs/auth/state/src/reducers/register/register.reducer.spec.ts
  libs/auth/state/src/reducers/register/register.reducer.ts
  libs/auth/state/src/reducers/reset-password/initial-state.ts
  libs/auth/state/src/reducers/reset-password/reducer.spec.ts
  libs/auth/state/src/reducers/reset-password/reducer.ts
  libs/auth/state/src/reducers/reset-password/state.interface.ts
  libs/auth/state/src/selectors/auth/auth.selector.spec.ts
  libs/auth/state/src/selectors/auth/auth.selector.ts
  libs/auth/state/src/selectors/login/login.selector.spec.ts
  libs/auth/state/src/selectors/login/login.selector.ts
  libs/auth/state/src/selectors/register/register.selector.spec.ts
  libs/auth/state/src/selectors/register/register.selector.ts
  libs/auth/state/src/selectors/reset-password/selector.spec.ts
  libs/auth/state/src/selectors/reset-password/selector.ts
Labels: package: auth, layer: state, status: awaiting merge

#2455 feat(search*)!: add `incremental` driver call
  libs/search-category/driver/magento/src/category-search.service.spec.ts
  libs/search-category/driver/magento/src/category-search.service.ts
  libs/search-product/driver/magento/src/product-search.service.spec.ts
  libs/search-product/driver/magento/src/product-search.service.ts
  libs/search-product/driver/src/interfaces/search-product-service.interface.ts
  libs/search/driver/federated/src/injection-tokens/drivers.token.spec.ts
  libs/search/driver/federated/src/search.service.spec.ts
  libs/search/driver/federated/src/search.service.ts
  libs/search/driver/in-memory/src/driver/search.service.spec.ts
  libs/search/driver/in-memory/src/driver/search.service.ts
  libs/search/driver/src/interfaces/search-service.interface.ts
  libs/search/driver/testing/src/drivers/search.service.spec.ts
  libs/search/driver/testing/src/drivers/search.service.ts
  libs/search/state/src/effects/incremental.effects.spec.ts
  libs/search/state/src/effects/incremental.effects.ts
Labels: layer: driver, package: search, package: search-product, package: search-category, status: awaiting review
