Repository graycoreio/daffodil, pull requests merged in 2023-09, with the labels that each got.

#2545 fix(cart): cart resolution effects unsafely call storage in SSR
  libs/cart/state/src/effects/cart-resolver.effects.spec.ts
  libs/cart/state/src/effects/cart-resolver.effects.ts
Labels: package: cart, layer: state, status: awaiting review

#2571 feat(design): add deprecation notice for DaffButtonSetComponent
  apps/demo/src/app/core/footer/footer.component.html
  apps/demo/src/app/core/footer/footer.component.scss
  apps/demo/src/app/core/footer/footer.module.ts
  libs/design/src/molecules/button-set/README.md
  libs/design/src/molecules/button-set/button-set.component.ts
Labels: package: design

#2573 feat(design): remove border transition from media gallery thumbnail
  libs/design/src/molecules/media-gallery/media-gallery-theme.scss
Labels: package: design

#2575 feat(design): deprecate theming option for paginators and update styles to work in both dark and light mode
  libs/design/src/molecules/paginator/paginator-theme.scss
  libs/design/src/molecules/paginator/paginator.component.html
  libs/design/src/molecules/paginator/paginator.component.scss
  libs/design/src/molecules/paginator/paginator.component.ts
Labels: package: design

#2577 fix(reviews): state errors are not reset upon success
  libs/reviews/state/src/reducers/product-reviews/reducer.spec.ts
  libs/reviews/state/src/reducers/product-reviews/reducer.ts
Labels: layer: state, package: reviews, status: awaiting merge
