Repository graycoreio/daffodil, pull requests merged in 2023-11, with the labels that each got.

#2591 build: add eslint config build to lint task deps
  nx.json
Labels: status: awaiting merge

#2592 feat(customer-payment-authorizenet): export all card type transforms
  libs/customer-payment-authorizenet/driver/magento/src/transforms/responses/public_api.ts
Labels: platform: magento, layer: driver, status: awaiting merge, package: customer-payment-authorizenet

#2594 build(apps): fix `sourceRoot` paths
  angular.json
Labels: build, status: awaiting merge

#2589 feat(design,design-land): add link support to paginator
  apps/design-land/src/app/paginator/paginator.component.html
  libs/design/paginator/examples/src/examples.ts
  libs/design/paginator/examples/src/link-paginator/link-paginator.component.html
  libs/design/paginator/examples/src/link-paginator/link-paginator.component.ts
  libs/design/paginator/examples/src/link-paginator/link-paginator.module.ts
  libs/design/paginator/examples/src/public_api.ts
  libs/design/src/molecules/paginator/paginator.component.html
  libs/design/src/molecules/paginator/paginator.component.scss
  libs/design/src/molecules/paginator/paginator.component.spec.ts
  libs/design/src/molecules/paginator/paginator.component.ts
  libs/design/src/molecules/paginator/paginator.module.ts
Labels: package: design, status: awaiting review

#2598 feat(daffio): update home hero illustration and add discord link
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.html
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.scss
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.ts
  apps/daffio/src/assets/pwa-illustration.svg
Labels: package: daff.io

#2599 feat(daffio): add sponsor link to nav and footer
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.html
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.spec.ts
  apps/daffio/src/app/core/header/containers/header.component.html
  apps/daffio/src/app/core/header/containers/header.component.spec.ts
Labels: package: daff.io

#2601 fix(design): remove bogus combinator from sidebar style
  libs/design/src/molecules/sidebar/sidebar/sidebar.component.scss
Labels: package: design

#2603 feat(daffio): clean up why pwa page styles
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.scss
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.scss
  apps/daffio/src/app/content/why-pwa/view/why-pwa-view.component.ts
Labels: package: daff.io

#2605 fix(paypal): browser specific `window` access
  libs/paypal/routing/src/effects/express-redirect.effects.ts
Labels: package: paypal, status: awaiting merge

#2606 feat(all)!: prefix state testing modules with `State`
  apps/demo/src/app/cart/components/cart-item/cart-item.component.spec.ts
  apps/demo/src/app/cart/components/cart/cart.component.spec.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.spec.ts
  apps/demo/src/app/checkout/components/place-order/place-order.component.spec.ts
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.spec.ts
  apps/demo/src/app/newsletter/newsletter.component.spec.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.spec.ts
  libs/auth/routing/src/guards/reset-password.guard.spec.ts
  libs/auth/state/testing/src/auth-testing.module.ts
  libs/auth/state/testing/src/public_api.ts
  libs/authorizenet/state/testing/src/authorize-net-testing.module.ts
  libs/authorizenet/state/testing/src/public_api.ts
  libs/cart/guides/testing.md
  libs/cart/routing/src/guards/order-result/order-result.guard.spec.ts
  libs/cart/routing/src/guards/resolve-cart/resolve-cart.guard.spec.ts
  libs/cart/routing/src/guards/resolved-cart/resolved-cart.guard.integration.spec.ts
  libs/cart/routing/src/guards/resolved-cart/resolved-cart.guard.spec.ts
  libs/cart/state/testing/src/cart-testing.module.ts
  libs/cart/state/testing/src/public_api.ts
  libs/category/state/src/effects/category-page-filter.effects.spec.ts
  libs/category/state/testing/src/category-testing.module.ts
  libs/category/state/testing/src/public_api.ts
  libs/geography/state/testing/src/geography-testing.module.ts
  libs/geography/state/testing/src/public_api.ts
  libs/navigation/state/testing/src/mock-navigation.facade.ts
  libs/navigation/state/testing/src/navigation-testing.module.ts
  libs/navigation/state/testing/src/public_api.ts
  libs/newsletter/state/testing/src/newsletter-testing.module.ts
  libs/newsletter/state/testing/src/public_api.ts
  libs/order/state/src/effects/order-collection.effects.spec.ts
  libs/order/state/testing/src/order-testing.module.ts
  libs/order/state/testing/src/public_api.ts
  libs/paypal/state/testing/src/paypal-testing.module.ts
  libs/paypal/state/testing/src/public_api.ts
Labels: status: awaiting merge

#2613 ci: fix local cache mismatch failing builds
  .github/workflows/build.yml
Labels: status: awaiting review

#2610 fix(geography): in-memory collection does not exist
  libs/geography/driver/in-memory/src/backend/geography.service.spec.ts
  libs/geography/driver/in-memory/src/backend/geography.service.ts
Labels: package: geography, status: awaiting merge

#2597 feat(branding): update daffodil logo to the new version
  apps/daffio/src/assets/appicons/icon-128x128.png
  apps/daffio/src/assets/appicons/icon-144x144.png
  apps/daffio/src/assets/appicons/icon-152x152.png
  apps/daffio/src/assets/appicons/icon-192x192.png
  apps/daffio/src/assets/appicons/icon-384x384.png
  apps/daffio/src/assets/appicons/icon-512x512.png
  apps/daffio/src/assets/appicons/icon-72x72.png
  apps/daffio/src/assets/appicons/icon-96x96.png
  apps/daffio/src/favicon.ico
  libs/branding/src/assets/daff-flower.svg
  libs/branding/src/lib/logo/logo-theme.scss
  libs/branding/src/lib/logo/logo.component.html
  libs/branding/src/lib/logo/logo.component.scss
  libs/branding/src/lib/logo/logo.component.spec.ts
  libs/branding/src/lib/logo/logo.component.ts
  libs/branding/src/lib/logo/logo.module.ts
Labels: package: daff.io, package: branding, status: awaiting review

#2611 feat(geography): create subdivisions in country factory
  libs/geography/driver/testing/src/drivers/geography.service.spec.ts
  libs/geography/state/src/reducers/country-entities/country-entities.reducer.spec.ts
  libs/geography/state/src/reducers/geography/geography.reducer.spec.ts
  libs/geography/testing/src/factories/country.factory.ts
Labels: package: geography, status: awaiting merge

#2608 feat(cart)!: change cart totals to dict
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/reducers/add-to-cart-notification.reducer.spec.ts
  apps/demo/src/app/cart/components/cart-items/cart-items.component.spec.ts
  apps/demo/src/app/cart/components/cart-sidebar/cart-sidebar.component.spec.ts
  apps/demo/src/app/cart/components/cart-summary-wrapper/cart-summary-wrapper.component.spec.ts
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.spec.ts
  apps/demo/src/app/cart/components/cart/cart.component.spec.ts
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.spec.ts
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.spec.ts
  apps/demo/src/app/cart/routing-resolvers/effects/cart-resolver.effects.ts
  apps/demo/src/app/checkout/effects/checkout.effects.spec.ts
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/product/components/product-grid/product-grid.component.spec.ts
  apps/demo/src/app/product/components/product/product.component.spec.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.spec.ts
  apps/demo/src/app/product/pages/product-view/product-view.component.spec.ts
  apps/demo/src/app/routing/indicator/indicator.component.spec.ts
  apps/demo/src/app/thank-you/pages/thank-you-view.component.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/cart-store-credit/driver/in-memory/src/backend/store-credit.service.ts
  libs/cart-store-credit/testing/src/factories/cart-with-store-credit.factory.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-totals-transformer.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.spec.ts
  libs/cart/routing/src/guards/billing-address/billing-address.guard.spec.ts
  libs/cart/routing/src/guards/payment-method/payment-method.guard.spec.ts
  libs/cart/routing/src/guards/shipping-address/shipping-address.guard.spec.ts
  libs/cart/routing/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/src/models/cart-total.ts
  libs/cart/src/models/cart.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/reducers/cart-billing-address/cart-billing-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item-entities/cart-item-entities.reducer.spec.ts
  libs/cart/state/src/reducers/cart-item/cart-item.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment-methods/cart-payment-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart-payment/cart-payment.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-address/cart-shipping-address.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-methods/cart-shipping-methods.reducer.spec.ts
  libs/cart/state/src/reducers/cart/cart.reducer.spec.ts
  libs/cart/state/src/selectors/cart-item-entities/cart-item-entities.selectors.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
  libs/cart/state/testing/src/mock-cart-facade.ts
  libs/cart/testing/src/factories/cart-total.factory.spec.ts
  libs/cart/testing/src/factories/cart-total.factory.ts
  libs/cart/testing/src/factories/cart.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/factories/public_api.ts
  libs/checkout/src/order/reducers/order/order.reducer.spec.ts
Labels: package: cart, status: awaiting review

#2609 feat(product): improve default product factory field generation
  libs/product-composite/state/src/selectors/composite-product-entities/composite-product-entities.selectors.spec.ts
  libs/product-composite/state/src/selectors/composite-product/composite-product.selectors.spec.ts
  libs/product-composite/testing/src/factories/composite-product-item-option.factory.ts
  libs/product-composite/testing/src/factories/composite-product.factory.ts
  libs/product-configurable/driver/magento/src/transforms/configurable-product-transformers.spec.ts
  libs/product-configurable/state/src/facades/configurable-product.facade.spec.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities-reducer-adapter.spec.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product-entities/configurable-product-entities.selectors.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.integration.spec.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.unit.spec.ts
  libs/product-configurable/testing/src/factories/configurable-product.factory.ts
  libs/product/driver/in-memory/src/backend/product.service.spec.ts
  libs/product/driver/in-memory/src/backend/product.service.ts
  libs/product/testing/src/factories/default-product.factory.ts
  libs/product/testing/src/factories/extension.factory.spec.ts
  libs/product/testing/src/factories/kind.factory.spec.ts
  libs/related-products/testing/src/factories/related-product.factory.ts
  libs/reviews/testing/src/factories/reviewed-product.factory.ts
  libs/upsell-products/testing/src/factories/upsell-product.factory.ts
Labels: package: product, status: awaiting merge

#2614 feat(cart): compute cart prices for in-memory driver
  libs/cart-store-credit/driver/in-memory/src/backend/store-credit.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.integration.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.unit.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.ts
  libs/cart/driver/in-memory/src/helpers/compute-cart-item-prices.ts
  libs/cart/driver/in-memory/src/helpers/compute-cart-totals.ts
Labels: package: cart, layer: driver, status: awaiting merge

#2616 feat(demo): add geography driver modules
  apps/demo/src/app/drivers/in-memory/backend/backend.service.spec.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
  apps/demo/src/app/drivers/in-memory/in-memory.module.ts
  apps/demo/src/app/drivers/magento/magento.module.ts
Labels: package: demo, status: awaiting merge

#2615 feat(demo): add checkout form models and country field
  apps/demo/src/app/checkout/components/forms/address-form/factories/address-form.factory.spec.ts
  apps/demo/src/app/checkout/components/forms/address-form/factories/address-form.factory.ts
  apps/demo/src/app/checkout/components/forms/address-form/models/address-form.type.ts
  apps/demo/src/app/checkout/components/payment/payment-form/models/payment-form.type.ts
  apps/demo/src/app/checkout/components/payment/payment-form/payment-form.component.spec.ts
  apps/demo/src/app/checkout/components/payment/payment-form/payment-form.component.ts
  apps/demo/src/app/checkout/components/payment/payment-info-form/components/payment-info-form/payment-info-form.component.ts
  apps/demo/src/app/checkout/components/payment/payment-info-form/models/payment-form.type.ts
  apps/demo/src/app/checkout/components/shipping/shipping-form/shipping-form.component.spec.ts
Labels: package: demo, status: awaiting merge

#2617 feat(demo): add country field to address form
  apps/demo/src/app/checkout/components/forms/address-form/address-form.module.ts
  apps/demo/src/app/checkout/components/forms/address-form/components/address-form/address-form.component.html
  apps/demo/src/app/checkout/components/forms/address-form/components/address-form/address-form.component.scss
  apps/demo/src/app/checkout/components/forms/address-form/components/address-form/address-form.component.spec.ts
  apps/demo/src/app/checkout/components/forms/address-form/components/address-form/address-form.component.ts
Labels: package: demo, status: awaiting merge

#2618 feat(demo): render cart totals from totals dict
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.html
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.spec.ts
  apps/demo/src/app/cart/components/cart-totals/cart-totals.component.ts
Labels: package: demo, status: awaiting merge

#1834 test(cart): fix factory partial types
  libs/cart-store-credit/testing/src/factories/cart-with-store-credit.factory.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-totals-transformer.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.spec.ts
  libs/cart/routing/src/guards/shipping-method/shipping-method.guard.spec.ts
  libs/cart/routing/src/resolvers/empty-cart-resolver.service.spec.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/testing/src/factories/cart-shipping-information.factory.spec.ts
  libs/cart/testing/src/factories/cart-shipping-information.factory.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/factories/public_api.ts
Labels: package: cart

#1835 feat(core,product,category)!: type model factory create partial
  libs/cart-store-credit/testing/src/factories/cart-with-store-credit.factory.ts
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.ts
  libs/category/driver/magento/src/category.service.spec.ts
  libs/core/testing/src/factories/factory.ts
  libs/payment/driver/in-memory/src/backend/payment.service.spec.ts
  libs/payment/testing/src/factories/payment-response.factory.ts
  libs/product/testing/src/factories/extension.factory.ts
  libs/product/testing/src/factories/kind.factory.ts
Labels: package: product, package: core

#1843 feat(demo): implement external router in-memory driver
  apps/demo/package.json
  apps/demo/src/app/app-routing.module.ts
  apps/demo/src/app/drivers/in-memory/external-router.config.token.ts
  apps/demo/src/app/drivers/in-memory/in-memory.module.ts
Labels: package: demo, status: awaiting merge

#2620 feat(category,demo): add category view to demo
  apps/demo/package.json
  apps/demo/src/app/app-routing.module.ts
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/category/category-routing.module.ts
  apps/demo/src/app/category/category.module.ts
  apps/demo/src/app/category/pages/category-view/category-view.component.html
  apps/demo/src/app/category/pages/category-view/category-view.component.spec.ts
  apps/demo/src/app/category/pages/category-view/category-view.component.ts
  apps/demo/src/app/category/pages/category-view/category-view.module.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
  apps/demo/src/app/drivers/in-memory/external-router.config.token.ts
  apps/demo/src/app/drivers/in-memory/in-memory.module.ts
  apps/demo/src/app/drivers/magento/magento.module.ts
  libs/category/driver/in-memory/src/backend/category.service.spec.ts
  libs/category/driver/in-memory/src/backend/category.service.ts
Labels: package: demo, package: category

#2625 feat(docs): remove title property from example viewer component
  apps/design-land/src/app/core/code-preview/container/example-viewer.component.html
  apps/design-land/src/app/core/code-preview/container/example-viewer.component.ts
Labels: docs

#2627 feat(navigation): add token for providing navigation in-memory seed data
  libs/navigation/driver/in-memory/src/public_api.ts
  libs/navigation/driver/in-memory/src/seed-data-provider/public_api.ts
  libs/navigation/driver/in-memory/src/seed-data-provider/token.ts
  libs/navigation/driver/in-memory/src/seed-data-provider/type.ts
Labels: package: navigation, status: awaiting merge

#2632 feat(navigation,demo): pull navigation tree from category in-memory tree
  apps/demo/src/app/drivers/in-memory/in-memory.module.ts
  libs/navigation/driver/in-memory/src/backend/navigation.service.spec.ts
  libs/navigation/driver/in-memory/src/backend/navigation.service.ts
Labels: package: demo, package: navigation, layer: driver, status: awaiting merge, platform: in-memory
