Repository graycoreio/daffodil, pull requests merged in 2023-08, with the labels that each got.

#2528 fix(cart): Magento driver crashes while setting cart address by ID
  libs/cart/driver/magento/src/cart-address.service.spec.ts
  libs/cart/driver/magento/src/cart-address.service.ts
  libs/cart/driver/magento/src/models/requests/billing-address.ts
  libs/cart/driver/magento/src/models/requests/cart-address-base.ts
  libs/cart/driver/magento/src/models/requests/public_api.ts
  libs/cart/driver/magento/src/models/requests/shipping-address.ts
  libs/cart/driver/magento/src/queries/public_api.ts
  libs/cart/driver/magento/src/queries/responses/public_api.ts
  libs/cart/driver/magento/src/queries/update-address-with-email/public_api.ts
  libs/cart/driver/magento/src/queries/update-address-with-email/query.ts
  libs/cart/driver/magento/src/queries/update-address-with-email/response.type.ts
  libs/cart/driver/magento/src/queries/update-address-with-email/variables.type.ts
  libs/cart/driver/magento/src/queries/update-address/public_api.ts
  libs/cart/driver/magento/src/queries/update-address/query.ts
  libs/cart/driver/magento/src/queries/update-address/response.type.ts
  libs/cart/driver/magento/src/queries/update-address/variables.type.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2484 feat(design): create notification component
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/notification/notification-routing-module.ts
  apps/design-land/src/app/notification/notification.component.html
  apps/design-land/src/app/notification/notification.component.scss
  apps/design-land/src/app/notification/notification.component.spec.ts
  apps/design-land/src/app/notification/notification.component.ts
  apps/design-land/src/app/notification/notification.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/notification/README.md
  libs/design/notification/examples/ng-package.json
  libs/design/notification/examples/package.json
  libs/design/notification/examples/src/default-notification/default-notification.component.html
  libs/design/notification/examples/src/default-notification/default-notification.component.ts
  libs/design/notification/examples/src/default-notification/default-notification.module.ts
  libs/design/notification/examples/src/dismissable-notification/dismissable-notification.component.html
  libs/design/notification/examples/src/dismissable-notification/dismissable-notification.component.ts
  libs/design/notification/examples/src/dismissable-notification/dismissable-notification.module.ts
  libs/design/notification/examples/src/index.ts
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.html
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.scss
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.ts
  libs/design/notification/examples/src/notification-orientations/notification-orientations.module.ts
  libs/design/notification/examples/src/notification-status/notification-status.component.html
  libs/design/notification/examples/src/notification-status/notification-status.component.scss
  libs/design/notification/examples/src/notification-status/notification-status.component.ts
  libs/design/notification/examples/src/notification-status/notification-status.module.ts
  libs/design/notification/examples/src/public_api.ts
  libs/design/notification/ng-package.json
  libs/design/notification/package.json
  libs/design/notification/src/index.ts
  libs/design/notification/src/notification-actions/notification-actions.directive.spec.ts
  libs/design/notification/src/notification-actions/notification-actions.directive.ts
  libs/design/notification/src/notification-message/notification-message.directive.spec.ts
  libs/design/notification/src/notification-message/notification-message.directive.ts
  libs/design/notification/src/notification-subtitle/notification-subtitle.directive.spec.ts
  libs/design/notification/src/notification-subtitle/notification-subtitle.directive.ts
  libs/design/notification/src/notification-theme.scss
  libs/design/notification/src/notification-title/notification-title.directive.spec.ts
  libs/design/notification/src/notification-title/notification-title.directive.ts
  libs/design/notification/src/notification.module.ts
  libs/design/notification/src/notification/notification.component.html
  libs/design/notification/src/notification/notification.component.scss
  libs/design/notification/src/notification/notification.component.spec.ts
  libs/design/notification/src/notification/notification.component.ts
  libs/design/notification/src/public_api.ts
  libs/design/scss/theme.scss
Labels: package: design, status: awaiting review

#2534 feat(driver): add `DaffDriverNetworkError`
  libs/driver/magento/src/errors/network-error.class.ts
  libs/driver/magento/src/errors/transform.spec.ts
  libs/driver/magento/src/errors/transform.ts
  libs/driver/src/errors/network-error.class.ts
  libs/driver/src/errors/public_api.ts
Labels: package: driver, layer: driver, status: awaiting merge

#2535 refactor(core): fix deprecations in `DaffQueuedApollo`
  libs/core/graphql/src/apollo/queued-apollo/queued-apollo.service.ts
Labels: package: core, status: awaiting merge

#2536 feat(cart): handle create errors in Magento driver
  libs/cart/driver/magento/src/cart.service.spec.ts
  libs/cart/driver/magento/src/cart.service.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2541 feat(authorizenet): add state config for accept retry backoff
  libs/authorizenet/state/src/authorize-net-state.module.ts
  libs/authorizenet/state/src/config/default.ts
  libs/authorizenet/state/src/config/public_api.ts
  libs/authorizenet/state/src/config/token.ts
  libs/authorizenet/state/src/config/type.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.ts
  libs/authorizenet/state/src/public_api.ts
Labels: package: authorizenet, layer: state, status: awaiting review

#2543 fix(cart): `selectIsBillingSameAsShipping` does not respect IDs
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/state/src/selectors/cart/cart.selector.ts
Labels: package: cart, layer: state, status: awaiting merge

#2546 feat(authorizenet): export reducer initial state
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.spec.ts
  libs/authorizenet/state/src/reducers/authorize-net/authorize-net.reducer.ts
  libs/authorizenet/state/src/reducers/authorize-net/initial-state.ts
  libs/authorizenet/state/src/reducers/authorize-net/public_api.ts
  libs/authorizenet/state/src/reducers/public_api.ts
Labels: package: authorizenet, layer: state, status: awaiting merge

#2555 feat(core): export storage error codes
  libs/core/src/storage/error/error.ts
  libs/core/src/storage/error/public_api.ts
  libs/core/src/storage/server-error/public_api.ts
  libs/core/src/storage/server-error/server-error.ts
Labels: package: core, status: awaiting merge

#2558 feat(cart): implement `CanActivateChild` in in stock items guard
  libs/cart/routing/src/guards/in-stock-items/in-stock-items.guard.spec.ts
  libs/cart/routing/src/guards/in-stock-items/in-stock-items.guard.ts
Labels: package: cart, layer: routing, status: awaiting merge
