Repository graycoreio/daffodil, pull requests merged in 2024-07, with the labels that each got.

#2762 feat(design): allow the whole typography subpackaged to be exported and allow body-font-family variable to be assignable
  apps/design-land/src/app/typography/typography.component.html
  libs/design/package.json
  libs/design/scss/typography/README.md
  libs/design/scss/typography/_index.scss
  libs/design/scss/typography/utilities/_variables.scss
Labels: package: design, status: awaiting review

#2894 docs(design): update container component documentation
  apps/design-land/src/app/container/container.component.html
  libs/design/container/README.md
Labels: package: design

#2897 fix(core): undefined operation entity from `operationFailed`
  libs/core/state/src/operation/entity/adapter.spec.ts
  libs/core/state/src/operation/entity/adapter.ts
Labels: package: core, layer: state, status: awaiting merge

#2893 fix(design): update links in design package markdowns to absolute paths
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.spec.ts
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.ts
  libs/design/README.md
  libs/design/guides/getting-started.md
  libs/design/loading-icon/README.md
  libs/design/scss/theming/README.md
  libs/design/sidebar/README.md
  libs/design/toast/README.md
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/reader/guide-file.reader.ts
Labels: package: design

#2900 feat(design): add accessibility considerations to the notification component
  apps/design-land/src/app/notification/notification.component.html
  libs/design/notification/README.md
  libs/design/notification/examples/src/default-notification/default-notification.component.html
  libs/design/notification/examples/src/default-notification/default-notification.component.scss
  libs/design/notification/examples/src/default-notification/default-notification.component.ts
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.html
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.ts
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.html
  libs/design/notification/examples/src/notification-status/notification-status.component.html
  libs/design/notification/examples/src/notification-with-actions/notification-with-actions.component.html
  libs/design/notification/examples/src/notification-with-actions/notification-with-actions.component.ts
  libs/design/notification/examples/src/notification-with-actions/notification-with-actions.module.ts
  libs/design/notification/examples/src/public_api.ts
  libs/design/notification/src/notification/notification.component.html
  libs/design/notification/src/notification/notification.component.scss
  libs/design/notification/src/notification/notification.component.spec.ts
  libs/design/notification/src/notification/notification.component.ts
Labels: package: design

#2927 feat(dgeni): render headings with slugified IDs
  tools/dgeni/src/processors/markdown.ts
Labels: status: awaiting merge, tools: dgeni

#2926 feat(daffio,design): highlight active tree item in sidebar
  apps/daffio/src/app/docs/components/docs-list/docs-list.component.html
  apps/daffio/src/app/docs/components/docs-list/docs-list.component.ts
Labels: package: daff.io, package: design, status: awaiting review

#2929 feat(daffio): add scrollOffset so headings are not covered by the navbar
  apps/daffio/src/app/app-routing.module.ts
Labels: package: daff.io, status: awaiting review

#2940 fix(dgeni): heading IDs using HTML encoded string
  tools/dgeni/src/processors/markdown.ts
Labels: status: awaiting review, tools: dgeni

#2913 feat(design)!: change `daffArticleEncapsulatedMixin` to a directive
  apps/design-land/src/app/core/article-encapsulated/article-encapsulated.component.ts
  libs/design/accordion/src/accordion/accordion/accordion.component.ts
  libs/design/article/README.md
  libs/design/button/src/button/button.component.ts
  libs/design/callout/src/callout/callout.component.ts
  libs/design/card/src/card/card.component.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/link-set/src/link-set/link-set.component.ts
  libs/design/list/src/list/list.component.ts
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/notification/src/notification/notification.component.ts
  libs/design/src/core/article-encapsulated/article-encapsulated-mixin.ts
  libs/design/src/core/article-encapsulated/article-encapsulated.directive.spec.ts
  libs/design/src/core/article-encapsulated/article-encapsulated.directive.ts
  libs/design/src/core/article-encapsulated/article-encapsulated.spec.ts
  libs/design/src/core/article-encapsulated/public_api.ts
  libs/design/toast/src/toast/toast.component.ts
  libs/design/tree/src/tree/tree.component.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#2919 feat(design)!: change `daffManageContainerLayoutMixin` to a directive
  libs/design/callout/src/callout/callout.component.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/navbar/src/navbar/navbar.component.ts
  libs/design/src/core/manage-container-layout/manage-container-layout-mixin.ts
  libs/design/src/core/manage-container-layout/manage-container-layout.directive.spec.ts
  libs/design/src/core/manage-container-layout/manage-container-layout.directive.ts
  libs/design/src/core/manage-container-layout/manage-container-layout.spec.ts
  libs/design/src/core/manage-container-layout/public_api.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#2922 feat(design)!: change `daffTextAlignmentMixin` to a directive
  libs/design/callout/src/callout/callout.component.spec.ts
  libs/design/callout/src/callout/callout.component.ts
  libs/design/hero/src/hero/hero.component.spec.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/src/core/text-alignable/public_api.ts
  libs/design/src/core/text-alignable/text-alignable-mixin.ts
  libs/design/src/core/text-alignable/text-alignable.directive.spec.ts
  libs/design/src/core/text-alignable/text-alignable.directive.ts
  libs/design/src/core/text-alignable/text-alignable.spec.ts
  libs/design/src/core/text-alignable/text-alignable.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#2923 feat(design)!: change `daffSkeletonMixin` to a directive
  libs/design/image/src/image/image.component.spec.ts
  libs/design/image/src/image/image.component.ts
  libs/design/media-gallery/src/media-gallery/media-gallery.component.spec.ts
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/src/core/skeletonable/public_api.ts
  libs/design/src/core/skeletonable/skeletonable-mixin.ts
  libs/design/src/core/skeletonable/skeletonable.directive.spec.ts
  libs/design/src/core/skeletonable/skeletonable.directive.ts
  libs/design/src/core/skeletonable/skeletonable.spec.ts
  libs/design/src/core/skeletonable/skeletonable.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#2937 feat(design)!: change `daffCompactableMixin` to a directive
  libs/design/callout/src/callout/callout.component.spec.ts
  libs/design/callout/src/callout/callout.component.ts
  libs/design/hero/src/hero/hero.component.spec.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/src/core/compactable/compactable-mixin.ts
  libs/design/src/core/compactable/compactable.directive.spec.ts
  libs/design/src/core/compactable/compactable.directive.ts
  libs/design/src/core/compactable/compactable.spec.ts
  libs/design/src/core/compactable/public_api.ts
Labels: package: design, status: awaiting review

#2941 feat(design)!: change `daffStatusMixin` to a directive
  libs/design/button/src/button/button.component.spec.ts
  libs/design/button/src/button/button.component.ts
  libs/design/notification/examples/src/notification-status/notification-status.component.html
  libs/design/notification/src/notification-theme.scss
  libs/design/notification/src/notification/notification.component.spec.ts
  libs/design/notification/src/notification/notification.component.ts
  libs/design/src/core/statusable/public_api.ts
  libs/design/src/core/statusable/statusable-mixin.ts
  libs/design/src/core/statusable/statusable.directive.spec.ts
  libs/design/src/core/statusable/statusable.directive.ts
  libs/design/src/core/statusable/statusable.spec.ts
  libs/design/src/core/statusable/statusable.ts
  libs/design/toast/src/toast/toast.component.spec.ts
  libs/design/toast/src/toast/toast.component.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#2942 feat(design)!: change `daffColorMixin` to a directive
  libs/design/button/src/button/button.component.ts
  libs/design/callout/src/callout/callout.component.spec.ts
  libs/design/callout/src/callout/callout.component.ts
  libs/design/card/src/card/card.component.spec.ts
  libs/design/card/src/card/card.component.ts
  libs/design/hero/src/hero/hero.component.spec.ts
  libs/design/hero/src/hero/hero.component.ts
  libs/design/loading-icon/src/loading-icon/loading-icon.component.spec.ts
  libs/design/loading-icon/src/loading-icon/loading-icon.component.ts
  libs/design/navbar/src/navbar/navbar.component.ts
  libs/design/paginator/src/paginator/paginator.component.ts
  libs/design/progress-bar/src/progress-bar.component.ts
  libs/design/src/core/colorable/color-in-palette.ts
  libs/design/src/core/colorable/colorable-enum.ts
  libs/design/src/core/colorable/colorable-mixin.ts
  libs/design/src/core/colorable/colorable.directive.spec.ts
  libs/design/src/core/colorable/colorable.directive.ts
  libs/design/src/core/colorable/colorable.spec.ts
  libs/design/src/core/colorable/colorable.ts
  libs/design/src/core/colorable/public_api.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review
