Repository graycoreio/daffodil, pull requests merged in 2024-09, with the labels that each got.

#3041 feat(dgeni): remove `atoms` and `molecules` from design doc IDs
  tools/dgeni/src/services/id-sanitizer.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#3028 feat(design): create `DaffBreadcrumbComponent`
  apps/design-land/src/app/app.component.ts
  libs/design/breadcrumb/README.md
  libs/design/breadcrumb/examples/ng-package.json
  libs/design/breadcrumb/examples/src/basic-breadcrumb/basic-breadcrumb.component.html
  libs/design/breadcrumb/examples/src/basic-breadcrumb/basic-breadcrumb.component.ts
  libs/design/breadcrumb/examples/src/index.ts
  libs/design/breadcrumb/examples/src/public_api.ts
  libs/design/breadcrumb/ng-package.json
  libs/design/breadcrumb/src/breadcrumb-item/breadcrumb-item.directive.spec.ts
  libs/design/breadcrumb/src/breadcrumb-item/breadcrumb-item.directive.ts
  libs/design/breadcrumb/src/breadcrumb-theme.scss
  libs/design/breadcrumb/src/breadcrumb.module.ts
  libs/design/breadcrumb/src/breadcrumb.ts
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.html
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.scss
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.spec.ts
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.ts
  libs/design/breadcrumb/src/index.ts
  libs/design/breadcrumb/src/public_api.ts
  libs/design/scss/theme.scss
Labels: package: design, status: awaiting review

#3063 feat(dgeni): render subpackages under root package
  tools/dgeni/src/processors/packages.ts
  tools/dgeni/src/transforms/daffodil-api-package/helpers/generateApiList.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-subpackage-exports.ts
  tools/dgeni/src/utils/package-path.ts
Labels: status: awaiting review, tools: dgeni

#3066 docs(design): update design core utilities documentation
  libs/design/src/core/article-encapsulated/article-encapsulated.directive.ts
  libs/design/src/core/colorable/colorable.directive.ts
  libs/design/src/core/compactable/compactable.directive.ts
  libs/design/src/core/manage-container-layout/manage-container-layout.directive.ts
  libs/design/src/core/sizable/sizable.directive.ts
  libs/design/src/core/skeletonable/skeletonable.directive.ts
  libs/design/src/core/statusable/statusable.directive.ts
  libs/design/src/core/text-alignable/text-alignable.directive.ts
Labels: package: design

#3069 fix(design): tree item descendants are not hidden on ancestor collapse
  libs/design/tree/src/utils/flatten-tree.spec.ts
  libs/design/tree/src/utils/flatten-tree.ts
Labels: package: design, status: awaiting merge

#3074 docs(cart-customer): add installation instructions to overview docs
  libs/cart-customer/README.md
Labels: package: cart-customer

#3075 docs(cart-store-credit): add yarn installation instructions to overview docs
  libs/cart-store-credit/README.md
Labels: package: cart-store-credit

#3076 feat(daffio): redirect `api` and `packages` to new route
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/redirect/docs.ts
Labels: package: daff.io, status: awaiting merge

#3077 docs(content): add installation docs
  libs/content/README.md
Labels: package: content

#3078 docs(analytics): update installation docs
  libs/analytics/README.md
Labels: package: analytics

#3079 docs(customer-auth): add installation docs to overview
  libs/customer-auth/README.md
Labels: package: customer-auth

#3081 docs(customer-payment-authorizenet): update installation docs in overview
  libs/customer-payment-authorizenet/README.md
Labels: package: customer-payment-authorizenet

#3080 docs(customer-order): update installation docs in overview
  libs/customer-order/README.md
Labels: package: customer-order

#3082 docs(customer-payment): update installation docs in overview
  libs/customer-payment/README.md
Labels: package: customer-payment

#3083 docs(customer-store-credit): update installation docs in overview
  libs/customer-store-credit/README.md
Labels: package: customer-store-credit

#3085 docs(forms): clean up overview docs
  libs/forms/README.md
Labels: package: forms

#3086 docs(order): clean up overview docs
  libs/order/README.md
Labels: package: order

#3090 docs(payment): clean up overview docs
  libs/payment/README.md
Labels: package: payment

#3091 docs(paypal): clean up formatting and verbiage of existing documentation
  libs/paypal/README.md
Labels: package: paypal

#3092 docs(product-composite): clean up formatting and verbiage of existing documentation
  libs/product-composite/README.md
  libs/product-composite/guides/driver.md
Labels: package: product-composite

#3093 docs(product-configurable): clean up formatting and verbiage of existing documentation
  libs/product-configurable/README.md
  libs/product-configurable/guides/driver.md
Labels: package: product-configurable

#3047 feat(docs-utils,dgeni): generate breadcrumbs from doc path
  apps/daffio/src/app/docs/api/models/api-reference.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.module.ts
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
  apps/daffio/src/app/docs/models/doc.ts
  libs/docs-utils/src/breadcrumb/public_api.ts
  libs/docs-utils/src/breadcrumb/type.ts
  libs/docs-utils/src/public_api.ts
  tools/dgeni/src/processors/absolutify-paths.ts
  tools/dgeni/src/processors/add-kind.ts
  tools/dgeni/src/processors/breadcrumb.ts
  tools/dgeni/src/processors/collect-linkable-symbols.ts
  tools/dgeni/src/processors/convertToJson.ts
  tools/dgeni/src/processors/generateNavList.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/processors/packages.ts
  tools/dgeni/src/services/id-sanitizer.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-subpackage-exports.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/utils/configurator/output.ts
Labels: status: awaiting review, package: docs-utils, tools: dgeni

#3095 docs(product): clean up formatting and verbiage of existing documentation
  libs/product/README.md
  libs/product/guides/drivers.md
  libs/product/guides/state.md
Labels: package: product

#3097 docs(related-products): clean up formatting and verbiage of existing documentation
  libs/related-products/README.md
Labels: package: related-products

#3098 docs(reviews): clean up formatting and verbiage of existing documentation
  libs/reviews/README.md
Labels: package: reviews

#3099 docs(router): clean up formatting and verbiage of existing documentation
  libs/router/README.md
Labels: package: router

#3100 docs(search-category): clean up formatting and verbiage of existing documentation
  libs/search-category/README.md
Labels: package: search-category

#3101 docs(search-product-composite): clean up formatting and verbiage of existing documentation
  libs/search-product-composite/README.md
Labels: package: search-product-composite

#3102 docs(search-product-configurable): clean up formatting and verbiage of existing documentation
  libs/search-product-configurable/README.md
Labels: package: search-product-configurable

#3103 docs(search-product): clean up formatting and verbiage of existing documentation
  libs/search-product/README.md
Labels: package: search-product

#3002 docs(newsletter): clean up formatting and verbiage of existing documentation
  libs/newsletter/README.md
  libs/newsletter/guides/advanced.md
  libs/newsletter/guides/drivers.md
  libs/newsletter/guides/in-memory-driver.md
  libs/newsletter/guides/installation.md
  libs/newsletter/guides/usage.md
Labels: package: newsletter, status: awaiting review

#3105 docs(search): clean up formatting and verbiage of existing documentation
  libs/search/README.md
Labels: package: search

#3106 docs(seo): clean up formatting and verbiage of existing documentation
  libs/seo/README.md
Labels: package: seo

#3107 docs(upsell-products): clean up formatting and verbiage of existing documentation
  libs/upsell-products/README.md
Labels: package: upsell-products

#3108 docs(analytics-provider-data-layer): clean up formatting and verbiage of existing documentation
  libs/analytics-provider-data-layer/README.md
Labels: package: analytics-provider-data-layer

#3110 fix(dgeni): type alias symbols don't get link tag added
  tools/dgeni/src/processors/addLinkTagToDaffodilReferences.ts
  tools/dgeni/src/processors/breadcrumb.ts
Labels: status: awaiting merge, tools: dgeni

#3057 feat(design, daffio): move sidebar content pad and nav pad code to css and add a default emit value to the DaffioSidebarService
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.scss
  apps/daffio/src/app/core/sidebar/services/sidebar.service.spec.ts
  apps/daffio/src/app/core/sidebar/services/sidebar.service.ts
  apps/design-land/src/app/core/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/sidebar/README.md
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.html
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.ts
  libs/design/sidebar/src/sidebar-viewport/utils/content-pad.spec.ts
  libs/design/sidebar/src/sidebar-viewport/utils/content-pad.ts
  libs/design/sidebar/src/sidebar-viewport/utils/content-shift.spec.ts
  libs/design/sidebar/src/sidebar/sidebar.component.scss
Labels: package: design, status: awaiting review

#3111 test(design): remove commented out test in sidebar content shift test
  libs/design/sidebar/src/sidebar-viewport/utils/content-shift.spec.ts
Labels: package: design

#3118 fix(design): update the property used to set a default alignment on callout
  libs/design/callout/src/callout/callout.component.ts
Labels: package: design

#3119 refactor(design): remove unused sidebarViewportHeight code in the sidebar component
  libs/design/sidebar/src/sidebar-viewport/utils/viewport-height.spec.ts
  libs/design/sidebar/src/sidebar-viewport/utils/viewport-height.ts
Labels: package: design

#3128 fix(daffio): legacy `ServerModule` imported
  apps/daffio/src/app/app.server.module.ts
Labels: package: daff.io, status: awaiting merge

#3129 fix(core): calling `resetState` when entity doesn't exist breaks state
  libs/core/state/src/operation/entity/adapter.spec.ts
  libs/core/state/src/operation/entity/adapter.ts
Labels: package: core, layer: state, status: awaiting merge

#3127 feat(daffio): add active router styles to nav header items
  apps/daffio/src/app/core/header/components/header-item/header-item.directive.spec.ts
  apps/daffio/src/app/core/header/components/header-item/header-item.directive.ts
  apps/daffio/src/app/core/header/components/header/header-theme.scss
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/core/nav/header/header.component.html
  apps/daffio/src/app/core/nav/header/header.component.ts
  apps/daffio/src/scss/component-themes.scss
Labels: package: daff.io

#3133 feat(dgeni): hardcode design nav list sort order
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/utils/trie-sort.ts
Labels: status: awaiting review, tools: dgeni
