Repository graycoreio/daffodil, pull requests merged in 2024-05, with the labels that each got.

#2780 feat(cart,order): set redirect token default value with factory
  libs/cart/routing/src/guards/billing-address/billing-address-guard-redirect.token.ts
  libs/cart/routing/src/guards/cart-items/cart-items-guard-redirect.token.ts
  libs/cart/routing/src/guards/in-stock-items/in-stock-items-guard-redirect.token.ts
  libs/cart/routing/src/guards/order-result/order-result-guard-redirect.token.ts
  libs/cart/routing/src/guards/payment-method/payment-method-guard-redirect.token.ts
  libs/cart/routing/src/guards/resolve-cart/redirect.token.ts
  libs/cart/routing/src/guards/shipping-address/shipping-address-guard-redirect.token.ts
  libs/cart/routing/src/guards/shipping-method/shipping-method-guard-redirect.token.ts
  libs/cart/routing/src/resolvers/tokens/cart-resolver-redirect.token.ts
  libs/cart/routing/src/resolvers/tokens/empty-cart-resolver-redirect.token.ts
  libs/order/routing/src/guards/placed-order/placed-order-guard-redirect.token.ts
Labels: package: cart, package: order, layer: routing, status: awaiting merge

#2781 feat(core): add error to `DaffState`
  libs/core/state/src/states/state.enum.ts
Labels: package: core, layer: state, status: awaiting merge

#2782 feat(core): include ngrx entity selectors in operation entity selectors
  libs/core/state/src/operation/entity/selectors.ts
Labels: package: core, layer: state, status: awaiting merge

#2783 feat(core): add type for `Constructable` args
  libs/core/src/constructable/constructable.ts
Labels: package: core

#2785 feat(core): add `identity` function
  libs/core/src/utils/identity.ts
  libs/core/src/utils/public_api.ts
Labels: package: core, status: awaiting merge

#2786 feat(core): add `DaffFailable`
  libs/core/state/src/actions/failure.type.ts
  libs/core/state/src/actions/public_api.ts
Labels: package: core, layer: state, status: awaiting merge

#2787 feat(core): replace mutating with updating
  libs/core/state/src/states/state.enum.ts
Labels: package: core, layer: state, status: awaiting merge

#2789 fix(product): get all products fails in magento driver
  libs/product/driver/magento/src/queries/get-all-products.ts
Labels: package: product, platform: magento, layer: driver, status: awaiting merge

#2784 feat(navigation)!: standardize magento driver config
  libs/navigation/driver/magento/src/config/default.ts
  libs/navigation/driver/magento/src/config/interface.ts
  libs/navigation/driver/magento/src/config/public_api.ts
  libs/navigation/driver/magento/src/config/token.ts
  libs/navigation/driver/magento/src/interfaces/navigation-config.interface.ts
  libs/navigation/driver/magento/src/navigation-driver.module.ts
  libs/navigation/driver/magento/src/navigation.service.spec.ts
  libs/navigation/driver/magento/src/navigation.service.ts
  libs/navigation/driver/magento/src/public_api.ts
Labels: package: navigation, platform: magento, layer: driver, 🚨 breaking changes, status: awaiting merge

#2788 feat(cart,cart-store-credit)!: remove `DaffCartShippingInformation`
  libs/cart-store-credit/testing/src/factories/cart-with-store-credit.factory.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.integration.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/driver/magento/src/cart-driver.module.ts
  libs/cart/driver/magento/src/cart-shipping-information.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-information.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-information.service.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart.service.ts
  libs/cart/driver/magento/src/transforms/public_api.ts
  libs/cart/driver/testing/src/drivers/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/src/models/cart-shipping-info.ts
  libs/cart/src/models/cart.ts
  libs/cart/src/models/public_api.ts
  libs/cart/state/src/effects/cart-shipping-information.effects.spec.ts
  libs/cart/state/src/effects/cart-shipping-information.effects.ts
  libs/cart/state/src/facades/cart/cart.facade.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.spec.ts
  libs/cart/state/src/reducers/cart-shipping-information/cart-shipping-information.reducer.ts
  libs/cart/state/src/selectors/cart/cart.selector.spec.ts
  libs/cart/testing/src/factories/cart-shipping-information.factory.spec.ts
  libs/cart/testing/src/factories/cart-shipping-information.factory.ts
  libs/cart/testing/src/factories/cart-shipping-rate.factory.spec.ts
  libs/cart/testing/src/factories/cart.factory.ts
  libs/cart/testing/src/factories/public_api.ts
Labels: package: cart, 🚨 breaking changes, package: cart-store-credit

#2793 feat(navigation): add `getTree` method
  libs/navigation/driver/in-memory/src/navigation.service.ts
  libs/navigation/driver/magento/src/config/interface.ts
  libs/navigation/driver/magento/src/navigation.service.spec.ts
  libs/navigation/driver/magento/src/navigation.service.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node.ts
  libs/navigation/driver/magento/src/queries/get-root-category-id/public_api.ts
  libs/navigation/driver/magento/src/queries/get-root-category-id/query.ts
  libs/navigation/driver/magento/src/queries/get-root-category-id/response.type.ts
  libs/navigation/driver/src/interfaces/navigation-service.interface.ts
  libs/navigation/driver/testing/src/navigation.service.ts
  libs/navigation/state/src/actions/navigation.actions.ts
  libs/navigation/state/src/effects/navigation.effects.spec.ts
  libs/navigation/state/src/effects/navigation.effects.ts
  libs/navigation/state/src/reducers/navigation-reducers.ts
Labels: package: navigation, platform: magento, status: awaiting merge

#2791 feat(all)!: simplify and remove redundant generics
  libs/contact/driver/in-memory/src/contact.service.spec.ts
  libs/customer/state/src/effects/customer.effects.spec.ts
  libs/design/modal/src/service/specs/modal.service.spec.ts
  libs/design/modal/src/service/specs/multiple-modal.spec.ts
  libs/external-router/driver/in-memory/src/in-memory.service.spec.ts
  libs/external-router/driver/testing/src/testing.service.spec.ts
  libs/external-router/routing/src/guard/existence.guard.spec.ts
  libs/external-router/routing/src/helper/convert-to-path.spec.ts
  libs/external-router/src/router/router.service.spec.ts
  libs/external-router/src/transform/resolved-route-to-route.spec.ts
  libs/geography/state/src/effects/geography.effects.spec.ts
  libs/newsletter/driver/in-memory/src/drivers/newsletter.service.spec.ts
Labels: package: cart, layer: state, status: awaiting merge

#2795 feat(core): make operation entity adapter extensible
  libs/core/state/src/operation/entity/adapter.spec.ts
  libs/core/state/src/operation/entity/adapter.ts
Labels: package: core, layer: state, status: awaiting merge

#2796 feat(core): set state to error for operation failure
  libs/auth/state/src/reducers/auth/auth.reducer.spec.ts
  libs/auth/state/src/reducers/auth/auth.reducer.ts
  libs/auth/state/src/reducers/reset-password/reducer.spec.ts
  libs/cart-store-credit/state/src/reducers/store-credit/reducer.spec.ts
  libs/category/state/src/reducers/category/category.reducer.spec.ts
  libs/core/state/src/operation/adapter.spec.ts
  libs/core/state/src/operation/adapter.ts
  libs/customer-payment/state/src/reducers/payment/reducer.spec.ts
  libs/customer-store-credit/state/src/reducers/store-credit/reducer.spec.ts
  libs/customer/state/src/reducers/address/reducer.spec.ts
  libs/customer/state/src/reducers/customer/reducer.spec.ts
  libs/order/state/src/reducers/order/order.reducer.spec.ts
  libs/product/state/src/reducers/product/product.reducer.spec.ts
Labels: status: awaiting merge

#2790 feat(cart): extract cart payment processor effect to reusable function
  libs/cart/state/src/effects/cart-payment-processor.effects.ts
  libs/cart/state/src/effects/public_api.ts
  libs/cart/state/src/public_api.ts
  libs/payment/state/src/actions/payment.actions.ts
Labels: package: cart, layer: state, status: awaiting merge

#2510 Progress Indicator/Bar updates
  apps/demo/src/app/routing/indicator/indicator.component.html
  apps/demo/src/app/routing/routing-component.module.ts
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/progress-bar/progress-bar-routing.module.ts
  apps/design-land/src/app/progress-bar/progress-bar.component.html
  apps/design-land/src/app/progress-bar/progress-bar.component.spec.ts
  apps/design-land/src/app/progress-bar/progress-bar.component.ts
  apps/design-land/src/app/progress-bar/progress-bar.module.ts
  apps/design-land/src/app/progress-indicator/progress-indicator.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/progress-bar/README.md
  libs/design/progress-bar/examples/ng-package.json
  libs/design/progress-bar/examples/src/index.ts
  libs/design/progress-bar/examples/src/progress-bar-default/progress-bar-default.component.html
  libs/design/progress-bar/examples/src/progress-bar-default/progress-bar-default.component.ts
  libs/design/progress-bar/examples/src/progress-bar-default/progress-bar-default.module.ts
  libs/design/progress-bar/examples/src/progress-bar-indeterminate/progress-bar-indeterminate.component.html
  libs/design/progress-bar/examples/src/progress-bar-indeterminate/progress-bar-indeterminate.component.ts
  libs/design/progress-bar/examples/src/progress-bar-indeterminate/progress-bar-indeterminate.module.ts
  libs/design/progress-bar/examples/src/progress-bar-themes/progress-bar-themes.component.html
  libs/design/progress-bar/examples/src/progress-bar-themes/progress-bar-themes.component.ts
  libs/design/progress-bar/examples/src/progress-bar-themes/progress-bar-themes.module.ts
  libs/design/progress-bar/examples/src/public_api.ts
  libs/design/progress-bar/ng-package.json
  libs/design/progress-bar/src/animation/progress-bar-animation.ts
  libs/design/progress-bar/src/index.ts
  libs/design/progress-bar/src/progress-bar-label/progress-bar-label.directive.spec.ts
  libs/design/progress-bar/src/progress-bar-label/progress-bar-label.directive.ts
  libs/design/progress-bar/src/progress-bar-theme.scss
  libs/design/progress-bar/src/progress-bar.component.html
  libs/design/progress-bar/src/progress-bar.component.scss
  libs/design/progress-bar/src/progress-bar.component.spec.ts
  libs/design/progress-bar/src/progress-bar.component.ts
  libs/design/progress-bar/src/progress-bar.module.ts
  libs/design/progress-bar/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/src/atoms/progress-indicator/progress-indicator.component.ts
Labels: package: design, status: awaiting review

#2797 feat(cart): add `daffCartGetItemTotalDiscount`
  libs/cart/src/helpers/get-affected-item.spec.ts
  libs/cart/src/helpers/get-item-total-discount.spec.ts
  libs/cart/src/helpers/get-item-total-discount.ts
  libs/cart/src/helpers/input-to-item-transform.spec.ts
  libs/cart/src/helpers/input-to-item-transform.ts
  libs/cart/src/helpers/public_api.ts
Labels: package: cart, status: awaiting merge

#2798 fix(core): `selectLoading` returns `true` for not loading state
  libs/core/state/src/operation/entity/helpers.ts
  libs/core/state/src/operation/entity/helpers/create-fake-id.spec.ts
  libs/core/state/src/operation/entity/helpers/create-fake-id.ts
  libs/core/state/src/operation/entity/public_api.ts
  libs/core/state/src/operation/selectors.ts
  libs/core/state/src/states/helpers.spec.ts
  libs/core/state/src/states/helpers.ts
  libs/core/state/src/states/public_api.ts
Labels: package: core, layer: state, status: awaiting merge

#2799 fix(cart): item states get added for a cart retrieval actions
  libs/cart/state/src/reducers/cart-item-entities/adapter.ts
  libs/cart/state/src/reducers/cart-item-entities/set-state-meta-reducer.ts
  libs/cart/state/src/reducers/token/config.token.ts
Labels: package: cart, layer: state, status: awaiting merge

#2778 feat(router): add service for observing route data
  libs/router/src/data/helpers/collect-data.spec.ts
  libs/router/src/data/helpers/collect-data.ts
  libs/router/src/data/helpers/public_api.ts
  libs/router/src/data/public_api.ts
  libs/router/src/data/service/data.service.ts
Labels: layer: routing, status: awaiting merge, package: router

#2800 feat(design): clean up accordion component and update docs
  apps/design-land/src/app/accordion/accordion.component.html
  apps/design-land/src/app/accordion/accordion.component.scss
  apps/design-land/src/app/accordion/accordion.component.ts
  libs/design/accordion/README.md
  libs/design/accordion/examples/src/basic-accordion/basic-accordion.component.html
  libs/design/accordion/src/accordion-theme.scss
  libs/design/accordion/src/accordion/accordion-item-content/accordion-item-content.directive.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.html
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.scss
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.spec.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.ts
  libs/design/accordion/src/accordion/accordion/accordion.component.html
  libs/design/accordion/src/accordion/accordion/accordion.component.scss
  libs/design/accordion/src/accordion/accordion/accordion.component.ts
Labels: package: design

#2804 ci: run linting with ignore invalid cache env var
  .github/workflows/build.yml
  .github/workflows/lint.yml
Labels: status: awaiting merge

#2805 docs(design): clean up list component docs
  apps/design-land/src/app/list/list.component.html
  libs/design/list/README.md
Labels: package: design

#2806 docs(design): clean up loading icon component docs
  apps/design-land/src/app/loading-icon/loading-icon.component.html
  libs/design/loading-icon/README.md
  libs/design/loading-icon/examples/src/loading-icon-color/loading-icon-color.component.html
  libs/design/loading-icon/examples/src/loading-icon-color/loading-icon-color.component.ts
  libs/design/loading-icon/examples/src/loading-icon-color/loading-icon-color.module.ts
Labels: package: design

#2808 feat(core): add `observe` util
  libs/core/src/utils/observe.spec.ts
  libs/core/src/utils/observe.ts
  libs/core/src/utils/public_api.ts
Labels: package: core, status: awaiting merge

#2810 chore(all): minor upgrade npm packages
  package-lock.json
  package.json
  tools/dgeni/build.ts
  tools/release/prepare/clean.ts
Labels: dependencies, status: awaiting merge

#2809 feat(router): add `daffRouterComposeGuards`
  libs/router/src/data/helpers/public_api.ts
  libs/router/src/guards/compose.spec.ts
  libs/router/src/guards/compose.ts
  libs/router/src/guards/public_api.ts
  libs/router/src/public_api.ts
Labels: layer: routing, status: awaiting merge, package: router

#2812 feat(design): update modal API so that the modal service can be used to close a modal with the ESC key
  apps/demo/src/app/cart/components/add-to-cart-notification/effects/add-to-cart-notification.effects.ts
  libs/design/modal/examples/src/basic-modal/basic-modal.component.ts
  libs/design/modal/src/modal.module.ts
  libs/design/modal/src/modal/modal.component.spec.ts
  libs/design/modal/src/modal/modal.component.ts
  libs/design/modal/src/service/modal.service.ts
  libs/design/modal/src/specs/animations.spec.ts
  libs/design/modal/src/specs/dynamic-content.spec.ts
Labels: package: design
