Repository graycoreio/daffodil, pull requests merged in 2024-01, with the labels that each got.

#2699 feat(design)!: shard modal component
  apps/demo/src/app/cart/components/add-to-cart-notification/add-to-cart-notification.module.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/effects/add-to-cart-notification.effects.spec.ts
  apps/demo/src/app/cart/components/add-to-cart-notification/effects/add-to-cart-notification.effects.ts
  apps/design-land/src/app/modal/modal.component.spec.ts
  libs/design/modal/README.md
  libs/design/modal/examples/src/basic-modal/basic-modal.component.ts
  libs/design/modal/examples/src/basic-modal/basic-modal.module.ts
  libs/design/modal/ng-package.json
  libs/design/modal/src/animations/modal-animation-state.spec.ts
  libs/design/modal/src/animations/modal-animation-state.ts
  libs/design/modal/src/animations/modal-animation.ts
  libs/design/modal/src/index.ts
  libs/design/modal/src/modal-actions/modal-actions.component.scss
  libs/design/modal/src/modal-actions/modal-actions.component.spec.ts
  libs/design/modal/src/modal-actions/modal-actions.component.ts
  libs/design/modal/src/modal-content/modal-content.component.scss
  libs/design/modal/src/modal-content/modal-content.component.spec.ts
  libs/design/modal/src/modal-content/modal-content.component.ts
  libs/design/modal/src/modal-header/modal-header.component.scss
  libs/design/modal/src/modal-header/modal-header.component.spec.ts
  libs/design/modal/src/modal-header/modal-header.component.ts
  libs/design/modal/src/modal-theme.scss
  libs/design/modal/src/modal-title/modal-title.directive.spec.ts
  libs/design/modal/src/modal-title/modal-title.directive.ts
  libs/design/modal/src/modal.module.ts
  libs/design/modal/src/modal/modal-config.ts
  libs/design/modal/src/modal/modal.component.html
  libs/design/modal/src/modal/modal.component.scss
  libs/design/modal/src/modal/modal.component.spec.ts
  libs/design/modal/src/modal/modal.component.ts
  libs/design/modal/src/modal/modal.ts
  libs/design/modal/src/public_api.ts
  libs/design/modal/src/service/modal.service.ts
  libs/design/modal/src/service/specs/modal.service.spec.ts
  libs/design/modal/src/service/specs/multiple-modal.spec.ts
  libs/design/modal/src/specs/animations.spec.ts
  libs/design/modal/src/specs/dynamic-content.spec.ts
  libs/design/scss/theme.scss
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2700 feat(design)!: shard navbar component
  apps/daffio/src/app/core/header/components/header.module.ts
  apps/daffio/src/app/core/header/components/header/header.component.spec.ts
  apps/demo/src/app/core/header/components/header/header.component.spec.ts
  apps/demo/src/app/core/header/header.module.ts
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/core/sidebar-viewport/sidebar-viewport.module.ts
  apps/design-land/src/app/navbar/navbar.module.ts
  libs/design/navbar/README.md
  libs/design/navbar/examples/src/basic-navbar/basic-navbar.module.ts
  libs/design/navbar/examples/src/contained-navbar/contained-navbar.module.ts
  libs/design/navbar/examples/src/navbar-theming/navbar-theming.module.ts
  libs/design/navbar/examples/src/raised-navbar/raised-navbar.module.ts
  libs/design/navbar/ng-package.json
  libs/design/navbar/src/index.ts
  libs/design/navbar/src/navbar-theme.scss
  libs/design/navbar/src/navbar.module.ts
  libs/design/navbar/src/navbar/navbar.component.scss
  libs/design/navbar/src/navbar/navbar.component.spec.ts
  libs/design/navbar/src/navbar/navbar.component.ts
  libs/design/navbar/src/public_api.ts
  libs/design/scss/theme.scss
  libs/design/sidebar/examples/src/basic-sidebar/basic-sidebar.module.ts
  libs/design/sidebar/examples/src/over-and-under-sidebars/over-and-under-sidebars.module.ts
  libs/design/sidebar/examples/src/side-fixed-sidebar/side-fixed-sidebar.module.ts
  libs/design/sidebar/examples/src/sidebar-with-sticky-content/sidebar-with-sticky-content.module.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2701 feat(design)!: shard paginator component
  apps/design-land/src/app/paginator/paginator.component.spec.ts
  apps/design-land/src/app/paginator/paginator.module.ts
  libs/design/paginator/README.md
  libs/design/paginator/examples/src/basic-paginator/basic-paginator.module.ts
  libs/design/paginator/examples/src/link-paginator/link-paginator.module.ts
  libs/design/paginator/examples/src/paginator-examples.module.ts
  libs/design/paginator/ng-package.json
  libs/design/paginator/src/paginator-theme.scss
  libs/design/paginator/src/paginator.module.ts
  libs/design/paginator/src/paginator/paginator.component.html
  libs/design/paginator/src/paginator/paginator.component.scss
  libs/design/paginator/src/paginator/paginator.component.spec.ts
  libs/design/paginator/src/paginator/paginator.component.ts
  libs/design/paginator/src/public_api.ts
  libs/design/paginator/src/utils/paginator-errors.ts
  libs/design/scss/theme.scss
  libs/design/src/molecules/paginator/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2702 feat(design): set sidebar header action's position to absolute
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.scss
Labels: package: design

#2705 feat(cart-store-credit)!: fix copy/paste errors
  libs/cart-store-credit/state/src/facades/store-credit/facade.ts
  libs/cart-store-credit/state/src/reducers/store-credit/initial-state.ts
  libs/cart-store-credit/state/src/reducers/store-credit/public_api.ts
  libs/cart-store-credit/state/src/reducers/store-credit/reducer.spec.ts
  libs/cart-store-credit/state/src/reducers/store-credit/reducer.ts
  libs/cart-store-credit/state/src/reducers/token/extra.token.spec.ts
  libs/cart-store-credit/state/src/reducers/token/extra.token.ts
  libs/cart-store-credit/state/src/reducers/token/public_api.ts
  libs/cart-store-credit/state/src/reducers/token/reducers.token.spec.ts
  libs/cart-store-credit/state/src/reducers/token/reducers.token.ts
  libs/cart-store-credit/state/src/selectors/store-credit/selector.ts
Labels: 🚨 breaking changes, status: awaiting merge, package: cart-store-credit

#2706 fix(customer-store-credit)!: `daffCustomerProvideExtraReducers` -> `daffCustomerStoreCreditProvideExtraReducers`
  libs/customer-store-credit/state/src/reducers/token/extra.token.spec.ts
  libs/customer-store-credit/state/src/reducers/token/extra.token.ts
  libs/customer-store-credit/state/src/reducers/token/public_api.ts
  libs/customer-store-credit/state/src/reducers/token/reducers.token.spec.ts
Labels: 🚨 breaking changes, status: awaiting merge, package: customer-store-credit

#1725 test(related-products): add dedupe meta reducer integration test
  libs/related-products/integration-tests/state/dedupe-related-products.spec.ts
  libs/upsell-products/integration-tests/state/dedupe-upsell-products.spec.ts
Labels: package: related-products, status: awaiting merge

#2708 feat(router): add `@daffodil/router`
  angular.json
  libs/router/.eslintrc.js
  libs/router/README.md
  libs/router/karma.conf.js
  libs/router/ng-package.json
  libs/router/ng-package.prod.json
  libs/router/package.json
  libs/router/src/index.ts
  libs/router/src/named-view/helpers/collect-named-views.spec.ts
  libs/router/src/named-view/helpers/collect-named-views.ts
  libs/router/src/named-view/helpers/public_api.ts
  libs/router/src/named-view/models/activated-route-snapshot.type.ts
  libs/router/src/named-view/models/named-views.type.ts
  libs/router/src/named-view/models/public_api.ts
  libs/router/src/named-view/models/route.type.ts
  libs/router/src/named-view/outlet/outlet.directive.spec.ts
  libs/router/src/named-view/outlet/outlet.directive.ts
  libs/router/src/named-view/outlet/outlet.module.ts
  libs/router/src/named-view/outlet/public_api.ts
  libs/router/src/named-view/public_api.ts
  libs/router/src/public_api.ts
  libs/router/test.ts
  libs/router/tsconfig.json
  libs/router/tsconfig.lib.json
  libs/router/tsconfig.lib.prod.json
  libs/router/tsconfig.spec.json
Labels: status: awaiting merge, package: router

#2686 feat(daffio): dynamic nav and sidebar content
  apps/daffio/src/app/api/api-routing.module.ts
  apps/daffio/src/app/api/api.module.ts
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/content/home/home.module.ts
  apps/daffio/src/app/content/home/view/home-view.module.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.html
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.spec.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.module.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.html
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.spec.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.module.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar/docs-sidebar.component.html
  apps/daffio/src/app/core/sidebar/components/docs-sidebar/docs-sidebar.component.scss
  apps/daffio/src/app/core/sidebar/components/docs-sidebar/docs-sidebar.component.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar/docs-sidebar.module.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.component.html
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.component.scss
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.component.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.module.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport-theme.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.html
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.ts
  apps/daffio/src/app/core/sidebar/sidebar.module.ts
  apps/daffio/src/app/core/template/template.component.html
  apps/daffio/src/app/core/template/template.component.spec.ts
  apps/daffio/src/app/core/template/template.component.ts
  apps/daffio/src/app/core/template/template.module.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.html
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.scss
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.spec.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.module.ts
  apps/daffio/src/app/docs/services/docs-service.interface.ts
  apps/daffio/src/app/docs/services/docs.service.ts
  apps/daffio/src/app/docs/testing/factories/guide-list.factory.ts
  apps/daffio/src/app/named-views/models/named-views.enum.ts
  apps/daffio/src/scss/component-themes.scss
Labels: package: daff.io, status: awaiting merge

#2709 feat(design): add word wrap style to article headings
  libs/design/article/src/article/article.component.scss
Labels: package: design

#2711 feat(design): update sidebar overflow styles so elements within the viewport content can be positioned sticky
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.scss
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.ts
  libs/design/sidebar/src/sidebar/sidebar.component.scss
Labels: package: design

#2713 fix(design): fix sidebar positions in viewport template
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.html
Labels: package: design

#2715 feat(daffio): clean up docs and marketing header styles
  apps/daffio/src/app/core/header/components/header/header.component.html
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/core/header/components/header/header.component.spec.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.html
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.scss
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.module.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.html
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.scss
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.module.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.component.ts
  libs/branding/src/lib/logo/logo.component.scss
Labels: package: design

#2718 feat(design): update sidebar viewport overflow style to change on animation start and done
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.html
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.ts
Labels: package: design

#2720 feat(design): clean up card styles
  libs/design/card/src/card/card.component.scss
Labels: package: design

#2722 feat(daffio): clean up doc viewer UI
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.module.ts
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.html
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
Labels: docs, package: daff.io

#2723 feat(daffio): clean up footer styles
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.html
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.ts
Labels: package: daff.io

#2712 fix(daffio): `/api` soft 404s on SSR
  apps/daffio/package.json
  apps/daffio/src/app/api/services/api.service.spec.ts
  apps/daffio/src/app/api/services/api.service.ts
  apps/daffio/src/app/app.server.module.ts
  apps/daffio/src/app/core/assets/fetch/browser.service.spec.ts
  apps/daffio/src/app/core/assets/fetch/browser.service.ts
  apps/daffio/src/app/core/assets/fetch/server.service.ts
  apps/daffio/src/app/core/assets/fetch/service.interface.ts
  apps/daffio/src/app/docs/services/docs.service.spec.ts
  apps/daffio/src/app/docs/services/docs.service.ts
Labels: package: daff.io, status: awaiting merge

#2730 feat(design)!: rename DaffSizeable interface to DaffSizable
  libs/design/button/src/button/button.component.ts
  libs/design/container/src/container/container.component.ts
  libs/design/src/core/public_api.ts
  libs/design/src/core/sizable/public_api.ts
  libs/design/src/core/sizable/sizable-mixin.ts
  libs/design/src/core/sizable/sizable.spec.ts
  libs/design/src/core/sizable/sizable.ts
Labels: package: design, 🚨 breaking changes

#2731 fix(daffio): wrong asset path on prod
  apps/daffio/package.json
  apps/daffio/src/app/app.server.module.ts
  apps/daffio/src/environments/environment.prod.ts
  apps/daffio/src/environments/environment.ts
  apps/daffio/src/environments/type.ts
Labels: package: daff.io, status: awaiting review

#2724 feat(daffio): update named views to specify sidebar header, content, and footer separately, and update usages
  apps/daffio/package.json
  apps/daffio/src/app/api/api.module.ts
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.html
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.scss
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.module.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar-content/marketing-sidebar-content.component.html
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar-content/marketing-sidebar-content.component.scss
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar-content/marketing-sidebar-content.component.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar-content/marketing-sidebar-content.module.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar/marketing-sidebar.module.ts
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer-theme.scss
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer.component.html
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer.component.scss
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer.component.ts
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer.module.ts
  apps/daffio/src/app/core/sidebar/components/sidebar-header/sidebar-header.component.html
  apps/daffio/src/app/core/sidebar/components/sidebar-header/sidebar-header.component.ts
  apps/daffio/src/app/core/sidebar/components/sidebar-header/sidebar-header.module.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.html
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.spec.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.ts
  apps/daffio/src/app/core/sidebar/effects/sidebar-routing-mode.effects.ts
  apps/daffio/src/app/named-views/models/named-views.enum.ts
  apps/daffio/src/scss/component-themes.scss
  libs/router/src/named-view/outlet/outlet.directive.ts
  libs/router/src/named-view/public_api.ts
  libs/router/src/named-view/service/named-view.service.ts
  libs/router/tsconfig.json
Labels: package: daff.io, status: awaiting merge, package: router

#2734 feat(daffio): update api list item background color to animate via opacity
  apps/daffio/src/app/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/api/components/api-list/api-list.component.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
Labels: package: daff.io

#2732 chore: upgrade node to v18
  .devcontainer/Dockerfile
  .github/workflows/build.yml
  .github/workflows/deploy_preview.yml
  .github/workflows/lint.yml
  .nvmrc
  package-lock.json
  package.json
Labels: status: awaiting merge

#2736 refactor(design, daffio)!: update `daff-gray` palette name to `daff-neutral`
  apps/daffio/src/app/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/core/footer/footer/footer-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer-theme.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport-theme.scss
  apps/daffio/src/app/design/device/iphone/iphone.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents-theme.scss
  apps/daffio/src/app/newsletter/newsletter-theme.scss
  apps/demo/src/app/cart/components/cart-item-count/cart-item-count.component.scss
  apps/demo/src/app/cart/components/cart-item/cart-item.component.scss
  apps/demo/src/app/cart/components/cart-summary/cart-summary.component.scss
  apps/demo/src/app/cart/components/minicart-item/minicart-item.component.scss
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.scss
  apps/demo/src/app/core/header/components/header/header.component.scss
  apps/demo/src/app/misc/help-box/help-box.component.scss
  apps/demo/src/app/newsletter/newsletter.component.scss
  apps/demo/src/app/product/components/product/product.component.scss
  apps/demo/src/app/thank-you/components/thank-you/thank-you.component.scss
  apps/demo/src/app/thank-you/pages/thank-you-view.component.scss
  apps/demo/src/scss/demo-theme.scss
  apps/demo/src/scss/mixins/_dividers.scss
  apps/design-land/src/app/core/code-preview/component/code-preview-theme.scss
  apps/design-land/src/app/core/sidebar-viewport/sidebar-viewport-theme.scss
  apps/design-land/src/app/typography/typography-theme.scss
  libs/branding/src/lib/logo/logo-theme.scss
  libs/design/accordion/src/accordion-theme.scss
  libs/design/article/src/article-theme.scss
  libs/design/button/src/button-theme-variants/raised.scss
  libs/design/button/src/button-theme.scss
  libs/design/callout/src/callout-theme.scss
  libs/design/card/src/card-theme.scss
  libs/design/guides/color.md
  libs/design/hero/src/hero-theme.scss
  libs/design/list/src/list-theme.scss
  libs/design/media-gallery/src/media-gallery-theme.scss
  libs/design/menu/src/menu-theme.scss
  libs/design/navbar/src/navbar-theme.scss
  libs/design/notification/src/notification-theme.scss
  libs/design/paginator/src/paginator-theme.scss
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/scss/theming/README.md
  libs/design/scss/theming/_color-palettes.scss
  libs/design/scss/theming/_configure-theme.scss
  libs/design/scss/theming/_theme-css-variables.scss
  libs/design/scss/theming/contrast/text-contrast/text-contrast.scss
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/native-select/native-select-theme.scss
  libs/design/src/molecules/image-list/image-list.component.scss
  libs/design/tree/src/tree-theme.scss
Labels: package: daff.io, package: design

#2725 feat(daffio): create packages sidebar
  apps/daffio/package.json
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/sidebar/actions/sidebar.actions.ts
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.component.html
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.component.spec.ts
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.component.ts
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.module.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport-theme.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.spec.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.ts
  apps/daffio/src/app/core/sidebar/effects/sidebar-routing-mode.effects.ts
  apps/daffio/src/app/core/sidebar/reducers/index.ts
  apps/daffio/src/app/core/sidebar/reducers/sidebar.reducer.ts
  apps/daffio/src/app/core/sidebar/sidebar.module.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.spec.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.html
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.scss
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.spec.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.component.ts
  apps/daffio/src/app/docs/containers/sidebar/sidebar.module.ts
  apps/daffio/src/app/guides/components/packages-list/packages-list.component.html
  apps/daffio/src/app/guides/components/packages-list/packages-list.component.spec.ts
  apps/daffio/src/app/guides/components/packages-list/packages-list.component.ts
  apps/daffio/src/app/guides/components/packages-list/packages-list.module.ts
  apps/daffio/src/app/guides/containers/packages-list/packages-list.component.html
  apps/daffio/src/app/guides/containers/packages-list/packages-list.component.spec.ts
  apps/daffio/src/app/guides/containers/packages-list/packages-list.component.ts
  apps/daffio/src/app/guides/containers/packages-list/packages-list.module.ts
  apps/design-land/src/app/core/sidebar-viewport/sidebar-viewport.component.spec.ts
  package-lock.json
  package.json
Labels: docs, package: daff.io, status: wip

#2721 feat(daffio): add packages overview page
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.ts
  apps/daffio/src/app/guides/components/package-cards/package-cards.component.html
  apps/daffio/src/app/guides/components/package-cards/package-cards.component.scss
  apps/daffio/src/app/guides/components/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/guides/components/package-cards/package-cards.component.ts
  apps/daffio/src/app/guides/components/package-cards/package-cards.module.ts
  apps/daffio/src/app/guides/containers/package-cards/package-cards.component.html
  apps/daffio/src/app/guides/containers/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/guides/containers/package-cards/package-cards.component.ts
  apps/daffio/src/app/guides/containers/package-cards/package-cards.module.ts
  apps/daffio/src/app/guides/guides-routing.module.ts
  apps/daffio/src/app/guides/guides.module.ts
  apps/daffio/src/app/guides/pages/packages-overview/packages-overview.component.html
  apps/daffio/src/app/guides/pages/packages-overview/packages-overview.component.scss
  apps/daffio/src/app/guides/pages/packages-overview/packages-overview.component.spec.ts
  apps/daffio/src/app/guides/pages/packages-overview/packages-overview.component.ts
Labels: package: design, status: awaiting merge

#2738 feat(daffio): update `/guides` path to `/packages`
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/core/footer/footer/footer.component.ts
  apps/daffio/src/app/core/footer/simple-footer/simple-footer.component.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.ts
  apps/daffio/src/app/core/sidebar/components/marketing-sidebar-content/marketing-sidebar-content.component.ts
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.component.spec.ts
  apps/daffio/src/app/core/sidebar/containers/docs-sidebar/docs-sidebar.module.ts
  apps/daffio/src/app/core/sidebar/sidebar.module.ts
  apps/daffio/src/app/docs/models/guide-list.ts
  apps/daffio/src/app/docs/models/packages-list.ts
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.spec.ts
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.ts
  apps/daffio/src/app/docs/services/docs-service.interface.ts
  apps/daffio/src/app/docs/services/docs.service.spec.ts
  apps/daffio/src/app/docs/services/docs.service.ts
  apps/daffio/src/app/docs/testing/factories/packages-list.factory.ts
  apps/daffio/src/app/guides/containers/packages-list/packages-list.component.html
  apps/daffio/src/app/guides/pages/guides-page.component.html
  apps/daffio/src/app/packages/components/package-cards/package-cards.component.html
  apps/daffio/src/app/packages/components/package-cards/package-cards.component.scss
  apps/daffio/src/app/packages/components/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/packages/components/package-cards/package-cards.component.ts
  apps/daffio/src/app/packages/components/package-cards/package-cards.module.ts
  apps/daffio/src/app/packages/components/packages-list/packages-list.component.html
  apps/daffio/src/app/packages/components/packages-list/packages-list.component.spec.ts
  apps/daffio/src/app/packages/components/packages-list/packages-list.component.ts
  apps/daffio/src/app/packages/components/packages-list/packages-list.module.ts
  apps/daffio/src/app/packages/containers/package-cards/package-cards.component.html
  apps/daffio/src/app/packages/containers/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/packages/containers/package-cards/package-cards.component.ts
  apps/daffio/src/app/packages/containers/package-cards/package-cards.module.ts
  apps/daffio/src/app/packages/containers/packages-list/packages-list.component.html
  apps/daffio/src/app/packages/containers/packages-list/packages-list.component.spec.ts
  apps/daffio/src/app/packages/containers/packages-list/packages-list.component.ts
  apps/daffio/src/app/packages/containers/packages-list/packages-list.module.ts
  apps/daffio/src/app/packages/packages-routing.module.ts
  apps/daffio/src/app/packages/packages.module.ts
  apps/daffio/src/app/packages/pages/package-page/package-page.component.html
  apps/daffio/src/app/packages/pages/package-page/package-page.component.spec.ts
  apps/daffio/src/app/packages/pages/package-page/package-page.component.ts
  apps/daffio/src/app/packages/pages/packages-overview/packages-overview.component.html
  apps/daffio/src/app/packages/pages/packages-overview/packages-overview.component.scss
  apps/daffio/src/app/packages/pages/packages-overview/packages-overview.component.spec.ts
  apps/daffio/src/app/packages/pages/packages-overview/packages-overview.component.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.ts
Labels: docs, package: daff.io, status: awaiting merge
