Repository graycoreio/daffodil, pull requests merged in 2024-06, with the labels that each got.

#2823 docs: add stub introduction
  docs/getting-started/introduction.md
Labels: docs, status: awaiting merge

#2828 feat(category): add injectable fragments and transform support to magento driver
  libs/category/driver/magento/src/category.service.ts
  libs/category/driver/magento/src/fragments/public_api.ts
  libs/category/driver/magento/src/fragments/token.ts
  libs/category/driver/magento/src/public_api.ts
  libs/category/driver/magento/src/queries/get-category-and-products.ts
  libs/category/driver/magento/src/transformers/category-transformer.service.ts
  libs/category/driver/magento/src/transforms/public_api.ts
  libs/category/driver/magento/src/transforms/token.ts
  libs/category/driver/magento/src/transforms/type.ts
Labels: package: category, platform: magento, layer: driver, status: awaiting merge

#2839 feat(cart): set shipping method `id` in magento driver
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-rate.service.spec.ts
  libs/cart/driver/magento/src/transforms/outputs/cart-shipping-rate.service.ts
Labels: package: cart, platform: magento, layer: driver, status: awaiting merge

#2840 docs(design): add docs for DaffMenuComponent
  apps/design-land/src/app/menu/menu.component.html
  libs/design/menu/README.md
  libs/design/menu/src/menu-activator/menu-activator.component.ts
Labels: package: design

#2843 feat(authorizenet): add credit card factory
  libs/authorizenet/testing/ng-package.json
  libs/authorizenet/testing/src/factories/credit-card.factory.spec.ts
  libs/authorizenet/testing/src/factories/credit-card.factory.ts
  libs/authorizenet/testing/src/factories/public_api.ts
  libs/authorizenet/testing/src/index.ts
  libs/authorizenet/testing/src/public_api.ts
  libs/authorizenet/tsconfig.json
Labels: package: authorizenet, status: awaiting merge

#2844 feat(design)!: rename notification's dismissable property to dismissible
  apps/design-land/src/app/notification/notification.component.html
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.html
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.ts
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.module.ts
  libs/design/notification/examples/src/public_api.ts
  libs/design/notification/src/notification/notification.component.html
  libs/design/notification/src/notification/notification.component.scss
  libs/design/notification/src/notification/notification.component.spec.ts
  libs/design/notification/src/notification/notification.component.ts
Labels: package: design, 🚨 breaking changes

#2859 feat(design): add id property to quantity field to be passed into quantity select and quantity input
  libs/design/src/atoms/form/quantity-field/quantity-field.component.html
  libs/design/src/atoms/form/quantity-field/quantity-field.component.ts
Labels: package: design

#2861 feat(design)!: remove deprecated DaffButtonSetComponent from @daffodil/design
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.html
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.module.ts
  apps/demo/src/app/core/footer/footer.component.spec.ts
  libs/design/README.md
  libs/design/src/molecules/button-set/README.md
  libs/design/src/molecules/button-set/button-set.component.scss
  libs/design/src/molecules/button-set/button-set.component.spec.ts
  libs/design/src/molecules/button-set/button-set.component.ts
  libs/design/src/molecules/button-set/button-set.module.ts
  libs/design/src/molecules/button-set/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2860 feat(design)!: remove deprecated DaffFeatureComponent from @daffodil/design
  apps/daffio/src/app/content/pwa/pages/pwa/pwa.component.html
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/feature/feature-routing.module.ts
  apps/design-land/src/app/feature/feature.component.html
  apps/design-land/src/app/feature/feature.component.scss
  apps/design-land/src/app/feature/feature.component.spec.ts
  apps/design-land/src/app/feature/feature.component.ts
  apps/design-land/src/app/feature/feature.module.ts
  libs/design/README.md
  libs/design/src/molecules/feature/README.md
  libs/design/src/molecules/feature/feature-icon/feature-icon.directive.spec.ts
  libs/design/src/molecules/feature/feature-icon/feature-icon.directive.ts
  libs/design/src/molecules/feature/feature-subheader/feature-subheader.directive.spec.ts
  libs/design/src/molecules/feature/feature-subheader/feature-subheader.directive.ts
  libs/design/src/molecules/feature/feature-subtitle/feature-subtitle.directive.spec.ts
  libs/design/src/molecules/feature/feature-subtitle/feature-subtitle.directive.ts
  libs/design/src/molecules/feature/feature-title/feature-title.directive.spec.ts
  libs/design/src/molecules/feature/feature-title/feature-title.directive.ts
  libs/design/src/molecules/feature/feature.module.ts
  libs/design/src/molecules/feature/feature/feature.component.html
  libs/design/src/molecules/feature/feature/feature.component.scss
  libs/design/src/molecules/feature/feature/feature.component.spec.ts
  libs/design/src/molecules/feature/feature/feature.component.ts
  libs/design/src/molecules/feature/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2862 feat(design!): remove deprecated `DaffProgressIndicatorComponent` from `@daffodil/design`
  apps/demo/src/app/app.module.ts
  apps/demo/src/app/routing/indicator/indicator.component.spec.ts
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/link-set/link-set.component.html
  apps/design-land/src/app/progress-indicator/progress-indicator-routing.module.ts
  apps/design-land/src/app/progress-indicator/progress-indicator.component.html
  apps/design-land/src/app/progress-indicator/progress-indicator.component.spec.ts
  apps/design-land/src/app/progress-indicator/progress-indicator.component.ts
  apps/design-land/src/app/progress-indicator/progress-indicator.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/README.md
  libs/design/scss/theme.scss
  libs/design/src/atoms/progress-indicator/README.md
  libs/design/src/atoms/progress-indicator/animation/progress-indicator-animation.ts
  libs/design/src/atoms/progress-indicator/progress-indicator-theme.scss
  libs/design/src/atoms/progress-indicator/progress-indicator.component.html
  libs/design/src/atoms/progress-indicator/progress-indicator.component.scss
  libs/design/src/atoms/progress-indicator/progress-indicator.component.spec.ts
  libs/design/src/atoms/progress-indicator/progress-indicator.component.ts
  libs/design/src/atoms/progress-indicator/progress-indicator.module.ts
  libs/design/src/atoms/progress-indicator/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2863 feat(design)!: remove `DaffImageGalleryComponent` and `DaffImageListComponent` from `@daffodil/design`
  apps/demo/src/app/core/image-gallery/components/image-gallery.component.html
  apps/demo/src/app/core/image-gallery/components/image-gallery.component.spec.ts
  apps/demo/src/app/core/image-gallery/components/image-gallery.component.ts
  apps/demo/src/app/core/image-gallery/image-gallery.module.ts
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/image-gallery/image-gallery-routing-module.ts
  apps/design-land/src/app/image-gallery/image-gallery.component.html
  apps/design-land/src/app/image-gallery/image-gallery.component.scss
  apps/design-land/src/app/image-gallery/image-gallery.component.spec.ts
  apps/design-land/src/app/image-gallery/image-gallery.component.ts
  apps/design-land/src/app/image-gallery/image-gallery.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/README.md
  libs/design/src/molecules/image-gallery/README.md
  libs/design/src/molecules/image-gallery/gallery-image/gallery-image.component.html
  libs/design/src/molecules/image-gallery/gallery-image/gallery-image.component.spec.ts
  libs/design/src/molecules/image-gallery/gallery-image/gallery-image.component.ts
  libs/design/src/molecules/image-gallery/image-gallery.module.ts
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.html
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.scss
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.spec.ts
  libs/design/src/molecules/image-gallery/image-gallery/image-gallery.component.ts
  libs/design/src/molecules/image-gallery/public_api.ts
  libs/design/src/molecules/image-list/README.md
  libs/design/src/molecules/image-list/image-list.component.scss
  libs/design/src/molecules/image-list/image-list.component.spec.ts
  libs/design/src/molecules/image-list/image-list.component.ts
  libs/design/src/molecules/image-list/image-list.module.ts
  libs/design/src/molecules/image-list/public_api.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2864 feat(design)!: remove `DaffQtyDropdownComponent` from `@daffodil/design`
  apps/demo/src/app/cart/components/cart-item/cart-item.component.html
  apps/demo/src/app/cart/components/cart-item/cart-item.component.spec.ts
  apps/demo/src/app/cart/components/cart-item/cart-item.component.ts
  apps/demo/src/app/cart/components/cart-item/cart-item.module.ts
  apps/demo/src/app/product/components/product/product.component.html
  apps/demo/src/app/product/components/product/product.component.spec.ts
  apps/demo/src/app/product/components/product/product.component.ts
  apps/demo/src/app/product/components/product/product.module.ts
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/qty-dropdown/qty-dropdown-routing.module.ts
  apps/design-land/src/app/qty-dropdown/qty-dropdown.component.html
  apps/design-land/src/app/qty-dropdown/qty-dropdown.component.scss
  apps/design-land/src/app/qty-dropdown/qty-dropdown.component.spec.ts
  apps/design-land/src/app/qty-dropdown/qty-dropdown.component.ts
  apps/design-land/src/app/qty-dropdown/qty-dropdown.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/src/molecules/qty-dropdown/README.md
  libs/design/src/molecules/qty-dropdown/public_api.ts
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.html
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.scss
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.spec.ts
  libs/design/src/molecules/qty-dropdown/qty-dropdown.component.ts
  libs/design/src/molecules/qty-dropdown/qty-dropdown.module.ts
  libs/design/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2867 feat(demo): load navigation tree on init
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.spec.ts
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.ts
Labels: package: demo, status: awaiting merge

#2868 feat(design)!: remove deprecated properties and directives in `DaffAccordionComponent` and update usage
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.html
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.spec.ts
  apps/demo/src/app/product/components/product/product.component.html
  apps/demo/src/app/thank-you/pages/thank-you-view.component.html
  apps/demo/src/app/thank-you/pages/thank-you-view.component.spec.ts
  libs/design/accordion/src/accordion.module.ts
  libs/design/accordion/src/accordion/accordion-item-content/accordion-item-content.directive.spec.ts
  libs/design/accordion/src/accordion/accordion-item-content/accordion-item-content.directive.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.spec.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.ts
  libs/design/accordion/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2869 feat(design)!: remove deprecated `layout` and `size` properties in `DaffCalloutComponent`
  libs/design/callout/src/callout/callout.component.scss
  libs/design/callout/src/callout/callout.component.spec.ts
  libs/design/callout/src/callout/callout.component.ts
Labels: package: design, 🚨 breaking changes

#2870 feat(design)!: remove deprecated `layout` and `size` properties in `DaffHeroComponent`
  apps/design-land/src/app/hero/hero.component.html
  libs/design/hero/README.md
  libs/design/hero/src/hero/hero.component.scss
  libs/design/hero/src/hero/hero.component.spec.ts
  libs/design/hero/src/hero/hero.component.ts
Labels: package: design, 🚨 breaking changes

#2871 feat(design)!: remove deprecated properties and directives from `DaffListComponent`
  apps/design-land/src/app/list/list.component.html
  libs/design/list/README.md
  libs/design/list/src/list-subheader/list-subheader.directive.spec.ts
  libs/design/list/src/list-subheader/list-subheader.directive.ts
  libs/design/list/src/list-theme.scss
  libs/design/list/src/list.module.ts
  libs/design/list/src/list/list.component.scss
  libs/design/list/src/list/list.component.spec.ts
  libs/design/list/src/list/list.component.ts
  libs/design/list/src/public_api.ts
Labels: package: design, 🚨 breaking changes

#2873 feat(design)!: remove `color` property from `DaffPaginatorComponent`
  libs/design/paginator/src/paginator-theme.scss
  libs/design/paginator/src/paginator/paginator.component.ts
Labels: package: design, 🚨 breaking changes

#2874 feat(design): remove deprecated tag on `onBackdropClicked` in `DaffSidebarViewportBackdropComponent`
  libs/design/sidebar/src/sidebar-viewport-backdrop/sidebar-viewport-backdrop.component.ts
Labels: package: design

#2876 fix(dgeni): API doc link URLs missing docs prefix
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#2877 fix: package guide links broken on daff.io
  README.md
  libs/analytics/README.md
  libs/cart/guides/getting-started.md
  libs/cart/guides/installation.md
  libs/cart/guides/state.md
  libs/cart/guides/usage.md
  libs/category/guides/filtering.md
  libs/contact/README.md
  libs/design/README.md
  libs/design/guides/accessibility.md
  libs/design/guides/color.md
  libs/design/guides/getting-started.md
  libs/newsletter/README.md
  tools/dgeni/src/processors/markdown.ts
Labels: docs, status: awaiting merge, tools: dgeni

#2878 feat(dgeni): add `theme-switch` to list of ignored packages
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#2879 feat(dgeni): hardcode design link and remove nav list children
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.ts
Labels: status: awaiting merge, tools: dgeni

#2881 feat(dgeni,daffio): `guides-list.json` -> `index.json`
  apps/daffio/src/app/docs/services/docs.service.spec.ts
  apps/daffio/src/app/docs/services/docs.service.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.ts
Labels: package: daff.io, status: awaiting merge, tools: dgeni

#2884 feat(navigation): add injectable fragment support to magento driver
  libs/navigation/driver/magento/src/navigation.service.ts
  libs/navigation/driver/magento/src/public_api.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node/category-node.spec.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node/category-node.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node/extra.token.ts
  libs/navigation/driver/magento/src/queries/fragments/category-node/public_api.ts
  libs/navigation/driver/magento/src/queries/fragments/public_api.ts
  libs/navigation/driver/magento/src/queries/get-category-tree.ts
  libs/navigation/driver/magento/src/queries/public_api.ts
  libs/navigation/testing/src/public_api.ts
Labels: package: navigation, platform: magento, layer: driver, status: awaiting merge

#2875 feat(design): remove all deprecated scss files and mixins in `@daffodil/design`
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.scss
  apps/daffio/src/app/core/footer/footer/footer.component.scss
  apps/daffio/src/app/design/device/iphone/iphone.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.scss
  apps/demo/src/app/cart/components/cart-item-count/cart-item-count.component.scss
  apps/demo/src/app/cart/components/cart-item/cart-item.component.scss
  apps/demo/src/app/cart/components/cart-sidebar/cart-sidebar.component.scss
  apps/demo/src/app/cart/components/cart-summary-wrapper/cart-summary-wrapper.component.scss
  apps/demo/src/app/cart/components/cart-summary/cart-summary.component.scss
  apps/demo/src/app/cart/components/cart-totals-item/cart-totals-item.component.scss
  apps/demo/src/app/cart/components/cart/cart.component.scss
  apps/demo/src/app/cart/components/minicart-item/minicart-item.component.scss
  apps/demo/src/app/cart/pages/cart-view/cart-view.component.scss
  apps/demo/src/app/checkout/components/forms/address/components/address-form/address-form.component.scss
  apps/demo/src/app/checkout/components/payment/billing-summary/billing-summary.component.scss
  apps/demo/src/app/checkout/components/payment/payment-form/payment-form.component.scss
  apps/demo/src/app/checkout/components/payment/payment-info-form/components/payment-info-form/payment-info-form.component.scss
  apps/demo/src/app/checkout/components/payment/payment-summary/payment-summary.component.scss
  apps/demo/src/app/checkout/components/shipping-address/form/shipping-address-form.component.scss
  apps/demo/src/app/checkout/components/shipping-address/summary/shipping-address-summary.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-form/shipping-form.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-options/components/shipping-options/shipping-options.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-summary/shipping-summary.component.scss
  apps/demo/src/app/checkout/pages/checkout-view/checkout-view.component.scss
  apps/demo/src/app/core/footer/footer.component.scss
  apps/demo/src/app/core/header/components/header/header.component.scss
  apps/demo/src/app/core/sidebar/components/sidebar-list/sidebar-list.component.scss
  apps/demo/src/app/core/sidebar/containers/sidebar/sidebar.component.scss
  apps/demo/src/app/misc/help-box/help-box.component.scss
  apps/demo/src/app/misc/not-found/not-found.component.scss
  apps/demo/src/app/newsletter/newsletter.component.scss
  apps/demo/src/app/product/components/add-to-cart/add-to-cart.component.scss
  apps/demo/src/app/product/components/product-card/product-card.component.scss
  apps/demo/src/app/product/components/product-grid/product-grid.component.scss
  apps/demo/src/app/product/components/product/product.component.scss
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.scss
  apps/demo/src/app/thank-you/components/thank-you/thank-you.component.scss
  apps/demo/src/app/thank-you/pages/thank-you-view.component.scss
  apps/demo/src/scss/styles.scss
  apps/demo/src/scss/utilities.scss
  apps/design-land/src/app/navbar/navbar.component.scss
  libs/design/package.json
  libs/design/scss/README.md
  libs/design/scss/daff-global.scss
  libs/design/scss/daff-typography.scss
  libs/design/scss/daff-util.scss
  libs/design/scss/typography/_classes.scss
  libs/design/scss/typography/_index.scss
  libs/design/scss/typography/mixins/_text-transform.scss
  libs/design/scss/typography/mixins/_text-truncate.scss
  libs/design/tree/src/tree/tree.component.scss
Labels: package: design, 🚨 breaking changes

#2889 fix(navigation): deep fragment fields might not get data
  libs/navigation/driver/magento/src/queries/fragments/category-node/category-node.ts
Labels: package: navigation, platform: magento, layer: driver, status: awaiting merge
