Repository graycoreio/daffodil, pull requests merged in 2024-02, with the labels that each got.

#2743 feat(driver): store and set Magento cache ID header
  libs/driver/magento/src/graphql/cache-header/cache-header-apollo-link.spec.ts
  libs/driver/magento/src/graphql/cache-header/cache-header-apollo-link.ts
  libs/driver/magento/src/graphql/public_api.ts
Labels: package: core, platform: magento, layer: driver, status: awaiting merge

#2745 feat(cart): use product data to seed added cart item for in-memory
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.spec.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
Labels: package: cart, status: awaiting merge, platform: in-memory

#2759 feat(design): update loading icon animation and style
  libs/design/loading-icon/examples/src/loading-icon-color/loading-icon-color.component.html
  libs/design/loading-icon/src/loading-icon-theme.scss
  libs/design/loading-icon/src/loading-icon/loading-icon.component.html
  libs/design/loading-icon/src/loading-icon/loading-icon.component.scss
Labels: feat, package: design

#2749 feat(all): include package names in action types
  libs/authorizenet/state/src/actions/authorizenet.actions.ts
  libs/cart/state/src/actions/cart-address.actions.ts
  libs/cart/state/src/actions/cart-billing-address.actions.ts
  libs/cart/state/src/actions/cart-coupon.actions.ts
  libs/cart/state/src/actions/cart-item.actions.ts
  libs/cart/state/src/actions/cart-order.actions.ts
  libs/cart/state/src/actions/cart-payment-methods.actions.ts
  libs/cart/state/src/actions/cart-payment.actions.ts
  libs/cart/state/src/actions/cart-shipping-address.actions.ts
  libs/cart/state/src/actions/cart-shipping-information.actions.ts
  libs/cart/state/src/actions/cart-shipping-methods.actions.ts
  libs/cart/state/src/actions/cart.actions.ts
  libs/category/state/src/actions/category.actions.ts
  libs/contact/state/src/actions/contact.actions.ts
  libs/geography/state/src/actions/geography.actions.ts
  libs/navigation/state/src/actions/navigation.actions.ts
  libs/newsletter/state/src/actions/newsletter.actions.ts
  libs/order/state/src/actions/order.actions.ts
  libs/product-composite/state/src/actions/composite-product.actions.ts
  libs/product-configurable/state/src/actions/configurable-product.actions.ts
  libs/product/state/src/actions/best-sellers.actions.ts
  libs/product/state/src/actions/product-grid.actions.ts
  libs/product/state/src/actions/product-page.actions.ts
  libs/product/state/src/actions/product.actions.ts
Labels: layer: state, status: awaiting merge

#2766 feat(design): add code block style to article headings
  apps/design-land/src/app/core/code-preview/component/code-preview.component.ts
  libs/design/article/examples/src/article-headings/article-headings.component.html
  libs/design/article/src/article/article.component.scss
Labels: feat, package: design
