Repository graycoreio/daffodil, pull requests merged in 2024-10, with the labels that each got.

#2908 feat(design): create `DaffOpenableDirective`
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.html
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.scss
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.spec.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.ts
  libs/design/modal/src/modal/modal.component.ts
  libs/design/modal/src/service/modal.service.ts
  libs/design/modal/src/specs/animations.spec.ts
  libs/design/sidebar/src/sidebar-viewport/utils/backdrop-interactable.spec.ts
  libs/design/sidebar/src/sidebar/sidebar.component.ts
  libs/design/src/core/openable/openable.directive.spec.ts
  libs/design/src/core/openable/openable.directive.ts
  libs/design/src/core/openable/openable.ts
  libs/design/src/core/openable/public_api.ts
  libs/design/src/core/openable/specs/error.directive.spec.ts
  libs/design/src/core/openable/specs/states.directive.spec.ts
  libs/design/src/core/openable/utils/state-error.ts
  libs/design/src/core/public_api.ts
Labels: package: design

#3130 feat(design): convert menu component to standalone
  libs/design/menu/README.md
  libs/design/menu/examples/src/basic-menu/basic-menu.component.ts
  libs/design/menu/examples/src/basic-menu/menu-content/menu-content.component.html
  libs/design/menu/examples/src/basic-menu/menu-content/menu-content.component.ts
  libs/design/menu/src/menu-activator/menu-activator.component.spec.ts
  libs/design/menu/src/menu-activator/menu-activator.component.ts
  libs/design/menu/src/menu-item/menu-item.component.scss
  libs/design/menu/src/menu-item/menu-item.component.spec.ts
  libs/design/menu/src/menu-item/menu-item.component.ts
  libs/design/menu/src/menu.module.ts
  libs/design/menu/src/menu/menu.component.spec.ts
  libs/design/menu/src/menu/menu.component.ts
  libs/design/menu/src/services/menu.service.ts
  libs/design/menu/src/specs/children.spec.ts
  libs/design/menu/src/specs/no-children.spec.ts
Labels: package: design

#3131 feat(design): convert modal component to standalone
  apps/design-land/src/app/modal/modal.component.spec.ts
  libs/design/modal/README.md
  libs/design/modal/examples/src/basic-modal/basic-modal.component.ts
  libs/design/modal/examples/src/basic-modal/modal-content.component.ts
  libs/design/modal/src/modal-actions/modal-actions.component.spec.ts
  libs/design/modal/src/modal-actions/modal-actions.component.ts
  libs/design/modal/src/modal-close/modal-close.directive.spec.ts
  libs/design/modal/src/modal-close/modal-close.directive.ts
  libs/design/modal/src/modal-content/modal-content.component.spec.ts
  libs/design/modal/src/modal-content/modal-content.component.ts
  libs/design/modal/src/modal-header/modal-header.component.spec.ts
  libs/design/modal/src/modal-header/modal-header.component.ts
  libs/design/modal/src/modal-title/modal-title.directive.spec.ts
  libs/design/modal/src/modal-title/modal-title.directive.ts
  libs/design/modal/src/modal.module.ts
  libs/design/modal/src/modal.ts
  libs/design/modal/src/modal/modal.component.spec.ts
  libs/design/modal/src/modal/modal.component.ts
  libs/design/modal/src/public_api.ts
  libs/design/modal/src/service/specs/modal.service.spec.ts
  libs/design/modal/src/service/specs/multiple-modal.spec.ts
  libs/design/modal/src/specs/animations.spec.ts
  libs/design/modal/src/specs/dynamic-content.spec.ts
Labels: package: design

#3145 feat(core,driver)!: move `DaffInMemoryDataServiceInterface` to `@daffodil/driver/in-memory`
  libs/cart/driver/in-memory/src/backend/cart-address/cart-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-billing-address/cart-billing-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-coupon/cart-coupon.service.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/driver/in-memory/src/backend/cart-order/cart-order.service.ts
  libs/cart/driver/in-memory/src/backend/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/driver/in-memory/src/backend/cart-payment/cart-payment.service.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.ts
  libs/core/testing/src/public_api.ts
  libs/driver/in-memory/ng-package.json
  libs/driver/in-memory/src/backend/data-service.type.ts
  libs/driver/in-memory/src/backend/public_api.ts
  libs/driver/in-memory/src/index.ts
  libs/driver/in-memory/src/public_api.ts
  libs/driver/tsconfig.json
  libs/driver/tsconfig.spec.json
  libs/geography/driver/in-memory/src/backend/geography.service.ts
  libs/order/driver/in-memory/src/backend/order.service.ts
  libs/reviews/driver/in-memory/src/backend/reviews.service.ts
Labels: package: driver, package: core, layer: driver, 🚨 breaking changes, status: awaiting merge, platform: in-memory

#3146 feat(driver): add in-memory backend delegate service
  libs/driver/in-memory/src/backend/backends.token.ts
  libs/driver/in-memory/src/backend/delegate.service.spec.ts
  libs/driver/in-memory/src/backend/delegate.service.ts
  libs/driver/in-memory/src/backend/public_api.ts
  libs/driver/in-memory/src/backend/type.ts
  libs/driver/package.json
Labels: package: driver, layer: driver, status: awaiting merge, platform: in-memory

#3147 feat(driver): add base in-memory driver
  libs/driver/in-memory/src/driver/base.class.ts
  libs/driver/in-memory/src/driver/public_api.ts
  libs/driver/in-memory/src/public_api.ts
Labels: package: driver, layer: driver, status: awaiting merge, platform: in-memory

#3175 feat(driver): add in-memory config
  libs/driver/in-memory/src/config/default.ts
  libs/driver/in-memory/src/config/public_api.ts
  libs/driver/in-memory/src/config/token.ts
  libs/driver/in-memory/src/config/type.ts
  libs/driver/in-memory/src/public_api.ts
Labels: package: driver, layer: driver, status: awaiting merge, platform: in-memory

#3176 docs(driver): add clarification note to `DaffInMemoryDriverBase#url`
  libs/driver/in-memory/src/driver/base.class.ts
Labels: docs, package: driver, status: awaiting merge

#3177 feat(driver): add in-memory module
  libs/driver/in-memory/src/module.ts
  libs/driver/in-memory/src/public_api.ts
Labels: package: driver, layer: driver, status: awaiting merge, platform: in-memory

#3178 feat(authorizenet): support in-memory backend delegate
  libs/authorizenet/driver/in-memory/src/backend/authorize-net.service.ts
  libs/authorizenet/driver/in-memory/src/collection-name.const.ts
  libs/authorizenet/driver/in-memory/src/drivers/authorize-net-driver.module.ts
  libs/authorizenet/driver/in-memory/src/drivers/authorize-net.service.spec.ts
  libs/authorizenet/driver/in-memory/src/drivers/authorize-net.service.ts
Labels: package: authorizenet, layer: driver, status: awaiting merge, platform: in-memory

#3181 feat(auth): support in-memory backend delegate
  libs/auth/driver/in-memory/src/backend/auth.service.ts
  libs/auth/driver/in-memory/src/collection-name.const.ts
  libs/auth/driver/in-memory/src/drivers/auth-driver.module.ts
  libs/auth/driver/in-memory/src/drivers/auth/auth.service.spec.ts
  libs/auth/driver/in-memory/src/drivers/auth/auth.service.ts
  libs/auth/driver/in-memory/src/drivers/login/login.service.spec.ts
  libs/auth/driver/in-memory/src/drivers/login/login.service.ts
  libs/auth/driver/in-memory/src/drivers/register/register.service.spec.ts
  libs/auth/driver/in-memory/src/drivers/register/register.service.ts
  libs/auth/driver/in-memory/src/drivers/reset-password/service.spec.ts
  libs/auth/driver/in-memory/src/drivers/reset-password/service.ts
Labels: package: auth, layer: driver, status: awaiting merge, platform: in-memory

#3183 feat(contact): support in-memory backend delegate
  libs/contact/driver/in-memory/src/collection-name.const.ts
  libs/contact/driver/in-memory/src/contact.service.spec.ts
  libs/contact/driver/in-memory/src/contact.service.ts
  libs/contact/driver/in-memory/src/in-memory-backend/contact-in-memory-backend.service.ts
  libs/contact/driver/in-memory/src/in-memory.module.ts
Labels: package: contact, layer: driver, status: awaiting merge, platform: in-memory

#3184 feat(customer): support in-memory backend delegate
  libs/customer/driver/in-memory/src/backend/address.service.ts
  libs/customer/driver/in-memory/src/backend/customer.service.ts
  libs/customer/driver/in-memory/src/collection-names/address.const.ts
  libs/customer/driver/in-memory/src/collection-names/customer.const.ts
  libs/customer/driver/in-memory/src/driver/address.service.spec.ts
  libs/customer/driver/in-memory/src/driver/address.service.ts
  libs/customer/driver/in-memory/src/driver/customer-driver.module.ts
  libs/customer/driver/in-memory/src/driver/customer.service.spec.ts
  libs/customer/driver/in-memory/src/driver/customer.service.ts
Labels: layer: driver, package: customer, status: awaiting merge, platform: in-memory

#3179 feat(cart-store-credit): support in-memory backend delegate
  libs/cart-store-credit/driver/in-memory/src/backend/store-credit.service.ts
  libs/cart-store-credit/driver/in-memory/src/collection-name.const.ts
  libs/cart-store-credit/driver/in-memory/src/driver/driver.module.ts
  libs/cart-store-credit/driver/in-memory/src/driver/store-credit.service.spec.ts
  libs/cart-store-credit/driver/in-memory/src/driver/store-credit.service.ts
Labels: layer: driver, status: awaiting merge, platform: in-memory, package: cart-store-credit

#3186 feat(customer-store-credit): support in-memory backend delegate
  libs/customer-store-credit/driver/in-memory/src/backend/store-credit.service.ts
  libs/customer-store-credit/driver/in-memory/src/collection-name.const.ts
  libs/customer-store-credit/driver/in-memory/src/driver/driver.module.ts
  libs/customer-store-credit/driver/in-memory/src/driver/store-credit.service.spec.ts
  libs/customer-store-credit/driver/in-memory/src/driver/store-credit.service.ts
Labels: layer: driver, status: awaiting merge, platform: in-memory, package: customer-store-credit

#3187 feat(geography): support in-memory backend delegate
  libs/geography/driver/in-memory/src/backend/geography.service.ts
  libs/geography/driver/in-memory/src/collection-name.const.ts
  libs/geography/driver/in-memory/src/drivers/geography-driver.module.ts
  libs/geography/driver/in-memory/src/drivers/geography.service.spec.ts
  libs/geography/driver/in-memory/src/drivers/geography.service.ts
Labels: package: geography, layer: driver, status: awaiting merge, platform: in-memory

#3189 feat(newsletter): support in-memory backend delegate
  libs/newsletter/driver/in-memory/src/backend/newsletter.service.ts
  libs/newsletter/driver/in-memory/src/collection-name.const.ts
  libs/newsletter/driver/in-memory/src/drivers/newsletter-driver.module.ts
  libs/newsletter/driver/in-memory/src/drivers/newsletter.service.spec.ts
  libs/newsletter/driver/in-memory/src/drivers/newsletter.service.ts
Labels: package: newsletter, layer: driver, status: awaiting merge, platform: in-memory

#3190 feat(order): support in-memory backend delegate
  libs/order/driver/in-memory/src/backend/order.service.ts
  libs/order/driver/in-memory/src/collection-name.const.ts
  libs/order/driver/in-memory/src/drivers/order-driver.module.ts
  libs/order/driver/in-memory/src/drivers/order.service.spec.ts
  libs/order/driver/in-memory/src/drivers/order.service.ts
Labels: package: order, layer: driver, status: awaiting merge, platform: in-memory

#3191 feat(payment): support in-memory backend delegate
  libs/payment/driver/in-memory/src/backend/payment.service.ts
  libs/payment/driver/in-memory/src/collection-name.const.ts
  libs/payment/driver/in-memory/src/driver/payment-driver.module.ts
  libs/payment/driver/in-memory/src/driver/payment.service.spec.ts
  libs/payment/driver/in-memory/src/driver/payment.service.ts
Labels: layer: driver, package: payment, status: awaiting merge, platform: in-memory

#3192 feat(paypal): support in-memory backend delegate
  libs/paypal/driver/in-memory/src/backend/paypal.service.ts
  libs/paypal/driver/in-memory/src/collection-name.const.ts
  libs/paypal/driver/in-memory/src/drivers/paypal-driver.module.ts
  libs/paypal/driver/in-memory/src/drivers/paypal.service.spec.ts
  libs/paypal/driver/in-memory/src/drivers/paypal.service.ts
Labels: package: paypal, layer: driver, status: awaiting merge, platform: in-memory

#3188 feat(navigation): support in-memory backend delegate
  libs/navigation/driver/in-memory/src/backend/navigation.service.ts
  libs/navigation/driver/in-memory/src/collection-name.const.ts
  libs/navigation/driver/in-memory/src/navigation-driver.module.ts
  libs/navigation/driver/in-memory/src/navigation.service.spec.ts
  libs/navigation/driver/in-memory/src/navigation.service.ts
Labels: package: navigation, layer: driver, status: awaiting merge, platform: in-memory

#3194 feat(reviews): support in-memory backend delegate
  libs/reviews/driver/in-memory/src/backend/reviews.service.ts
  libs/reviews/driver/in-memory/src/collection-name.const.ts
  libs/reviews/driver/in-memory/src/drivers/reviews-driver.module.ts
  libs/reviews/driver/in-memory/src/drivers/reviews.service.spec.ts
  libs/reviews/driver/in-memory/src/drivers/reviews.service.ts
Labels: layer: driver, package: reviews, status: awaiting merge, platform: in-memory

#3180 feat(cart): support in-memory backend delegate
  apps/demo/src/app/drivers/in-memory/backend/backend.service.spec.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
  libs/cart/driver/in-memory/src/backend/cart-address/cart-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-billing-address/cart-billing-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-coupon/cart-coupon.service.ts
  libs/cart/driver/in-memory/src/backend/cart-items/cart-items.service.ts
  libs/cart/driver/in-memory/src/backend/cart-order/cart-order.service.ts
  libs/cart/driver/in-memory/src/backend/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/driver/in-memory/src/backend/cart-payment/cart-payment.service.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.ts
  libs/cart/driver/in-memory/src/backend/cart-root.service.unit.spec.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/backend/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/driver/in-memory/src/backend/cart/cart.service.ts
  libs/cart/driver/in-memory/src/collection-names.ts
  libs/cart/driver/in-memory/src/drivers/cart-address/cart-address.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-address/cart-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-billing-address/cart-billing-address.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-billing-address/cart-billing-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-coupon/cart-coupon.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-coupon/cart-coupon.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-driver.module.ts
  libs/cart/driver/in-memory/src/drivers/cart-item/cart-item.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-item/cart-item.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-order/cart-order.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-order/cart-order.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment-methods/cart-payment-methods.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment-methods/cart-payment-methods.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment/cart-payment.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-payment/cart-payment.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-address/cart-shipping-address.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-address/cart-shipping-address.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-information/cart-shipping-information.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-information/cart-shipping-information.service.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-methods/cart-shipping-methods.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart-shipping-methods/cart-shipping-methods.service.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.spec.ts
  libs/cart/driver/in-memory/src/drivers/cart/cart.service.ts
  libs/cart/driver/in-memory/src/public_api.ts
Labels: package: cart, layer: driver, 🚨 breaking changes, status: awaiting merge, platform: in-memory

#3193 feat(product): support in-memory backend delegate
  libs/product/driver/in-memory/src/backend/product.service.ts
  libs/product/driver/in-memory/src/collection-name.const.ts
  libs/product/driver/in-memory/src/driver/product-driver.module.ts
  libs/product/driver/in-memory/src/driver/product.service.spec.ts
  libs/product/driver/in-memory/src/driver/product.service.ts
Labels: package: product, layer: driver, status: awaiting merge, platform: in-memory

#3195 feat(search): support in-memory backend delegate
  libs/search/driver/in-memory/src/backend/search.service.ts
  libs/search/driver/in-memory/src/collection-name.const.ts
  libs/search/driver/in-memory/src/driver/search-driver.module.ts
  libs/search/driver/in-memory/src/driver/search.service.spec.ts
  libs/search/driver/in-memory/src/driver/search.service.ts
Labels: layer: driver, package: search, status: awaiting merge, platform: in-memory

#3197 feat(demo): migrate to new in-memory module
  apps/demo/src/app/drivers/in-memory.module.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.spec.ts
  apps/demo/src/app/drivers/in-memory/backend/backend.service.ts
Labels: package: demo, layer: driver, status: awaiting merge, platform: in-memory

#3198 docs(design): move typography and theming docs to the guides folder
  libs/design/guides/foundations/theming.md
  libs/design/guides/foundations/typography.md
  libs/design/scss/README.md
Labels: package: design

#3132 feat(design): convert toast component to standalone
  apps/design-land/src/app/app.module.ts
  apps/design-land/src/app/toast/toast.module.ts
  libs/design/toast/README.md
  libs/design/toast/examples/src/toast-status/toast-status.component.html
  libs/design/toast/examples/src/toast-status/toast-status.component.ts
  libs/design/toast/src/public_api.ts
  libs/design/toast/src/service/toast.service.spec.ts
  libs/design/toast/src/service/toast.service.ts
  libs/design/toast/src/toast-actions/toast-actions.directive.spec.ts
  libs/design/toast/src/toast-actions/toast-actions.directive.ts
  libs/design/toast/src/toast-message/toast-message.directive.spec.ts
  libs/design/toast/src/toast-message/toast-message.directive.ts
  libs/design/toast/src/toast-theme.scss
  libs/design/toast/src/toast-title/toast-title.directive.spec.ts
  libs/design/toast/src/toast-title/toast-title.directive.ts
  libs/design/toast/src/toast.module.ts
  libs/design/toast/src/toast/toast-provider.ts
  libs/design/toast/src/toast/toast-template.component.ts
  libs/design/toast/src/toast/toast.component.spec.ts
  libs/design/toast/src/toast/toast.component.ts
Labels: package: design

#3261 feat(core): add singleton injection token factory
  libs/core/src/injection-tokens/public_api.ts
  libs/core/src/injection-tokens/singleton.factory.spec.ts
  libs/core/src/injection-tokens/singleton.factory.ts
  libs/core/src/injection-tokens/singleton.type.ts
Labels: package: core

#3268 feat(all): use singleton injection token factory for driver tokens
  libs/auth/driver/src/interfaces/auth-service.interface.ts
  libs/auth/driver/src/interfaces/login-service.interface.ts
  libs/auth/driver/src/interfaces/register-service.interface.ts
  libs/auth/driver/src/interfaces/reset-password-service.interface.ts
  libs/authorizenet/driver/src/interfaces/authorize-net-service.interface.ts
  libs/authorizenet/driver/src/interfaces/payment-service.interface.ts
  libs/cart-store-credit/driver/src/interfaces/store-credit-service.interface.ts
  libs/cart/driver/src/interfaces/cart-address-service.interface.ts
  libs/cart/driver/src/interfaces/cart-billing-address-service.interface.ts
  libs/cart/driver/src/interfaces/cart-coupon-service.interface.ts
  libs/cart/driver/src/interfaces/cart-item-service.interface.ts
  libs/cart/driver/src/interfaces/cart-order-service.interface.ts
  libs/cart/driver/src/interfaces/cart-payment-methods-service.interface.ts
  libs/cart/driver/src/interfaces/cart-payment-service.interface.ts
  libs/cart/driver/src/interfaces/cart-service.interface.ts
  libs/cart/driver/src/interfaces/cart-shipping-address-service.interface.ts
  libs/cart/driver/src/interfaces/cart-shipping-information-service.interface.ts
  libs/cart/driver/src/interfaces/cart-shipping-methods-service.interface.ts
  libs/category/driver/src/interfaces/category-service.interface.ts
  libs/contact/driver/src/interfaces/contact-service.interface.ts
  libs/customer-payment-authorizenet/driver/src/interfaces/payment-service.interface.ts
  libs/customer-store-credit/driver/src/interfaces/store-credit-service.interface.ts
  libs/customer/driver/src/interfaces/customer-service.interface.ts
  libs/external-router/driver/src/interfaces/external-router-driver.interface.ts
  libs/geography/driver/src/interfaces/geography-service.interface.ts
  libs/navigation/driver/src/interfaces/navigation-service.interface.ts
  libs/newsletter/driver/src/interfaces/newsletter-service.interface.ts
  libs/payment/driver/src/interfaces/payment-service.interface.ts
  libs/paypal/driver/src/interfaces/paypal-express-payment-service.interface.ts
  libs/paypal/driver/src/interfaces/paypal-express-service.interface.ts
  libs/product/driver/src/interfaces/product-service.interface.ts
  libs/search/driver/src/interfaces/search-service.interface.ts
Labels: layer: driver, status: awaiting merge

#3272 feat(daffio): clean up design docs overview page
  apps/daffio/src/app/docs/design/pages/overview/overview.component.html
  apps/daffio/src/app/docs/design/pages/overview/overview.component.scss
  apps/daffio/src/app/docs/design/pages/overview/overview.component.ts
Labels: package: daff.io

#3273 feat(all): export driver providers
  libs/cart-store-credit/driver/src/public_api.ts
  libs/cart/driver/src/interfaces/public_api.ts
  libs/category/driver/src/public_api.ts
  libs/content/driver/src/interfaces/public_api.ts
  libs/customer-payment/driver/src/interfaces/payment-service.interface.ts
  libs/customer-payment/driver/src/public_api.ts
  libs/customer-store-credit/driver/src/public_api.ts
  libs/customer/driver/src/interfaces/address-service.interface.ts
  libs/customer/driver/src/public_api.ts
  libs/external-router/driver/src/public_api.ts
  libs/geography/driver/src/index.ts
  libs/geography/driver/src/public_api.ts
  libs/navigation/driver/src/interfaces/public_api.ts
  libs/order/driver/src/index.ts
  libs/order/driver/src/interfaces/order-service.interface.ts
  libs/payment/driver/src/public_api.ts
  libs/product/driver/src/public_api.ts
  libs/reviews/driver/src/index.ts
  libs/reviews/driver/src/interfaces/reviews-service.interface.ts
  libs/search/driver/src/public_api.ts
Labels: layer: driver

#3142 docs: add driver description and demo
  docs/guides/drivers.md
  libs/product/guides/drivers.md
Labels: package: product

#3277 feat(core): support injection token values to config provider
  libs/core/src/injection-tokens/config.factory.spec.ts
  libs/core/src/injection-tokens/config.factory.ts
  libs/core/src/injection-tokens/config.type.ts
Labels: package: core, status: awaiting merge

#3278 feat(product,product-composite): use default config tokens
  libs/product-composite/routing/src/config/default.ts
  libs/product-composite/routing/src/config/public_api.ts
  libs/product-composite/routing/src/config/token.ts
  libs/product-composite/routing/src/module.ts
  libs/product/routing/src/config/default.ts
  libs/product/routing/src/config/public_api.ts
  libs/product/routing/src/config/token.ts
  libs/product/routing/src/module.ts
Labels: package: product, package: product-composite, status: awaiting merge

#3283 feat(all): use functions for providing configs
  libs/category/driver/magento/src/category-driver.module.ts
  libs/category/driver/magento/src/interfaces/config.interface.ts
  libs/navigation/driver/magento/src/navigation-driver.module.ts
  libs/product/driver/magento/src/interfaces/config.interface.ts
  libs/product/driver/magento/src/product-driver.module.ts
  libs/search/driver/federated/src/config/default.ts
  libs/search/driver/federated/src/config/interface.ts
  libs/search/driver/federated/src/config/public_api.ts
  libs/search/driver/federated/src/search-driver.module.ts
  libs/search/driver/federated/src/search.service.ts
Labels: 🚨 breaking changes

#3293 feat(design): update `DaffStatus` danger value to critical and add an info value
  apps/design-land/src/app/button/button.component.html
  apps/design-land/src/app/foundations/variables/variables.component.html
  apps/design-land/src/app/notification/notification.component.html
  apps/design-land/src/app/toast/toast.component.html
  libs/design/button/README.md
  libs/design/button/examples/src/statusable-button/statusable-button.component.html
  libs/design/button/src/button-theme.scss
  libs/design/notification/README.md
  libs/design/notification/examples/src/notification-status/notification-status.component.html
  libs/design/notification/src/notification-theme.scss
  libs/design/notification/src/notification/notification.component.spec.ts
  libs/design/notification/src/notification/notification.component.ts
  libs/design/scss/theming/_theme-css-variables.scss
  libs/design/src/core/statusable/statusable.directive.spec.ts
  libs/design/src/core/statusable/statusable.directive.ts
  libs/design/src/core/statusable/statusable.ts
  libs/design/toast/README.md
  libs/design/toast/examples/src/toast-status/toast-status.component.html
  libs/design/toast/examples/src/toast-status/toast-status.component.ts
  libs/design/toast/src/toast-theme.scss
Labels: package: design, 🚨 breaking changes

#3292 fix(dgeni): incorrect link generation for design guides
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: tools: dgeni

#3291 feat(design): configure defaults for status themes and add a new function that can be used to customize it
  libs/design/scss/theming/_configure-theme.scss
Labels: package: design, status: awaiting review

#3294 feat(category): combine all metadata effects
  libs/category/state/src/category-state.module.ts
  libs/category/state/src/effects/category-page-metadata.effects.spec.ts
  libs/category/state/src/effects/category-page-metadata.effects.ts
  libs/category/state/src/effects/category-page.effects.spec.ts
  libs/category/state/src/effects/category-page.effects.ts
Labels: package: category, layer: state, status: awaiting merge

#3296 fix(dgeni): API package breadcrumbs missing
  tools/dgeni/src/processors/breadcrumb.ts
Labels: status: awaiting merge, tools: dgeni

#3307 fix(dgeni): syntax highlighting broken for code blocks
  tools/dgeni/src/processors/markdown.ts
Labels: status: awaiting merge, tools: dgeni

#3308 feat(dgeni): instantiate `marked` for each pipeline
  tools/dgeni/src/processors/collect-linkable-symbols.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#3311 feat(dgeni,design): hardcode nav list order with `index.json`
  libs/design/guides/components/form/index.json
  libs/design/guides/components/index.json
  libs/design/guides/foundations/index.json
  libs/design/guides/index.json
  nx.json
  tools/dgeni/package.json
  tools/dgeni/src/processors/absolutify-paths.ts
  tools/dgeni/src/processors/filter-nav-index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/reader/guide-file.reader.ts
  tools/dgeni/src/utils/configurator/output.ts
  tools/dgeni/src/utils/trie-sort.ts
Labels: package: design, status: awaiting merge, tools: dgeni

#3312 fix(daffio): sidebars not loading in SSR
  apps/daffio/src/app/docs/api/api-routing.module.ts
  apps/daffio/src/app/docs/containers/docs-list/docs-list.component.ts
  apps/daffio/src/app/docs/design/containers/docs-list/docs-list.component.ts
  apps/daffio/src/app/docs/design/design-routing.module.ts
  apps/daffio/src/app/docs/design/design.module.ts
  apps/daffio/src/app/docs/design/services/index.resolver.ts
  apps/daffio/src/app/docs/guides/guides-routing.module.ts
  apps/daffio/src/app/docs/index/index.service.spec.ts
  apps/daffio/src/app/docs/index/index.service.ts
  apps/daffio/src/app/docs/packages/containers/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/docs/packages/containers/package-cards/package-cards.component.ts
  apps/daffio/src/app/docs/packages/packages-routing.module.ts
Labels: package: daff.io, status: awaiting merge

#3134 feat(design): create DaffTabsComponent
  apps/design-land/src/app/app.component.ts
  libs/design/scss/theme.scss
  libs/design/tabs/README.md
  libs/design/tabs/examples/ng-package.json
  libs/design/tabs/examples/src/basic-tabs/basic-tabs.component.html
  libs/design/tabs/examples/src/basic-tabs/basic-tabs.component.ts
  libs/design/tabs/examples/src/custom-select-tabs/custom-select-tabs.component.html
  libs/design/tabs/examples/src/custom-select-tabs/custom-select-tabs.component.scss
  libs/design/tabs/examples/src/custom-select-tabs/custom-select-tabs.component.ts
  libs/design/tabs/examples/src/disabled-tabs/disabled-tabs.component.html
  libs/design/tabs/examples/src/disabled-tabs/disabled-tabs.component.ts
  libs/design/tabs/examples/src/index.ts
  libs/design/tabs/examples/src/initially-select-tab/initially-select-tab.component.html
  libs/design/tabs/examples/src/initially-select-tab/initially-select-tab.component.ts
  libs/design/tabs/examples/src/public_api.ts
  libs/design/tabs/ng-package.json
  libs/design/tabs/src/index.ts
  libs/design/tabs/src/public_api.ts
  libs/design/tabs/src/tabs-theme.scss
  libs/design/tabs/src/tabs.ts
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.scss
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.spec.ts
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.ts
  libs/design/tabs/src/tabs/tab-label/tab-label.component.html
  libs/design/tabs/src/tabs/tab-label/tab-label.component.scss
  libs/design/tabs/src/tabs/tab-label/tab-label.component.ts
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.scss
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.spec.ts
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.ts
  libs/design/tabs/src/tabs/tab/tab.component.spec.ts
  libs/design/tabs/src/tabs/tab/tab.component.ts
  libs/design/tabs/src/tabs/tabs.component.html
  libs/design/tabs/src/tabs/tabs.component.scss
  libs/design/tabs/src/tabs/tabs.component.spec.ts
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design, status: awaiting review

#3322 docs(all): add deprecation version annotations
  libs/cart/driver/src/errors/product-not-found.ts
  libs/cart/driver/src/interfaces/cart-payment-service.interface.ts
  libs/cart/driver/src/interfaces/cart-service.interface.ts
  libs/cart/src/models/cart-coupon.ts
  libs/cart/src/models/cart-item.ts
  libs/cart/src/models/cart-order-result.ts
  libs/cart/src/models/cart.ts
  libs/cart/src/models/composite-cart-item.ts
  libs/category/routing/src/resolvers/category-page/category-page.resolver.ts
  libs/category/state/src/actions/category-page-filter.actions.ts
  libs/core/src/address/address.ts
  libs/core/state/src/states/state.enum.ts
  libs/core/testing/src/factories/address.factory.ts
  libs/design/card/src/card.module.ts
  libs/design/container/src/container.module.ts
  libs/design/hero/src/hero.module.ts
  libs/design/image/src/image.module.ts
  libs/design/link-set/src/link-set.module.ts
  libs/design/list/src/list.module.ts
  libs/design/loading-icon/src/loading-icon.module.ts
  libs/design/media-gallery/src/media-gallery.module.ts
  libs/design/modal/src/modal.module.ts
  libs/design/navbar/src/navbar.module.ts
  libs/design/notification/src/notification.module.ts
  libs/design/paginator/src/paginator.module.ts
  libs/design/progress-bar/src/progress-bar.module.ts
  libs/design/sidebar/src/sidebar.module.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/toast/src/toast.module.ts
  libs/design/tree/src/tree.module.ts
  libs/driver/magento/src/errors/network-error.class.ts
  libs/geography/src/models/address.ts
  libs/order/src/models/order-item.ts
  libs/order/src/models/order-payment.ts
  libs/order/state/src/facades/order/order-facade.interface.ts
  libs/order/state/src/selectors/order-entities.selector.ts
  libs/product/routing/src/resolvers/product-page/product-page.resolver.ts
  libs/product/state/src/facades/product/product-facade.interface.ts
  libs/product/state/testing/src/mock-product-facade.ts
  libs/seo/router/src/effects/title.effects.ts
  libs/seo/router/src/providers/title-provider.ts
Labels: docs

#3323 feat(release): add deprecation tasks and ci
  .github/workflows/deprecation.yml
  .github/workflows/release-please.yml
  tools/release/config.ts
  tools/release/deprecation/index.ts
  tools/release/gulpfile.ts
  tools/release/version/leaf-version.ts
Labels: tools: release

#3317 fix(design): fix focus ordering within sidebar viewport
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.html
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.scss
Labels: package: design
