Repository graycoreio/daffodil, pull requests merged in 2024-08, with the labels that each got.

#2949 feat(router): add `DaffRouterActivatedRoute` service
  libs/router/src/activated-route/public_api.ts
  libs/router/src/activated-route/service.spec.ts
  libs/router/src/activated-route/service.ts
  libs/router/src/public_api.ts
Labels: status: awaiting merge, package: router

#2948 build(docs-utils): expose types from built package
  libs/docs-utils/.eslintrc.js
  libs/docs-utils/package.json
Labels: build, package: docs-utils

#2950 feat(dgeni,docs-utils): centralize paths for different doc kinds
  libs/docs-utils/src/kind/enum.ts
  libs/docs-utils/src/kind/path-segment-map.ts
  libs/docs-utils/src/kind/public_api.ts
  libs/docs-utils/src/public_api.ts
  tools/dgeni/src/processors/markdown.ts
Labels: status: awaiting merge, package: docs-utils, tools: dgeni

#2951 feat(router): add generic to router data
  libs/router/src/data/helpers/collect-data.ts
  libs/router/src/data/service/data.service.ts
Labels: status: awaiting merge, package: router

#2952 feat(design): add server safe breakpoint observer token
  libs/design/src/core/breakpoints/noop.service.ts
  libs/design/src/core/breakpoints/provider.ts
  libs/design/src/core/breakpoints/public_api.ts
  libs/design/src/core/public_api.ts
Labels: package: design, status: awaiting merge

#2954 fix(search): SSR gets stuck in resolver when query is empty
  libs/search/routing/src/resolvers/search/search.resolver.spec.ts
  libs/search/routing/src/resolvers/search/search.resolver.ts
Labels: package: search, layer: routing, status: awaiting review

#2956 fix(dgeni): correctly prefix API doc link paths
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#2960 fix(dgeni): api list links include duplicate prefix
  tools/dgeni/src/processors/generateApiList.ts
Labels: status: awaiting merge, tools: dgeni

#2961 feat(dgeni): process API doc descriptions through markdown
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#2962 feat(dgeni,docs-utils): centralize docs path segment
  libs/docs-utils/src/path.ts
  libs/docs-utils/src/public_api.ts
  tools/dgeni/src/processors/generateApiList.ts
  tools/dgeni/src/transforms/config.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/processors/generateGuideList.ts
Labels: status: awaiting merge, package: docs-utils, tools: dgeni

#2964 feat(dgeni): automatically generate API doc links for code span in markdown
  libs/analytics/README.md
  libs/cart/guides/state.md
  libs/payment/README.md
  libs/search/README.md
  tools/dgeni/build.ts
  tools/dgeni/src/processors/collect-linkable-symbols.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
Labels: status: awaiting merge, tools: dgeni

#2966 feat(design): update article code styles
  libs/design/article/src/article-theme.scss
  libs/design/article/src/article/article.component.scss
Labels: package: design

#2967 feat(design): allow `aria-labelledby` to be set by the `DaffModalService`
  libs/design/modal/README.md
  libs/design/modal/examples/src/basic-modal/basic-modal.component.ts
  libs/design/modal/src/modal/modal-config.ts
  libs/design/modal/src/service/modal.service.ts
Labels: package: design

#2969 feat(design)!: rename base background token name
  apps/daffio/src/scss/styles.scss
  apps/design-land/src/app/foundations/variables/variables.component.html
  apps/design-land/src/scss/styles.scss
  libs/design/scss/theming/_theme-css-variables.scss
Labels: package: design, 🚨 breaking changes

#2972 feat(design): clean up link code styles within blockquote in DaffArticleComponent
  libs/design/article/src/article-theme.scss
Labels: package: design

#2977 fix(daffio): unable to resolve assets in dev server
  .env
  apps/daffio/README.md
  apps/daffio/src/app/docs/services/docs-path-server.ts
  package-lock.json
  package.json
Labels: package: daff.io, status: awaiting merge

#2976 fix(daffio): trailing slash missing from docs path
  apps/daffio/src/app/core/assets/fetch/browser.service.spec.ts
  apps/daffio/src/app/core/assets/fetch/browser.service.ts
  apps/daffio/src/app/docs/services/docs.service.spec.ts
  apps/daffio/src/app/docs/services/docs.service.ts
Labels: package: daff.io, status: awaiting merge

#2974 docs(analytics): clean up formatting of existing analytics documentation
  libs/analytics/README.md
  libs/analytics/guides/configuration.md
Labels: package: analytics

#2983 refactor(daffio): rename open menu button
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
Labels: package: daff.io, status: awaiting merge

#2984 feat(daffio): add `DaffioRoute` type
  apps/daffio/src/app/core/router/route.type.ts
Labels: package: daff.io, status: awaiting merge

#2994 docs(analytics): clean up verbiage according to documentation guidelines
  libs/analytics/README.md
  libs/analytics/guides/configuration.md
Labels: package: analytics

#2995 docs(cart): clean up verbiage according to documentation guidelines
  libs/cart/README.md
  libs/cart/guides/drivers.md
  libs/cart/guides/extension.md
  libs/cart/guides/state.md
  libs/cart/guides/testing.md
Labels: package: cart

#2982 docs(authorizenet): clean up formatting of existing authorizenet documentation
  libs/authorizenet/README.md
Labels: package: authorizenet

#2990 docs(contact): clean up formatting and verbiage of existing documentation
  libs/contact/README.md
  libs/contact/guides/drivers.md
  libs/contact/guides/installation.md
Labels: package: contact

#2996 docs(content): clean up formatting and verbiage of existing documentation
  libs/content/README.md
  libs/content/guides/drivers.md
Labels: package: content

#2997 docs(core): clean up formatting and verbiage of existing documentation
  libs/core/README.md
  libs/core/guides/storage.md
Labels: package: core

#2998 docs(category): clean up formatting and verbiage of existing documentation
  libs/category/README.md
  libs/category/guides/filtering.md
Labels: package: category

#3000 docs(geography): clean up formatting and verbiage of existing documentation
  libs/geography/README.md
  libs/geography/guides/installation.md
Labels: package: geography

#3001 docs(external-router): clean up formatting and verbiage of existing documentation
  libs/external-router/README.md
  libs/external-router/guides/configuration.md
  libs/external-router/guides/drivers.md
  libs/external-router/guides/installation.md
Labels: package: external-router

#3003 docs(navigation): clean up formatting and verbiage of existing documentation
  libs/navigation/README.md
Labels: package: navigation

#3004 docs(auth): clean up formatting and verbiage of existing documentation
  libs/auth/README.md
Labels: package: auth

#3006 docs(analytics): add installation docs and move usage docs within guides folder
  libs/analytics/README.md
  libs/analytics/guides/usage.md
Labels: package: analytics

#3008 docs(cart): clean up verbiage and remove dependencies from installation code
  libs/cart/README.md
  libs/cart/guides/drivers.md
  libs/cart/guides/extensions.md
  libs/cart/guides/state.md
  libs/cart/guides/testing.md
  libs/cart/guides/usage.md
Labels: package: cart

#3016 test(design): add base tsconfig
  libs/design/tsconfig.json
  libs/design/tsconfig.spec.json
Labels: package: design, status: awaiting merge

#3015 feat(design): add sidebar mode helpers
  libs/design/sidebar/src/helper/is-docked-mode.spec.ts
  libs/design/sidebar/src/helper/is-docked-mode.ts
  libs/design/sidebar/src/helper/is-floating-mode.spec.ts
  libs/design/sidebar/src/helper/is-floating-mode.ts
  libs/design/sidebar/src/public_api.ts
Labels: package: design, status: awaiting merge

#2991 feat(dgeni,daffio): render package API doc exports
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/sidebar/components/docs-sidebar-content/docs-sidebar-content.component.ts
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section-theme.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.html
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.spec.ts
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.ts
  apps/daffio/src/app/docs/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/docs/api/components/api-list/api-list.component.html
  apps/daffio/src/app/docs/api/components/api-list/api-list.component.scss
  apps/daffio/src/app/docs/api/components/api-list/api-list.component.spec.ts
  apps/daffio/src/app/docs/api/components/api-list/api-list.module.ts
  apps/daffio/src/app/docs/api/pages/api-list-page/api-list-page.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.spec.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.module.ts
  apps/daffio/src/app/docs/models/doc-list.ts
  apps/daffio/src/scss/component-themes.scss
  tools/dgeni/src/templates/api/package.template.html
  tools/dgeni/src/templates/api/package.template.json
  tools/dgeni/src/transforms/daffodil-api-package/helpers/generateApiList.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
Labels: package: daff.io, status: awaiting review, tools: dgeni

#3023 feat(design): update doc viewer menu button colors
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
Labels: package: daff.io

#3024 fix(design): sidebar appears expanded before animation completes
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.scss
Labels: package: design, status: awaiting merge

#3013 feat(daffio): render nav links from route data
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/content/home/home.module.ts
  apps/daffio/src/app/content/home/view/home-view.module.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.html
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.scss
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.spec.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.component.ts
  apps/daffio/src/app/core/header/containers/docs-header/docs-header.module.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.component.ts
  apps/daffio/src/app/core/header/containers/marketing-header/marketing-header.module.ts
  apps/daffio/src/app/core/nav/header/header.component.html
  apps/daffio/src/app/core/nav/header/header.component.scss
  apps/daffio/src/app/core/nav/header/header.component.spec.ts
  apps/daffio/src/app/core/nav/header/header.component.ts
  apps/daffio/src/app/core/nav/link/route.type.ts
  apps/daffio/src/app/core/nav/link/type.ts
  apps/daffio/src/app/core/nav/sidebar-body/component.html
  apps/daffio/src/app/core/nav/sidebar-body/component.scss
  apps/daffio/src/app/core/nav/sidebar-body/component.ts
  apps/daffio/src/app/core/router/route.type.ts
  apps/daffio/src/app/docs/docs-routing.module.ts
Labels: package: daff.io, status: awaiting merge

#3014 feat(design): add sidebar service
  libs/design/sidebar/src/public_api.ts
  libs/design/sidebar/src/service/registration.type.ts
  libs/design/sidebar/src/service/sidebar.service.spec.ts
  libs/design/sidebar/src/service/sidebar.service.ts
Labels: package: design, status: awaiting review

#3026 feat(daffio): add sidebar registrations
  apps/daffio/src/app/core/nav/sidebar.provider.ts
  apps/daffio/src/app/docs/containers/docs-list/sidebar.provider.ts
Labels: package: daff.io, status: awaiting merge

#3025 feat(daffio): add `DaffioRouteWithSidebars`
  apps/daffio/src/app/core/router/route.type.ts
  apps/daffio/src/app/core/sidebar/models/route.type.ts
Labels: package: daff.io, status: awaiting merge

#3029 feat(daffio): add sidebar service
  apps/daffio/src/app/core/sidebar/services/sidebar.service.spec.ts
  apps/daffio/src/app/core/sidebar/services/sidebar.service.ts
Labels: package: daff.io, status: awaiting merge

#2993 fix(dgeni): API packages are not grouped in nav list
  tools/dgeni/src/transforms/daffodil-api-package/helpers/generateApiList.ts
Labels: status: awaiting merge, tools: dgeni

#3031 feat(dgeni,daffio): render API package descriptions
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section-theme.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.ts
  apps/daffio/src/app/docs/api/models/api-doc.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
  tools/dgeni/src/processors/packages.ts
  tools/dgeni/src/transforms/daffodil-api-package/helpers/generateApiList.ts
Labels: package: daff.io, status: awaiting review, tools: dgeni

#3034 refactor(core): specify function params in single token factory
  libs/core/src/injection-tokens/single.factory.ts
Labels: docs, package: core, status: awaiting merge

#3036 fix(dgeni): wrong package exports name
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
Labels: status: awaiting merge, tools: dgeni

#3040 build(dgeni): log runtime errors
  tools/dgeni/build.ts
Labels: status: awaiting merge, tools: dgeni

#3038 feat(dgeni): add support for extra fields in JSON
  tools/dgeni/src/processors/convertToJson.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/processors/convertToJson.ts
Labels: status: awaiting merge, tools: dgeni

#3037 feat(dgeni): add doc kind to document
  tools/dgeni/src/processors/add-kind.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/utils/filterable-processor.type.ts
Labels: status: awaiting merge, tools: dgeni

#3045 feat(analytics-provider-data-layer,core)!: support async data layer trackers
  libs/analytics-provider-data-layer/package.json
  libs/analytics-provider-data-layer/src/lib/provider-data-layer-tracker.ts
  libs/core/src/async/maybe.type.ts
  libs/core/src/public_api.ts
  libs/core/src/utils/observe.ts
Labels: status: awaiting merge
