Repository graycoreio/daffodil, pull requests merged in 2024-12, with the labels that each got.

#3352 fix(router): old route data is replayed for new routes
  libs/router/src/activated-route/service.spec.ts
  libs/router/src/activated-route/service.ts
Labels: layer: routing, status: awaiting merge, package: router

#3355 fix(dgeni): breadcrumbs have relative paths
  tools/dgeni/src/processors/breadcrumb.ts
Labels: status: awaiting merge, tools: dgeni

#2910 feat(design): create `DaffSelectable` host directive
  libs/design/media-gallery/src/media-gallery-theme.scss
  libs/design/media-gallery/src/media-renderer/media-renderer.component.spec.ts
  libs/design/media-gallery/src/registry/media-gallery.registry.spec.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.spec.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.ts
  libs/design/src/core/public_api.ts
  libs/design/src/core/selectable/public_api.ts
  libs/design/src/core/selectable/selectable.directive.spec.ts
  libs/design/src/core/selectable/selectable.directive.ts
  libs/design/src/core/selectable/selectable.ts
  libs/design/tabs/src/tabs-theme.scss
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.spec.ts
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.ts
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.spec.ts
Labels: package: design, status: awaiting review

#3364 style(daffio): enforce stylelint configurations
  .stylelintrc
  apps/daffio/.eslintrc.js
  apps/daffio/package.json
  apps/daffio/src/app/app.component.scss
  apps/daffio/src/app/app.component.ts
  apps/daffio/src/app/content/home/components/home-callout-platforms/home-callout-platforms.component.scss
  apps/daffio/src/app/content/home/components/home-callout-pwa/home-callout-pwa.component.scss
  apps/daffio/src/app/content/home/components/home-hero/home-hero.component.scss
  apps/daffio/src/app/content/home/view/home-view.component.scss
  apps/daffio/src/app/content/not-found/component/not-found.component.scss
  apps/daffio/src/app/content/support/component/support.component.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison-theme.scss
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.html
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-examples/why-pwa-examples.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-hero/why-pwa-hero.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-solution/why-pwa-solution.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-stats/why-pwa-stats.component.scss
  apps/daffio/src/app/core/footer/footer/footer-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.scss
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/core/nav/header/header.component.scss
  apps/daffio/src/app/core/nav/header/header.component.ts
  apps/daffio/src/app/core/nav/sidebar-body/component.scss
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer-theme.scss
  apps/daffio/src/app/core/sidebar/components/sidebar-footer/sidebar-footer.component.scss
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.scss
  apps/daffio/src/app/core/template/template.component.scss
  apps/daffio/src/app/core/template/template.component.ts
  apps/daffio/src/app/design/device/iphone/iphone.component.html
  apps/daffio/src/app/design/device/iphone/iphone.component.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section-theme.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.scss
  apps/daffio/src/app/docs/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/docs/api/components/api-package/api-package-theme.scss
  apps/daffio/src/app/docs/api/pages/api-list-page/api-list-page.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents-theme.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
  apps/daffio/src/app/docs/design/pages/components-overview/component-overview.component.scss
  apps/daffio/src/app/docs/design/pages/overview/overview.component.scss
  apps/daffio/src/app/docs/packages/components/package-cards/package-cards.component.scss
  apps/daffio/src/app/newsletter/newsletter-theme.scss
  apps/daffio/src/app/newsletter/newsletter.component.html
  apps/daffio/src/app/newsletter/newsletter.component.scss
  apps/daffio/src/scss/styles.scss
  apps/daffio/src/scss/type-descriptors/_mixins.scss
Labels: package: daff.io

#3379 feat(design): tab style updates
  libs/design/tabs/examples/src/basic-tabs/basic-tabs.component.html
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.scss
  libs/design/tabs/src/tabs/tabs.component.scss
Labels: package: design

#3387 feat(design): remove DaffArticleEncapsulatedDirective from tabs component
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design
