Repository graycoreio/daffodil, pull requests merged in 2025-06, with the labels that each got.

#3749 feat(design): update form field label implementation and add accessibility features
  libs/design/input/examples/src/input-disabled/input-disabled.component.html
  libs/design/input/examples/src/input-error/input-error.component.html
  libs/design/input/examples/src/input-hint-and-error/input-hint-and-error.component.html
  libs/design/input/examples/src/input-hint/input-hint.component.html
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.component.html
  libs/design/input/src/input.component.spec.ts
  libs/design/input/src/input.component.ts
  libs/design/quantity-field/src/quantity-field.component.spec.ts
  libs/design/quantity-field/src/quantity-input/quantity-input.component.spec.ts
  libs/design/src/atoms/form/error-message/error-message.component.ts
  libs/design/src/atoms/form/form-field/README.md
  libs/design/src/atoms/form/form-field/form-field-control.ts
  libs/design/src/atoms/form/form-field/form-field.ts
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.html
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/src/atoms/form/form-field/label/label.directive.spec.ts
  libs/design/src/atoms/form/form-field/label/label.directive.ts
  libs/design/src/atoms/form/form-field/public_api.ts
  libs/design/src/atoms/form/form-field/specs/usage.spec.ts
  libs/design/src/atoms/form/form-field/specs/without-control.spec.ts
  libs/design/src/atoms/form/form-label/form-label.directive.ts
  libs/design/src/atoms/form/hint/hint.component.ts
Labels: package: design, status: pending review

#3754 feat(design)!: remove unnecessary `DaffSkeletonable` interface and update skeleton screen UI
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.scss
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/core/skeletonable/public_api.ts
  libs/design/src/core/skeletonable/skeletonable.directive.spec.ts
  libs/design/src/core/skeletonable/skeletonable.directive.ts
  libs/design/src/core/skeletonable/skeletonable.ts
Labels: package: design, 🚨 breaking changes

#3755 fix(design): fix sass breaking changes in design components
  libs/design/article/src/article/article.component.scss
  libs/design/media-gallery/src/media-gallery/media-gallery.component.scss
  libs/design/scss/theming/contrast/luminance/luminance.scss
Labels: package: design

#3757 feat(daffio): update subfooter button colors
  apps/daffio/src/app/core/footer/sub-footer/sub-footer.component.html
Labels: package: daff.io

#3759 feat(product-composite): add extension points for magento item and option
  libs/product-composite/driver/magento/src/composite-product-driver.module.ts
  libs/product-composite/driver/magento/src/fragments/bundled-product.ts
  libs/product-composite/driver/magento/src/injection-tokens/fragments/item.token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/fragments/item.token.ts
  libs/product-composite/driver/magento/src/injection-tokens/fragments/option.token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/fragments/option.token.ts
  libs/product-composite/driver/magento/src/injection-tokens/public_api.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/item/extra.token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/item/extra.token.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/item/token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/item/token.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/option/extra.token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/option/extra.token.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/option/token.spec.ts
  libs/product-composite/driver/magento/src/injection-tokens/transforms/option/token.ts
  libs/product-composite/driver/magento/src/interfaces/item-extra-transform.type.ts
  libs/product-composite/driver/magento/src/interfaces/item-transform.type.ts
  libs/product-composite/driver/magento/src/interfaces/option-extra-transform.type.ts
  libs/product-composite/driver/magento/src/interfaces/option-transform.type.ts
  libs/product-composite/driver/magento/src/interfaces/public_api.ts
  libs/product-composite/driver/magento/src/public_api.ts
  libs/product-composite/driver/magento/src/transforms/bundled-product-transformers.ts
  libs/product-composite/driver/magento/src/transforms/item-transformer.service.ts
  libs/product-composite/driver/magento/src/transforms/option.ts
  libs/product-composite/driver/magento/src/transforms/product-transformer.service.spec.ts
  libs/product-composite/driver/magento/src/transforms/product-transformer.service.ts
  libs/product-composite/driver/magento/src/transforms/public_api.ts
  libs/product-composite/driver/magento/src/transforms/spec-data/daff-composite-product.json
  libs/product-composite/driver/magento/src/transforms/spec-data/magento-bundled-product.json
  libs/product-composite/driver/magento/testing/src/factories/bundle/bundle.factory.ts
Labels: package: product-composite, platform: magento, layer: driver, status: pending merge

#3762 feat(daffio): update component themes to use new theming functions
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison-theme.scss
  apps/daffio/src/app/core/footer/docs-footer/docs-footer-theme.scss
  apps/daffio/src/app/core/footer/footer/footer-theme.scss
  apps/daffio/src/app/core/footer/simple-footer/simple-footer-theme.scss
  apps/daffio/src/app/core/footer/sub-footer/sub-footer-theme.scss
  apps/daffio/src/app/core/header/components/header/header-theme.scss
  apps/daffio/src/app/core/sidebar/components/docs/footer/footer-theme.scss
  apps/daffio/src/app/core/sidebar/components/marketing/footer/footer-theme.scss
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label-theme.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section-theme.scss
  apps/daffio/src/app/docs/api/components/api-list/api-list-theme.scss
  apps/daffio/src/app/docs/api/components/api-package/api-package-theme.scss
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content-theme.scss
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content-theme.scss
  apps/daffio/src/app/docs/components/member-heading/member-heading-theme.scss
  apps/daffio/src/app/docs/components/scroll-to-top/scroll-to-top-theme.scss
  apps/daffio/src/app/docs/components/table-of-contents/link/link-theme.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents-theme.scss
  apps/daffio/src/app/newsletter/newsletter-theme.scss
Labels: package: daff.io

#3768 ci: remove PR preview workflow
  .github/workflows/deploy_preview.yml
Labels: status: pending review

#3769 feat(design)!: remove loading property from the button components
  libs/design/button/README.md
  libs/design/button/examples/src/basic-button/basic-button.component.html
  libs/design/button/examples/src/flat-button/flat-button.component.html
  libs/design/button/examples/src/raised-button/raised-button.component.html
  libs/design/button/examples/src/stroked-button/stroked-button.component.html
  libs/design/button/examples/src/underline-button/underline-button.component.html
  libs/design/button/src/button/basic/button.component.scss
  libs/design/button/src/button/basic/button.component.ts
  libs/design/button/src/button/button-base.component.html
  libs/design/button/src/button/button-base.directive.spec.ts
  libs/design/button/src/button/button-base.directive.ts
  libs/design/button/src/button/button-base.scss
  libs/design/button/src/button/flat/flat.component.scss
  libs/design/button/src/button/flat/flat.component.ts
  libs/design/button/src/button/icon/icon.component.scss
  libs/design/button/src/button/icon/icon.component.ts
  libs/design/button/src/button/raised/raised.component.ts
  libs/design/button/src/button/stroked/stroked.component.scss
  libs/design/button/src/button/stroked/stroked.component.ts
  libs/design/button/src/button/underline/underline.component.scss
  libs/design/button/src/button/underline/underline.component.ts
Labels: package: design, 🚨 breaking changes

#3774 feat(design): remove extra text-truncate style in button
  libs/design/button/src/button/button-base.scss
Labels: package: design

#3780 feat(design): add accessibility considerations to `DaffTextareaComponent`
  libs/design/src/atoms/form/textarea/textarea.component.spec.ts
  libs/design/src/atoms/form/textarea/textarea.component.ts
Labels: package: design

#3773 feat(design): update form field UI to support actions
  apps/design-land/src/app/app.component.ts
  libs/design/form-field/examples/ng-package.json
  libs/design/form-field/examples/src/examples.ts
  libs/design/form-field/examples/src/form-field-appearances/form-field-appearances.component.html
  libs/design/form-field/examples/src/form-field-appearances/form-field-appearances.component.scss
  libs/design/form-field/examples/src/form-field-appearances/form-field-appearances.component.ts
  libs/design/form-field/examples/src/form-field-with-action/form-field-with-action.component.html
  libs/design/form-field/examples/src/form-field-with-action/form-field-with-action.component.scss
  libs/design/form-field/examples/src/form-field-with-action/form-field-with-action.component.ts
  libs/design/form-field/examples/src/form-field-with-prefix/form-field-with-prefix.component.html
  libs/design/form-field/examples/src/form-field-with-prefix/form-field-with-prefix.component.scss
  libs/design/form-field/examples/src/form-field-with-prefix/form-field-with-prefix.component.ts
  libs/design/form-field/examples/src/form-field-with-suffix/form-field-with-suffix.component.html
  libs/design/form-field/examples/src/form-field-with-suffix/form-field-with-suffix.component.scss
  libs/design/form-field/examples/src/form-field-with-suffix/form-field-with-suffix.component.ts
  libs/design/form-field/examples/src/index.ts
  libs/design/form-field/examples/src/public_api.ts
  libs/design/src/atoms/form/form-field/README.md
  libs/design/src/atoms/form/form-field/action/action.directive.spec.ts
  libs/design/src/atoms/form/form-field/action/action.directive.ts
  libs/design/src/atoms/form/form-field/form-field.ts
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.html
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/src/atoms/form/form-field/public_api.ts
  libs/design/src/atoms/form/form-field/specs/usage.spec.ts
Labels: package: design, 🚨 breaking changes, status: pending review

#3787 feat(design): add info as a status option in DaffNotificationComponent
  libs/design/notification/examples/src/notification-status/notification-status.component.html
  libs/design/notification/examples/src/notification-status/notification-status.component.ts
  libs/design/notification/src/notification-theme.scss
  libs/design/notification/src/notification/notification.component.spec.ts
Labels: package: design

#3788 feat(design): add `defaultStatus` as a property in DaffStatusableDirective
  libs/design/src/core/statusable/specs/default.directive.spec.ts
  libs/design/src/core/statusable/specs/usage.directive.spec.ts
  libs/design/src/core/statusable/statusable.directive.ts
Labels: package: design

#3789 feat(design)!: shard DaffTextareaComponent
  libs/design/src/atoms/form/form-field/README.md
  libs/design/src/public_api.ts
  libs/design/textarea/README.md
  libs/design/textarea/examples/ng-package.json
  libs/design/textarea/examples/src/basic-textarea/basic-textarea.component.ts
  libs/design/textarea/examples/src/textarea-disabled/textarea-disabled.component.ts
  libs/design/textarea/examples/src/textarea-error/textarea-error.component.ts
  libs/design/textarea/ng-package.json
  libs/design/textarea/src/index.ts
  libs/design/textarea/src/public_api.ts
  libs/design/textarea/src/textarea.component.scss
  libs/design/textarea/src/textarea.component.spec.ts
  libs/design/textarea/src/textarea.component.ts
Labels: package: design, 🚨 breaking changes

#3798 feat(design): update modal styles so a custom width can be set on the attached modal content component
  libs/design/modal/examples/src/basic-modal/modal-content.component.ts
  libs/design/modal/src/modal/modal.component.scss
  libs/design/modal/src/modal/modal.component.ts
Labels: package: design

#3802 build(daffio): disable prerendering for docs routes
  angular.json
  apps/daffio/src/app/docs/routing/server-routes.ts
Labels: package: daff.io, status: pending merge
