Repository graycoreio/daffodil, pull requests merged in 2025-03, with the labels that each got.

#3527 fix(dgeni): linking API member descriptions that aren't codespans
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/templates/api/member.template.html
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: tools: dgeni

#3532 feat(daffio): truncate table of content links
  apps/daffio/src/app/docs/components/table-of-contents/link/link-theme.scss
  apps/daffio/src/app/docs/components/table-of-contents/link/link.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
Labels: package: daff.io

#3533 fix(dgeni): package is skipped during breadcrumb generation
  tools/dgeni/src/processors/breadcrumb.ts
Labels: tools: dgeni

#3535 fix(dgeni): API docs include private members
  tools/dgeni/src/processors/filterOutPrivateProperties.ts
Labels: tools: dgeni

#3537 fix(design,dgeni): link tags don't work in child API descriptions
  libs/design/toast/src/interfaces/toast-action.ts
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
  tools/dgeni/src/processors/long-description.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: tools: dgeni

#3538 fix(dgeni): interface property heading tags don't respect child mode
  tools/dgeni/src/templates/api/interface.template.html
Labels: tools: dgeni

#3536 feat(design): clean up article styles
  libs/design/article/src/article-theme.scss
  libs/design/article/src/article/article.component.scss
Labels: package: design

#3541 docs(design): update accordion docs
  libs/design/accordion/README.md
  libs/design/accordion/src/accordion.ts
  libs/design/accordion/src/accordion/accordion-item-title/accordion-item-title.directive.ts
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.ts
  libs/design/accordion/src/accordion/accordion/accordion.component.ts
Labels: package: design

#3540 fix(design): tab consumers not notified of tab reset on location change
  libs/design/tabs/src/tabs/tabs.component.spec.ts
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design

#3547 feat(dgeni): ensure unique slug in heading IDs
  tools/dgeni/src/processors/markdown.ts
Labels: tools: dgeni

#3548 fix(design): tabs reset on same page navigation
  libs/design/tabs/src/tabs/tabs.component.spec.ts
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design

#3542 feat(dgeni): add an import example to API docs
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/import-example.ts
Labels: status: awaiting review, tools: dgeni

#3551 fix(dgeni): non-alphabetic characters don't get linked
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
Labels: status: awaiting review, tools: dgeni

#3556 docs(design): update toast docs
  libs/design/toast/README.md
  libs/design/toast/examples/src/dismissible-toast/dismissible-toast.component.html
  libs/design/toast/examples/src/dismissible-toast/dismissible-toast.component.ts
  libs/design/toast/examples/src/public_api.ts
  libs/design/toast/examples/src/toast-status/toast-status.component.ts
  libs/design/toast/src/interfaces/toast-action.ts
  libs/design/toast/src/options/daff-toast-options.ts
  libs/design/toast/src/public_api.ts
  libs/design/toast/src/service/position.service.ts
  libs/design/toast/src/service/toast.service.ts
  libs/design/toast/src/toast-actions/toast-actions.directive.ts
  libs/design/toast/src/toast-message/toast-message.directive.ts
  libs/design/toast/src/toast-title/toast-title.directive.ts
  libs/design/toast/src/toast.module.ts
  libs/design/toast/src/toast/toast-config.ts
  libs/design/toast/src/toast/toast-provider.ts
  libs/design/toast/src/toast/toast-template.component.ts
  libs/design/toast/src/toast/toast.component.ts
Labels: package: design

#3526 docs(design): update theming docs to include regular and theme switch usage
  libs/design/guides/foundations/color.md
  libs/design/guides/getting-started.md
  libs/design/guides/theming.md
  libs/design/guides/theming/index.json
  libs/design/guides/theming/setting-up.md
Labels: package: design, status: awaiting review

#3523 feat(design)!: update breadcrumb active state implementation
  apps/daffio/src/app/docs/components/doc-article/component.html
  libs/design/breadcrumb/README.md
  libs/design/breadcrumb/examples/src/basic-breadcrumb/basic-breadcrumb.component.html
  libs/design/breadcrumb/examples/src/iterated-breadcrumb/iterated-breadcrumb.component.html
  libs/design/breadcrumb/examples/src/iterated-breadcrumb/iterated-breadcrumb.component.ts
  libs/design/breadcrumb/examples/src/public_api.ts
  libs/design/breadcrumb/src/breadcrumb-item/breadcrumb-item.directive.spec.ts
  libs/design/breadcrumb/src/breadcrumb-item/breadcrumb-item.directive.ts
  libs/design/breadcrumb/src/breadcrumb/breadcrumb.component.ts
  libs/design/breadcrumb/src/public_api.ts
Labels: package: design, 🚨 breaking changes, status: awaiting review

#3567 feat(design): refine `onUrlChange` behavior for tabs component
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design, status: awaiting merge

#3568 docs(design): update button docs
  libs/design/button/README.md
  libs/design/button/src/button.ts
  libs/design/button/src/button/basic/button.component.ts
  libs/design/button/src/button/button-sizable.directive.ts
  libs/design/button/src/button/flat/flat.component.ts
  libs/design/button/src/button/icon/icon.component.ts
  libs/design/button/src/button/raised/raised.component.ts
  libs/design/button/src/button/stroked/stroked.component.ts
  libs/design/button/src/button/underline/underline.component.ts
Labels: package: design

#3564 feat(design): rename `daff-theme` mixin to `daff-component-themes`
  apps/daffio/src/scss/styles.scss
  apps/demo/src/scss/styles.scss
  apps/design-land/src/scss/styles.scss
  libs/design/guides/getting-started.md
  libs/design/guides/theming.md
  libs/design/scss/theme.scss
  libs/design/scss/theming/prebuilt/internal-theme.scss
Labels: package: design

#3570 feat(daffio): rename `DaffioDocArticleComponent` to `DaffioDocViewerComponent`
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.html
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.ts
  apps/daffio/src/app/docs/components/default-content/default-content.component.html
  apps/daffio/src/app/docs/components/default-content/default-content.component.ts
  apps/daffio/src/app/docs/components/doc-article/module.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.scss
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.spec.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.ts
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.html
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.spec.ts
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.ts
  apps/daffio/src/app/docs/docs.module.ts
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.component.html
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.component.ts
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.component.html
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.component.ts
Labels: package: daff.io

#3571 feat(design): update button themes to support light and dark mode
  libs/design/button/README.md
  libs/design/button/examples/src/statusable-button/statusable-button.component.html
  libs/design/button/src/button/basic/button-theme.scss
  libs/design/button/src/button/button-base.scss
  libs/design/button/src/button/flat/flat-theme.scss
  libs/design/button/src/button/raised/raised-theme.scss
  libs/design/button/src/button/stroked/stroked-theme.scss
  libs/design/button/src/button/underline/underline-theme.scss
Labels: package: design

#3576 feat(demo): add shopify configuration for demo
  angular.json
  apps/demo/src/app/drivers/shopify.module.ts
Labels: feat

#3577 feat(design): deprecate `white` and `black` options in `DaffPalette` in favor of `light` and `dark`
  libs/design/src/core/colorable/colorable.directive.spec.ts
  libs/design/src/core/colorable/colorable.directive.ts
  libs/design/src/core/colorable/colorable.ts
Labels: package: design
