Repository graycoreio/daffodil, pull requests merged in 2025-02, with the labels that each got.

#3377 feat(daffio): render design component guide and API docs with tabs
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.html
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.spec.ts
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.ts
  apps/daffio/src/app/docs/design/components/component-content/component-content.provider.ts
  apps/daffio/src/app/docs/design/design.module.ts
  libs/docs-utils/src/doc/package-guide.type.ts
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/transforms/daffodil-guides-package/helpers/generateGuideList.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: package: daff.io, tools: dgeni

#3477 docs(design): update link formatting in notification docs
  libs/design/notification/README.md
Labels: package: design

#3474 feat(design)!: allow individual card type imports
  libs/design/card/README.md
  libs/design/card/examples/src/linkable-card/linkable-card.component.ts
  libs/design/card/examples/src/raised-card/raised-card.component.ts
  libs/design/card/examples/src/stroked-card/stroked-card.component.ts
  libs/design/card/src/card-base-theme.scss
  libs/design/card/src/card-base.component.html
  libs/design/card/src/card-base.directive.spec.ts
  libs/design/card/src/card-base.directive.ts
  libs/design/card/src/card-base.scss
  libs/design/card/src/card-theme-variants/basic-card.scss
  libs/design/card/src/card-theme-variants/linkable-card.scss
  libs/design/card/src/card-theme-variants/stroked-card.scss
  libs/design/card/src/card-theme.scss
  libs/design/card/src/card.module.ts
  libs/design/card/src/card.ts
  libs/design/card/src/card/basic/basic.component.scss
  libs/design/card/src/card/basic/basic.component.spec.ts
  libs/design/card/src/card/basic/basic.component.ts
  libs/design/card/src/card/card.component.ts
  libs/design/card/src/card/raised/raised-theme.scss
  libs/design/card/src/card/raised/raised.component.scss
  libs/design/card/src/card/raised/raised.component.spec.ts
  libs/design/card/src/card/raised/raised.component.ts
  libs/design/card/src/card/stroked/stroked-theme.scss
  libs/design/card/src/card/stroked/stroked.component.scss
  libs/design/card/src/card/stroked/stroked.component.spec.ts
  libs/design/card/src/card/stroked/stroked.component.ts
  libs/design/card/src/public_api.ts
  libs/design/scss/theme.scss
Labels: package: design, status: awaiting review

#3481 refactor(daffio): move mixins with nested declarations to end of class declarations
  apps/daffio/src/app/docs/api/pages/api-list-page/api-list-page.component.scss
  apps/daffio/src/app/docs/design/pages/overview/overview.component.scss
Labels: package: daff.io

#3484 feat(design, daffio): add sidebar viewport footer content slot
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.html
  apps/daffio/src/app/core/template/template.component.html
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.html
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.scss
Labels: package: daff.io, package: design

#3495 feat(tools-dgeni): clean up API templates
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.html
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/templates/api/class.template.html
  tools/dgeni/src/templates/api/member.template.html
Labels: tools: dgeni

#3505 docs(design): update component usage example in markdown files to include import path
  libs/design/accordion/README.md
  libs/design/article/README.md
  libs/design/article/src/article.ts
  libs/design/breadcrumb/README.md
  libs/design/button/README.md
  libs/design/callout/README.md
  libs/design/card/README.md
  libs/design/container/README.md
  libs/design/hero/README.md
  libs/design/image/README.md
  libs/design/link-set/README.md
  libs/design/list/README.md
  libs/design/loading-icon/README.md
  libs/design/media-gallery/README.md
  libs/design/menu/README.md
  libs/design/modal/README.md
  libs/design/navbar/README.md
  libs/design/notification/README.md
  libs/design/paginator/README.md
  libs/design/progress-bar/README.md
  libs/design/sidebar/README.md
  libs/design/switch/README.md
  libs/design/tabs/README.md
  libs/design/text-snippet/README.md
  libs/design/tree/README.md
Labels: package: design

#3506 feat(design)!: remove DaffPrefixSuffixModule import from tabs and update docs
  libs/design/tabs/README.md
  libs/design/tabs/examples/src/basic-tabs/basic-tabs.component.ts
  libs/design/tabs/examples/src/custom-select-tabs/custom-select-tabs.component.ts
  libs/design/tabs/examples/src/disabled-tabs/disabled-tabs.component.ts
  libs/design/tabs/examples/src/initially-select-tab/initially-select-tab.component.ts
  libs/design/tabs/examples/src/link-tabs/link-tabs.component.html
  libs/design/tabs/examples/src/link-tabs/link-tabs.component.ts
  libs/design/tabs/src/tabs.ts
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.ts
  libs/design/tabs/src/tabs/tab-label/tab-label.component.ts
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.ts
  libs/design/tabs/src/tabs/tab/tab.component.ts
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design, 🚨 breaking changes

#3509 feat(shop): add scroll to top button to docs
  apps/daffio/src/app/docs/components/scroll-to-top/scroll-to-top-theme.scss
  apps/daffio/src/app/docs/components/scroll-to-top/scroll-to-top.component.html
  apps/daffio/src/app/docs/components/scroll-to-top/scroll-to-top.component.scss
  apps/daffio/src/app/docs/components/scroll-to-top/scroll-to-top.component.ts
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.html
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.ts
  apps/daffio/src/scss/component-themes.scss
Labels: package: daff.io

#3510 feat(daffio): reorder docs nav
  apps/daffio/src/app/docs/docs-routing.module.ts
Labels: package: daff.io

#3459 feat(daffio): add sidebar section strategy support
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.spec.ts
  apps/daffio/src/app/core/sidebar/containers/sidebar-viewport/sidebar-viewport.component.ts
  apps/daffio/src/app/core/sidebar/interfaces/section-registration.interface.ts
  apps/daffio/src/app/core/sidebar/interfaces/section-strategies.ts
  apps/daffio/src/app/core/sidebar/interfaces/section-visibility-strategy.type.ts
  apps/daffio/src/app/core/sidebar/models/route.type.ts
  apps/daffio/src/app/core/sidebar/registration/type.ts
  apps/daffio/src/app/docs/api/sidebar/provider.ts
  apps/daffio/src/app/docs/containers/docs-list/sidebar.provider.ts
  apps/daffio/src/app/docs/design/containers/docs-list/sidebar.provider.ts
Labels: package: daff.io

#3522 feat(daffio): clean up mobile menu button UI
  apps/daffio/src/app/docs/components/doc-article/component.scss
Labels: package: daff.io

#3516 feat(daffio): create docs footer
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/footer/docs-footer/docs-footer-theme.scss
  apps/daffio/src/app/core/footer/docs-footer/docs-footer.component.html
  apps/daffio/src/app/core/footer/docs-footer/docs-footer.component.scss
  apps/daffio/src/app/core/footer/docs-footer/docs-footer.component.spec.ts
  apps/daffio/src/app/core/footer/docs-footer/docs-footer.component.ts
  apps/daffio/src/app/docs/docs-routing.module.ts
  apps/daffio/src/scss/component-themes.scss
  libs/branding/src/lib/copyright/copyright.component.html
Labels: package: daff.io
