Repository graycoreio/daffodil, pull requests merged in 2025-10, with the labels that each got.

#4049 build: remove `log` from eslint `no-console` allow rule
  apps/daffio/server/server.ts
  apps/demo/src/app/drivers/magento/apollo-options.factory.ts
  apps/demo/src/app/thank-you/components/print-order-summary/print-order-summary.component.ts
  apps/demo/src/main.ts
  libs/customer-order/driver/magento/2-4-6/src/order.service.spec.ts
  libs/design/sidebar/src/sidebar-viewport/utils/content-shift.spec.ts
  libs/design/toast/examples/src/default-toast/default-toast.component.ts
  tools/eslint/config/src/base.config.mjs
Labels: build

#4053 test(authorizenet): update describe strings to include package name
  libs/authorizenet/driver/in-memory/src/backend/authorize-net.service.spec.ts
  libs/authorizenet/driver/magento/src/payment.service.spec.ts
  libs/authorizenet/driver/magento/src/transformers/authorize-net-transformer.spec.ts
  libs/authorizenet/driver/testing/src/drivers/authorize-net.service.spec.ts
  libs/authorizenet/src/services/accept-js-loading.service.spec.ts
  libs/authorizenet/state/src/effects/authorize-net.effects.spec.ts
  libs/authorizenet/state/src/facades/authorize-net.facade.spec.ts
  libs/authorizenet/state/src/reducers/authorize-net.reducers.spec.ts
  libs/authorizenet/state/src/selectors/authorize-net.selector.spec.ts
Labels: package: authorizenet

#4007 feat(design): create `DaffTagComponent`
  apps/design-land/src/app/app-routing.module.ts
  apps/design-land/src/app/app.component.ts
  apps/design-land/src/app/tag/tag-routing.modules.ts
  apps/design-land/src/app/tag/tag.component.html
  apps/design-land/src/app/tag/tag.component.spec.ts
  apps/design-land/src/app/tag/tag.component.ts
  apps/design-land/src/app/tag/tag.module.ts
  apps/design-land/src/assets/nav.json
  libs/design/scss/theme.scss
  libs/design/tag/README.md
  libs/design/tag/examples/ng-package.json
  libs/design/tag/examples/src/basic-tag/basic-tag.component.html
  libs/design/tag/examples/src/basic-tag/basic-tag.component.ts
  libs/design/tag/examples/src/colorable-tag/colorable-tag.component.html
  libs/design/tag/examples/src/colorable-tag/colorable-tag.component.ts
  libs/design/tag/examples/src/disabled-tag/disabled-tag.component.html
  libs/design/tag/examples/src/disabled-tag/disabled-tag.component.ts
  libs/design/tag/examples/src/dismissible-tag/dismissible-tag.component.html
  libs/design/tag/examples/src/dismissible-tag/dismissible-tag.component.ts
  libs/design/tag/examples/src/examples.ts
  libs/design/tag/examples/src/index.ts
  libs/design/tag/examples/src/public_api.ts
  libs/design/tag/examples/src/sizeable-tag/sizeable-tag.component.html
  libs/design/tag/examples/src/sizeable-tag/sizeable-tag.component.ts
  libs/design/tag/examples/src/statusable-tag/statusable-tag.component.html
  libs/design/tag/examples/src/statusable-tag/statusable-tag.component.ts
  libs/design/tag/ng-package.json
  libs/design/tag/src/index.ts
  libs/design/tag/src/public_api.ts
  libs/design/tag/src/tag-theme.scss
  libs/design/tag/src/tag.ts
  libs/design/tag/src/tag/tag-sizable.directive.ts
  libs/design/tag/src/tag/tag.component.html
  libs/design/tag/src/tag/tag.component.scss
  libs/design/tag/src/tag/tag.component.spec.ts
  libs/design/tag/src/tag/tag.component.ts
Labels: package: design

#4059 refactor(design): move host decorators to host property in form field component
  libs/design/form-field/src/form-field/form-field.component.ts
  libs/design/form-field/src/specs/usage.spec.ts
Labels: package: design

#4065 test(contact): update describe strings to include package name
  libs/contact/driver/in-memory/src/drivers/contact.service.spec.ts
  libs/contact/driver/testing/src/contact.service.spec.ts
  libs/contact/integration-tests/drivers/hubspot.spec.ts
  libs/contact/state/src/effects/contact.effects.spec.ts
  libs/contact/state/src/facades/contact.facade.spec.ts
  libs/contact/state/src/reducers/contact.reducer.spec.ts
  libs/contact/state/src/selectors/contact.selector.spec.ts
Labels: package: contact

#4072 test(customer): fix incorrect package names in describe strings
  libs/customer/driver/testing/src/drivers/customer.service.spec.ts
  libs/customer/state/src/selectors/address/selector.spec.ts
Labels: package: customer

#4077 fix(design): remove .daff-focus from select when focus changes
  libs/design/select/src/select/select.component.html
Labels: package: design

#4080 fix(design): set cursor to not-allowed when select is disabled
  libs/design/select/src/select/select.component.scss
Labels: package: design

#4092 feat(design): update native and custom select arrow UI
  libs/design/form-field/src/form-field/form-field.component.scss
  libs/design/form-field/src/form-field/form-field.component.ts
  libs/design/form-field/src/specs/usage.spec.ts
  libs/design/select/src/select/select.component.scss
Labels: package: design

#4056 feat(product-configurable): use child field of generic in selectors
  libs/product-configurable/state/src/facades/configurable-product-facade.interface.ts
  libs/product-configurable/state/src/facades/configurable-product.facade.ts
  libs/product-configurable/state/src/selectors/all.selectors.ts
  libs/product-configurable/state/src/selectors/configurable-product/configurable-product.selectors.ts
Labels: package: product-configurable, layer: state, status: pending merge

#4035 test(driver): add tests for shopifyUrlTransformer
  libs/driver/shopify/src/transforms/shopify-url-transform.spec.ts
Labels: package: driver

#4041 feat(driver): support shopify config as injection token
  libs/driver/shopify/src/config.ts
  libs/driver/shopify/src/graphql/apollo-links/auth-link.ts
  libs/driver/shopify/src/graphql/apollo-links/http-link.ts
  libs/driver/shopify/src/graphql/provide-shopify-apollo-driver.ts
  libs/driver/shopify/src/provider.ts
  libs/driver/shopify/src/public_api.ts
Labels: package: driver
