Repository graycoreio/daffodil, pull requests merged in 2025-09, with the labels that each got.

#3960 fix(dgeni): API search indices don't get `id` set to `path`
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
Labels: status: pending merge, tools: dgeni

#3995 refactor(daffio): convert `DaffioMarketingFooterComponent` to standalone
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/footer/marketing-footer/marketing-footer.component.ts
  apps/daffio/src/app/core/footer/marketing-footer/marketing-footer.module.ts
Labels: package: daff.io

#3999 chore(design): fix deprecation message in `DaffFormLabelDirective`
  libs/design/src/atoms/form/form-label/form-label.directive.ts
Labels: package: design

#4000 Feat/dgeni/ignore private packages
  tools/dgeni/src/constants/excluded-packages.ts
Labels: tools: dgeni

#4018 fix(product): incorrect type in `MagentoProductAppliedFiltersTransformService`
  libs/product/driver/magento/src/transforms/applied-filter-transformer.service.ts
Labels: package: product

#4019 fix(dgeni): API search index docs have extra content
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
Labels: tools: dgeni
