Repository graycoreio/daffodil, pull requests merged in 2025-04, with the labels that each got.

#3581 feat(design): move toast action button style and size values into separate types
  libs/design/toast/src/interfaces/toast-action.ts
  libs/design/toast/src/interfaces/toast-action.type.ts
  libs/design/toast/src/public_api.ts
Labels: package: design

#3582 feat(customer-order): sort newest first by default
  libs/customer-order/driver/magento/2-4-6/src/order.service.spec.ts
  libs/customer-order/driver/magento/2-4-6/src/order.service.ts
Labels: package: driver, platform: magento, status: awaiting merge, package: customer-order

#3584 feat(design): update article heading and table styles
  libs/design/article/src/article-theme.scss
  libs/design/article/src/article/article.component.scss
Labels: package: design

#3586 docs(design): update image api docs
  libs/design/image/src/image/image.component.ts
Labels: package: design

#3589 docs(design): update sidebar api docs
  libs/design/sidebar/README.md
  libs/design/sidebar/examples/src/basic-sidebar/basic-sidebar.component.html
  libs/design/sidebar/examples/src/over-and-under-sidebars/over-and-under-sidebars.component.html
  libs/design/sidebar/src/helper/sidebar-mode.ts
  libs/design/sidebar/src/sidebar-footer/sidebar-footer.component.ts
  libs/design/sidebar/src/sidebar-header/sidebar-header-title/sidebar-header-title.directive.ts
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.ts
  libs/design/sidebar/src/sidebar-viewport-backdrop/sidebar-viewport-backdrop.component.ts
  libs/design/sidebar/src/sidebar-viewport/sidebar-viewport.component.ts
  libs/design/sidebar/src/sidebar/sidebar.component.ts
Labels: package: design

#3585 fix(external-router): `meta_description` missing from magento categories
  libs/external-router/driver/magento/2.4.3/src/graphql/queries/resolve.ts
Labels: package: external-router, platform: magento, layer: driver, status: awaiting review

#3591 docs(design): label all design constant imports as `@docs-private`
  libs/design/accordion/src/accordion.ts
  libs/design/article/src/article.ts
  libs/design/breadcrumb/src/breadcrumb.ts
  libs/design/callout/src/callout.ts
  libs/design/card/src/card.ts
  libs/design/container/src/container.ts
  libs/design/hero/src/hero.ts
  libs/design/image/src/image.ts
  libs/design/link-set/src/link-set.ts
  libs/design/list/src/list.ts
  libs/design/loading-icon/src/loading-icon.ts
  libs/design/modal/src/modal.ts
  libs/design/navbar/src/navbar.ts
  libs/design/notification/src/notification.ts
  libs/design/paginator/src/paginator.ts
  libs/design/progress-bar/src/progress-bar.ts
  libs/design/sidebar/src/sidebar.ts
  libs/design/switch/src/switch.ts
  libs/design/tabs/src/tabs.ts
  libs/design/tree/src/tree.ts
Labels: package: design

#3590 docs(design): update toast API docs
  libs/design/toast/src/interfaces/toast-action.ts
  libs/design/toast/src/interfaces/toast-action.type.ts
  libs/design/toast/src/interfaces/toast.ts
  libs/design/toast/src/service/position.service.ts
  libs/design/toast/src/service/toast.service.ts
  libs/design/toast/src/toast/toast-config.ts
Labels: package: design

#3595 docs(design): update switch component API docs
  libs/design/switch/src/switch/switch.component.ts
Labels: package: design

#3602 feat(design): update tree theme to support light and dark mode
  libs/design/tree/src/tree-theme.scss
  libs/design/tree/src/tree/tree.component.scss
Labels: package: design

#3610 docs(design): update media gallery component API docs
  libs/design/media-gallery/README.md
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.ts
Labels: package: design

#3611 feat(design): update notification theme to support light and dark mode
  libs/design/notification/examples/src/notification-with-actions/notification-with-actions.component.ts
  libs/design/notification/src/notification-theme.scss
  libs/design/notification/src/notification/notification.component.scss
Labels: package: design

#3612 feat(design): update accordion theme to support light and dark mode
  libs/design/accordion/src/accordion-theme.scss
  libs/design/accordion/src/accordion/accordion-item/accordion-item.component.scss
Labels: package: design

#3614 fix(design): fix media gallery functions and id bugs
  libs/design/media-gallery/src/media-gallery/media-gallery.component.html
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/media-gallery/src/public_api.ts
  libs/design/media-gallery/src/thumbnail/thumbnail.directive.ts
Labels: package: design

#3615 feat(design): update article theme to support light and dark mode
  libs/design/article/src/article-theme.scss
Labels: package: design

#3617 feat(design): update tabs component to support light and dark mode
  libs/design/tabs/src/tabs-theme.scss
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.scss
  libs/design/tabs/src/tabs/tab-panel/tab-panel.component.scss
Labels: package: design

#3618 feat(design): replace daff-illuminate function in button themes
  libs/design/button/src/button/basic/button-theme.scss
  libs/design/button/src/button/flat/flat-theme.scss
  libs/design/button/src/button/icon/icon-theme.scss
  libs/design/button/src/button/stroked/stroked-theme.scss
  libs/design/button/src/button/underline/underline-theme.scss
Labels: package: design

#3623 docs(cart): add `@role` annotations to mocks
  libs/cart/state/testing/src/factories/stateful-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-composite-cart-item.factory.ts
  libs/cart/state/testing/src/factories/stateful-configurable-cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/composite-cart-item.factory.ts
  libs/cart/testing/src/factories/cart-item/configurable-cart-item.factory.ts
Labels: package: cart

#3620 docs(auth): specify parent from which to inherit docs
  libs/auth/driver/in-memory/src/backend/auth.service.ts
  libs/auth/driver/in-memory/src/drivers/auth/auth.service.ts
Labels: package: auth

#3624 feat(docs): add TS doc models
  libs/docs-utils/src/public_api.ts
  libs/docs-utils/src/ts/class-member-document.type.ts
  libs/docs-utils/src/ts/document.type.ts
  libs/docs-utils/src/ts/public_api.ts
Labels: package: docs-utils

#3625 feat(docs): add `DaffDocsRenderedContent`
  libs/docs-utils/src/doc/public_api.ts
  libs/docs-utils/src/doc/rendered-content.type.ts
Labels: package: docs-utils

#3626 feat(docs): add design example models
  libs/docs-utils/src/example/design.type.ts
  libs/docs-utils/src/example/public_api.ts
  libs/docs-utils/src/example/type.ts
Labels: package: docs-utils

#3627 feat(docs): add API models and helpers
  libs/docs-utils/src/api/array-to-dict.ts
  libs/docs-utils/src/api/decorator.type.ts
  libs/docs-utils/src/api/public_api.ts
  libs/docs-utils/src/api/ref.type.ts
  libs/docs-utils/src/api/role/enum.ts
  libs/docs-utils/src/api/role/get-from-ts-doc.ts
  libs/docs-utils/src/api/role/get-section-label.ts
  libs/docs-utils/src/api/role/public_api.ts
  libs/docs-utils/src/api/role/sort.ts
  libs/docs-utils/src/api/type.enum.ts
  libs/docs-utils/src/public_api.ts
Labels: package: docs-utils

#3628 feat(docs): add API role docs
  libs/docs-utils/src/api/array-to-dict.ts
  libs/docs-utils/src/doc/api.type.ts
  libs/docs-utils/src/doc/api/action.type.ts
  libs/docs-utils/src/doc/api/base.type.ts
  libs/docs-utils/src/doc/api/class.type.ts
  libs/docs-utils/src/doc/api/component.type.ts
  libs/docs-utils/src/doc/api/constant.type.ts
  libs/docs-utils/src/doc/api/directive.type.ts
  libs/docs-utils/src/doc/api/doc.type.ts
  libs/docs-utils/src/doc/api/error.type.ts
  libs/docs-utils/src/doc/api/facade.type.ts
  libs/docs-utils/src/doc/api/function.type.ts
  libs/docs-utils/src/doc/api/guard.type.ts
  libs/docs-utils/src/doc/api/helper.type.ts
  libs/docs-utils/src/doc/api/mock.type.ts
  libs/docs-utils/src/doc/api/model-factory.type.ts
  libs/docs-utils/src/doc/api/module.type.ts
  libs/docs-utils/src/doc/api/operator.type.ts
  libs/docs-utils/src/doc/api/pipe.type.ts
  libs/docs-utils/src/doc/api/provider.type.ts
  libs/docs-utils/src/doc/api/public_api.ts
  libs/docs-utils/src/doc/api/reducer.type.ts
  libs/docs-utils/src/doc/api/resolver.type.ts
  libs/docs-utils/src/doc/api/selector.type.ts
  libs/docs-utils/src/doc/api/service.type.ts
  libs/docs-utils/src/doc/api/token.type.ts
  libs/docs-utils/src/doc/api/type.type.ts
  libs/docs-utils/src/doc/public_api.ts
Labels: package: docs-utils

#3629 feat(docs): add `role` to API nav doc
  libs/docs-utils/src/nav/api.type.ts
Labels: package: docs-utils

#3630 feat(daffio): add `DaffioDocsDesignApiSortSectionLabels`
  apps/daffio/src/app/docs/design/pipes/sort-api-section-labels.pipe.ts
Labels: package: daff.io

#3631 feat(daffio): add dynamic API component support
  apps/daffio/src/app/docs/api/components/api-default-content/api-default-content.component.html
  apps/daffio/src/app/docs/api/components/api-default-content/api-default-content.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.html
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.provider.ts
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content-theme.scss
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content.component.html
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content.component.scss
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-directive-content/api-directive-content.provider.ts
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content-theme.scss
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content.component.html
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content.component.scss
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-type-content/api-type-content.provider.ts
  apps/daffio/src/app/docs/api/components/interface-block/interface-block.component.html
  apps/daffio/src/app/docs/api/components/interface-block/interface-block.component.scss
  apps/daffio/src/app/docs/api/components/interface-block/interface-block.component.spec.ts
  apps/daffio/src/app/docs/api/components/interface-block/interface-block.component.ts
  apps/daffio/src/app/docs/api/components/method-block/method-block-theme.scss
  apps/daffio/src/app/docs/api/components/method-block/method-block.component.html
  apps/daffio/src/app/docs/api/components/method-block/method-block.component.scss
  apps/daffio/src/app/docs/api/components/method-block/method-block.component.spec.ts
  apps/daffio/src/app/docs/api/components/method-block/method-block.component.ts
  apps/daffio/src/app/docs/api/components/property-block/property-block.component.html
  apps/daffio/src/app/docs/api/components/property-block/property-block.component.scss
  apps/daffio/src/app/docs/api/components/property-block/property-block.component.spec.ts
  apps/daffio/src/app/docs/api/components/property-block/property-block.component.ts
  apps/daffio/src/app/docs/api/dynamic-content/dynamic-content-component.service.ts
  apps/daffio/src/app/docs/api/dynamic-content/dynamic-content-components.token.ts
  apps/daffio/src/app/docs/api/dynamic-content/dynamic-content.type.ts
  apps/daffio/src/app/docs/api/roles/api-roles.provider.ts
  apps/daffio/src/app/docs/components/member-heading/member-heading-name/member-heading-name.directive.spec.ts
  apps/daffio/src/app/docs/components/member-heading/member-heading-name/member-heading-name.directive.ts
  apps/daffio/src/app/docs/components/member-heading/member-heading-theme.scss
  apps/daffio/src/app/docs/components/member-heading/member-heading.component.html
  apps/daffio/src/app/docs/components/member-heading/member-heading.component.scss
  apps/daffio/src/app/docs/components/member-heading/member-heading.component.ts
  apps/daffio/src/app/docs/components/member-heading/member-heading.ts
  apps/daffio/src/scss/component-themes.scss
Labels: package: daff.io

#3633 refactor(dgeni): use `DaffDocsApiType` for doc types
  tools/dgeni/src/processors/absolutify-paths.ts
  tools/dgeni/src/processors/breadcrumb.ts
  tools/dgeni/src/processors/collect-linkable-symbols.ts
  tools/dgeni/src/transforms/daffodil-api-package/helpers/generateApiList.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-subpackage-exports.ts
Labels: tools: dgeni

#3632 feat(daffio): move generic of docs service to method
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.spec.ts
  apps/daffio/src/app/docs/resolvers/docs-resolver.service.ts
  apps/daffio/src/app/docs/services/docs-service.interface.ts
  apps/daffio/src/app/docs/services/docs.service.ts
Labels: package: daff.io

#3635 feat(docs,daffio): set full API docs in design component doc
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.html
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.spec.ts
  apps/daffio/src/app/docs/design/components/component-content/component-content.component.ts
  apps/daffio/src/app/docs/design/design-routing.module.ts
  apps/daffio/src/app/docs/design/services/component-doc.resolver.ts
  libs/docs-utils/src/doc/package-guide.type.ts
Labels: package: daff.io, package: docs-utils

#3550 feat(dgeni,daffio): move docs rendering to daffio
  apps/daffio/src/app/docs/api/api.module.ts
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.html
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.ts
  apps/daffio/src/app/docs/api/components/api-package/api-package.component.html
  apps/daffio/src/app/docs/api/components/api-package/api-package.component.spec.ts
  apps/daffio/src/app/docs/api/components/api-package/api-package.component.ts
  apps/daffio/src/app/docs/design/design.module.ts
  tools/dgeni/build.ts
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
  tools/dgeni/src/processors/addInheritedDocsContent.spec.ts
  tools/dgeni/src/processors/addInheritedDocsContent.ts
  tools/dgeni/src/processors/collect-routable-paths.ts
  tools/dgeni/src/processors/convertToJson.ts
  tools/dgeni/src/processors/filterOutPrivateProperties.ts
  tools/dgeni/src/processors/generateNavList.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/processors/packages.spec.ts
  tools/dgeni/src/processors/packages.ts
  tools/dgeni/src/templates/README.md
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/templates/api/class.template.html
  tools/dgeni/src/templates/api/common.template.html
  tools/dgeni/src/templates/api/get-accessor-info.template.html
  tools/dgeni/src/templates/api/interface.template.html
  tools/dgeni/src/templates/api/member.template.html
  tools/dgeni/src/templates/api/navigation-list.template.json
  tools/dgeni/src/templates/api/package.template.json
  tools/dgeni/src/templates/api/type-alias.template.html
  tools/dgeni/src/templates/design-examples/design-example.template.html
  tools/dgeni/src/templates/design-examples/design-example.template.json
  tools/dgeni/src/templates/guides/guide.template.html
  tools/dgeni/src/templates/guides/navigation-list.template.json
  tools/dgeni/src/templates/guides/package-guide.template.html
  tools/dgeni/src/transforms/config.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-source.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/inline-tag-processor.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/index.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/processors/convertToJson.ts
  tools/dgeni/src/transforms/daffodil-design-examples-package/processors/designExampleDocumentCreator.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
  tools/dgeni/src/transforms/daffodil-routes-package/index.ts
  tools/dgeni/src/utils/link-symbols.ts
  tools/dgeni/src/utils/serialize.ts
Labels: package: daff.io, package: docs-utils, tools: dgeni

#3543 feat(dgeni): add deprecated field to API doc
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label-theme.scss
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label.component.scss
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.html
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.scss
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.ts
  apps/daffio/src/scss/component-themes.scss
  libs/docs-utils/src/doc/api/base.type.ts
  libs/docs-utils/src/doc/api/type.type.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
Labels: status: awaiting merge, package: docs-utils, tools: dgeni

#3650 feat(daffio): clean up api item label theming for light and dark modes
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label-theme.scss
Labels: package: daff.io

#3651 feat(daffio): add deprecated label to api list section and docType to api base content
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.html
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.scss
  apps/daffio/src/app/docs/api/components/api-list-section/api-list-section.component.ts
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.html
  apps/daffio/src/app/docs/api/components/fragments/api-base-content/api-base-content.component.scss
Labels: package: daff.io

#3656 feat(design)!: remove `DaffSidebarViewportBackdropComponent` from the public api
  libs/design/sidebar/src/public_api.ts
  libs/design/sidebar/src/sidebar.module.ts
  libs/design/sidebar/src/sidebar.ts
Labels: package: design, 🚨 breaking changes
