Repository graycoreio/daffodil, pull requests merged in 2025-01, with the labels that each got.

#3389 feat(docs-utils,dgeni): pull examples out of content and store in doc
  libs/docs-utils/src/doc/api.type.ts
  libs/docs-utils/src/doc/example.type.ts
  libs/docs-utils/src/doc/public_api.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/examples.ts
Labels: package: docs-utils, tools: dgeni

#3394 docs(design): reorganize theming folder
  libs/design/guides/foundations/index.json
  libs/design/guides/index.json
  libs/design/guides/theming/index.json
  libs/design/guides/theming/setting-up.md
Labels: package: design

#3396 feat(dgeni,docs-utils): add kind to documents
  apps/daffio/src/app/docs/testing/factories/docs.factory.ts
  libs/docs-utils/src/doc/type.ts
  tools/dgeni/src/processors/convertToJson.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/add-package-exports.ts
  tools/dgeni/src/transforms/daffodil-base-package/index.ts
Labels: package: docs-utils, tools: dgeni

#3398 feat(docs-utils): support component doc kinds in helper
  libs/docs-utils/src/kind/helpers.spec.ts
  libs/docs-utils/src/kind/helpers.ts
Labels: package: docs-utils

#3397 feat(dgeni,docs-utils)!: extract out ToC type
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.spec.ts
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.ts
  apps/daffio/src/app/docs/testing/factories/docs.factory.spec.ts
  apps/daffio/src/app/docs/testing/factories/docs.factory.ts
  libs/docs-utils/src/doc/guide.type.ts
  libs/docs-utils/src/doc/public_api.ts
  libs/docs-utils/src/doc/toc.type.ts
  tools/dgeni/src/transforms/daffodil-guides-package/reader/guide-file.reader.ts
Labels: package: docs-utils, tools: dgeni

#3403 feat(design): tabs component UI updates
  libs/design/tabs/examples/src/basic-tabs/basic-tabs.component.html
  libs/design/tabs/src/tabs-theme.scss
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.scss
  libs/design/tabs/src/tabs/tab-label/tab-label.component.scss
  libs/design/tabs/src/tabs/tabs.component.scss
Labels: package: design

#3415 feat(daffio): dynamically render doc views
  apps/daffio/src/app/docs/api/api-routing.module.ts
  apps/daffio/src/app/docs/api/api.module.ts
  apps/daffio/src/app/docs/api/components/api-package/api-package.component.html
  apps/daffio/src/app/docs/api/components/doc/component.html
  apps/daffio/src/app/docs/api/components/doc/component.ts
  apps/daffio/src/app/docs/api/components/doc/provider.ts
  apps/daffio/src/app/docs/api/pages/api-page/api-page.component.html
  apps/daffio/src/app/docs/api/pages/api-page/api-page.component.spec.ts
  apps/daffio/src/app/docs/api/pages/api-page/api-page.component.ts
  apps/daffio/src/app/docs/components/doc-article/component.html
  apps/daffio/src/app/docs/components/doc-article/component.scss
  apps/daffio/src/app/docs/components/doc-article/component.spec.ts
  apps/daffio/src/app/docs/components/doc-article/component.ts
  apps/daffio/src/app/docs/components/doc-article/module.ts
  apps/daffio/src/app/docs/components/doc-default/component.html
  apps/daffio/src/app/docs/components/doc-default/component.ts
  apps/daffio/src/app/docs/components/doc-renderer/component.ts
  apps/daffio/src/app/docs/components/doc-renderer/component.type.ts
  apps/daffio/src/app/docs/components/doc-renderer/token.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.html
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.spec.ts
  apps/daffio/src/app/docs/components/doc-viewer/doc-viewer.component.ts
  apps/daffio/src/app/docs/docs.module.ts
  apps/daffio/src/app/docs/guides/components/doc/component.html
  apps/daffio/src/app/docs/guides/components/doc/component.ts
  apps/daffio/src/app/docs/guides/components/doc/provider.ts
  apps/daffio/src/app/docs/guides/guides.module.ts
  apps/daffio/src/app/docs/packages/components/doc/component.html
  apps/daffio/src/app/docs/packages/components/doc/component.ts
  apps/daffio/src/app/docs/packages/components/doc/provider.ts
  apps/daffio/src/app/docs/packages/packages.module.ts
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.html
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.spec.ts
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.ts
Labels: package: daff.io

#3409 feat(design): deprecate embolden mixin and class
  apps/daffio/src/app/content/why-pwa/components/feature-comparison/feature-comparison.component.scss
  apps/daffio/src/app/content/why-pwa/components/why-pwa-overview/why-pwa-overview.component.html
  apps/daffio/src/app/core/footer/footer/footer.component.scss
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.scss
  apps/daffio/src/app/newsletter/newsletter.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/add-to-cart-notification/add-to-cart-notification.component.scss
  apps/demo/src/app/cart/components/add-to-cart-notification/components/product-added/product-added.component.scss
  apps/demo/src/app/cart/components/cart-item/cart-item.component.html
  apps/demo/src/app/cart/components/cart-item/cart-item.component.scss
  apps/demo/src/app/cart/components/cart-sidebar/cart-sidebar.component.scss
  apps/demo/src/app/cart/components/cart-summary/cart-summary.component.scss
  apps/demo/src/app/cart/components/cart-totals-item/cart-totals-item.component.scss
  apps/demo/src/app/cart/components/cart/cart.component.scss
  apps/demo/src/app/cart/components/minicart-item/minicart-item.component.scss
  apps/demo/src/app/checkout/components/payment/billing-summary/billing-summary.component.scss
  apps/demo/src/app/checkout/components/payment/payment-form/payment-form.component.scss
  apps/demo/src/app/checkout/components/payment/payment-summary/payment-summary.component.scss
  apps/demo/src/app/checkout/components/shipping-address/form/shipping-address-form.component.scss
  apps/demo/src/app/checkout/components/shipping-address/summary/shipping-address-summary.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-form/shipping-form.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-options/components/shipping-options/shipping-options.component.scss
  apps/demo/src/app/checkout/components/shipping/shipping-summary/shipping-summary.component.scss
  apps/demo/src/app/misc/help-box/help-box.component.scss
  apps/demo/src/app/misc/not-found/not-found.component.scss
  apps/demo/src/app/newsletter/newsletter.component.scss
  apps/demo/src/app/product/components/product-card/product-card.component.scss
  apps/demo/src/app/product/components/product/product.component.scss
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.scss
  apps/demo/src/app/thank-you/components/thank-you/thank-you.component.scss
  apps/design-land/src/app/navbar/navbar.component.scss
  libs/design/article/src/article/article.component.scss
  libs/design/callout/src/callout/callout.component.scss
  libs/design/guides/foundations/typography.md
  libs/design/hero/src/hero/hero.component.scss
  libs/design/link-set/src/link-set/link-set.component.scss
  libs/design/list/src/list/list.component.scss
  libs/design/navbar/examples/src/basic-navbar/basic-navbar.component.scss
  libs/design/navbar/examples/src/contained-navbar/contained-navbar.component.scss
  libs/design/navbar/examples/src/navbar-theming/navbar-theming.component.scss
  libs/design/navbar/examples/src/raised-navbar/raised-navbar.component.scss
  libs/design/scss/typography/_classes.scss
  libs/design/scss/typography/mixins/_font-weight.scss
  libs/design/scss/typography/mixins/_sizes.scss
Labels: package: design

#3419 feat(daffio): replace dynamic doc renderer with service in page component
  apps/daffio/src/app/docs/api/api.module.ts
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.html
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.ts
  apps/daffio/src/app/docs/api/components/api-content/api-content.provider.ts
  apps/daffio/src/app/docs/api/components/doc/provider.ts
  apps/daffio/src/app/docs/api/pages/api-list-page/api-list-page.component.spec.ts
  apps/daffio/src/app/docs/components/default-content/default-content.component.html
  apps/daffio/src/app/docs/components/default-content/default-content.component.ts
  apps/daffio/src/app/docs/components/doc-renderer/component.ts
  apps/daffio/src/app/docs/components/doc-renderer/token.ts
  apps/daffio/src/app/docs/dynamic-content/dynamic-content-component.service.ts
  apps/daffio/src/app/docs/dynamic-content/dynamic-content-components.token.ts
  apps/daffio/src/app/docs/dynamic-content/dynamic-content.type.ts
  apps/daffio/src/app/docs/guides/components/doc/provider.ts
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.component.html
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.component.ts
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.provider.ts
  apps/daffio/src/app/docs/guides/guides.module.ts
  apps/daffio/src/app/docs/packages/components/doc/provider.ts
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.component.html
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.component.ts
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.provider.ts
  apps/daffio/src/app/docs/packages/containers/package-cards/package-cards.component.spec.ts
  apps/daffio/src/app/docs/packages/packages.module.ts
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.html
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.spec.ts
  apps/daffio/src/app/docs/pages/docs-page/docs-page.component.ts
Labels: package: daff.io

#3423 feat(dgeni,docs,daffio): implement ToC for all doc kinds
  apps/daffio/src/app/docs/api/components/api-content/api-content.component.html
  apps/daffio/src/app/docs/components/default-content/default-content.component.html
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.spec.ts
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.component.ts
  apps/daffio/src/app/docs/testing/factories/docs.factory.ts
  libs/docs-utils/src/doc/api.type.ts
  libs/docs-utils/src/doc/guide.type.ts
  libs/docs-utils/src/doc/package-guide.type.ts
  libs/docs-utils/src/doc/public_api.ts
  libs/docs-utils/src/doc/type.ts
  libs/docs-utils/src/example/public_api.ts
  libs/docs-utils/src/example/type.ts
  libs/docs-utils/src/public_api.ts
  libs/docs-utils/src/toc/public_api.ts
  libs/docs-utils/src/toc/type.ts
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/examples.ts
Labels: package: daff.io, package: docs-utils, tools: dgeni

#3424 refactor(daffio): fix dynamic content provider naming
  apps/daffio/src/app/docs/api/api.module.ts
  apps/daffio/src/app/docs/api/components/api-content/api-content.provider.ts
  apps/daffio/src/app/docs/guides/components/guides-content/guides-content.provider.ts
  apps/daffio/src/app/docs/guides/guides.module.ts
  apps/daffio/src/app/docs/packages/components/packages-content/packages-content.provider.ts
  apps/daffio/src/app/docs/packages/packages.module.ts
Labels: package: daff.io

#3431 feat(daffio): clean up doc article template UI
  apps/daffio/src/app/docs/components/doc-article/component.html
  apps/daffio/src/app/docs/components/doc-article/component.scss
  apps/daffio/src/app/docs/components/doc-article/module.ts
Labels: package: daff.io

#3429 feat(design): add link mode to tabs component
  libs/design/tabs/README.md
  libs/design/tabs/examples/src/link-tabs/link-tabs.component.html
  libs/design/tabs/examples/src/link-tabs/link-tabs.component.ts
  libs/design/tabs/examples/src/public_api.ts
  libs/design/tabs/src/tabs/tab-activator/tab-activator.component.scss
  libs/design/tabs/src/tabs/tabs.component.html
  libs/design/tabs/src/tabs/tabs.component.spec.ts
  libs/design/tabs/src/tabs/tabs.component.ts
Labels: package: design

#3434 fix(design): fix sidebar flickering on SSR
  libs/design/sidebar/src/sidebar/sidebar.component.ts
Labels: package: design

#3440 feat(dgeni,daffio): implement ToC for package guide API symbols
  apps/daffio/src/app/docs/components/table-of-contents/table-of-contents.component.html
  tools/dgeni/src/processors/add-api-symbols-to-package.ts
  tools/dgeni/src/processors/markdown.ts
  tools/dgeni/src/templates/api/base.template.html
  tools/dgeni/src/templates/api/class.template.html
  tools/dgeni/src/transforms/daffodil-api-package/processors/examples.ts
  tools/dgeni/src/transforms/daffodil-guides-package/index.ts
Labels: package: daff.io, tools: dgeni

#3441 feat(core): add `daffMerge`
  libs/core/src/merge/merge.spec.ts
  libs/core/src/merge/merge.ts
  libs/core/src/merge/mergers/array-concat.ts
  libs/core/src/merge/mergers/dict-assign.ts
  libs/core/src/merge/mergers/public_api.ts
  libs/core/src/merge/mergers/type.ts
  libs/core/src/merge/public_api.ts
  libs/core/src/merge/strategy.type.ts
  libs/core/src/public_api.ts
Labels: package: core, status: awaiting merge

#3443 feat(router): add merge strategy config for route data service
  libs/router/src/data/config/public_api.ts
  libs/router/src/data/config/token.ts
  libs/router/src/data/config/type.ts
  libs/router/src/data/helpers/collect-data.ts
  libs/router/src/data/public_api.ts
  libs/router/src/data/service/data.service.ts
Labels: package: router

#3445 docs(external-router): clean up formatting and verbiage of existing documentation
  libs/external-router/README.md
  libs/external-router/guides/configuration.md
  libs/external-router/guides/driver/custom.md
  libs/external-router/guides/driver/magento.md
  libs/external-router/guides/driver/testing.md
  libs/external-router/guides/drivers/custom.md
  libs/external-router/guides/drivers/in-memory.md
  libs/external-router/guides/drivers/magento.md
  libs/external-router/guides/drivers/testing.md
  libs/external-router/guides/testing.md
  libs/external-router/guides/usage.md
Labels: package: external-router

#3444 fix(daffio): sidebars not registered on child docs routes
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/core/router/data-service-config.ts
Labels: package: daff.io

#3436 feat(daffio): split daffio nav into separate docs and marketing components
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/core/header/components/header/header-theme.scss
  apps/daffio/src/app/core/header/components/header/header.component.scss
  apps/daffio/src/app/core/header/components/header/header.component.ts
  apps/daffio/src/app/core/nav/docs/docs.component.html
  apps/daffio/src/app/core/nav/docs/docs.component.spec.ts
  apps/daffio/src/app/core/nav/docs/docs.component.ts
  apps/daffio/src/app/core/nav/marketing/marketing.component.html
  apps/daffio/src/app/core/nav/marketing/marketing.component.spec.ts
  apps/daffio/src/app/core/nav/marketing/marketing.component.ts
  apps/daffio/src/app/docs/components/doc-article/component.scss
  apps/daffio/src/app/docs/components/docs-list/docs-list.component.scss
  apps/daffio/src/app/docs/components/docs-list/docs-list.component.ts
  apps/daffio/src/app/docs/design/design-routing.module.ts
  apps/daffio/src/app/docs/docs-routing.module.ts
Labels: package: daff.io

#3453 feat(design): clean up sidebar header UI
  apps/daffio/src/app/core/nav/sidebar-body/component.scss
  apps/daffio/src/app/core/nav/sidebar-body/component.ts
  apps/daffio/src/app/core/sidebar/components/sidebar-header/sidebar-header.component.html
  apps/daffio/src/app/core/sidebar/components/sidebar-header/sidebar-header.component.ts
  libs/design/sidebar/examples/src/basic-sidebar/basic-sidebar.component.html
  libs/design/sidebar/examples/src/over-and-under-sidebars/over-and-under-sidebars.component.html
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.html
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.scss
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.spec.ts
  libs/design/sidebar/src/sidebar-header/sidebar-header.component.ts
  libs/design/sidebar/src/sidebar/sidebar.component.scss
Labels: package: design

#3454 fix(core): mutating object merger
  libs/core/src/merge/mergers/dict-assign.ts
Labels: package: core, status: awaiting merge

#3463 build(release): include all slated deprecations in error message
  tools/release/deprecation/index.ts
Labels: build, status: awaiting merge, tools: release

#3460 feat(router): deprecate `DaffRouterActivatedRoute`
  libs/router/src/activated-route/service.ts
Labels: package: router

#3461 feat(product): deprecate best sellers
  libs/product/driver/src/interfaces/product-service.interface.ts
  libs/product/state/src/actions/best-sellers.actions.ts
  libs/product/state/src/effects/best-seller.effects.ts
  libs/product/state/src/facades/best-sellers/best-sellers.facade.ts
  libs/product/state/src/reducers/best-sellers/best-sellers-reducer-state.interface.ts
  libs/product/state/src/reducers/best-sellers/best-sellers.reducer.ts
  libs/product/state/src/reducers/product-reducers-state.interface.ts
  libs/product/state/src/reducers/product-reducers.ts
  libs/product/state/src/selectors/best-sellers/best-sellers.selectors.ts
  libs/product/state/testing/src/mock-best-sellers.facade.ts
Labels: package: product
