Repository graycoreio/daffodil, pull requests merged in 2025-05, with the labels that each got.

#3634 feat(design): update card theme to support light and dark mode
  libs/design/card/examples/src/card-theming/card-theming.component.html
  libs/design/card/examples/src/card-theming/card-theming.component.ts
  libs/design/card/examples/src/linkable-card/linkable-card.component.ts
  libs/design/card/examples/src/raised-card/raised-card.component.ts
  libs/design/card/examples/src/stroked-card/stroked-card.component.ts
  libs/design/card/src/card-base-theme.scss
  libs/design/card/src/card/stroked/stroked-theme.scss
Labels: package: design

#3659 feat(design): update switch theme to support light and dark mode
  libs/design/switch/src/switch-theme.scss
  libs/design/switch/src/switch/switch.component.scss
Labels: package: design

#3663 feat(design): update progress bar theme to support light and dark modes
  libs/design/progress-bar/README.md
  libs/design/progress-bar/examples/src/progress-bar-themes/progress-bar-themes.component.html
  libs/design/progress-bar/src/progress-bar-theme.scss
  libs/design/progress-bar/src/progress-bar.component.ts
Labels: package: design

#3665 fix(ssr): response token scope
  libs/ssr/src/response/token.ts
Labels: status: awaiting merge, package: ssr

#3666 feat(design): update paginator theme to support light and dark modes
  libs/design/paginator/src/paginator-theme.scss
  libs/design/paginator/src/paginator/paginator.component.scss
Labels: package: design

#3670 feat(design): update navbar theme to include light and dark modes
  libs/design/navbar/src/navbar-theme.scss
  libs/design/navbar/src/navbar/navbar.component.scss
Labels: package: design

#3671 feat(design): update menu theme to include light and dark modes
  libs/design/menu/src/menu-theme.scss
Labels: package: design

#3672 feat(design): update list theme to include light and dark modes
  libs/design/list/src/list-theme.scss
Labels: package: design

#3673 feat(design): update breadcrumb theme to include light and dark modes
  libs/design/breadcrumb/src/breadcrumb-theme.scss
Labels: package: design

#3674 feat(design): update hero theme to include light and dark modes
  libs/design/hero/src/hero-theme.scss
Labels: package: design

#3675 feat(design): update callout theme to include light and dark modes
  libs/design/callout/src/callout-theme.scss
Labels: package: design

#3677 feat(design): remove daff-illuminate functions in skeleton theme
  libs/design/scss/state/skeleton/_mixins.scss
Labels: package: design

#3680 feat(design): button theme updates
  libs/design/button/examples/src/basic-button/basic-button.component.html
  libs/design/button/src/button/basic/button-theme.scss
  libs/design/button/src/button/button-base.scss
  libs/design/button/src/button/flat/flat-theme.scss
  libs/design/button/src/button/icon/icon-theme.scss
  libs/design/button/src/button/raised/raised-theme.scss
  libs/design/button/src/button/stroked/stroked-theme.scss
  libs/design/button/src/button/underline/underline-theme.scss
Labels: package: design

#3682 fix(daffio): update styles file to fix mixed declaration breaking change
  apps/daffio/src/scss/styles.scss
Labels: package: daff.io

#3544 feat(dgeni): add `hostDirectives` to the API source block
  libs/docs-utils/src/api/parse-host-directive-field.ts
  libs/docs-utils/src/api/parse-host-directive.ts
  libs/docs-utils/src/api/public_api.ts
  libs/docs-utils/src/doc/api/directive.type.ts
  libs/docs-utils/src/doc/api/type.type.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
  tools/dgeni/src/utils/create-ref.ts
Labels: status: awaiting review, tools: dgeni

#3384 feat(design)!: convert prefix and suffix directives to standalone
  libs/design/button/examples/src/basic-button/basic-button.component.ts
  libs/design/button/examples/src/flat-button/flat-button.component.ts
  libs/design/button/examples/src/raised-button/raised-button.component.ts
  libs/design/button/examples/src/stroked-button/stroked-button.component.ts
  libs/design/button/examples/src/underline-button/underline-button.component.ts
  libs/design/button/src/button/button-base.directive.spec.ts
  libs/design/button/src/button/button-base.directive.ts
  libs/design/notification/examples/src/default-notification/default-notification.component.ts
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.ts
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.ts
  libs/design/notification/examples/src/notification-status/notification-status.component.ts
  libs/design/notification/src/notification.ts
  libs/design/notification/src/notification/notification.component.html
  libs/design/notification/src/notification/notification.component.ts
  libs/design/src/core/prefix-suffix/prefix-suffix.module.ts
  libs/design/src/core/prefix-suffix/prefix.directive.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable-interface.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable.spec.ts
  libs/design/src/core/prefix-suffix/prefixable/prefixable.ts
  libs/design/src/core/prefix-suffix/public_api.ts
  libs/design/src/core/prefix-suffix/suffix.directive.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable-interface.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable.spec.ts
  libs/design/src/core/prefix-suffix/suffixable/suffixable.ts
  libs/design/tabs/src/tabs/tab-label/tab-label.component.html
  libs/design/tabs/src/tabs/tab-label/tab-label.component.ts
  libs/design/toast/src/toast/toast.component.html
  libs/design/toast/src/toast/toast.component.ts
Labels: package: design, status: awaiting review

#3683 feat(dgeni): hoist private parent members
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/hoist-private-parents.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
Labels: tools: dgeni

#3686 feat!: upgrade `apollo-angular` to v10
  apps/demo/src/app/drivers/magento.module.ts
  apps/demo/src/app/drivers/magento/apollo-options.factory.ts
  libs/cart/guides/drivers.md
  package-lock.json
  package.json
  tools/builders/guides/fragment-introspection.md
Labels: 🚨 breaking changes

#3685 feat(design): remove DaffPrefixSuffixModule import from DaffMenuItemComponent
  libs/design/menu/src/menu-item/menu-item.component.html
  libs/design/menu/src/menu-item/menu-item.component.ts
Labels: package: design

#3583 docs(design): update tree API docs
  libs/design/tree/src/interfaces/tree-data.ts
  libs/design/tree/src/interfaces/tree-render-mode.ts
  libs/design/tree/src/tree-item/tree-item.directive.ts
  libs/design/tree/src/tree/tree-notifier.service.ts
  libs/design/tree/src/tree/tree.component.ts
Labels: package: design

#3688 feat(design)!: remove `DaffPrefixDirective` import from `DaffNotificationComponent` and update usage docs
  libs/design/notification/README.md
  libs/design/notification/examples/src/default-notification/default-notification.component.ts
  libs/design/notification/examples/src/dismissible-notification/dismissible-notification.component.ts
  libs/design/notification/examples/src/notification-orientations/notification-orientations.component.ts
  libs/design/notification/examples/src/notification-status/notification-status.component.ts
  libs/design/notification/examples/src/notification-with-actions/notification-with-actions.component.ts
  libs/design/notification/src/notification.ts
  libs/design/notification/src/notification/notification.component.ts
Labels: package: design

#3690 style(design): remove extra `docs-private` tag in tree component
  libs/design/tree/src/tree-item/tree-item.directive.ts
Labels: package: design

#3692 feat(design): convert `DaffInputComponent` to standalone
  apps/demo/src/app/checkout/components/forms/address/components/address-form/address-form.component.ts
  apps/demo/src/app/checkout/components/payment/payment-form/payment-form.component.ts
  apps/demo/src/app/checkout/components/payment/payment-info-form/components/payment-info-form/payment-info-form.component.ts
  libs/design/input/examples/src/input-disabled/input-disabled.component.ts
  libs/design/input/examples/src/input-error/input-error.component.ts
  libs/design/input/examples/src/input-hint/input-hint.component.ts
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.component.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/input/input.component.spec.ts
  libs/design/src/atoms/form/input/input.component.ts
  libs/design/src/atoms/form/input/input.module.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.module.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.spec.ts
Labels: package: design

#3694 feat(design): convert `DaffFormFieldComponent` to standalone
  apps/demo/src/app/checkout/components/forms/address/components/address-form/address-form.component.ts
  apps/demo/src/app/checkout/components/payment/payment-info-form/components/payment-info-form/payment-info-form.component.ts
  libs/design/input/examples/src/input-disabled/input-disabled.component.ts
  libs/design/input/examples/src/input-error/input-error.component.ts
  libs/design/input/examples/src/input-hint/input-hint.component.ts
  libs/design/input/examples/src/input-with-form-field/input-with-form-field.component.ts
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.ts
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.ts
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.ts
  libs/design/src/atoms/form/form-field/README.md
  libs/design/src/atoms/form/form-field/form-field.module.ts
  libs/design/src/atoms/form/form-field/form-field.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/src/atoms/form/form-field/public_api.ts
Labels: package: design

#3695 feat(design): convert `DaffErrorMessageComponent` to standalone
  libs/design/src/atoms/form/error-message/error-message.component.spec.ts
  libs/design/src/atoms/form/error-message/error-message.component.ts
  libs/design/src/atoms/form/error-message/error-message.module.ts
  libs/design/src/atoms/form/form-field/form-field.module.ts
  libs/design/src/atoms/form/form-field/form-field.ts
  libs/design/switch/src/switch.ts
  libs/design/switch/src/switch/switch.component.ts
Labels: package: design

#3693 feat(router,product)!: remove best sellers and `DaffRouterActivatedRoute`
  apps/daffio/src/app/app.module.ts
  apps/daffio/src/app/docs/index/index.service.spec.ts
  apps/demo/package.json
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.spec.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.component.ts
  apps/demo/src/app/product/containers/best-sellers/best-sellers.module.ts
  libs/category/state/src/reducers/product-reducers.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities.reducer.spec.ts
  libs/product-composite/state/src/reducers/composite-product-entities/composite-product-entities.reducer.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.spec.ts
  libs/product-configurable/state/src/reducers/configurable-product-entities/configurable-product-entities.reducer.ts
  libs/product/driver/in-memory/src/driver/product.service.spec.ts
  libs/product/driver/in-memory/src/driver/product.service.ts
  libs/product/driver/magento/src/product.service.ts
  libs/product/driver/shopify/src/product.service.ts
  libs/product/driver/src/interfaces/product-service.interface.ts
  libs/product/driver/testing/src/drivers/product.service.spec.ts
  libs/product/driver/testing/src/drivers/product.service.ts
  libs/product/state/src/actions/best-sellers.actions.ts
  libs/product/state/src/actions/public_api.ts
  libs/product/state/src/effects/best-seller.effects.spec.ts
  libs/product/state/src/effects/best-seller.effects.ts
  libs/product/state/src/effects/public_api.ts
  libs/product/state/src/facades/best-sellers/best-sellers.facade.spec.ts
  libs/product/state/src/facades/best-sellers/best-sellers.facade.ts
  libs/product/state/src/facades/public_api.ts
  libs/product/state/src/product-state.module.ts
  libs/product/state/src/reducers/best-sellers/best-sellers-reducer-state.interface.ts
  libs/product/state/src/reducers/best-sellers/best-sellers.reducer.spec.ts
  libs/product/state/src/reducers/best-sellers/best-sellers.reducer.ts
  libs/product/state/src/reducers/injection-tokens/reducers.token.spec.ts
  libs/product/state/src/reducers/product-entities/product-entities.reducer.spec.ts
  libs/product/state/src/reducers/product-entities/product-entities.reducer.ts
  libs/product/state/src/reducers/product-reducers-state.interface.ts
  libs/product/state/src/reducers/product-reducers.ts
  libs/product/state/src/reducers/public_api.ts
  libs/product/state/src/selectors/all-selectors.selectors.ts
  libs/product/state/src/selectors/best-sellers/best-sellers.selectors.spec.ts
  libs/product/state/src/selectors/best-sellers/best-sellers.selectors.ts
  libs/product/state/src/selectors/product-grid/product-grid.selectors.spec.ts
  libs/product/state/src/selectors/public_api.ts
  libs/product/state/testing/src/mock-best-sellers.facade.ts
  libs/product/state/testing/src/product-testing.module.ts
  libs/product/state/testing/src/public_api.ts
  libs/router/src/activated-route/provider.ts
  libs/router/src/activated-route/public_api.ts
  libs/router/src/activated-route/service.spec.ts
  libs/router/src/activated-route/service.ts
  libs/router/src/public_api.ts
  libs/search-product/state/src/reducers/product/reducers.spec.ts
  libs/search-product/state/src/reducers/product/reducers.ts
Labels: 🚨 breaking changes

#3696 feat(design): convert `DaffFormLabelDirective` to standalone
  libs/design/src/atoms/form/error-message/error-message.module.ts
  libs/design/src/atoms/form/form-field/form-field.module.ts
  libs/design/src/atoms/form/form-field/form-field.ts
  libs/design/src/atoms/form/form-label/form-label.directive.spec.ts
  libs/design/src/atoms/form/form-label/form-label.directive.ts
  libs/design/src/atoms/form/form-label/form-label.module.ts
Labels: package: design

#3698 feat(design): convert `DaffQuantityFieldComponent` to standalone
  apps/design-land/src/app/quantity-field/quantity-field.module.ts
  libs/design/quantity-field/examples/src/basic-quantity-field/basic-quantity-field.component.ts
  libs/design/quantity-field/examples/src/custom-range-quantity-field/custom-range-quantity-field.component.ts
  libs/design/quantity-field/examples/src/disabled-quantity-field/disabled-quantity-field.component.ts
  libs/design/quantity-field/examples/src/select-max-quantity-field/select-max-quantity-field.component.ts
  libs/design/src/atoms/form/quantity-field/README.md
  libs/design/src/atoms/form/quantity-field/public_api.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.html
  libs/design/src/atoms/form/quantity-field/quantity-field.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-field.module.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-input/quantity-input.component.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.html
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.spec.ts
  libs/design/src/atoms/form/quantity-field/quantity-select/quantity-select.component.ts
Labels: package: design

#3702 fix(design): fix media gallery a11y role
  libs/design/media-gallery/src/media-gallery/media-gallery.component.html
  libs/design/media-gallery/src/media-gallery/media-gallery.component.ts
  libs/design/media-gallery/src/media-gallery/specs/default.spec.ts
Labels: package: design

#3701 feat(analytics-provider-data-layer): add `EcommerceDataLayerImpression` to the public api
  libs/analytics-provider-data-layer/src/public_api.ts
Labels: package: analytics-provider-data-layer

#3707 feat(design): add specific theme retrieval functions for Daffodil
  libs/design/button/src/button/basic/button-theme.scss
  libs/design/scss/theming/_get-base-color.scss
  libs/design/scss/theming/_get-palette.scss
  libs/design/scss/theming/_get-theme-mode.scss
  libs/design/scss/theming/_index.scss
Labels: package: design

#3708 feat(design): rename `$type` param to `$mode` in `daff-configure-theme`
  apps/daffio/src/app/docs/api/components/api-item-label/api-item-label-theme.scss
  apps/daffio/src/app/docs/components/member-heading/member-heading-theme.scss
  libs/design/accordion/src/accordion-theme.scss
  libs/design/article/src/article-theme.scss
  libs/design/breadcrumb/src/breadcrumb-theme.scss
  libs/design/button/src/button/flat/flat-theme.scss
  libs/design/button/src/button/icon/icon-theme.scss
  libs/design/button/src/button/stroked/stroked-theme.scss
  libs/design/button/src/button/underline/underline-theme.scss
  libs/design/callout/src/callout-theme.scss
  libs/design/card/src/card-base-theme.scss
  libs/design/card/src/card/stroked/stroked-theme.scss
  libs/design/guides/theming.md
  libs/design/hero/src/hero-theme.scss
  libs/design/list/src/list-theme.scss
  libs/design/loading-icon/src/loading-icon-theme.scss
  libs/design/media-gallery/src/media-gallery-theme.scss
  libs/design/menu/src/menu-theme.scss
  libs/design/navbar/src/navbar-theme.scss
  libs/design/notification/src/notification-theme.scss
  libs/design/paginator/src/paginator-theme.scss
  libs/design/progress-bar/src/progress-bar-theme.scss
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/scss/theming/_configure-theme.scss
  libs/design/scss/theming/_get-theme-mode.scss
  libs/design/scss/theming/_light-dark.scss
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/hint/hint-theme.scss
  libs/design/switch/src/switch-theme.scss
  libs/design/tabs/src/tabs-theme.scss
  libs/design/toast/src/toast-theme.scss
  libs/design/tree/src/tree-theme.scss
Labels: package: design

#3714 feat(design): update component themes to use new theming functions
  libs/design/accordion/src/accordion-theme.scss
  libs/design/article/src/article-theme.scss
  libs/design/breadcrumb/src/breadcrumb-theme.scss
  libs/design/button/src/button/basic/button-theme.scss
  libs/design/button/src/button/flat/flat-theme.scss
  libs/design/button/src/button/icon/icon-theme.scss
  libs/design/button/src/button/raised/raised-theme.scss
  libs/design/button/src/button/stroked/stroked-theme.scss
  libs/design/button/src/button/underline/underline-theme.scss
  libs/design/callout/src/callout-theme.scss
  libs/design/card/src/card-base-theme.scss
  libs/design/card/src/card/raised/raised-theme.scss
  libs/design/card/src/card/stroked/stroked-theme.scss
  libs/design/hero/src/hero-theme.scss
  libs/design/input/src/input-theme.scss
  libs/design/list/src/list-theme.scss
  libs/design/loading-icon/src/loading-icon-theme.scss
  libs/design/media-gallery/src/media-gallery-theme.scss
  libs/design/menu/src/menu-theme.scss
  libs/design/modal/src/modal-theme.scss
  libs/design/navbar/src/navbar-theme.scss
  libs/design/notification/src/notification-theme.scss
  libs/design/paginator/src/paginator-theme.scss
  libs/design/progress-bar/src/progress-bar-theme.scss
  libs/design/scss/state/skeleton/_mixins.scss
  libs/design/scss/theming/_light-dark.scss
  libs/design/scss/theming/_theme-css-variables.scss
  libs/design/sidebar/src/sidebar-theme.scss
  libs/design/src/atoms/form/error-message/error-message-theme.scss
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/hint/hint-theme.scss
  libs/design/src/atoms/form/native-select/native-select-theme.scss
  libs/design/switch/src/switch-theme.scss
  libs/design/tabs/src/tabs-theme.scss
  libs/design/toast/src/toast-theme.scss
  libs/design/tree/src/tree-theme.scss
Labels: package: design

#3716 chore(daffio): add SSR launch config
  .vscode/launch.json
Labels: package: daff.io

#3715 chore(daffio): remove debug log
  apps/daffio/src/app/docs/components/docs-list/docs-list.component.spec.ts
Labels: package: daff.io

#3719 fix(daffio): prerender incompatible legacy redirects
  apps/daffio/src/app/app-routing.module.ts
  apps/daffio/src/app/redirect/docs.ts
Labels: package: daff.io

#3718 feat(daffio): implement transfer state for asset fetching
  apps/daffio/src/app/core/assets/fetch/browser.service.spec.ts
  apps/daffio/src/app/core/assets/fetch/browser.service.ts
  apps/daffio/src/app/core/assets/fetch/server.service.ts
  apps/daffio/src/app/core/assets/fetch/service.interface.ts
  apps/daffio/src/app/docs/design/services/index.service.spec.ts
  apps/daffio/src/app/docs/design/services/index.service.ts
  apps/daffio/src/app/docs/index/index.service.spec.ts
  apps/daffio/src/app/docs/index/index.service.ts
  apps/daffio/src/app/docs/services/docs.service.spec.ts
  apps/daffio/src/app/docs/services/docs.service.ts
Labels: package: daff.io

#3720 feat(daffio): prerender docs and content routes
  angular.json
  apps/daffio/src/app/app.server.module.ts
  apps/daffio/src/app/app.server.routes.ts
  apps/daffio/src/app/content/home/home.server.routes.ts
  apps/daffio/src/app/content/not-found/not-found.server.routes.ts
  apps/daffio/src/app/content/support/support.server.routes.ts
  apps/daffio/src/app/content/why-pwa/why-pwa.server.routes.ts
  apps/daffio/src/app/docs/api/api.server.routes.ts
  apps/daffio/src/app/docs/design/design.server.routes.ts
  apps/daffio/src/app/docs/docs.server.routes.ts
  apps/daffio/src/app/docs/guides/guides.server.routes.ts
  apps/daffio/src/app/docs/packages/packages.server.routes.ts
  apps/daffio/src/app/docs/routing/server-routes.ts
  apps/daffio/src/app/docs/services/docs-path-server.ts
Labels: package: daff.io

#3724 feat(dgeni): implement canonical path for design API docs
  tools/dgeni/src/processors/collect-linkable-symbols.ts
  tools/dgeni/src/services/get-link-info.ts
  tools/dgeni/src/transforms/daffodil-api-package/index.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/canonical-path.ts
  tools/dgeni/src/utils/link-symbols.ts
Labels: tools: dgeni

#3731 fix(dgeni): parent host directives not hoisted into child
  tools/dgeni/src/processors/cleanSelectors.spec.ts
  tools/dgeni/src/processors/cleanSelectors.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/hoist-private-parents.ts
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
  tools/dgeni/src/utils/create-ref.ts
  tools/dgeni/src/utils/get-directive-decorator.ts
Labels: tools: dgeni

#3735 feat(design): update form field UI to accommodate custom select component
  apps/design-land/src/app/input/input.component.html
  libs/design/input/examples/src/examples.ts
  libs/design/input/examples/src/input-hint-and-error/input-hint-and-error.component.html
  libs/design/input/examples/src/input-hint-and-error/input-hint-and-error.component.ts
  libs/design/input/src/input-theme.scss
  libs/design/input/src/input.component.scss
  libs/design/scss/theme.scss
  libs/design/src/atoms/form/error-message/error-message.component.scss
  libs/design/src/atoms/form/form-field/form-field-control.ts
  libs/design/src/atoms/form/form-field/form-field/form-field-theme.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.html
  libs/design/src/atoms/form/form-field/form-field/form-field.component.scss
  libs/design/src/atoms/form/form-field/form-field/form-field.component.spec.ts
  libs/design/src/atoms/form/form-field/form-field/form-field.component.ts
  libs/design/src/atoms/form/hint/hint-theme.scss
  libs/design/src/atoms/form/hint/hint.component.scss
  libs/design/src/atoms/form/hint/hint.component.ts
Labels: package: design

#3736 feat(design): delay deprecations
  libs/design/button/src/button/raised/raised.component.ts
  libs/design/src/core/colorable/colorable.ts
Labels: 🚨 breaking changes, p1

#3743 fix(dgeni): hoisted host directive fields are not typed correctly
  tools/dgeni/src/transforms/daffodil-api-package/processors/role.ts
  tools/dgeni/src/utils/ts/infer-type/method.ts
  tools/dgeni/src/utils/ts/infer-type/prop.ts
Labels: status: awaiting merge, tools: dgeni

#3732 feat(design)!: move toast position configuration to `provideDaffToast` provider
  apps/design-land/src/app/toast/toast.component.html
  libs/design/toast/README.md
  libs/design/toast/examples/src/public_api.ts
  libs/design/toast/examples/src/toast-positions/toast-positions.component.html
  libs/design/toast/examples/src/toast-positions/toast-positions.component.scss
  libs/design/toast/examples/src/toast-positions/toast-positions.component.ts
  libs/design/toast/src/helpers/toast-position.ts
  libs/design/toast/src/interfaces/toast-options.ts
  libs/design/toast/src/interfaces/toast.ts
  libs/design/toast/src/public_api.ts
  libs/design/toast/src/service/position-strategy.ts
  libs/design/toast/src/service/position.service.ts
  libs/design/toast/src/service/toast.service.ts
  libs/design/toast/src/toast/toast-provider.ts
  libs/design/toast/src/toast/toast-template.component.ts
Labels: package: design, status: awaiting review
